<template>
  <div class="container-fluid">
    <h1>CARGA DE ARCHIVOS DE EXCEL DE LAS CARAVANAS</h1>
    <form autocomplete="off">
      <div class="form-group row">
				<div class="col-md-12">
					<b-form-group
            id="input-group-caravana"
            label="Caravana:"
            label-for="input-caravana">
            <multiselect
              v-model="fileInfo.eventoCaravana"
              v-validate="'required'" 
              :class="{'has-error': errors.has('caravana') }"
              :options="lista_caravanas"
              value="id"
              label="nombre"
              name="caravana"
              :internal-search="true"
              :preserve-search="false"
              :clear-on-select="true"
							@open="listCaravanas"
							@select="caravanaChanged"
              placeholder="Seleccione una carvana."
            ></multiselect>
            <i v-show="errors.has('caravana')" class="fa fa-warning alert-danger"></i>
            <span
              v-show="errors.has('caravana')"
              class="alert-danger"
            >{{ errors.first('caravana') }}</span>
          </b-form-group>
				</div>
        <div class="col-md-12">
          <b-form-group id="input-group-unidades" label="Unidad:" label-for="input-unidades">
            <multiselect
              v-model="fileInfo.unidad"
              v-validate="'required'" 
              :class="{'has-error': errors.has('unidad') }"
              :options="lista_unidades"
              value="id"
              label="nombre"
              name="unidad"
              :internal-search="false"
              @open="listUnidades"
              placeholder="Seleccione la unidad."
            ></multiselect>
            <i v-show="errors.has('unidad')" class="fa fa-warning alert-danger"></i>
            <span v-show="errors.has('unidad')" class="alert-danger">{{ errors.first('unidad') }}</span>
          </b-form-group>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <b-form-group id="input-group-file" label="Archivo:" label-for="doctzone">
            <dropzone
              v-model="file"
              name="archivo"
              v-on:vdropzone-sending="dropzoneSending"
              v-on:vdropzone-success="dropzoneSucess"
              v-on:vdropzone-max-files-exceeded="maxFilesReached"
              ref="doctzone"
              id="doctzone"
              :useCustomSlot="true"
              :options="dropzoneOptions"
            >
              <div class="dropzone-custom-content">
                <h3 class="dropzone-custom-title">Haga click aquí para cargar su documento.</h3>
                <i class="fa fa-cloud-upload fa-2x"></i>
              </div>
            </dropzone>
          </b-form-group>
        </div>
      </div>
      <!-- Modal de instrucciones -->
      <b-modal
        size="xl"
        id="instrucciones_modal"
        ref="instrucciones_modal"
        centered
        title="INSTRUCCIONES"
        tabindex="-1"
        hide-footer
      >
        <div class="container font-weight-bold">
          <div>
            <b-tabs active-nav-item-class="text-uppercase" content-class="mt-3">
              <b-tab title="Carga de Archivos" active>
                <div>
                  <p>Instrucciones sobre el contenido de los archivos de excel generados por el usuario:</p>
                  <p>NOTA: Es importante utilizar el formato de los archivos homologados para cargar la información.</p>
                  <ul>
                    <li>Cargar solo un archivo de excel (.xlsx) a la vez.</li>
                    <li>Solo 1 hoja por archivo de excel.</li>
                    <li>Utilizar el formato homologado para cada unidad.</li>
                    <li>Colocar únicamente el nombre de localidades y municipios, evitar usar prefijos como "LOC" o sufijos como "OAX."</li>
                    <li>Si no se cuenta con algún dato dejar la celda vacía, no colocar abreviaturas como "N/A", "NA", "NP" ni expresiones como "NO PRESENTÓ".</li>
                    <li>Verificar que los nombres de localidades, municipios y regiones coincidan con el catálogo del INEGI.</li>
                    <li>Colocar fechas con formato DD/MM/AAAA, Ejemplo: 13/06/2019</li>
                    <li>Nombres máximo 40 caracteres, apellidos máximo 30 caracteres.</li>
                    <li>Curp 18 caracteres.</li>
                    <li>Género Masculino (M) y Femenino (F).</li>
                    <li>En la columna Calle colocar únicamente el nombre de la calle. En la columna Número Exterior colocar el número del domicilio, puede incluir letras según la numeración urbana.</li>
                    <li>Colocar número telefónico local o exterior sin lada.</li>
                    <li>Clave de elector 18 caracteres.</li>
                    <li>
                      Para las unidades SUPLEMENTOS VITAMÍNICOS, OFTALMOLOGÍA y PEDIATRÍA si el beneficiario es menor de edad, colocar los datos de la persona responsable en
                      las columnas designadas para datos del responsable. Si el beneficiario es mayor de edad dejar estas columnas vacías.
                    </li>
										<li>Para las columnas de servicio, marcar con una X los servicios proporcionados.</li>
                  </ul>
                </div>
              </b-tab>
              <b-tab title="Archivos de respuesta">
                <div>
                  <p>Instrucciones sobre el contenido de los archivos de excel generados por el sistema:</p>
                  <p>
                    NOTA: Revisar cada hoja del archivo generado, cada una de las hojas del archivo representa una categoría de errores que pueden presentar los registros del archivo.
                    Si la hoja no contiene datos significa que no hay nada que corregir en esa categoría.
                  </p>
                  <ul>
                    <li>Las 3 categorías de error son: DATOS DUPLICADOS, DATOS INVÁLIDOS (CURP INCORRECTA), TUTORES CON DATOS INCORRECTOS (Solo aplicable a las unidades SUPLEMENTOS VITAMÍNICOS, OFTALMOLOGÍA y PEDIATRÍA).</li>
                    <li>Revisar cada una de las hojas del archivo de respuesta descargado.</li>
                    <li>No corregir los datos en el archivo descargado.</li>
										<li>Cargar un nuevo archivo que contenga solo los registros corregidos</li>
                    <li>Corregir los datos utilizando el formato homologado (Ver instrucciones para Carga de Archivos).</li>
                  </ul>
                </div>
              </b-tab>
            </b-tabs>
          </div>
        </div>
      </b-modal>
      <!-- Modal de instrucciones -->
      <div class="form-group row">
        <div class="col">
          <b-button
            variant="primary"
            size="lg"
            class="float-right btn btn-success"
            @click.prevent="validateBeforeSubmit()"
          >Enviar</b-button>
          <b-button
            variant="primary"
            size="lg"
            class="float-right btn mr-3 btn-primary"
            @click.prevent="downloadResponseFile()"
            :disabled="downloadFileLoked ? true : false"
          >Descargar respuestas</b-button>
          <!-- Button trigger modal -->
          <b-button
            variant="primary"
            size="lg"
            class="float-right btn mr-3 btn-light"
            v-b-modal.instrucciones_modal
          >Ayuda</b-button>
        </div>
      </div>
    </form>
    <div>
      <h2>Resultados del procesamiento del archivo: {{ fileInfo.nombre }}</h2>
      <ul class="custom">
        <li>Total de registros cargados correctamente en el sistema: {{ respuesta.datosInsertados }}.</li>
        <li>Total de registros que requieren corrección en el archivo de excel: {{ respuesta.datosInvalidos }}.</li>
        <li>Total de registros duplicados encontrados en el archivo de excel: {{ respuesta.datosDuplicados }}.</li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from "axios";

const duracionToast = 4000;

export default {
  mounted() {
    this.getToken();
  },
  data() {
    return {
      formLocked: true,
      downloadFileLoked: true,
			lista_caravanas: [],
      lista_unidades: [],
      file: null,
      fileInfo: {
        id: null,
        nombre: null,
        tipo: null,
        fecha: null,
				unidad: null,
				evento: null,
        localidad: null,
				municipio: null,
				eventoCaravana: null
      },
      usuario: {
        id: null,
        name: null,
        rol: null
      },
      respuesta: {
        datosInsertados: 0,
        datosDuplicados: 0,
        datosInvalidos: 0
      },
      optionsDatepicker: {
        format: "DD/MM/YYYY",
        useCurrent: true,
        minDate: "1996-01-01",
        maxDate: "2059-12-31",
        locale: "es",
        icons: {
          time: "glyphicon glyphicon-time",
          date: "glyphicon glyphicon-calendar",
          up: "glyphicon glyphicon-chevron-up",
          down: "glyphicon glyphicon-chevron-down",
          previous: "glyphicon glyphicon-chevron-left",
          next: "glyphicon glyphicon-chevron-right",
          today: "glyphicon glyphicon-screenshot",
          clear: "glyphicon glyphicon-trash",
          close: "glyphicon glyphicon-remove"
        }
      },
      dropzoneOptions: {
        method: "post",
        headers: {
          "X-CSRF-TOKEN": document
            .querySelector("meta[name='X-CSRF-TOKEN']")
            .getAttribute("content")
        },
        maxFiles: 1,
        url: "/serviciositinerantes/store",
        thumbnailWidth: 150,
        autoProcessQueue: false,
        addRemoveLinks: true,
        chunking: true,
        forceChunking: true, // forces chunking when file.size < chunkSize
        parallelChunkUploads: true,
        chunkSize: 1000000,
        retryChunks: true, // retry chunks on failure
        retryChunksLimit: 3, // retry maximum of 3 times (default is 3)
        dictRemoveFile: "Eliminar",
        dictMaxFilesExceeded: "Solo se puede subir un archivo en esta sección",
        acceptedFiles: ".xls,.xlsx",
        dictInvalidFileType: "Tipo de archivo no admitido",
        chunksUploaded: function(file, done) {
          /**Código para hacer el merge con todos los chunks */
          axios
            .post(`/serviciositinerantes/merge`, {
              dzuuid: file.upload.uuid,
              dztotalchunkcount: file.upload.totalChunkCount,
              dztotalfilesize: file.size,
              fileName: file.name.replace(" ", "_"),
              fileMimeType: file.name.substr(file.name.lastIndexOf(".") + 1)
            })
            .then(response => {
              console.info("El archivo se ha enviado correctamente.");
            })
            .catch(error => {
              console.log(error);
            });
          done();
        }
      }
    };
  },
  methods: {
    getToken: function() {
      axios
        .get("/serviciositinerantes/rol")
        .then(respuesta => {
          this.usuario.rol = respuesta.data.user.usuarioroles[0].rol.nombre;
          this.usuario.id = respuesta.data.user.usuario_id;
        })
        .catch(error => {
          console.log(error);
        });
    },

    listUnidades: function() {
      axios
        .get(`/serviciositinerantes/listunidades/`)
        .then(response => {
          this.lista_unidades = response.data.unidades.map(item => {
            item.id = `${item.id}`;
            item.nombre = `${item.nombre}`;
            return item;
          });
        })
        .catch(error => {
          console.log(error);
        });
		},
		
		listCaravanas: function() {
      axios
        .get(`/serviciositinerantes/listcaravanas/`)
        .then(response => {
          this.lista_caravanas = response.data.eventos.map(item => {
            item.id = `${item.id}`;
            item.nombre = 'Calle: ' + `${item.calle}` + ', Fecha: ' + `${item.fecha}` + ', Hora: ' + `${item.hora}`;
            return item;
          });
        })
        .catch(error => {
          console.log(error);
        });
    },

    maxFilesReached: function(file) {
      this.$refs.doctzone.removeFile(file);
      this.$toast.info({
        title: "Aviso",
        message: "Solo se puede subir un archivo a la vez.",
        position: "top right",
        timeOut: duracionToast
      });
    },

    dropzoneSending: function(file, xhr, formData) {
      formData.append("dzuuid", file.upload.uuid);
      formData.append(
        "fileMimeType",
        file.name.substr(file.name.lastIndexOf(".") + 1)
      );
    },

    dropzoneSucess: function(file, response) {
      this.$toast.info({
        title: "Archivo enviado correctamente",
        message:
          "Espere hasta que el servidor termine de procesarlo, no cierre el navegador...",
        position: "top right",
        timeOut: duracionToast
      });
      this.fileInfo.id = file.upload.uuid;
      this.fileInfo.nombre = file.name.replace(" ", "_");
      this.fileInfo.tipo = file.name.substr(file.name.lastIndexOf(".") + 1);
      /**Código para procesar el archivo */
      axios
        .post(`/serviciositinerantes/validate`, {
          dzuuid: file.upload.uuid,
          fileName: file.name.replace(" ", "_"),
          localidad: this.fileInfo.localidad,
          municipio: this.fileInfo.municipio,
					fecha: this.fileInfo.fecha,
					evento: this.fileInfo.evento,
					unidad: this.fileInfo.unidad.id,
          usuario: this.usuario.id
        })
        .then(response => {
          if (response.data.duplicates > 0 || response.data.invalid > 0) {
            this.$toast.warn({
              title: "Errores encontrados en el archivo",
              message:
                "Descargue el documento con las observaciones acerca de los errores encontrados.",
              position: "top right",
              timeOut: duracionToast
            });
            this.downloadFileLoked = false;
          } else {
            this.$toast.info({
              title: "Archivo procesado",
              message:
                "El archivo se ha procesado y los datos se cargaron correctamente.",
              position: "top right",
              timeOut: duracionToast
            });
            this.downloadFileLoked = true;
          }

          this.respuesta.datosInsertados = response.data.inserted;
          this.respuesta.datosDuplicados = response.data.duplicates;
          this.respuesta.datosInvalidos = response.data.invalid;
        })
        .catch(error => {
          if (error.response) {
            this.$toast.error({
              title: "¡Error al procesar archivo!",
              message: error.response.data.message,
              position: "top right",
              timeOut: duracionToast
            });
            console.error("Error:", error.response.data.message);
          } else {
            this.$toast.error({
              title: "¡Error!",
              message: error.message,
              position: "top right",
              timeOut: duracionToast
            });
            console.error("Error:", error.message);
          }
        });

      this.$refs.doctzone.removeFile(file);
    },

    submitFile: function() {
      if (this.$refs.doctzone.getAcceptedFiles() < 1) {
        this.$toast.warn({
          title: "Cargue el archivo",
          message: "No se seleccionó ningún archivo.",
          position: "top right",
          timeOut: duracionToast
        });
        return;
      }

      if (!this.fileInfo.fecha) {
        this.$toast.warn({
          title: "Fecha no seleccionada",
          message:
            "Seleccione una fecha en que se proporcionaron los servicios.",
          position: "top right",
          timeOut: duracionToast
        });
        return;
      }

      this.$refs.doctzone.processQueue();
    },

    downloadResponseFile: function() {
      axios({
        url: "/serviciositinerantes/downloadfile",
        method: "GET",
        params: {
          fileId: this.fileInfo.id,
          fileName: this.fileInfo.nombre
        },
        responseType: "blob"
      })
        .then(response => {
          var fileURL = window.URL.createObjectURL(new Blob([response.data]));
          var fileLink = document.createElement("a");
          fileLink.href = fileURL;

          fileLink.setAttribute(
            "download",
            "Respuesta_" + this.fileInfo.nombre
          );

          document.body.appendChild(fileLink);
          fileLink.click();
        })
        .catch(error => {
          console.log(error);
        });
		},
				
		caravanaChanged: function(itemSelected) {
			this.fileInfo.localidad = itemSelected.localidad_id;
			this.fileInfo.municipio = itemSelected.municipio_id;
			this.fileInfo.fecha = itemSelected.fecha;
			this.fileInfo.evento = itemSelected.id;
    },

    validateBeforeSubmit: function() {
      this.$validator.validateAll().then(result => {
        if (result) this.submitFile();
        else
          this.$toast.warn({
            title: "Datos incompletos",
            message: "Revise los campos del formulario.",
            position: "top right",
            timeOut: duracionToast
          });
      });
    }
  }
};
</script>