<template>
    <div class="row">
        <div class="col-md-12">
          <center style="margin-top: 150px;">
						<h1>DIRECIÓN DE SERVICIOS ITINERANTES</h1>
            <h2>Sistema Web del Programa Integral de Unidades Móviles</h2>
            <h3>Módulo de carga y validación de archivos de Excel</h3>
          </center>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Welcome.')
        }
    }
</script>

<style>

</style>
