<template>
  <div>
    <form v-on:submit.prevent="actualizar">
    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">CREAR CARAVANA</h4>
          </div>
          <div class="modal-body">
            <div class="col-md-6">
              <span>MUNICIPIO</span>
              <v-select
                v-model="municipio_id"
                id="vselect"
                :options="municipios"
                :reduce="municipio_codigo=>municipio_codigo.id"
                label="nombre"
              ></v-select>
            </div>
            <div class="col-md-6">
              <span>RESPONSABLE DE LA CARAVANA</span>
              <select class="form-control" v-model="operativo_id">
                <option
                  v-for="(operado, index) in operadores"
                  :key="index"
                  v-bind:value="operado.operativo[0].id"
                >{{operado.nombre+" "+operado.primer_apellido+" "+operado.segundo_apellido}}</option>
              </select>
            </div>

            <div class="col-md-6">
              <br />
                MATERIAL
                <div class="input-group">
                  <v-select
                    id="v-select"
                    v-model="materialseleccionado"
                    :options="materiales"
                    label="nombre"
                  ></v-select>
                  <span class="input-group-btn">
                    <button
                      id="boton"
                      @click.prevent="agregar"
                      class="btn btn-success"
                      type="button"
                    >
                      <i class="glyphicon glyphicon-plus"></i>Agregar
                    </button>
                  </span>
                  <br />
                </div>
              <br />
            </div>
            <div class="col-md-6">
              <br/>
              <span>DESCRIPCION</span>
              <input type="text" v-model="descripcion" class="form-control">
            </div>
            <div class="col-md-12">
              <br />
              <div class="panel panel-default">
                <div class="panel-heading">MATERIALES AGREGADOS</div>
                <div class="panel-body">
                  <div class="col-md-12">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Núm de Inventario</th>
                          <th>Nombre</th>
                          <th>Existencia</th>
                          <th>Cantidad</th>
                          <th>Restante</th>
                          <th>Quitar</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(materiales,index) in materialesagregados" :key="index">
                          <td>{{materiales.num_inventario}}</td>
                          <td>{{materiales.nombre}}</td>
                          <td>{{materiales.existencia}}</td>
                          <td>
                            <input
                              type="number"
                              id="spinner"
                              min="1"
                              :max="materiales.existencia"
                              v-model="materiales.cantidad"
                              @change="descontar(index)"
                              class="form-control"
                            />
                          </td>
                          <td>{{materiales.restante}}</td>
                          <td>
                            <button
                              @click.prevent="quitarMaterial(index)"
                              class="btn btn-xs bg-danger"
                            >
                              <i class="glyphicon glyphicon-minus"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="col-md-offset-4" v-if="!materialesagregados.length">
                      <span>NO HAY ELEMENTOS AGREGADOS</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-success" value="Aceptar" />
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
</form>
    <input hidden type="text" ref="myid" :value="$route.params.id" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      id: "",
      descripcion:"",
      municipio_id: "SELECCIONE UN MUNICIPIO",
      materialseleccionado: "SELECCIONE MATERIAL",
      materiales: [],
      operadores: [],
      operativo_id: 1,
      municipios: [],
      materialesagregados: []
    };
  },
  mounted() {
    this.cargar();
    this.getOperador();
    this.abrirModal();
    axios
      .get("/taesir/munici")
      .then(respuesta => {
        this.municipios = respuesta.data.municipio;
      })
      .catch(error => {
        //console.log(error);
      });
  },
  methods: {
    abrirModal() {
      //this.resetDatos();
      $("#modal").modal("show");
      //console.log('crear');
    },

    descontar(indice) {
      this.materialesagregados[indice].restante =
        this.materialesagregados[indice].existencia -
        this.materialesagregados[indice].cantidad;
    },
    cargar() {
      this.getMateriales();
      this.id = this.$refs["myid"].value;
    },
    getMateriales() {
      axios.get("/taesir/materiap").then(response => {
        this.materiales = response.data.materiales;
      });
    },
    getOperador() {
      axios.get("/taesir/tsrtrabajador").then(respuesta => {
        this.operadores = respuesta.data.operador;
      });
    },
    agregar() {
      var i = 0;
      var estatus = false;
      for (i in this.materialesagregados) {
        if (this.materialesagregados[i].id === this.materialseleccionado.id) {
          estatus = true;
          break;
        } else {
          estatus = false;
        }
      }
      if (estatus === false) {
        this.materialesagregados.push({
          id: this.materialseleccionado.id,
          num_inventario: this.materialseleccionado.num_inventario,
          nombre: this.materialseleccionado.nombre,
          cantidad: 1,
          existencia: this.materialseleccionado.existencia,
          restante: this.materialseleccionado.existencia - 1
        });
      } else {
        Swal.fire({
          position: "center",
          type: "warning",
          title: "Elemento ya agregado",
          showConfirmButton: false,
          timer: 1000
        });
      }
    },
    quitarMaterial(indice) {
      this.materialesagregados.splice(indice, 1);
    },
    actualizar() {
      axios
        .post("/taesir/descontarmaterialcaravana", {
          materiales: this.materialesagregados,
          municipio_id: this.municipio_id,
          operativo_id: this.operativo_id,
          descripcion: this.descripcion
         // reparacion_id: this.id
        })
        .then(response => {
          Swal.fire({
            position: "center",
            type: "success",
            title: "Informacion Actualizada",
            showConfirmButton: false,
            timer: 1000
          });
        });
    }
  }
};
</script>

<style>
#boton {
  height: 31px;
}
</style>
