<template>
   <div class="col-sm-12">
        <div class="card">
            <div class="card-header pink-bg">
                <strong>Nuevo Documento</strong>
            </div>
            <div class="card-body">
                <form autocomplete="off" data-vv-scope="formdocumento">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="col-form-label" for="prependedInput"><b>Fecha de Ingreso:</b></label>
                        <div class="controls">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text pink-bg">
                                        <i class="fa fa-calendar" ></i>
                                    </span>
                                </div>
                                
                                <datepicker  
                                    v-validate="'required'" 
                                    data-vv-as="Fecha de Ingreso" 
                                    name="fechaIngreso" 
                                    :class="errors.first('formdocumento.fechaIngreso') ? 'is-invalid': (fechaentrada!=null ? 'is-valid': '')"  
                                    v-model="fechaentrada" 
                                    format="yyyy-MM-dd" 
                                    :language="es">
                                </datepicker>
                                
                            </div>
                            <span style="font-size: 80%; color: #f86c6b;">{{ errors.first('formdocumento.fechaIngreso') }}</span>
                        </div>
                    </div>
                    <div class="col-md-4" >
                        <label class="col-form-label" for="prependedInput"><b>Fecha de Vencimiento:</b></label>
                        <br/>
                        <label class="switch switch-label switch-pill switch-danger">
                            <input class="switch-input" type="checkbox"  v-model="fechav" name="fechavencimiento" ref="fechavencimiento">
                            <span class="switch-slider" data-checked="SI" data-unchecked="NO"></span>
                        </label>
                        
                    </div>
                    <div class="col-md-4">
                        <div class="controls" v-show="fechav">
                            <label for=""><b>Fecha:</b></label>
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text pink-bg">
                                        <i class="fa fa-calendar" ></i>
                                    </span>
                                </div>
                                
                                <datepicker 
                                    v-validate="fechav==true ? 'required' : ''" 
                                    data-vv-as="Fecha de Vencimiento" 
                                    name="fechaVencimiento" 
                                    :class="errors.first('formdocumento.fechaVencimiento') ? 'is-invalid': (fechavencimiento!=null ? 'is-valid': '')" 
                                    v-model="fechavencimiento" format="yyyy-MM-dd" 
                                    :language="es">
                                </datepicker>
                            </div>
                            <span style="font-size: 80%; color: #f86c6b;">{{ errors.first('formdocumento.fechaVencimiento') }}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="col-form-label" for="prependedInput"><b>Tipo de Correspondencia:</b></label>
                        <div class="controls">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend">
                                </div>
                                <multiselect
                                    v-validate="'required'" 
                                    data-vv-as="Tipo de Correspondencia" 
                                    name="correspondenciaDocumento"
                                    :class="errors.first('formdocumento.correspondenciaDocumento') ? 'is-invalid': (tipocorrespondencia!=null ? 'is-valid': '')" 
                                    :block-keys="['Delete']" 
                                    style="text-transform:uppercase;" 
                                    v-model="tipocorrespondencia" 
                                    :options="catcorresp" 
                                    :searchable="true" 
                                    :show-labels="false" 
                                    placeholder="Seleccione un tipo de correspondencia">
                                </multiselect>
                                <span style="font-size: 80%; color: #f86c6b;">{{ errors.first('formdocumento.correspondenciaDocumento') }}</span>
                            </div>
                        </div>
                    </div>
					<div class="col-md-4">
                        <label class="col-form-label" for="prependedInput"><b>Tipo de Documento:</b></label>
                        <div class="controls">
                            <div class="input-prepend input-group">
                                <multiselect 
                                v-validate="'required'" 
                                data-vv-as="Tipo de Documento" 
                                name="tipoDocumento"
                                :class="errors.first('formdocumento.tipoDocumento') ? 'is-invalid': (tipodocumento!=null ? 'is-valid': '')" 
                                :block-keys="['Delete']" 
                                style="text-transform:uppercase;" 
                                v-model="tipodocumento" 
                                label="nombre" 
                                :options="catTDocs" 
                                :searchable="true" 
                                :show-labels="false" 
                                placeholder="Seleccione un tipo de documento">
                                </multiselect>
                                <span style="font-size: 80%; color: #f86c6b;">{{ errors.first('formdocumento.tipoDocumento') }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label" for="prependedInput"><b>Es copia de conocimiento:</b></label>
                        <div class="controls">
                            <div class="input-prepend input-group">
                                <multiselect 
                                v-validate="'required'" 
                                data-vv-as="Copia de conocimiento" 
                                value="id" 
                                label="nombre"
                                name="copiaConocimiento"
                                :class="errors.first('formdocumento.copiaConocimiento') ? 'is-invalid': (documento.es_copia_conocimiento!=null ? 'is-valid': '')" 
                                :block-keys="['Delete']" 
                                style="text-transform:uppercase;" 
                                v-model="documento.es_copia_conocimiento" 
                                :options="[{id:1, nombre:'SI'}, {id:0, nombre:'NO'}]" 
                                :searchable="false" 
                                :show-labels="false" 
                                placeholder="Seleccione un tipo">
                                </multiselect>
                                <span style="font-size: 80%; color: #f86c6b;">{{ errors.first('formdocumento.copiaConocimiento') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-md-12">
                        
                        <div class="controls">

                                <div class="input-prepend input-group" v-show="tipocorrespondencia=='INTERNO'">
                                    <label class="col-form-label" for="prependedInput"><strong>Remitente Interno:</strong></label>
                                    <multiselect  
                                        :block-keys="['Delete']"
																				style="text-transform:uppercase;"  
                                        name="remitenteInterno"
                                        :class="errors.first('formdocumento.remitenteInterno') ? 'is-invalid': (remitente!='' ? 'is-valid': '')" 
                                        :options="encargados"
                                        :internal-search="false" 
                                        :preserve-search="false" 
                                        :clear-on-select="true" 
                                        v-model="remitente"
                                        value="'id'"
                                        label = "responsable"
                                        selectLabel="Presione enter para seleccionar" 
                                        deselectLabel="Presione enter para eliminar" 
                                        placeholder="Seleccione un remitente"
                                        v-validate="tipocorrespondencia=='INTERNO' ? 'required' : ''" 
                                        @search-change="buscarArea"
																				@close="resetOptions"
                                        >
                                        <template slot="noOptions">Comience a escribir para buscar.</template>
                                        <template slot="noResult"><em style="color:red;">Si no encuentra el responsable que busca, llame a Informática</em></template>
                                    </multiselect>
                                    <span style="font-size: 80%; color: #f86c6b;">{{ errors.first('formdocumento.remitenteInterno') }}</span>
                                </div>

                                <div class="input-prepend input-group"  v-show="tipocorrespondencia=='EXTERNO'">
                                    <label class="col-form-label" for="prependedInput"><strong>Remitente Externo</strong></label>
                                    <multiselect 
                                        data-vv-as="Remitente Externo"
                                        :block-keys="['Delete']"
                                        v-validate="tipocorrespondencia=='EXTERNO' ? 'required' : ''" 
																				style="text-transform:uppercase;" 
                                        name="remitenteExterno" 
                                        :class="errors.first('formdocumento.remitenteExterno') ? 'is-invalid': (remitente!='' ? 'is-valid': '')" 
                                        :internal-search="false" 
                                        :preserve-search="false" 
                                        :clear-on-select="true" 
                                        :taggable="true" 
                                        v-model="remitente" 
                                        selectLabel="Presione enter para seleccionar" 
                                        deselectLabel="Presione enter para eliminar" 
                                        placeholder="Seleccione un remitente" 
                                        tagPlaceholder="Presione enter para agregar nuevo remitente" 
                                        :options="encargados" 
                                        value="'id'"  
                                        label = "responsable"
                                        @search-change="buscarInstitucion" 
                                        @tag="openModalAgregarDependencia"
																				@close="resetOptions"
                                    >
                                        <template slot="noOptions">Comience a escribir para buscar.</template>
                                    </multiselect>                        
                                    <span style="font-size: 80%; color: #f86c6b;">{{ errors.first('formdocumento.remitenteExterno') }}</span>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">                   
                        <label class="col-form-label" for="prependedInput"><b>{{tipocorrespondencia == 'EXTERNO' ? 'Dependencia' : 'Área'}}:</b></label>                        
                        <div class="controls">
                        <div class="input-prepend input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text pink-bg">
                            <i class="fa fa-sign-in" ></i>
                        </span>
                        </div>
                        <input name="procedenciaDocumento" v-model="procedenciaremitente" readonly class="form-control" id="prependedInput" size="16" type="text">
                        </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <label class="col-form-label" for="prependedInput"><b>Cargo:</b></label>
                        <div class="controls">
                        <div class="input-prepend input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text pink-bg">
                            <i class="fa fa-briefcase" ></i>
                        </span>
                        </div>
                        <input v-model="cargoremitente" readonly class="form-control" id="prependedInput" size="16" type="text">
                        </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="col-form-label" for="prependedInput"><b>Número de oficio:</b></label>
                        <div class="controls">
                        <div class="input-prepend input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text pink-bg">
                            <i class="fa fa-list-ol" ></i>
                        </span>
                        </div>
                        <input v-validate="'max:100'" data-vv-as="Número de documento" name="numDocumento" v-model="documento.numerodocumento" class="form-control" id="prependedInput" size="16" type="text" style="text-transform:uppercase;">
                        <span class="invalid-feedback">{{ errors.first('formdocumento.numDocumento') }}</span>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label" for="prependedInput"><b>Folio:</b></label>
                        <div class="controls">
                        <div class="input-prepend input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text pink-bg">
                            <i class="fa fa-hashtag" ></i>
                        </span>
                        </div>
                        <input v-validate="'max:100'" data-vv-as="Folio" name="folio" v-model="documento.folio" class="form-control" id="prependedInput" size="16" type="text" style="text-transform:uppercase;">
                        <span class="invalid-feedback">{{ errors.first('formdocumento.folio') }}</span>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <label class="col-form-label" for="prependedInput"><b>Destinatario:</b></label>
                        <div class="controls">
                        <div class="input-prepend input-group">
                            <multiselect 
                                v-validate="'required'" 
                                data-vv-as="Destinatario" 
                                name="destinatarioDocumento" 
                                :class="errors.first('formdocumento.destinatarioDocumento') ? 'is-invalid': (destinatario!=null ? 'is-valid': '') "
                                :block-keys="['Delete']" 
                                style="text-transform:uppercase;" 
                                id="selectDest" 
                                v-model="destinatario"  
                                :options="encargados" 
                                value="'id'"
                                label = "responsable"
                                :internal-search="false" 
                                :preserve-search="false" 
                                :clear-on-select="true" 
                                selectLabel="Presione enter para seleccionar" 
                                deselectLabel="Presione enter para eliminar" 
                                placeholder="Seleccione un destinatario" 
                                @search-change="buscarArea"
																@close="resetOptions">
                                    <template slot="noOptions">Comience a escribir para buscar.</template>
                                    <template slot="noResult"><em style="color:red;">Si no encuentra el responsable que busca, llame a Informática</em></template>
                            </multiselect>
                            <span style="font-size: 80%; color: #f86c6b;">{{ errors.first('formdocumento.destinatarioDocumento') }}</span>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label class="col-form-label" for="prependedInput" ><b>Área:</b></label>
                        <div class="controls">
                        <div class="input-prepend input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text pink-bg">
                            <i class="fa fa-briefcase" ></i>
                        </span>
                        </div>
                        <input v-model="areadestinatario" readonly class="form-control" id="prependedInput" size="16" type="text">
                        </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label class="col-form-label" for="prependedInput"><b>Cargo:</b></label>
                        <div class="controls">
                        <div class="input-prepend input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text pink-bg">
                            <i class="fa fa-briefcase" ></i>
                        </span>
                        </div>
                        <input v-model="cargodestinatario" readonly class="form-control" id="prependedInput" size="16" type="text">
                        </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <label class="col-form-label" for="prependedInput"><b>Asunto:</b></label>
                        <div class="controls">
                        <div class="input-prepend input-group" >
                            <!--
                            <div class="col-md-12">
                                <ckeditor 
                                    v-validate="'required'" 
                                    data-vv-as="Asunto" 
                                    name="asuntoDocumento" 
                                    :class="errors.first('formdocumento.asuntoDocumento') ? 'is-invalid': (documento.asunto!=null ? 'is-valid': '') "
                                    :editor="editor" 
                                    v-model="documento.asunto" 
                                    :config="editorConfig">
                                </ckeditor>
                                <span style="font-size: 80%; color: #f86c6b;">{{ errors.first('formdocumento.asuntoDocumento') }}</span>
                            </div>
                            -->
                            <div class="input-group-prepend">
                                <span class="input-group-text pink-bg">
                                    <i class="fa fa-font" ></i>
                                </span>
                            </div>
                            <input v-validate="'required'" data-vv-as="Asunto" name="asuntoDocumento" v-model="documento.asunto" class="form-control" id="prependedInput" size="16" type="text" style="text-transform:uppercase;">
                            <span class="invalid-feedback">{{ errors.first('formdocumento.asuntoDocumento') }}</span>
                        </div>                        
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <label class="col-form-label" for="prependedInput"><b>Observaciones:</b></label>

                                <ckeditor 
                                    data-vv-as="Observaciones" 
                                    name="observacionesDocumento" 
                                    :class="errors.first('formdocumento.observacionesDocumento') ? 'is-invalid': (documento.observaciones!=null ? 'is-valid': '') "
                                    :editor="editor" 
                                    v-model="documento.observaciones" 
                                    :config="editorConfig">
                                </ckeditor>
                                <span style="font-size: 80%; color: #f86c6b;">{{ errors.first('formdocumento.observacionesDocumento') }}</span>

                    </div>
                   
                </div>

                
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="col-form-label" for="doctzone"><b>Documento:</b></label>
                        <dropzone v-model="archivo" ref="doctzone" id="doctzone" :options="documentOptions" v-on:vdropzone-file-added="docZoneFileAdded" :useCustomSlot=true>
                            <div class="dropzone-custom-content">
                                <h5 class="dropzone-custom-title">Haga click aquí para cargar su documento</h5>
                                <i class="fa fa-cloud-upload fa-2x"></i>
                            </div>
                        </dropzone>

                    </div>
                    
                    <div class="col-md-6">
                        <label class="col-form-label" for="anexzone"><b>Anexos:</b></label>
                        <dropzone ref="anexzone" id="anexzone" :options="anexosOptions" v-on:vdropzone-file-added="anexZoneFileAdded" :useCustomSlot=true>
                            <div class="dropzone-custom-content">
                                <h5 class="dropzone-custom-title">Haga click aquí para cargar sus anexos</h5>
                                <i class="fa fa-cloud-upload fa-2x"></i>
                            </div>
                        </dropzone>
                    </div>
                    
                </div>
                
            </form>
            </div>

            <div class="card-footer d-flex justify-content-end">
                    
                    <!--
                    <button class="btn btn-sm btn-secondary mr-1" type="reset" @click="uploadFiles">
                        <i class="fa fa-upload"></i> Upload
                    </button>
                    -->
                    
                    <button class="btn btn-sm btn-primary mr-1" type="reset" @click="limpiarDatos">
                        <i class="fa fa-ban"></i> Limpiar
                    </button>
                    <button class="btn btn-sm btn-success" type="submit" @click="registrar">
                        <i class="fa fa-check"></i> Registrar
                    </button>
            </div>

        </div>

        <div id="ModalAgregarDependencia" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"  data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header pink-bg">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Agregar Nuevo Remitente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="closeModalAgregarDependencia()">
                    <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  data-vv-scope="formdependencia">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="col-form-label" for="prependedInput"><b>Nombre:</b></label>
                            <div class="controls">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text pink-bg">
                                    <i class="fa fa-user" ></i>
                                </span>
                                </div>
                                <input v-validate="'required'" data-vv-as="Nombre" name="encargadoDependencia" v-model="dependencia.encargado" class="form-control" id="prependedInput" size="16" type="text">
                                <span class="invalid-feedback">{{ errors.first('formdependencia.encargadoDependencia') }}</span>
                            </div>
                            </div>
                                
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="col-form-label" for="prependedInput"><b>Cargo:</b></label>
                            <div class="controls">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text pink-bg">
                                    <i class="fa fa-briefcase" ></i>
                                </span>
                                </div>
                                <input v-validate="'required|regex:\\w'" data-vv-as="Cargo" name="cargoDependencia" v-model="dependencia.cargoencargado" class="form-control" id="prependedInput" size="16" type="text">
                                <span class="invalid-feedback">{{ errors.first('formdependencia.cargoDependencia') }}</span>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="form-group row">
                        <div class="col-md-12">
                            <label class="col-form-label" for="prependedInput"><b>Institución/Dependencia:</b></label>
                            <div class="controls">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text pink-bg">
                                    <i class="fa fa-building" ></i>
                                </span>
                                </div>
                                <input v-validate="'required|regex:\\w'" data-vv-as="Institución/Dependencia" name="nombreDependencia" v-model="dependencia.nombre" class="form-control" id="prependedInput" size="225" type="text">
                                <span class="invalid-feedback">{{ errors.first('formdependencia.nombreDependencia') }}</span>
                            </div>
                            </div>
                        </div>
                    </div>-->

                    <div class="input-prepend input-group">
                        <label class="col-form-label" for="encargadoDependencia"><strong>Institución/Dependencia</strong></label>
                        <multiselect 
                            data-vv-as="Institución/Dependencia"
                            :block-keys="['Delete']"
                            v-validate="'required|regex:\\w'" 
                            style="text-transform:uppercase;" 
                            name="nombreDependencia" 
                            :class="errors.first('formdependencia.nombreDependencia') ? 'is-invalid': ''" 
                            :internal-search="false" 
                            :preserve-search="true" 
                            :taggable="true" 
                            v-model="nombredependencia" 
                            selectLabel="Presione enter para seleccionar" 
                            deselectLabel="Presione enter para eliminar" 
                            placeholder="Ingrese una institución" 
                            tagPlaceholder="Presione enter para agregar nueva institución" 
                            :options="catInstituciones" 
                            value="area"  
                            label = "area"
                            @search-change="buscarCatalogoInstituciones" 
                            @close="catInstituciones = []" 
                            @tag="addInstitucion"
                        >
                            <template slot="noOptions">Comience a escribir para buscar.</template>
                        </multiselect>                        
                        <span style="font-size: 80%; color: #f86c6b;">{{ errors.first('formdependencia.nombreDependencia') }}</span>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="col-form-label" for="prependedInput"><b>Tipo:</b></label>
                            <div class="controls">
                            <div class="input-prepend input-group">
                                <multiselect
                                        v-validate data-vv-rules="required" 
                                        data-vv-as="Tipo" 
                                        name="tipoDependencia" 
                                        :class="errors.first('formdependencia.tipoDependencia') ? 'is-invalid': (dependencia.tipoinstitucion_id!=null ? 'is-valid': '')" 
                                        :block-keys="['Delete']" 
                                        v-model="dependencia.tipoinstitucion_id" 
                                        :options="catTDep.map(tipo => tipo.id)"  
                                        :custom-label="opt => catTDep.find(x => x.id == opt).nombre"  
                                        value="'id'"  
                                        :searchable="true" 
                                        :show-labels="false" 
                                        placeholder="Selecciona un tipo de institución.">
                                    <template slot="noResult"><em style="color:red;">Si no encuentra el tipo de dependencia que busca, llame a Informática</em></template>
                                </multiselect>
                            </div>
                            <span style="font-size: 80%; color: #f86c6b;">{{ errors.first('formdependencia.tipoDependencia') }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="col-form-label" for="prependedInput"><b>Calle:</b></label>
                            <div class="controls">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text pink-bg">
                                    <i class="fa fa-road" ></i>
                                </span>
                                </div>
                                <input v-validate="'regex:\\w'" data-vv-as="Calle" name="calleDependencia" v-model="dependencia.calle" class="form-control" id="prependedInput" size="16" type="text">
                                <span class="invalid-feedback">{{ errors.first('formdependencia.calleDependencia') }}</span>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-form-label" for="prependedInput"><b>Número:</b></label>
                            <div class="controls">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text pink-bg">
                                    <i class="fa fa-hashtag" ></i>
                                </span>
                                </div>
                                <input v-validate="'max:5|regex:\\w'" data-vv-as="Número" name="numeroDependencia" v-model="dependencia.numero" class="form-control" id="prependedInput" size="16" type="text" maxlength="7">
                                <span class="invalid-feedback">{{ errors.first('formdependencia.numeroDependencia') }}</span>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="col-form-label" for="prependedInput"><b>Municipio:</b></label>
                            <div class="controls">
                            <div class="input-prepend input-group">
                                <div class="input-prepend input-group">
                                    <multiselect 
                                        name="municipioDependencia"
                                        data-vv-as="Municipio" 
                                        v-validate="" 
                                        :class="errors.first('formdependencia.municipioDependencia') ? 'is-invalid': (dependencia.municipio_id!=null ? 'is-valid': '')" 
                                        :block-keys="['Delete']" 
                                        style="text-transform:uppercase;" 
                                        id="selectDest" 
                                        v-model="dependencia.municipio_id"  
                                        :options="municipios.map(municipio => municipio.id)"  
                                        :custom-label="opt => municipios.find(x => x.id == opt).nombre" 
                                        value="'id'"  
                                        :internal-search="false" 
                                        :preserve-search="false" 
                                        :clear-on-select="true" 
                                        selectLabel="Presione enter para seleccionar" 
                                        deselectLabel="Presione enter para eliminar" 
                                        placeholder="Selecciona un municipio"
                                         @search-change="buscarMunicipio">
                                            <template slot="noOptions">Comience a escribir para buscar.</template>
                                            <template slot="noResult"><em style="color:red;">Si no encuentra el municipio que busca, llame a Informática</em></template>
                                    </multiselect>
                                </div>
                                <span style="font-size: 80%; color: #f86c6b;">{{ errors.first('formdependencia.municipioDependencia') }}</span>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-form-label" for="prependedInput"><b>Estado:</b></label>
                            <div class="controls">
                            <div class="input-prepend input-group">
                                <multiselect 
                                        name="estadoDependencia" 
                                        v-validate="" 
                                        data-vv-as="Estado"
                                        :class="errors.first('formdependencia.estadoDependencia') ? 'is-invalid': (dependencia.entidad_id!=null ? 'is-valid': '')" 
                                        :block-keys="['Delete']" 
                                        v-model="dependencia.entidad_id" 
                                        :options="entidades.map(tipo => tipo.id)"  
                                        :custom-label="opt => entidades.find(x => x.id == opt).entidad"  
                                        value="'id'"  
                                        :searchable="true" 
                                        :show-labels="false" 
                                        placeholder="Selecciona un estado.">
                                    <template slot="noResult"><em style="color:red;">Sin elementos que mostrar</em></template>
                                </multiselect>
                            </div>
                            </div>
                            <span style="font-size: 80%; color: #f86c6b;">{{ errors.first('formdependencia.estadoDependencia') }}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="col-form-label" for="prependedInput"><b>Colonia:</b></label>
                            <div class="controls">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text pink-bg">
                                    <i class="fa fa-map-marker" ></i>
                                </span>
                                </div>
                                <input v-validate="'regex:\\w'" data-vv-as="Colonia" name="coloniaDependencia" v-model="dependencia.colonia" class="form-control" id="prependedInput" size="16" type="text">
                                <span class="invalid-feedback">{{ errors.first('formdependencia.coloniaDependencia') }}</span>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="col-form-label" for="prependedInput"><b>Teléfono:</b></label>
                            <div class="controls">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text pink-bg">
                                    <i class="fa fa-phone" ></i>
                                </span>
                                </div>
                                <input v-validate="'numeric'" data-vv-as="Teléfono" name="telefonoDependencia" v-model="dependencia.telefono" class="form-control" id="prependedInput" size="16" type="text" maxlength="10">
                                <span class="invalid-feedback">{{ errors.first('formdependencia.telefonoDependencia') }}</span>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-form-label" for="prependedInput"><b>Email:</b></label>
                            <div class="controls">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text pink-bg">
                                    <i class="fa fa-at" ></i>
                                </span>
                                </div>
                                <input v-validate="'email|max:60'" data-vv-as="Email" name="emailDependencia" v-model="dependencia.email" class="form-control" id="prependedInput" size="16" type="text">
                                <span class="invalid-feedback">{{ errors.first('formdependencia.emailDependencia') }}</span>
                            </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="closeModalAgregarDependencia()">Cancelar</button>
                    <button type="button" class="btn btn-primary" @click="registrarDependencia">Guardar</button>
                </div>
                </div>
            </div>
        </div>
        

    </div>


    
</template>

<script>
import axios from 'axios';
import {en, es} from 'vuejs-datepicker/dist/locale';
import ClassicEditor from 'ckeditor5-build-classic-spanish';
//import CKEDITOR from 'ckeditor5-build-full-spanish';


export default {
  name: "nuevodocumento",
  data: () => ({
            municipios:[],
            fechaentrada: null,
            fechavencimiento: null,
            es: es,
            options: {},
            fechav: false,
            areadestinatario: '',
            entidades: [],
            catTDocs:[],
            catTDep:[],
            catInstituciones: [],
            archivo: [],
            institucion: null,
            encargados: [],
            destinatario: null,
            tipodocumento: null,
            tipocorrespondencia: null,
            remitente: '',
            procedenciaremitente: '',
            cargoremitente:'',
            nombredestinatario: '',
            cargodestinatario: '',
            nombredependencia: null,
            documento: {
                asunto: null,
                fechaentrada: null,
                fechavencimiento: null,
                remitente_id: null,
                destinatario_id: null,
                numerodocumento: null,
                folio: null,
                tipodocumento_id: null,
                es_copia_conocimiento: null,
                observaciones: null,
            },
            es: es,
            documentOptions: {
                method: 'post',
                headers: { 'X-CSRF-TOKEN': document.querySelector("meta[name='X-CSRF-TOKEN']").getAttribute("content") }, 
                maxFiles: 1,
                maxFilesize: 2.0,
                url: '/sicodoc/subir/1/1',
                thumbnailWidth: 150,
                autoProcessQueue: false,
                addRemoveLinks: true,
                //chunking: true,
                //chunkSize: 500000,
                dictRemoveFile: "Eliminar",
                dictMaxFilesExceeded: "Solo se puede subir un archivo en esta sección",
                acceptedFiles: "application/pdf",
                dictInvalidFileType: "Solo se pueden subir archivos PDF"
            },
            anexosOptions: {
                method: 'post',
                headers: { 'X-CSRF-TOKEN': document.querySelector("meta[name='X-CSRF-TOKEN']").getAttribute("content") }, 
                url: '/sicodoc/subir/2/1',
                thumbnailWidth: 150,
                autoProcessQueue: false,
                addRemoveLinks: true,
                //chunking: true,
                //chunkSize: 500000,
                dictRemoveFile: "Eliminar",
                acceptedFiles: "application/pdf",
                dictInvalidFileType: "Solo se pueden subir archivos PDF"
            },
            catcorresp: ['INTERNO','EXTERNO'],
            dependencia: {
                nombre: null,
                calle: null,
                numero: null,
                colonia: null,
                telefono: null,
                email: null,
                encargado: null,
                cargoencargado: null,
                tipoinstitucion_id: null,
                entidad_id: null,
                municipio_id: null
            },
            editor: ClassicEditor,
            editorConfig: {
            }

  }),

    methods: {
            buscarCatalogoInstituciones(search){
                if(search.length < 3) return;
                axios.get(`/sicodoc/responsables/catalogoinstituciones/${search}`).then(response => { 
                    this.catInstituciones = response.data.data.map(item => {
                    item.area
                    return item
                    }); 
                }).catch(error => { 
                    console.log('No existe el responsable.');
                });
            },

            buscarInstitucion(search){
                if(search.length < 3) return;
                axios.get(`/sicodoc/responsables/instituciones/${search}`).then(response => { 
                    this.encargados = response.data.data.map(item => {
                    item.responsable
                    return item
                    }); 
                }).catch(error => { 
                    console.log('No existe el responsable.');
                });
            },

            buscarArea(search){
                if(search.length < 3) return;
                axios.get(`/sicodoc/responsables/areas/${search}`).then(response => { 
                    this.encargados = response.data.data.map(item => {
                    item.responsable
                    return item
                    }); 
                }).catch(error => { console.log('No existe el responsable.') });
            },

            buscarMunicipio(search){
                if(search.length < 3) return;
                axios.get(`/sicodoc/municipios/${search}`).then(response => { 
                    this.municipios = response.data.data.map(item => {
                    item.nombre
                    return item
                    }); 
                }).catch(error => { console.log('No se encontró el municipio.') });
            },

            loadCatTDoc(){
                axios.get('sicodoc/tipoDocumento/lista').then(response => {
                    this.catTDocs = response.data.data.map(item => {
                    return item
                                    }); 
                                    
                                this.loadTipoCorrespondencia();
                }).catch(error => {
                    console.log('No se pudo cargar el catálogo de tipos de documento.');
                });
            },

            loadCatTDep(){
                axios.get('sicodoc/tipoInstitucion/lista').then(response => {
                    this.catTDep = response.data.data.map(item => {
                    return item
                    }); 
                }).catch(error => {
                    console.log('No se pudo cargar el catálogo de tipos de institución.');
                });
            },

            loadEntidades(){
                axios.get('sicodoc/entidades/lista').then(response => {
                    this.entidades = response.data.data.map(item => {
                    return item
                    }); 
                }).catch(error => {
                    console.log('No se pudo cargar el catálogo de entidades.');
                });
            },

            /*loadFolio(){
                if (documentosFolio.includes(this.tipodocumento.nombre)) {
                    axios.get('sicodoc/folio/ultimofolio').then(response => {
                        this.documento.folio = response.data.data.folio_correspondencia;
                        //this.documento.numerodocumento = 'DIFO/DG/' + response.data.data.numero_oficio + '/2019';
                    }).catch(error => {
                            console.log('No se pudo cargar el número de folio.');
                    });
                }
            },*/

            addInstitucion(newTag){
                this.nombredependencia = {'area': newTag};
            },

            registrar(){
                this.$validator.validateAll("formdocumento").then(valid => {
                    if(valid) {
                        axios.post('sicodoc/documentos/nuevo',this.documento).then(response => {

                        this.$refs.doctzone.setOption('url', `/sicodoc/archivos/subir/1/${response.data.data.id}`)
                        this.$refs.anexzone.setOption('url', `/sicodoc/archivos/subir/2/${response.data.data.id}`)
                        
                        Swal.fire({
                            title: 'Registrado',
                            type: 'info',
                            html: 'Su documento ha sido registrado correctamente.<br>'+
                            'Se procederá a subir sus archivos',
                            confirmButtonText: 'Continuar'
                        }).then((result) => {
                                this.uploadFiles();
                                let timerInterval;

                                Swal.fire({
                                    title: 'Espere un momento',
                                    imageUrl: 'images/preloader/loading.gif',
                                    html: 'Sus archivos se están subiendo al sistema.',
                                    timer: 4000,
                                    showConfirmButton: false,
                                    allowOutsideClick: false

                                    
                                    /*,
                                    onBeforeOpen: () => {
                                        Swal.showLoading()
                                        timerInterval = setInterval(() => {
                                        Swal.getContent().querySelector('strong')
                                            .textContent = Swal.getTimerLeft()/1000
                                        }, 100)
                                    },
                                    onClose: () => {
                                        clearInterval(timerInterval)
                                    }*/
                                }).then((result) => {
                                    Swal.fire(
                                        'Carga Completa',
                                        'Se ha completado la carga de sus archivos',
                                        'success'
                                    ).then((result)=>{ 
                                        this.limpiarDatos();})
                                })

                                
                                
                            });
                    
                        
                        }).catch(error => {
                            //console.log(error);
                            Swal.fire('No se ha podido guardar el documento, verifique sus datos');
                        });
                    
                    }else{
                        Swal.fire('Error','Existen campos no válidos','error');
                    }
                });
            },

            registrarDependencia(){
                this.$validator.validateAll("formdependencia").then(valid => {
                    if(valid) {
                        axios.post('sicodoc/responsables/nuevo',this.dependencia).then(response => {
                            Swal.fire(
                                'Registrado',
                                'Se registró correctamente la institución',
                                'success'
                            );                    
                            this.closeModalAgregarDependencia();
                        }).catch(error => {
                            Swal.fire(
                                'No se ha podido registrar la institución',
                                'Revise sus datos',
                                'error'
                            );
                        });
                    }else{
                        Swal.fire('Error','Existen campos no válidos','error');
                    }
                });
            },

            loadTipoCorrespondencia: function() {
                this.tipocorrespondencia = 'EXTERNO';
                this.documento.es_copia_conocimiento = {id: 0, nombre: 'NO'};
            },
            
            uploadFiles(){
                this.$refs.doctzone.processQueue();
                this.$refs.anexzone.processQueue()
            },

            docZoneFileAdded: function(file) {
                if (file.size > 536870912){
                    this.$refs.doctzone.removeFile(file);
                    Swal.fire(
                        'Advertencia',
                        'El tamaño máximo del archivo debe ser de 512 MB',
                        'warning'
                    );   
                }
            },

            anexZoneFileAdded: function(file) {
                if (file.size > 536870912){
                    this.$refs.anexzone.removeFile(file);
                    Swal.fire(
                        'Advertencia',
                        'El tamaño máximo del archivo debe ser de 512 MB',
                        'warning'
                    );   
                }
            },

            openModalAgregarDependencia(val) {
                this.dependencia.encargado = val;
                $('#ModalAgregarDependencia').modal('show');
            },

            closeModalAgregarDependencia() {
                this.limpiarDependencia();
                $('#ModalAgregarDependencia').modal('hide');
            },

            limpiarDatos(){
                this.documento.asunto = null;
                this.fechaentrada =null;
                this.fechavencimiento =null;
                this.documento.remitente_id= null;
                this.documento.destinatario_id= null;
                this.documento.numerodocumento= null;
                this.documento.folio= null;
                this.documento.tipodocumento_id= null;
                this.documento.observaciones= null;
                this.documento.asunto= null;
                this.documento.observaciones = '';
                this.documento.es_copia_conocimiento = {id: 0, nombre: 'NO'};

                this.areadestinatario= null;
                this.institucion= null;
                this.encargados= [];
                this.destinatario= null;
                this.tipodocumento= null;
                this.tipocorrespondencia= 'EXTERNO';
                this.remitente= null;
                this.procedenciaremitente= null;
                this.cargoremitente=null;
                this.nombredestinatario= null;
                this.cargodestinatario= null;
                this.$refs.doctzone.removeAllFiles();
                this.$refs.anexzone.removeAllFiles();
                this.$validator.reset("formdocumento");
            },

            limpiarDependencia(){
                this.nombredependencia = null;

                this.dependencia.calle = '';
                this.dependencia.cargoencargado = '';
                this.dependencia.colonia = '';
                this.dependencia.email = '';
                this.dependencia.encargado = '';
                this.dependencia.entidad_id = null;
                this.dependencia.municipio_id = null;
                this.dependencia.nombre = '';
                this.dependencia.numero = '';
                this.dependencia.telefono = '';
                this.dependencia.tipoinstitucion_id = null;
                this.$validator.reset("formdependencia");
            },


            changeDatePickerCSS(){
                let element = document.querySelectorAll("div.vdp-datepicker input[readonly='readonly']");
                for (var i = 0; i < element.length; i++) {
                    element[i].className += ' form-control';
                    element[i].removeAttribute("readonly");
                };
			},
						
            resetOptions(){
                this.encargados=[];
            }

    },



    watch: {
        
        'tipocorrespondencia':function(){ 
            let me = this;
            if(me.tipocorrespondencia != null)
            {
                me.remitente = '';
                me.encargados = [];
            }    
        },

        'remitente':function(){ 
            let me = this;
            if(me.remitente != null )
            {
                me.procedenciaremitente = me.remitente.area;
                me.cargoremitente = me.remitente.cargo;
                me.documento.remitente_id = me.remitente.id;
            } 
            else{
                me.procedenciaremitente = '';
                me.cargoremitente = ''; 
                me.documento.remitente_id = '';
            }   
        },

        'destinatario':function(){ 
            let me = this;
            if(me.destinatario != null)
            {
                me.areadestinatario = me.destinatario.area;
                me.cargodestinatario = me.destinatario.cargo;
                me.documento.destinatario_id = me.destinatario.id;
            } 
            else{
                me.areadestinatario = '';
                me.cargodestinatario = ''; 
                me.documento.destinatario_id = ''; 
            }   
        },

        'tipodocumento':function(){ 
            let me = this;
            if(me.tipodocumento != null)
            {
                me.documento.tipodocumento_id = me.tipodocumento.id;
            } 
            else{
                me.documento.tipodocumento_id = ''; 
            }
        },

        'fechaentrada':function(){ 
            let me = this;
            if(me.fechaentrada != null)
            {
                me.documento.fechaentrada = moment(me.fechaentrada).format("YYYY-MM-DD H:mm:ss");
            } 
            else{
                me.documento.fechaentrada = ''; 
            }   
        },

        'fechavencimiento':function(){ 
            let me = this;
            if(me.fechavencimiento != null)
            {
                me.documento.fechavencimiento = moment(me.fechavencimiento).format("YYYY-MM-DD H:mm:ss");
            } 
            else{
                me.documento.fechavencimiento = null; 
            }   
        },

        'fechav':function(){ 
            let me = this;
            if(me.fechav == false)
            {
                me.documento.fechavencimiento = ''
                me.fechavencimiento = null
            }   
        },

        'nombredependencia':function() {
            if (this.nombredependencia != null) {
                this.dependencia.nombre = this.nombredependencia.area;
            }
        }

    },
    
    mounted(){
        this.loadCatTDoc();
        this.loadCatTDep();
        this.changeDatePickerCSS();
		this.loadEntidades();
    } ,
    
    computed:{
        url(){
            return '/sicodoc/subir/'
        }
    }
        



  
}

</script>


<style lang="scss">


    .pink-bg{
    background:#d12654; 
    color:white;
    }

    .white{
        color:white;
    }

    .white-bg{
        background: #fff !important;
    }


    .vue-dropzone>.dz-preview .dz-details {
        background-color: #d12654 !important;
        //left: 5px !important;
    }

    input[data-v-4bd11526]:focus{
        color: #5c6873 !important;
        background-color: #fff!important;
        border-color: #a33b57!important;
        box-shadow: 0 0 0 0.2rem rgba(253, 52, 99, 0.19)!important;
        outline: none !important;
    }

    .switch-danger .switch-input:checked + .switch-slider {
        background-color: #d12654;
        border-color: #a33b57;

    .switch-danger .switch-input:checked + .switch-slider::before {
        border-color: #d12654;
    }
    }

    .input {
        text-transform:uppercase;
    }

    .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
        border: 1px solid #d12654 !important;
    }

    .vdp-datepicker__calendar .cell.selected{
        background: #d12654 !important;
        color: #fff !important;
    }

    .vdp-datepicker__calendar .cell.selected:hover{
        background: #e46385 !important;
        color: #fff !important;
    }

    .vdp-datepicker__calendar header .prev, .vdp-datepicker__calendar header .next, .vdp-datepicker__calendar header .up,.vdp-datepicker__calendar header span{
        background: #d12654 !important;
        color: #fff !important;
    }

    .vdp-datepicker__calendar header .prev:hover, .vdp-datepicker__calendar header .next:hover, .vdp-datepicker__calendar header .up:hover{
        background: #e46385 !important;
        color: #fff !important;
    }
    
    .is-invalid .multiselect__tags {
    border: 1px solid #f86c6b !important;
    }

    .is-valid .multiselect__tags {
    border: 1px solid #4dbd74 !important;
    }

    .multiselect__spinner:after, .multiselect__spinner:before {
    border-top-color: #D12654 !important;
    }

    .vdp-datepicker.is-invalid {
    border: 1px solid #f86c6b !important;
    border-radius: 4px;
    }

    .vdp-datepicker.is-valid {
    border: 1px solid #4dbd74 !important;
    border-radius: 4px;
    }


    :root {
    --ck-color-focus-border: #d12654 !important;
    }

    .vue-dropzone>.dz-preview .dz-remove {
    margin-left: 23% !important;
    }

    .dropzone .dz-preview .dz-details .dz-size {
    margin-left: 33% !important;
    }

    .dropzone-custom-title {
    color:#d12654;
    }

</style>
