<template>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div class="card">
			<div class="card-header bg-white header-elements-inline">
				<h6 class="card-title">{{ title }}</h6>
				<div class="header-elements">
					<div class="list-icons">
						<a class="list-icons-item" data-action="collapse"></a>
						<a class="list-icons-item" data-action="reload"></a>
						<a class="list-icons-item" data-action="remove"></a>
					</div>
				</div>
			</div>
			
			<form class="wizard-form steps-validation" id="evento" action="#" data-fouc>
				<h6>Evento</h6>
				<fieldset>
					<div class="form-row">
						
						<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<label for="nombre">Nombre de la Gira o del Evento <span class="text-danger">*</span></label>
							<select id="nombre" name="nombre" data-placeholder="Seleccione la Gira o el Evento" class="form-control form-control-select2" required data-fouc>
							</select>
						</div>

						<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
							<label for="calendario_id">Calendario <span class="text-danger">*</span></label>
							<select id="calendario_id" name="calendario_id" data-placeholder="Seleccione el Calendario" class="form-control form-control-select2" required data-fouc>
							</select>
						</div>

						<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
							<label for="fecha_hora">Fecha Hora <span class="text-danger">*</span></label>
							<input id="fecha_hora" name="fecha_hora" type="text" class="form-control" placeholder="">
						</div>

						<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<label for="calle">Calle <span class="text-danger">*</span></label>
							<input id="calle" name="calle" type="text" class="form-control" placeholder="">
						</div>

						<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
							<label for="municipio_id">Municipio <span class="text-danger">*</span></label>
							<select id="municipio_id" name="municipio_id" data-placeholder="Seleccione el Municipio" class="form-control form-control-select2" required data-fouc>
							</select>
						</div>

						<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
							<label for="localidad_id">Localidad <span class="text-danger">*</span></label>
							<select id="localidad_id" name="localidad_id" data-placeholder="Seleccione la Localidad" class="form-control form-control-select2" required data-fouc>
							</select>
						</div>

						<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<label for="localidad">Otra Localidad <span class="text-danger">*</span></label>
							<input id="localidad" name="localidad" type="text" class="form-control" placeholder="">
						</div>

						<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<label for="observaciones">Observaciones <span class="text-danger">*</span></label>
							<textarea id="observaciones" name="observaciones" rows="3" cols="3" class="form-control" placeholder=""></textarea>
						</div>

					</div>
				</fieldset>

				<h6>Participantes</h6>
				<fieldset>
				</fieldset>
			</form>
		</div>
	</div>
</div>
</template>

<script>
//import axios from 'axios'

export default {
	data() {
		return {
			title: ''
		}
	},
	created() {
	},
	mounted() {
		var form = $('.steps-validation').show();
		
		$('.steps-validation').steps({
			headerTag: 'h6',
			bodyTag: 'fieldset',
			titleTemplate: '<span class="number">#index#</span> #title#',
			labels: {
				previous: '<i class="icon-arrow-left13 mr-2" /> Previous',
				next: 'Next <i class="icon-arrow-right14 ml-2" />',
				finish: 'Submit form <i class="icon-arrow-right14 ml-2" />'
			},
			transitionEffect: 'fade',
			autoFocus: true,
			onStepChanging: function (event, currentIndex, newIndex) {
				// Allways allow previous action even if the current form is not valid!
				if(currentIndex > newIndex) {
					return true;
				}
				// Needed in some cases if the user went back (clean up)
				if(currentIndex < newIndex) {
					// To remove error styles
					form.find('.body:eq(' + newIndex + ') label.error').remove();
					form.find('.body:eq(' + newIndex + ') .error').removeClass('error');
				}
				
				form.validate().settings.ignore = ':disabled,:hidden';
				return form.valid();
			},
			onFinishing: function(event, currentIndex) {
				form.validate().settings.ignore = ':disabled';
				return form.valid();
			},
			onFinished: function(event, currentIndex) {
				alert('Submitted!');
			}
		});

		var validator = $('#evento').validate({
			ignore: 'input[type=hidden], .select2-search__field',
			errorClass: 'validation-invalid-label',
			successClass: 'validation-valid-label',
			validClass: 'validation-valid-label',
			highlight: function(element, errorClass) {
				$(element).removeClass(errorClass);
			},
			unhighlight: function(element, errorClass) {
				$(element).removeClass(errorClass);
			},
			success: function(label) {
				label.addClass('validation-valid-label').text('Success.');
			},
			errorPlacement: function(error, element) {
				if(element.parents().hasClass('form-check')) {
					error.appendTo( element.parents('.form-check').parent() );
				}
				else if(element.parents().hasClass('form-group-feedback') || element.hasClass('select2-hidden-accessible')) {
					error.appendTo( element.parent() );
				}
				else if(element.parent().is('.uniform-uploader, .uniform-select') || element.parents().hasClass('input-group')) {
					error.appendTo( element.parent().parent() );
				}
				else {
					error.insertAfter(element);
				}
			},
			rules: {
				nombre: {
					required: true
				},
				calendario_id: {
					required: true
				},
				fecha_hora: {
					required: true
				},
				/*hora: {
					required: true
				},*/
				calle: {
					required: true
				},
				municipio_id: {
					required: true
				},
				localidad_id: {
					required: true
				},
				localidad: {
					required: true
				}
			}
		});

		$('#nombre').select2({
			ajax: {
				url: '/agenda/search',
				dataType: 'JSON',
				type: 'GET',
				data: (params) => {
					return {
						search: params.term
					};
				},
				processResults: (data, params) => {
					params.page = params.page || 1;
					return {
						results: $.map(data, (item) => {
							return {
								id: item.nombre,
								text: item.nombre,
								slug: item.nombre,
								results: item
							}
						})
					};
				},
				cache: true
			}
		}).change((event) => {
			$('#nombre').valid();
		});
		
		$('#calendario_id').select2({
			ajax: {
				url: '/agenda/calendarios/search',
				dataType: 'JSON',
				type: 'GET',
				data: (params) => {
					return {
						search: params.term
					};
				},
				processResults: (data, params) => {
					params.page = params.page || 1;
					return {
						results: $.map(data, (item) => {
							return {
								id: item.nombre,
								text: item.nombre,
								slug: item.nombre,
								results: item
							}
						})
					};
				},
				cache: true
			}
		}).change((event) => {
			$('#calendario_id').valid();
		});
		
		$('#municipio_id').select2({
			ajax: {
				url: '/municipios/select',
				dataType: 'JSON',
				type: 'GET',
				data: (params) => {
					return {
						search: params.term
					};
				},
				processResults: (data, params) => {
					params.page = params.page || 1;
					return {
						results: $.map(data, (item) => {
							return {
								id: item.id,
								text: item.nombre,
								slug: item.nombre,
								results: item
							}
						})
					};
				},
				cache: true
			}
		}).change((event) => {
			$('#municipio_id').valid();
			$('#localidad_id').empty();
			$('#localidad_id-error').remove();
			$('#localidad_id').select2({
				ajax: {
					url: 'localidades/localidades/select',
					dataType: 'JSON',
					type: 'GET',
					data: (params) => {
						return {
							search: params.term,
							municipio_id: $('#municipio_id').val()
						};
					},
					processResults: (data, params) => {
						params.page = params.page || 1;
						return {
							results: $.map(data, (item) => {
								return {
									id: item.id,
									text: item.nombre,
									slug: item.nombre,
									results: item
								}
							})
						};
					},
					cache: true
				}
			}).change((event) => {
				$('#localidad_id').valid();
				$('#localidad').valid();
			});
		});
		
		$('#localidad_id').select2({});

		//$.datepicker.setDefaults($.datepicker.regional['es-MX']);
		
		/*$('.datepicker').datepicker({
			changeMonth: true,
			changeYear: true,
			showWeek: true,
			//dateFormat: 'dd/mm/yy',
			isRTL: $('html').attr('dir') == 'rtl' ? true : false
		});*/
		$('#fecha_hora').AnyTime_picker({
			format: '%Y-%m-%d %H:%i:%s'
		});
	}
}
</script>