<template>
  <div class="crear-viatico row">
    <div class="modal fade" id="empleadoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Agregar nuevo empleado</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <Empleado></Empleado>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 row" v-if="errorsServer">
      <ul>
        <li v-for="(item, key) in errorsServer" :key="key">
          {{key}}
          <ul v-if="errorsServer[key].length > 0">
            <li v-for="(error, index) in errorsServer[key]" :key="index">{{error}}</li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="col-sm-12">
      <div class="alert alert-info">
        <p><strong>ACTUALIZACIÓN</strong></p>
        <p>Al crear viatico fuera del estado deberá buscar por la ciudad y en el siguiente campo aparecera el estado, en caso que no se encuentre llamar a la extensión 1082.</p>
      </div>
    </div>

    <div class="col-sm-12">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active show" data-toggle="tab" href="#home2" role="tab" aria-controls="home" aria-selected="true">
            <i class="icon-calculator"></i>Trámite
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#viatico" role="tab" aria-controls="profile" aria-selected="false">
            <i class="icon-basket-loaded"></i>Viático
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile" aria-selected="false">
            <i class="icon-basket-loaded"></i>Gastos
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active show" id="home2" role="tabpanel">
          <div class="row mt-1">
            <div class="col-sm-12 d-flex justify-content-end">
              <label for="" class="mr-1">Herramientas:</label>
              <button class="btn btn-primary btn-sm" @click.prevent="cargarFondo"><i class="fa fa-refresh"></i> Fondo</button>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="area">Tipo de Pago:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-file-text-o"></i>
                  </span>
                </div>
                <input class="form-control" type="text" v-model="tipopago" disabled name="tipopago" v-validate="'required'">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <label for="tramite">Tipo Trámite</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-car"></i>
                  </span>
                </div>
                <select class="form-control" name="Trámite" v-model="viatico.tramite" v-validate="'required'">
                  <option v-for="tramite in tramites" :key="tramite.id" :value="tramite.id">{{tramite.nombre}}</option>
                </select>
              </div>
              <span class="invalid-feedback">{{ errors.first('Trámite') }}</span>  
            </div>
          </div>

          <!-- <Empleado></Empleado> -->
          <div class="form-group row">
            <div class="col-sm-12 col-md-9">
              <label for="area">Empleado:</label>
              <multiselect 
                :class="errors.first('Empleado') ? 'is-invalid': ''" 
                v-model="empleado"
                :options="empleados"
                value="'id'"
                label="nombre_completo"
                name="Empleado"
                v-validate="'required'"
                :internal-search="false"
                :preserve-search="false"
                :clear-on-select="true"
                @search-change="buscarEmpleado"
                :block-keys="['Delete']"
                placeholder="Selecciona">
                  <template slot="noOptions">Comience a escribir para buscar.</template>
                  <template slot="noResult"><em style="color:red;">Si no encuentra el empleado, agreguelo</em></template>
                </multiselect>
              <span class="invalid-feedback">{{ errors.first('Empleado') }}</span>
            </div>
            <div class="col-sm-12 col-md-3">
              <label for="">Agrégalo sino esta</label>
              <button class="btn btn-secondary btn-block" type="button" data-toggle="modal" data-target="#empleadoModal">Nuevo Empleado</button>
            </div>
          </div>

          <div class="form-group row" v-if="viatico.tramite != null && viatico.tramite != 1">
            <div class="col-sm-6">
              <label for="Banco">Banco</label>
              <select class="form-control" name="Banco" v-model="viatico.banco_id" v-validate="viatico.tramite != 1 && viatico.tramite != null ? 'required': ''">
                <option v-for="banco in bancos" :key="banco.id" :value="banco.id">{{banco.nombre}}</option>
              </select>
              <span class="invalid-feedback">{{ errors.first('Banco') }}</span>
            </div>
            <div class="col-sm-6">
              <label for="tarjeta">Número Tarjeta</label>
              <input class="form-control" type="text" name="Tarjeta" v-model="tarjeta" v-validate="viatico.tramite != 1 && viatico.tramite != null ? 'required|min:11|max:16': ''">
              <span class="invalid-feedback">{{ errors.first('Tarjeta') }}</span>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <label for="Clave Presupuestal">Clave Presupuestal:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-file-text-o"></i>
                  </span>
                </div>
                <input class="form-control" type="text" v-model="clavePresupuestal" readonly name="Clave Presupuestal" v-validate="'required'">
              </div>
              <span class="invalid-feedback">{{ errors.first('Clave Presupuestal') }}</span>
              <span class="invalid-feedback">{{errors.first('Clave Presupuestal') ? 'Comuniquese con Administración y Finanzas para asignarle su Clave Presupuestal' : ''}}</span>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <label class="col-form-label" for="appendedInputButton">Programa:</label>
              <multiselect :class="errors.first('Programa') ? 'is-invalid': ''" v-model="programa_id" :options="programas" name="Programa" v-validate="'required'" label="nombre" :internal-search="false" :preserve-search="false" :clear-on-select="true" @search-change="buscarPrograma" :block-keys="['Delete']" placeholder="Selecciona">
                <template slot="noOptions">Comience a escribir para buscar.</template>
                <template slot="noResult"><em style="color:red;">No tenemos registros con lo que busca</em></template>
              </multiselect>
              <span class="invalid-feedback">{{ errors.first('Programa') }}</span>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <label for="area">Objeto de la comisión:</label>
              <textarea :class="['form-control', errors.first('Descripcion') ? 'is-invalid' : '']" rows="4" v-model="descripcion" name="Descripcion" v-validate="'required|max:255'"></textarea>
              <span class="invalid-feedback">{{ errors.first('Descripcion') }}</span>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <label for="area">Autorizo:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <input :class="['form-control', errors.first('Autorizo') ? 'is-invalid' : '']" type="text" v-model="autorizo" readonly name="Autorizo" v-validate="'required'">
              </div>
              <span class="invalid-feedback">{{ errors.first('Autorizo') }}</span>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="area">Vo Bo:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-user-circle-o"></i>
                  </span>
                </div>
                <input :class="['form-control', errors.first('Visto Bueno') ? 'is-invalid' : '']" type="text" v-model="vobo" readonly name="Visto Bueno" v-validate="'required'"> 
              </div>
              <span class="invalid-feedback">{{ errors.first('Visto Bueno') }}</span>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="viatico" role="tabpanel">
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="estatal" class="cursor">Estatal</label>
              <br>
              <label class="switch switch-label switch-pill switch-outline-danger-alt">
                <input class="switch-input" type="checkbox" checked="" v-model="viatico.estatal" name="estatal" id="estatal">
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
            <div class="col-sm-6">
              <label for="nacional" class="cursor">Nacional</label>
              <br>
              <label class="switch switch-label switch-pill switch-outline-danger-alt">
                <input class="switch-input" type="checkbox" checked="" v-model="nacional" name="nacional" id="nacional">
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 col-md-4">
              <label for="col-form-label">Fecha de Salida</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <datepicker :language="es" v-model="fecha_salida" :format="customFormatter" name="Fecha Salida" v-validate="'required'"></datepicker>
                <span class="invalid-feedback">{{ errors.first('Fecha Salida') }}</span>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <label for="col-form-label">Fecha de Regreso</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <datepicker :language="es" v-model="fecha_regreso" :format="customFormatter" name="Fecha Regreso" v-validate="'required'"></datepicker>
                <span class="invalid-feedback">{{ errors.first('Fecha Regreso') }}</span>
                <input type="hidden" v-model="num_dias" name="Dias" v-validate="'required|numeric|min_value:1'">
                <span class="invalid-feedback">{{ errors.first('Dias') }}</span>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <label for="">Num Días</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <input :class="['form-control', errors.first('Dias') ? 'is-invalid' : '']" type="text" v-model="num_dias" readonly>
                <span class="invalid-feedback">{{ errors.first('Dias') }}</span>
              </div>
            </div>
          </div>
          <div class="form-group row" v-show="viatico.estatal">
            <div class="col-sm-12">
              <label for="col-form-label">Municipio de Salida</label>
              <multiselect :class="errors.first('Municipio de Salida') ? 'is-invalid': ''" v-model="origen_municipio" :options="origenes" value="'id'" label="nombre" name="Municipio de Salida" v-validate="viatico.estatal ? 'required' : ''" :internal-search="false" :preserve-search="false" :clear-on-select="true" @search-change="buscarMunicipioOrigen" :block-keys="['Delete']" placeholder="Selecciona">
                <template slot="noOptions">Comience a escribir para buscar.</template>
                <template slot="noResult"><em style="color: #F2698D;">No tenemos registro con lo que estas buscando</em></template>
              </multiselect>
              <span class="invalid-feedback">{{ errors.first('Municipio de Salida') }}</span>
            </div>
          </div>
          <div class="form-group row" v-show="viatico.estatal">
            <div class="col-sm-12">
              <label for="col-form-label">Municipio Destino</label>
              <multiselect v-model="municipiosDestino" id="municipiosDestino" label="nombre" track-by="id" placeholder="Escriba para buscar" open-direction="bottom" :options="destinos" :multiple="true" :searchable="true" :loading="buscandoMunicipios" :internal-search="false" :clear-on-select="true" :close-on-select="false" :options-limit="300" :limit="3" :limit-text="limitText" :max-height="600" :show-no-results="false" :hide-selected="false" @search-change="buscarMunicipioDestino" @remove="eliminarLocalidad">
                <template slot="tag" slot-scope="{ option, remove }">
									<span class="custom__tag">
										<span>{{ option.nombre }}</span>
										<span class="custom__remove" @click="remove(option)">
											<i class="fa fa-close"></i>
										</span>
									</span>
								</template>
                <template slot="clear" slot-scope="props">
                  <div class="multiselect__clear" v-if="municipiosDestino.length" @mousedown.prevent.stop="clearAll(props.search)"></div>
                </template>
								<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
                <template slot="noOptions">Comience a escribir para buscar.</template>
              </multiselect>
              <span class="invalid-feedback">{{ errors.first('Municipio Destino') }}</span>
            </div>
          </div>
          <div class="form-group row" v-show="viatico.estatal">
            <div class="col-sm-12">
              <label for="col-form-label">Localidad Destino</label>
              <multiselect
                :class="errors.first('Localidad') ? 'is-invalid': ''"
                name="Localidad"
                v-model="localidadesDestino" 
                :options="localidades" 
                :close-on-select="false"
                :clear-on-select="true"
                :preserve-search="false"
                placeholder="Busca o agrega la localidad"
                label="nombre"
                track-by="nombre"
                :preselect-first="false"
                :internal-search="false"
                @search-change="buscarLocalidadDestino"
                selectLabel="Enter para seleccionarlo"
                deselectLabel="Enter para deseleccionar"
                :taggable="false"
                tag-placeholder="Enter para agregar nueva presentación"
                @tag="agregarLocalidad" v-validate="viatico.estatal ? 'required' : ''"
                :block-keys="['Delete']"
                :multiple="true">
                  <template slot="noOptions">Comience a escribir para buscar.</template>
                  <template slot="noResult"><em style="color: #F2698D;">No tenemos registro con lo que estas buscando</em></template>
                </multiselect>
              <span class="invalid-feedback">{{ errors.first('Localidad') }}</span>
            </div>
          </div>
          <div class="form-group row" v-show="viatico.estatal == false">
            <div class="col-sm-12">
              <label for="col-form-label">Región Origen</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-bank"></i>
                  </span>
                </div>
                <select :class="['form-control', errors.first('Region Origen') ? 'is-invalid' : '']" v-model="viatico.region_origen" name="Region Origen" v-validate="viatico.estatal ?'' : 'required'">
                  <option v-for="region in viatico.regiones" :key="region.id" :value="region.id">{{region.nombre}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row" v-show="viatico.estatal == false">
            <div class="col-sm-12">
              <label for="col-form-label">Lugar Destino</label>
              <multiselect :class="errors.first('Entidad Destino') ? 'is-invalid': ''" v-model="viatico.entidad_destino" :options="viatico.entidades" value="'id'" label="destino" name="Entidad Destino" v-validate="!viatico.estatal ? 'required' : ''" :internal-search="false" :preserve-search="false" :clear-on-select="true" :block-keys="['Delete']" @search-change="buscarEntidadDestino" placeholder="Selecciona">
                <template slot="noOptions">Comience a escribir para buscar.</template>
                <template slot="noResult"><em style="color:red;">No tenemos registro con lo que estas buscando</em></template>
              </multiselect>
              <span class="invalid-feedback">{{ errors.first('Entidad Destino') }}</span>
            </div>
          </div>
          <div class="from-group row" v-show="viatico.estatal == false">
            <div class="col-sm-12">
              <label for="">Estado</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-building-o"></i>
                  </span>
                </div>
                <input type="text" class="form-control" name="Ciudad" readonly v-model="viatico.ciudad" v-validate="!viatico.estatal ? 'required' : ''">
              </div>
              <span class="invalid-feedback">{{ errors.first('Ciudad') }}</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="Transporte">Transporte</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-car"></i>
                  </span>
                </div>
                <select class="form-control" name="Transporte" v-model="viatico.tipotransporte" v-validate="'required'">
                  <option v-for="transporte in transportes" :key="transporte.id" :value="transporte.id">{{transporte.nombre}}</option>
                </select>
              </div>
              <span class="invalid-feedback">{{ errors.first('Transporte') }}</span>  
            </div>
          </div>
          <div class="form-group row" v-show="viatico.tipotransporte == 4 || viatico.tipotransporte == 5">
            <div class="col-sm-12">
              <label for="Placas">{{viatico.tipotransporte == 4 ? 'Especifique' : 'Placas (Si no tiene escriba solo "S/N"'}}</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-car"></i>
                  </span>
                </div>
                <input class="form-control" :name="viatico.tipotransporte == 4 ? 'Especifique' : 'Placas'" v-model="viatico.placas" v-validate="viatico.tipotransporte == 4 || viatico.tipotransporte == 5 ? 'required|max:50' : ''"/>
              </div>
              <span class="invalid-feedback">{{ errors.first('Placas') }}</span>
              <span class="invalid-feedback">{{ errors.first('Especifique') }}</span>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <label for="presentarse">Presentarse Con</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input type="text" class="form-control" name="Presentarse Con" v-model="presentarseCon" v-validate="'required'">
              </div>
            </div>
          </div>

        </div>

        <div class="tab-pane" id="profile2" role="tabpanel">
          <div class="row py-2">
            <div class="col-sm-12 d-flex justify-content-end">
              <button class="btn btn-primary btn-sm" @click="cargarPartidas" :disabled="cargandoPartidas">
                <i class="fa fa-refresh"></i>
              </button>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-8">
              <label class="col-form-label" for="appendedInputButton">Partida (s):</label>
              <multiselect v-model="partida_id" :options="partidas" label="etiqueta" :internal-search="true" :preserve-search="false" :clear-on-select="true" selectLabel="Enter para seleccionar" deselectLabel="Enter para deseleccionar" :showNoOptions="false" :block-keys="['Delete']" placeholder="Selecciona">
                <template slot="noOptions">Comience a escribir para buscar.</template>
                <template slot="noResult"><em style="color:red;">No tenemos registro con lo que estas buscando</em></template>
              </multiselect>
            </div>
            <div class="col-sm-4">
              <label class="col-form-label" for="appendedInputButton">Monto:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-usd"></i>
                  </span>
                </div>
                <input class="form-control" type="text" v-model="cantidad_partida">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-8">
              <label for="area">Descripción:</label>
              <textarea class="form-control" rows="6" v-model="partida_id.concepto"></textarea>
            </div>
            <div class="col-sm-4 d-flex flex-column">
              <label class="w-100" for="">Agregar:</label>
              <button class="btn btn-primary w-100" @click="agregarGasto({partida_id: partida_id.id, numero: partida_id.partida_especifica_c, etiqueta: partida_id.partida_especifica, monto: parseFloat(cantidad_partida)}, true)"><i class="fa fa-plus"></i> Gasto</button>
            </div>
          </div>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">Partida</th>
                <th class="text-center">Monto ($)</th>
                <th class="text-center">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="gasto in gastos" :key="gasto.partida_id">
                <td class="text-center">{{gasto.numero}}</td>
                <td class="text-center">{{gasto.etiqueta}}</td>
                <td class="text-center">{{gasto.monto}}</td>
                <td class="text-center"><button class="btn btn-danger btn-sm" @click.prevent="eliminarGastoTabla(gasto)" v-if="gasto.partida_id != 121"><i class="fa fa-trash"></i></button></td>
              </tr>
            </tbody>
          </table>
          
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="">Total:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-usd"></i>
                  </span>
                </div>
                <input :class="['form-control', errors.first('Monto Total') ? 'is-invalid' : '']" type="number" v-model="sumatoria" name="Monto Total" v-validate="'required_if:comidas,true|decimal'" disabled>
              </div>
              <span class="invalid-feedback">{{ errors.first('Monto Total') }}</span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <notifications group="foo"/>
    <div class="col-sm-12 my-2 d-flex flex-row-reverse" v-if="this.$store.getters.has(['ADMINISTRADOR', 'ENLACE', 'CAPTURISTA'])">
      <button class="btn btn-primary" @click="enviar" :disabled="imprimiendo">
        <i class="fa fa-save" v-show="!imprimiendo"></i>
        <span v-show="!imprimiendo">Guardar y Terminar</span>
        <i class="fa fa-spinner fa-pulse fa-fw" v-show="imprimiendo"></i>
        <span class="sr-only" v-show="imprimiendo">Creando reporte...</span>
        <span v-show="imprimiendo">Creando reporte...</span>
      </button>
    </div>
    
    <!-- <pre>
      {{errors.all()}}
    </pre> -->
  </div>
</template>

<script>

import axios from 'axios';
import moment from 'moment';
import Datepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';
import { Validator } from 'vee-validate';
import jsreport from 'jsreport-browser-client-dist';
import EventBUS from './../eventBUS';
import Empleado from './ext/Empleado';

Validator.extend('truthy', {
  getMessage: field => '' + field + ' no es una fecha válida.',
  validate: value => !! value
});
let instance = new Validator({ trueField: 'truthy' });
// Also there is an instance 'extend' method for convenience.
instance.extend('falsy', (value) => ! value);
instance.attach({
  name: 'falseField',
  rules: 'falsy'
});

export default {
  name: 'CrearViatico',
  components: { Datepicker, Empleado},
  data: () => ({
    tipopago: 'VIATICO',
    fondo: null,
    tramites: [{id: 1, nombre: 'FONDO ROTATORIO'}],
    es: es,
    programa_id: null,
    area: null,
    direccion: null,
    programas: [],
    empleado: null,
    empleados: [],
    cantidad: null,
    metodopago_id: null,
    metodos: [{ id: 1, tipo: 'EFECTIVO'}, { id: 2, tipo: 'TRANSFERENCIA' }],
    transportes: [{id: 1, nombre: 'N/A'},{ id:2, nombre: 'AUTOBUS'}, { id: 3, nombre: 'AVIÓN'}, { id:4,	nombre: 'OTRO'}, { id: 5, nombre: 'VEHÍCULO OFICIAL'}],
    autorizo: null,
    autorizo_id: null,
    vobo_id: null, //cambiar por el otro cuando es director
    vobo: null, //cambiar por el otro cuando es director
    clave: null,
    descripcion: null,
    viatico: {
      banco_id: null,
      ciudad: null,
      entidades: [],
      entidad_destino: null,
      estatal: true,
      tramite: null,
      regiones: [],
      region_origen: null,
      tipotransporte: null,
      placas: null
    },
    partida_id: { concepto: null },
    cantidad_partida: null,
    partidas: [],
    gastos: [],
    fecha_salida: '',
    fecha_regreso: '',
    origenes: [],
    destinos: [],
    localidades: [],
    origen_municipio: null,
    municipiosDestino: [],
    localidadesDestino: [],
    bancos: [],
    imprimiendo: false,
    presentarseCon: null,
    puesto: null,
    areapuesto: null,
    tarjeta: null,
    //UX
    cargandoPartidas: false,
		buscandoMunicipios: false,
		nombretitular:null,
		niveltitular:null,
		areatitular:null,
		areaFondo:null,
		respFondo:null,
    errorsServer: null
  }),
  mounted(){
    moment.locale('es-mx');
    axios.defaults.headers.common['bancadif-token'] = sessionStorage.getItem('bancadif_token');
    axios.get(`/fondorotatorio/regiones`).then(response => {
      this.viatico.regiones = response.data.data;
    }).catch(error => { console.log(error) });
    this.cargarPartidas();
    jsreport.serverUrl = sessionStorage.getItem('reporter_url');
    this.cargarFondo();
    this.cargarTramites(sessionStorage.getItem('area_id'));
    this.cargarBancos();
    EventBUS.$on('Empleado:Created', empleado => {
      this.empleado = empleado;
      $('#empleadoModal').modal('hide');
    });
    console.log(this.$store.tramite)
    if(this.$router.params) {
      let tramite = this.$router.params
      this.viatico.tramite = parseInt(tramite.asginacionpago[0].pivot.asignacion_id)
    }
  },
  watch: {
   empleado(val){
      if(val == null) return;
      // axios.get(`/fondorotatorio/firmas/${sessionStorage.getItem('area_id')}`).then(response => { 
      axios.get(`/fondorotatorio/firmas/${sessionStorage.getItem('area_id')}/${this.empleado.id}`).then(response => { 
        this.autorizo = response.data.data.autorizo.nombre ? `${response.data.data.autorizo.nombre} ${response.data.data.autorizo.primer_apellido} ${response.data.data.autorizo.segundo_apellido}` :response.data.data.autorizo.responsable_nombre;
				this.autorizo_id = response.data.data.autorizo.empleado_id;
				this.vobo = response.data.data.respFondo
				this.vobo_id = response.data.data.respIdEmpleado;
        this.puesto = `${response.data.data.autorizo.cargo}`;
        this.clave = response.data.data.clave;
        this.area =response.data.data.area;
				
      }).catch(error => { console.log(error) });
    },
    metodopago_id(val){
      if(val == 2){
        this.transferencia = true;
      }else{
        this.transferencia = false;
      }
    },
    municipiosDestino(val){
      if(val != null && this.municipiosDestino.length == 1 && this.origen_municipio != null){
        axios.get(`/fondorotatorio/cuotas/${this.origen_municipio.id}/${this.municipiosDestino[0].id}`).then(response => {
          this.viatico.cuota = parseFloat(response.data.data.cuota);
          if(this.gastos.length > 0)
            this.gastos = this.eliminarGasto(121);
          this.agregarGasto({partida_id: 121, numero: 374, etiqueta: '374 - VIATICOS EN EL PAIS', monto: this.num_dias * parseFloat(this.viatico.cuota)}, false);
        }).catch(error => { this.$notify({ group: 'foo', type: 'error', duration: 10000, title: 'Algo salio mal', text: `${error}.` }); });
      }
      if(this.municipiosDestino.length == 0){
        this.gastos = this.eliminarGasto(121);
      }
    },
    entidad_destino(val){
      if(val != null){
        if(this.gastos.length > 0)
          this.gastos = this.eliminarGasto(121);
        this.viatico.ciudad = this.viatico.entidad_destino.estado
        this.viatico.cuota = parseFloat(this.viatico.entidad_destino.cuota);
        this.agregarGasto({partida_id: 121, numero: 374, etiqueta: '374 - VIATICOS EN EL PAIS', monto: this.num_dias * parseFloat(this.viatico.cuota)}, false);
      }
    },
    estatal(val){
      console.log(val);
      this.gastos = [];
    },
    num_dias(val){
      if(this.gastos.length <= 0) return;
      let item = this.gastos.find(element => { return element.partida_id == 121; });
      item.monto = val * this.viatico.cuota;
    }
  },
  computed: {
    nivelResponsable(){
      if(this.puesto == 'JEFE DE UNIDAD') return `JEFE DE LA ${this.areapuesto}`;
      if(this.puesto == 'DIRECTOR') return `DIRECTOR DE LA ${this.areapuesto}`;
      return '';
    },
    estatal(){
      return this.viatico.estatal;
    },
    nacional: {
			get: function() {
				// console.log("getter called")
				return ! this.viatico.estatal
			},
			set: function(value) {
				// console.log("setter called with value", value)
				// this.$store.commit('updateValue', value)
        this.viatico.estatal = ! this.viatico.estatal;
        this.viatico.entidad_destino = null;
			}
    },
    entidad_destino(){
      return this.viatico.entidad_destino;
    },
    clavePresupuestal(){
      return this.clave != null ? this.clave.unidad.ur + '' + this.clave.unidad.ue : ''
    },
    sumatoria(){
      let total = 0;
      for(let i = 0; i < this.gastos.length; i++){
        total += parseFloat(this.gastos[i].monto);
      }
      return total;
    },
    num_dias(){
      // return moment(this.fecha_regreso) - moment(this.fecha_salida);
      // return moment(this.fecha_regreso, 'YYYY-MM-DD H:m:s').subtract(moment(this.fecha_salida, 'YYYY-MM-DD H:m:s'), 'days');
      return moment(this.fecha_regreso).diff(moment(this.fecha_salida), 'days') + 1;
    },
    monto_dias(){
      if(this.viatico.cuota == null) return 0;
      let monto = this.num_dias * parseFloat(this.viatico.cuota);
      return monto;
    }
  },
  methods: {
    cargarFondo(){
      let area_id = sessionStorage.getItem('area_id');
      axios.get(`/fondorotatorio/fondo/${area_id}`).then(response => {
        this.fondo = response.data.data;
      }).catch(error => {
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'No pudimos cargar el Fondo.',
          text: `${error.response.data.message ? error.response.data.message : error}.`
        });
      });
    },
    cargarTramites(area_id){
      axios.get(`/fondorotatorio/pagos/tramites/${area_id}/1`).then(response => {
        if(response.data.data.asignaciones.length > 0){
          this.$notify({
            group: 'foo',
            type: 'success',
            duration: 10000,
            title: 'Tiene disponible Gastos a Comprobar',
            text: `Si tiene dudas, contacte a Finanzas.`
          });
        }
        for(let i = 0; i < response.data.data.asignaciones.length; i++){
          this.tramites.push({id: response.data.data.asignaciones[i].id, nombre: response.data.data.asignaciones[i].gasto.nombre , tipo:response.data.data.asignaciones[i].tipo.nombre});
        }
      }).catch(error => {
        console.log(error);
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'Algo salio mal',
          text: `${error.response.data.message ? error.response.data.message : error}.`
        });
      });
    },
    cargarBancos() {
      axios.get(`/fondorotatorio/banco`).then(response => {
        this.bancos = response.data.data;
      }).catch(error => {
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'Algo salio mal',
          text: `${error.response.data.message ? error.response.data.message : error}.`
        });
      });
    },
    customFormatter(date) {
      return moment(date).format('YYYY-MM-DD');
    },
    comprobarGastos(){
      if(this.partida_id.id == null || this.cantidad_partida == null){
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'Seleccione primero la partida',
          text: `Despues agregue el monto.`
        });
        return true;
      } 
      for(let i = 0; i < this.gastos.length; i++){
        if(this.gastos[i].partida_id == this.partida_id.id){
          this.$notify({
            group: 'foo',
            type: 'error',
            duration: 10000,
            title: 'Partida ya existente',
            text: `Si lo requiere elimine y agregue nuevamente.`
          });
          return true;
        }
      }
    },
    async agregarGasto(partida, validar){
      if(validar && await this.comprobarGastos()){
        return;
      }
      await this.gastos.push(partida);
      this.cantidad_partida = null;
    },
    eliminarGasto(item){
      let nuevo = this.gastos.filter( e => e.partida_id !== item );
      return nuevo;
    },
    eliminarGastoTabla(item){
      let nuevos = this.gastos.filter( e => e.partida_id !== item.partida_id );
      this.gastos = [];
      this.gastos = nuevos;
    },
    buscarMunicipioOrigen(search){
      if(search.length < 3) return;
      axios.get(`/fondorotatorio/municipios/${search}`).then(response => { 
        this.origenes = response.data.data; 
      }).catch(error => { console.log(error) });
    },
		limitText (count) {
      return `and ${count} other countries`
    },
    buscarMunicipioDestino(search){
      if(search.length < 3) return;
			this.buscandoMunicipios = true;
      let url = `/fondorotatorio/municipios/${search}`;
      if(this.municipiosDestino.length > 0)
        url = `/fondorotatorio/municipios/${search}/${this.municipiosDestino[0].distrito.region_id}`;
      axios.get(url).then(response => { 
				this.buscandoMunicipios = false;
        this.destinos = response.data.data; 
      }).catch(error => { 
				this.buscandoMunicipios = false;
				console.log(error) });
    },
		eliminarLocalidad(option, id){
      let nuevasLocalidades = this.localidadesDestino;
      this.localidadesDestino = [];
      this.localidadesDestino = nuevasLocalidades.filter(element => element.municipio_id != option.id);
		},
		dispatchAction(actionName){
			console.log(actionName)
		},
    buscarLocalidadDestino(search){
      if(this.municipiosDestino.length <= 0){
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'Primero selecciona el municipio',
          text: ``
        });
        return;
      }
      if(search.length < 2) return;
      let municipios = '';
      for(let i = 0; i < this.municipiosDestino.length; i++){
        municipios += this.municipiosDestino[i].id + ',';
      }
      axios.get(`/fondorotatorio/municipios/${municipios}/localidades/${search}`).then(response => {
        this.localidades = response.data.data;
      }).catch(error => { console.log(error) });
    },
    buscarEntidadDestino(search){
      if(search != null && search.length < 3) return;
      axios.get(`/fondorotatorio/entidades/${search}`).then(response => {
        this.viatico.entidades = response.data.data;
      }).catch(error => { 
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'No pudimos cargar las entidades',
          text: `${response.data.message}.`
        });
      });
    },
    agregarLocalidad (newTag) {
      const tag = {
        nombre: newTag,
        id: Math.floor((Math.random() * 10000000)),
        nuevo: true
      };
      this.localidades.push(tag);
      this.localidadesDestino.push(tag);
    },
    formatearPlacas(placas){
      if(placas == null) return null;
      let placas2 = placas.replace('-', '');
      placas2 = placas2.toUpperCase();
			// placas2 = placas2.replace(/ /g, "");
			placas2 = placas2.trim();
      return placas2;
    },
    transporte(transporte_id) {
      for(let i = 0; i < this.transportes.length; i++){
        if(this.transportes[i].id == transporte_id){
          return this.transportes[i].nombre;
        }
      }
    },
    buscarPrograma(search){
      if(search.length < 3) return;
      let url = `/fondorotatorio/programas/${search}`;
      if(sessionStorage.getItem('area_id') == 15) url += '/true'
      axios.get(url).then(response => { 
        this.programas = response.data.data;
      }).catch(error => { console.log(error) });
    },
    buscarEmpleado(search){
      if(search.length < 3) return;
      axios.get(`/fondorotatorio/empleados/${search}`).then(response => { 
        this.empleados = response.data.data.map(item => {
          item.nombre_completo = `${item.persona.nombre} ${item.persona.primer_apellido} ${item.persona.segundo_apellido}`
          return item;
        });
      }).catch(error => { console.log(error) });
    },
    cargarPartidas(){
      this.cargandoPartidas = true;
      axios.get(`/fondorotatorio/partidas/?viaticos=true`).then(response => { 
        this.partidas = response.data.data.map(item => {
          item.etiqueta = `${item.partida_especifica_c} - ${item.partida_especifica}`;
          return item;
        });
        this.cargandoPartidas = false;
      }).catch(error => { console.log(error); this.cargandoPartidas = false; });
    },
    asyncArray(){
      let vm = this;
      return new Promise(function (fulfill, reject){
        vm.gastos.push({id: vm.partida_id.id, partida: vm.partida_id.etiqueta, monto: vm.cantidad_partida});
        fulfill();
      });
    },
    enviar(){
      this.imprimiendo = true;
			this.$validator.validate()
      .then(valid => {
        let datos = {
          asignacion_id: this.viatico.tramite != 1 ? this.viatico.tramite : 1,
          fondo_id: this.fondo.id,
          area_id: sessionStorage.getItem('area_id'),
          solicitante_empleado_id: this.empleado.id,
          monto_total: this.cantidad,
          descripcion: this.descripcion.toUpperCase(),
          metodopago_id: this.metodopago_id,
          tipopago_id: 1,
          tramite: this.viatico.tramite,
          autorizo: this.autorizo_id,
          vobo: this.vobo_id, 
          programa_id: this.programa_id.id,
          detalle: this.gastos,
          estado_programa_id: 1,
          viatico: true,
          estatal: this.viatico.estatal,
          clavepresupuestal_id: this.clave.id,
          fecha_salida: moment(this.fecha_salida).format('YYYY-MM-DD'),
          fecha_regreso: moment(this.fecha_regreso).format('YYYY-MM-DD'),
          transporte_id: this.viatico.tipotransporte,
          placas: this.formatearPlacas(this.viatico.placas),
          gastos_alimentarios: false,
          num_comidas: 0,
          monto_total: this.sumatoria,
          detalle: this.gastos,
          presentarse: this.presentarseCon
        }
        if(this.viatico.estatal){
          datos.origen_municipio_id = this.origen_municipio.id;
          datos.municipiosDestino = this.municipiosDestino;
          datos.localidades = this.localidadesDestino;
        }else{
          datos.destinociudad = this.viatico.entidad_destino.destino
          datos.destinoentidad_id = this.viatico.entidad_destino.id;
          datos.origenentidad_id = 20;
          datos.origenregion_id = this.viatico.region_origen;
        }
        if(this.viatico.tramite != 1){
          datos.tarjeta = this.tarjeta;
          datos.banco_id = this.viatico.banco_id;
        }
				if(valid) return axios.post('/fondorotatorio/pagos', datos);
				throw(valid);
			})
			.then(response => {
				// console.log('Axios');
				// console.log(response);
        this.$notify({ group: 'foo', type: 'success', duration: 10000, title: 'Viatico guardado correctamente', text: `Ya puede PAGAR su Viático.` });
        this.imprimiendo = false;
        this.limpiar();
			})
			.catch(error => {
        this.imprimiendo = false;
				// console.log('Error');
				// console.log(error);
        if(error === false){
          this.$notify({group: 'foo', type: 'error', duration: 10000, title: 'Campos inválidos', text: `Revise los campos porfavor.`});
        }else if(error.response){
          switch(error.response.status) {
            case 500:
              this.$notify({group: 'foo', type: 'error', duration: 10000, title: 'Error de servidor', text: `Disculpe los inconvenientes. Llame a informática`});
              console.log(error.response.data.file);
              console.log(error.response.data.line);
              console.log(error.response.data.trace);
              break;
            case 403:
              this.$notify({group: 'foo', type: 'error', duration: 10000, title: 'Tenemos un problema', text: `${error.response.data.message}`});
              break;
            case 404:
              this.$notify({group: 'foo', type: 'error', duration: 10000, title: 'Error: 404 No Encontrado', text: `${error.response.data.message}`});
              break;
            case 480:
              this.$notify({group: 'foo', type: 'error', duration: 10000, title: 'Error de validación', text: `Tenemos datos incorrectos o faltantes.`});
              this.errorsServer = error.response.data.message;
              break;
          }
        }
			});
    },
    imprimirViatico(data){
      let municipios = '';
      let region = '';
      let cuota = this.gastos.find(element => element.partida_id == 121 ).monto / this.num_dias;
      let area = data.nuevaArea ? data.nuevaArea.nombre : this.empleado.area.nombre;
      console.log(area);
      // let area =  this.empleado.area.nombre;
      if(data.viatico.tipo == 'ESTATAL'){
        municipios = data.viatico.estatal.map(element => element.localidad).reduce((beforeElement, afterElement)  => beforeElement + `, ${afterElement}`);
        region = this.municipiosDestino[0].distrito.region.nombre;
      }else{
        municipios = data.viatico.nacional.destinociudad;
        region = 'OTRAS CIUDADES'; //OTRAS ESTADOS
        if(cuota == 1000) region = 'OTROS ESTADOS';
      }
      let request = {
        template:{
          shortid: 'S1egcjOBCE'
        },
        header: {
          Authorization : "Basic YWRtaW46MjFxd2VydHk0Mw=="
        },
        data:{
          folio: data.pago.folio,
          clave: this.clavePresupuestal,
          fecha: moment(data.pago.fecha_elaboracion).format('DD-MMMM-YYYY').toUpperCase(),
          empleado: this.empleado.nombre_completo,
          cargo: this.empleado.nivel.nivel,
          area: area,
          municipio: municipios,
          region: region,
          objeto: data.pago.descripcion,
          inicio: moment(data.viatico.fecha_salida).format('DD-MMMM-YYYY').toUpperCase(),
          fin: moment(data.viatico.fecha_regreso).format('DD-MMMM-YYYY').toUpperCase(),
          cuota: cuota,
          letra: convertir.NumerosALetras(this.viatico.cuota).toUpperCase(),
          total: this.gastos.find(element => element.partida_id == 121 ).monto,
          letraTotal: convertir.NumerosALetras( this.gastos.find(element => element.partida_id == 121 ).monto).toUpperCase(),
          transporte: this.transporte(this.viatico.tipotransporte),
          placas: this.formatearPlacas(this.viatico.placas),
          autoriza: this.empleado.titular == 1 ? this.nombretitular : this.vobo, 
          direccion: this.empleado.titular == 1 ? this.area_nombre : this.direccion,
          numero: data.pago.folio,
          dias: this.num_dias,
          rfc: this.empleado.rfc,
          presentarse: this.presentarseCon
        }
      };
      jsreport.renderAsync(request).then((res) => {
        res.download(`Viatico-${data.pago.folio}.pdf`)
        this.imprimirVale(data);
      }).catch(error => { console.log(error); });
      // jsreport.download('viatico.pdf', request);
    },
    imprimirVale(data){
      let area = data.nuevaArea ? data.nuevaArea : this.empleado.area.nombre;
      let request = {
        template:{
          shortid: this.viatico.tramite == 1 ? "SJgqB93IAN" : "B1gufHR_XH" //fondorotatorio/pago
        },
        header: {
          Authorization : "Basic YWRtaW46MjFxd2VydHk0Mw=="
        },
        data:{
          pago: {
            folio: data.pago.folio,
            nombre_responsable: this.respFondo,
            nivel_responsable:  this.areaFondo,
            nombre_solicitante: this.empleado.nombre_completo,
            nivel_solicitante: this.empleado.nivel.nivel,
            rfc_solicitante: this.empleado.rfc,
            area_solicitante: area,
            viaticos: this.gastos.map((item) => { return { partida: { partida_especifica: `${item.etiqueta}` }, monto: item.monto} }),
            total: this.sumatoria,
            fecha: moment(data.pago.fecha_elaboracion).format('DD [DE] MMMM [DE] YYYY').toUpperCase(),
            cantida_letras: convertir.NumerosALetras(this.sumatoria).toUpperCase(),
            descripcion: data.pago.descripcion,
            // vobo_nombre: this.vobo,
						// vobo_area: this.area.nombre,
						vobo_nombre: this.autorizo,
            vobo_area: this.areapuesto
          },
        }
      };
      jsreport.renderAsync(request).then((res) => {
        res.download(`Pago-${data.pago.folio}.pdf`)
        this.limpiar();
        this.imprimiendo = false;
      });
    },
    limpiar(){
      this.tramite = null;
      this.solicitante_empleado_id = null;
      this.empleado = null;
      this.clave = null;
      this.descripcion = null;
      this.metodopago_id = null;
      this.autorizo = null;
      this.autorizo_id = null;
      this.vobo = null; //cambiar por el otro cuando es director
      this.vobo_id = null; //cambiar por el otro cuando es director
      this.programa_id = null;
      this.empleado_id = null;
      this.partida_id = { concepto: null };
      this.origen_municipio = null;
      this.fecha_salida = '';
      this.fecha_regreso = '';
      this.municipiosDestino = [];
      this.localidadesDestino = [];
      this.programas = [];
      this.gastos = [];
      this.empleados = [];
      this.origenes = [];
      this.destinos = [];
      this.localidades = [];
      this.tarjeta = null;
      this.viatico.banco_id = null;
      this.viatico.estatal = true;
      this.viatico.region_origen = null;
      this.viatico.entidad_destino = null;
      this.viatico.tipotransporte = null;
      this.viatico.placas = null;
      this.direccion = null;
      this.presentarseCon = null;
      this.$validator.reset();
    }
  }
}
</script>

<style>
.table-bordered .table-invalid{
  border-color: 1px solid #f86c6b;
}
.cursor{
  cursor: pointer;
}
.tab-content .tab-pane {
  padding-top: 0;
}
.settings{
  background-color: #98579B;
}
.settings button {
  color: #98579B;
}
.custom__tag{
	background-color: #41b883;
	border-radius: 5px;
	color: #fff;
	margin-right: 3px;
	padding: 1px 2px 1px 2px;
}
.custom__remove{
	font-size: 12px;
	margin-left: 3px;
	padding: 1px 2px 1px 2px;
}
.custom__remove:hover{
	background-color: #369a6e
}
</style>