<template>
  <div class="crear-gasto row">
    <div class="modal fade" id="empleadoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Agregar nuevo empleado</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <Empleado></Empleado>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active show" data-toggle="tab" href="#home2" role="tab" aria-controls="home" aria-selected="true">
            <i class="icon-calculator"></i>Trámite
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile" aria-selected="false">
            <i class="icon-basket-loaded"></i>Gastos
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active show" id="home2" role="tabpanel">
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="area">Tipo de Pago:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-file-text-o"></i>
                  </span>
                </div>
                <input class="form-control" type="text" v-model="tipopago" disabled name="tipopago" v-validate="'required'">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <label for="tramite">Tipo Trámite</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-car"></i>
                  </span>
                </div>
                <select class="form-control" name="Trámite" v-model="tramite" v-validate="'required'">
                  <option v-for="tramite in tramites" :key="tramite.id" :value="tramite.id">{{tramite.nombre}}</option>
                </select>
              </div>
              <span class="invalid-feedback">{{ errors.first('Trámite') }}</span>  
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12 col-md-9">
              <label for="area">Empleado:</label>
              <multiselect :class="errors.first('Empleado') ? 'is-invalid': ''" v-model="empleado_id" :options="empleados" value="'id'" label="nombre_completo" name="Empleado" v-validate="'required'" :internal-search="false" :preserve-search="false" :clear-on-select="true" @search-change="buscarEmpleado" :block-keys="['Delete']" placeholder="Escribe para empezar a buscar">
                <template slot="noOptions">Comience a escribir para buscar.</template>
                <template slot="noResult"><em style="color:red;">No tenemos registro con lo que estas buscando</em></template>
              </multiselect>
              <span class="invalid-feedback">{{ errors.first('Empleado') }}</span>
            </div>
            <div class="col-sm-12 col-md-3">
              <label for="">Agregalo sino lo encuentras</label>
              <button class="btn btn-secondary btn-block" type="button" data-toggle="modal" data-target="#empleadoModal">Nuevo Empleado</button>
            </div>
          </div>

          <div class="form-group row" v-if="tramite != null && tramite != 1">
            <div class="col-sm-6">
              <label for="Banco">Banco</label>
              <select class="form-control" name="Banco" v-model="banco_id" v-validate="tramite != 1 && tramite != null ? 'required': ''">
                <option v-for="banco in bancos" :key="banco.id" :value="banco.id">{{banco.nombre}}</option>
              </select>
              <span class="invalid-feedback">{{ errors.first('Banco') }}</span>
            </div>
            <div class="col-sm-6">
              <label for="tarjeta">Número Tarjeta</label>
              <input class="form-control" type="text" name="Tarjeta" v-model="tarjeta" v-validate="tramite != 1 && tramite != null ? 'required|min:11|max:16': ''">
              <span class="invalid-feedback">{{ errors.first('Tarjeta') }}</span>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="clave">Clave Presupuestal:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-file-text-o"></i>
                  </span>
                </div>
                <input class="form-control" type="text" v-model="clavePresupuestal" disabled name="clave" v-validate="'required'">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <label class="col-form-label" for="appendedInputButton">Programa:</label>
              <multiselect :class="errors.first('Programa') ? 'is-invalid': ''" v-model="programa_id" :options="programas" name="Programa" v-validate="'required'" label="nombre" :internal-search="false" :preserve-search="false" :clear-on-select="true" @search-change="buscarPrograma" :block-keys="['Delete']" placeholder="Escribe para empezar a buscar">
                <template slot="noOptions">Comience a escribir para buscar.</template>
                <template slot="noResult"><em style="color:red;">No tenemos registro con lo que estas buscando</em></template>
              </multiselect>
              <span class="invalid-feedback">{{ errors.first('Programa') }}</span>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <label for="area">Descripción:</label>
              <textarea :class="['form-control', errors.first('Descripcion') ? 'is-invalid' : '']" rows="4" v-model="descripcion" name="Descripcion" v-validate="'required|max:255'"></textarea>
              <span class="invalid-feedback">{{ errors.first('Descripcion') }}</span>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <label for="area">Autorizo:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <input :class="['form-control', errors.first('Autorizo') ? 'is-invalid' : '']" type="text" v-model="autorizo_id" readonly name="Autorizo" v-validate="'required'">
              </div>
              <span class="invalid-feedback">{{ errors.first('Autorizo') }}</span>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="area">Vo Bo:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-user-circle-o"></i>
                  </span>
                </div>
                <input :class="['form-control', errors.first('Visto Bueno') ? 'is-invalid' : '']" type="text" v-model="vobo_id" readonly name="Visto Bueno" v-validate="'required'">
              </div>
              <span class="invalid-feedback">{{ errors.first('Visto Bueno') }}</span>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="profile2" role="tabpanel">
          <div class="form-group row">
            <div class="col-sm-12">
              <label class="col-form-label" for="appendedInputButton">Partida:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-hotel"></i>
                  </span>
                </div>
                <select :class="['form-control']" v-model="partida_id" name="Partida" v-validate="'required'">
                  <option v-for="tipo in partidas" :key="tipo.id" :value="tipo.id" selected>{{tipo.etiqueta}}</option>
                </select>
                <span class="invalid-feedback">{{ errors.first('Partida') }}</span>
              </div>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-sm-12 col-md-4">
              <label for="col-form-label">Fecha de Salida</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <datepicker :language="es" v-model="fecha_salida" :format="customFormatter" name="Fecha Salida" v-validate="'required'"></datepicker>              
                <span class="invalid-feedback">{{ errors.first('Fecha Salida') }}</span>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <label for="col-form-label">Fecha de Regreso</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <datepicker :language="es" v-model="fecha_regreso" :format="customFormatter" name="Fecha Regreso" v-validate="'required'"></datepicker>
                <span class="invalid-feedback">{{ errors.first('Fecha Regreso') }}</span>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <label for="">Num Días</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <input :class="['form-control', errors.first('Dias') ? 'is-invalid' : '']" type="text" v-model="num_dias" readonly>
                <span class="invalid-feedback">{{ errors.first('Dias') }}</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="col-form-label">Lugar de Salida</label>
              <multiselect :class="errors.first('Municipio de Salida') ? 'is-invalid': ''" v-model="origen_municipio" :options="origenes" value="'id'" label="nombre" name="Municipio de Salida" v-validate="'required'" :internal-search="false" :preserve-search="false" :clear-on-select="true" @search-change="buscarMunicipioOrigen" :block-keys="['Delete']" placeholder="Escribe para empezar a buscar">
                <template slot="noOptions">Comience a escribir para buscar.</template>
                <template slot="noResult"><em style="color:red;">No tenemos registro con lo que estas buscando</em></template>
              </multiselect>
              <span class="invalid-feedback">{{ errors.first('Municipio de Salida') }}</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="col-form-label">Lugar Destino</label>
              <multiselect :class="errors.first('Municipio Destino') ? 'is-invalid': ''" track-by="id" v-model="municipiosDestino" :options="destinos" value="'id'" label="nombre" name="Municipio Destino" v-validate="'required'" :internal-search="false" :preserve-search="false" :clear-on-select="true" @search-change="buscarMunicipioDestino" :block-keys="['Delete']" :multiple="true" :max="3" @close="onTouch" maxElements="Solo puedes seleccionar 1. Eliminalo para seleccionar otro." placeholder="Escribe para empezar a buscar" @remove="eliminarLocalidad">
                <template slot="noOptions">Comience a escribir para buscar.</template>
                <template slot="noResult"><em style="color:red;">No tenemos registro con lo que estas buscando</em></template>
                <template slot="maxElements">Sólo se permite un elemento seleccionado</template>
              </multiselect>
              <span class="invalid-feedback">{{ errors.first('Municipio Destino') }}</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="col-form-label">Localidad Destino</label>
              <multiselect
                :class="errors.first('Localidad') ? 'is-invalid': ''"
                name="Localidad"
                v-model="localidadesDestino" 
                :options="localidades" 
                :close-on-select="false"
                :clear-on-select="true"
                :preserve-search="false"
                label="nombre"
                track-by="nombre"
                :preselect-first="false"
                :internal-search="false"
                @search-change="buscarLocalidadDestino"
                selectLabel="Enter para seleccionarlo"
                deselectLabel="Enter para deseleccionar"
                :taggable="true"
                tag-placeholder="Enter para agregar nueva presentación"
                @tag="agregarLocalidad" v-validate="'required'" :block-keys="['Delete']" :multiple="true" placeholder="Escribe para empezar a buscar">
                <template slot="noOptions">Comience a escribir para buscar.</template>
                <template slot="noResult"><em style="color:red;">No tenemos registro con lo que estas buscando</em></template>
              </multiselect>
              <span class="invalid-feedback">{{ errors.first('Localidad') }}</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="area">Número de comidas:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-user-circle-o"></i>
                  </span>
                </div>
                <input :class="['form-control', errors.first('Numero de comidas') ? 'is-invalid' : '']" type="number" v-model="num_comidas" name="Numero de comidas" v-validate="`required|integer|between:1,${max}`">
              </div>
              <span class="invalid-feedback">{{ errors.first('Numero de comidas') }}</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="presentarse">Presentarse Con</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input type="text" class="form-control" name="Presentarse Con" v-model="presentarseCon" v-validate="'required'">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="">Total:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-usd"></i>
                  </span>
                </div>
                <input :class="['form-control', errors.first('Monto Total') ? 'is-invalid' : '']" type="number" v-model="monto_total" name="Monto Total" v-validate="'required|decimal'" disabled>
              </div>
              <span class="invalid-feedback">{{ errors.first('Monto Total') }}</span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <notifications group="foo"/>
    <div class="col-sm-12 my-2 d-flex flex-row-reverse" v-if="this.$store.getters.has(['ADMINISTRADOR', 'ENLACE', 'CAPTURISTA'])">
      <button class="btn btn-primary" @click="enviar" :disabled="imprimiendo">
        <i class="fa fa-save" v-show="!imprimiendo"></i>
        <span v-show="!imprimiendo">Guardar y Terminar</span>
        <i class="fa fa-spinner fa-pulse fa-fw" v-show="imprimiendo"></i>
        <span class="sr-only" v-show="imprimiendo">Creando reporte...</span>
        <span v-show="imprimiendo">Creando reporte...</span>
      </button>
    </div>
    <!-- <pre>
      {{errors.all()}}
    </pre> -->
  </div>
</template>

<script>

import axios from 'axios';
import Datepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';
import moment from 'moment';
import jsreport from 'jsreport-browser-client-dist';
import EventBUS from './../eventBUS';
import Empleado from './ext/Empleado';

export default {
  name: 'CrearGasto',
  components: { Datepicker, Empleado },
  data: () => ({
    tipopago: 'GASTOS EN COMISIÓN',
    es: es,
    empleado_id: null,
    empleados: [],
    clave: null,
    programa_id: null,
    programas: [],
    cantidad: null,
    metodopago_id: null,
    metodos: [{ id: 1, tipo: 'EFECTIVO'}, { id: 2, tipo: 'TRANSFERENCIA' }],
    autorizo_id: null,
    autorizo: null,
    puesto: null,
    areapuesto: null,
    vobo_id: null,
    vobo: null,
    descripcion: null,
    partida_id: { concepto: null },
    cantidad_partida: null,
    banco_id: null,
    num_tarjeta: null,
    partidas: [],
    gastos: [],
    fecha_salida: '',
    fecha_regreso: '',
    origenes: [],
    destinos: [],
    localidades: [],
    origen_municipio: null,
    municipiosDestino: [],
    localidadesDestino: [],
    bancos: [],
    localidad: null,
    num_comidas: 0,
    tramites: [{id: 1, nombre: 'FONDO ROTATORIO'}],
    tramite: null,
    fondo_id: null,
    area: null,
    direccion: null,
    imprimiendo: false,
		presentarseCon: null,
		areaFondo:null,
		respFondo:null
  }),
  mounted(){
    moment.locale('es-mx');
    axios.defaults.headers.common['bancadif-token'] = sessionStorage.getItem('bancadif_token');
    jsreport.serverUrl = sessionStorage.getItem('reporter_url');
    this.buscarPartida();
    this.cargarFondo(sessionStorage.getItem('area_id'));
    this.cargarTramites(sessionStorage.getItem('area_id'));
    this.cargarBancos();
    EventBUS.$on('Empleado:Created', empleado => {
      console.log(empleado);
      this.empleado = empleado;
      $('#empleadoModal').modal('hide');
    });
  },
  watch: {
    empleado_id(val){
      console.log(val);
      if(val == null) return;
      // axios.get(`/fondorotatorio/firmas/${sessionStorage.getItem('area_id')}`).then(response => { 
      axios.get(`/fondorotatorio/firmas/${sessionStorage.getItem('area_id')}/${this.empleado_id.id}`).then(response => { 
        this.autorizo_id = response.data.data.autorizo.nombre ? `${response.data.data.autorizo.nombre} ${response.data.data.autorizo.primer_apellido} ${response.data.data.autorizo.segundo_apellido}` :response.data.data.autorizo.responsable_nombre;
        this.autorizo = response.data.data.autorizo.empleado_id;
        this.puesto =`${response.data.data.autorizo.cargo}`;
        this.vobo_id = response.data.data.respFondo
        this.vobo = response.data.data.respIdEmpleado;
        this.clave = response.data.data.clave;
        this.area = response.data.data.area;
      }).catch(error => { console.log(error) }); 
    },
    metodopago_id(val){
      if(val == 2){
        this.transferencia = true;
      }else{
        this.transferencia = false;
      }
    }
  },
  computed: {
    nivelResponsable(){
      if(this.puesto == 'JEFE DE UNIDAD') return `JEFE DE LA ${this.areapuesto}`;
      if(this.puesto == 'DIRECTOR') return `DIRECTOR DE LA ${this.areapuesto}`;
      return '';
    },
    clavePresupuestal(){
      return this.clave != null ? this.clave.unidad.ur + '' + this.clave.unidad.ue : ''
    },
    sumatoria(){
      let total = 0;
      for(let i = 0; i < this.gastos.length; i++){
        total += parseFloat(this.gastos[i].monto);
      }
      return total;
    },
    max(){
      return this.num_dias * 3;
    },
    num_dias(){
      return moment(this.fecha_regreso).diff(moment(this.fecha_salida), 'days') + 1;
    },
    monto_total(){
      return this.num_comidas * 102.68;
    }
  },
  methods: {
    onTouch () {
      this.isTouched = true
    },
    cargarFondo(area_id){
      axios.get(`/fondorotatorio/fondo/${area_id}`).then(response => {
        this.fondo = response.data.data;
      }).catch(error => {
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'No pudimos cargar el Fondo. Recargue la pagina o avise a Sistemas',
          text: `${error}.`
        });
      });
    },
    customFormatter(date) {
      return moment(date).format('YYYY-MM-DD');
    },
    cargarTramites(area_id){
      axios.get(`/fondorotatorio/pagos/tramites/${area_id}/3`).then(response => {
        if(response.data.data.asignaciones.length > 0){
          this.$notify({
            group: 'foo',
            type: 'success',
            duration: 10000,
            title: 'Tiene disponible Gastos a Comprobar',
            text: `Si tiene dudas, contacte a Finanzas.`
          });
        }
        for(let i = 0; i < response.data.data.asignaciones.length; i++){
          this.tramites.push({id: response.data.data.asignaciones[i].id, nombre: response.data.data.asignaciones[i].gasto.nombre});
        }
      }).catch(error => {
        console.log(error);
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'Algo salio mal',
          text: `${error}.`
        });
      });
    },
    cargarBancos() {
      axios.get(`/fondorotatorio/banco`).then(response => {
        this.bancos = response.data.data;
      }).catch(error => {
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'Algo salio mal',
          text: `${error.response.data.message ? error.response.data.message : error}.`
        });
      });
    },
    buscarEmpleado(search){
      if(search.length < 3) return;
      axios.get(`/fondorotatorio/empleados/${search}`).then(response => { 
        this.empleados = response.data.data.map(item => {
          item.nombre_completo = `${item.persona.nombre} ${item.persona.primer_apellido} ${item.persona.segundo_apellido}`
          return item;
        }); 
      }).catch(error => { console.log(error) });
    },
    buscarMunicipioOrigen(search){
      if(search.length < 3) return;
      axios.get(`/fondorotatorio/municipios/${search}`).then(response => { 
        this.origenes = response.data.data; 
      }).catch(error => { console.log(error) });
    },
    buscarMunicipioDestino(search){
      if(search.length < 3) return;
      axios.get(`/fondorotatorio/municipios/${search}`).then(response => { 
        this.destinos = response.data.data; 
      }).catch(error => { console.log(error) });
    },
    buscarLocalidadDestino(search){
      if(search.length < 2) return;
      if(this.municipiosDestino.length <= 0){
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'Seleccione el municipios destino',
          text: ``
        });
        return;
      }
      let municipios = '';
      for(let i = 0; i < this.municipiosDestino.length; i++){
        municipios += this.municipiosDestino[i].id + ',';
      }
      axios.get(`/fondorotatorio/municipios/${municipios}/localidades/${search}`).then(response => {
        this.localidades = response.data.data;
      }).catch(error => { console.log(error) });
    },
    agregarLocalidad (newTag) {
      const tag = {
        nombre: newTag,
        id: Math.floor((Math.random() * 10000000)),
        nuevo: true
      };
      this.localidades.push(tag);
      this.localidadesDestino.push(tag);
    },
    buscarPrograma(search){
      if(search.length < 3) return;
      let url = `/fondorotatorio/programas/${search}`;
      if(sessionStorage.getItem('area_id') == 15) url += '/true'
      axios.get(url).then(response => { 
        this.programas = response.data.data;
      }).catch(error => { console.log(error) });
    },
    buscarPartida(){
      axios.get(`/fondorotatorio/partidas/378`).then(response => { 
        this.partidas = response.data.data.map(item => {
          item.etiqueta = `${item.partida_especifica_c} - ${item.partida_especifica}`;
          return item;
        });
        this.partida_id = response.data.data[0].id;
      }).catch(error => { console.log(error) });
    },
    enviar(){
      this.$validator.validate().then(valid => {
        if (!valid) {
          this.$notify({
            group: 'foo',
            type: 'error',
            duration: 10000,
            title: 'Campos inválidos',
            text: `Revise los campos porfavor.`
          });
          return;
        }
        this.gastos = [];
        this.gastos.push({partida_id: this.partida_id, monto: this.monto_total, etiqueta: this.partidas[0].etiqueta});
        let datos = {
          asignacion_id: this.tramite != 1 ? this.tramite : 1,
          area_id: sessionStorage.getItem('area_id'),
          tramite: this.tramite != 1 ? this.tramite : 1,
          fondo_id: this.fondo.id,
          solicitante_empleado_id: this.empleado_id.id,
          monto_total: this.cantidad,
          descripcion: this.descripcion.toUpperCase(),
          metodopago_id: this.transferencia ? 2 : 1,
          tipopago_id: 3,
          clavepresupuestal_id: this.clave.id,
          autorizo: this.autorizo,
          vobo: this.vobo,
          programa_id: this.programa_id.id,
          detalle: this.gastos,
          estado_programa_id: 1,
          viatico: false,
          estatal: true,
          origen_municipio_id: this.origen_municipio.id,
          municipiosDestino: this.municipiosDestino,
          fecha_salida: moment(this.fecha_salida).format('YYYY-MM-DD'),
          fecha_regreso: moment(this.fecha_regreso).format('YYYY-MM-DD'),
          localidad: this.localidad,
          localidades: this.localidadesDestino,
          gastos_alimentarios: true,
          num_comidas: this.num_comidas,
          monto_total: this.monto_total,
          detalle: this.gastos,
          presentarse: this.presentarseCon
        };
        if(this.tramite != 1){
          datos.tarjeta = this.tarjeta;
          datos.banco_id = this.banco_id;
        }
        this.imprimiendo = true;
        axios.post('/fondorotatorio/pagos', datos).then(response => {
          this.$notify({
            group: 'foo',
            type: 'success',
            duration: 10000,
            title: 'Gasto guardado correctamente',
            text: `Ya puede ENVIAR su Gasto en comisión.`
          });
          // this.imprimirGasto(response.data.data);
          this.imprimiendo = false;
          this.limpiar();
          // this.limpiar();
        }).catch(error => {
          console.log(error);
          this.$notify({
            group: 'foo',
            type: 'error',
            duration: 10000,
            title: 'Oops! Algo salio mal',
            text: `${error}.`
          });
          this.imprimiendo = false;
        });
      });
    },
    imprimirGasto(data){
      let inicio = moment(data.viatico.fecha_salida).format('DD-MMMM-YYYY').toUpperCase();
      let fin = moment(data.viatico.fecha_regreso).format('DD-MMMM-YYYY').toUpperCase();
      let request = {
        template:{
          shortid: 'H1gun435xr'
        },
        header: {
          Authorization : "Basic YWRtaW46MjFxd2VydHk0Mw=="
        },
        data:{
          folio: data.pago.folio,
          clave: this.clavePresupuestal,
          fecha: moment(data.pago.fecha_elaboracion).format('DD-MMMM-YYYY').toUpperCase(),
          empleado: this.empleado_id.nombre_completo,
          cargo: this.empleado_id.nivel.nivel,
          area: this.empleado_id.area.nombre,
          municipio: data.viatico.estatal.map(element => element.localidad).reduce((beforeElement, afterElement)  => beforeElement + `, ${afterElement}`),
          region: this.municipiosDestino[0].distrito.region.nombre,
          objeto: data.pago.descripcion,
          inicio: inicio,
          fin: fin,
          cuota: this.monto_total,
          letra: convertir.NumerosALetras(this.monto_total).toUpperCase(),
          autoriza: this.vobo_id,
          direccion: this.direccion,
          numero: data.pago.folio,
          dias: this.num_dias,
          rfc: this.empleado_id.rfc,
          direccion: this.direccion,
          presentarse: this.presentarseCon.toUpperCase()
        }
      };
      jsreport.renderAsync(request).then((res) => {
        res.download(`Gasto-${data.pago.folio}.pdf`)
        this.imprimirVale(data);
      });
    },
    imprimirVale(data){
      let request = {
        template:{
          shortid: this.tramite == 1 ? "SJgqB93IAN" : "B1gufHR_XH" //fondorotatorio/pago
        },
        header: {
          Authorization : "Basic YWRtaW46MjFxd2VydHk0Mw=="
        },
        data:{
          pago: {
            folio: data.pago.folio,
            num_viatico: '',
            // nombre_responsable: this.autorizo_id,
						// nivel_responsable: this.nivelResponsable,
						nombre_responsable: this.respFondo,
            nivel_responsable:  this.areaFondo,
            nombre_solicitante: this.empleado_id.nombre_completo,
            nivel_solicitante: this.empleado_id.nivel.nivel,
            rfc_solicitante: this.empleado_id.rfc,
            area_solicitante: this.empleado_id.area.nombre,
            viaticos: this.gastos.map((item) => { return { partida: { partida_especifica: `${item.etiqueta}` }, monto: item.monto} }),
            total: this.monto_total,
            fecha: moment(data.pago.fecha_elaboracion).format('DD [DE] MMMM [DE] YYYY').toUpperCase(),
            cantida_letras: convertir.NumerosALetras(this.monto_total).toUpperCase(),
            descripcion: data.pago.descripcion,
            vobo_nombre: this.autorizo_id,
            vobo_area: this.areapuesto
          },
        }
      };
      // jsreport.download(`recibo-${data.pago.folio}.pdf`, request);
      jsreport.renderAsync(request).then((res) => {
        res.download(`Pago-${data.pago.folio}.pdf`)
        this.limpiar();
        this.imprimiendo = false;
      });
    },
    limpiar(){
      this.solicitante_empleado_id = null;
      this.descripcion = null;
      this.metodopago_id = null;
      this.autorizo = null;
      this.autorizo_id = null;
      this.vobo = null;
      this.vobo_id = null;
      this.programa_id = null;
      this.origen_municipio = null;
      this.banco_id = null;
      this.num_tarjeta = null;
      this.tramite = null;
      this.municipiosDestino = [];
      this.localidadesDestino = [];
      this.cuota = null;
      this.fecha_salida = '';
      this.fecha_regreso = '';
      this.localidad = null;
      this.programas = [];
      this.gastos = [];
      this.empleados = [];
      this.origenes = [];
      this.destinos = [];
      this.num_comidas = 0;
      this.empleado_id = null;
      this.presentarseCon = null;
      this.$validator.reset();
    }
  }
}
</script>

<style>
.table-bordered .table-invalid{
  border-color: 1px solid #f86c6b;
}
</style>