<template>
  <div class="home">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-info card-color-1">
          <div class="card-body">
            <button class="btn btn-transparent p-0 float-right" type="button">
              <i class="fa fa-usd"></i>
            </button>
            <div v-if="cargando"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></div>
            <div v-else class="text-value">{{total_techo}}</div>
            <div>Total Techo Presupuestal</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-info card-color-2">
          <div class="card-body">
            <button class="btn btn-transparent p-0 float-right" type="button">
              <i class="fa fa-usd"></i>
            </button>
            <div v-if="cargando"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></div>
            <div v-else class="text-value">{{formatPesos(total_asignaciones)}}</div>
            <div>Total Asignaciones</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-info card-color-3">
          <div class="card-body">
            <button class="btn btn-transparent p-0 float-right" type="button">
              <i class="fa fa-usd"></i>
            </button>
            <div class="text-value">{{formatPesos(total_comprobado)}}</div>
            <div>Total Comprobado</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-info card-color-4">
          <div class="card-body">
            <button class="btn btn-transparent p-0 float-right" type="button">
              <i class="fa fa-building"></i>
            </button>
            <div v-if="cargando"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></div>
            <div v-else class="text-value">{{tableData.length}}</div>
            <div>Areas Fondo Rotatorio</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-accent-primary">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Areas Fondo Rotatorio
            <div class="card-header-actions">
              <button class="card-header-action btn-setting" @click="openModalAgregarArea()">
                <i class="fa fa-plus-square"></i> Agregar Area
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="row" style="justify-content: space-between;">
              <div class="col-sm-12 col-lg-5">
                <div class="input-group">
                  <input
                    class="form-control"
                    id="input-buscar"
                    type="text"
                    name="input-buscar"
                    v-model="search"
                    @input="searchquery"
                    :disabled="cargando"
                  >
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-search"></i>&nbsp; Buscar
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-4">
                <div class="form-group row" style="justify-content: flex-end;">
                  <label
                    class="col-md-3 col-form-label"
                    for="select1"
                    style="text-align: right;"
                  >Filas:</label>
                  <div class="col-md-4 col-xl-3">
                    <select
                      class="form-control"
                      name="select1"
                      @change="onChange($event)"
                      :disabled="cargando"
                      v-model="select"
                    >
                      <option>5</option>
                      <option>10</option>
                      <option>25</option>
                      <option>50</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <v-client-table
                  v-if="!cargando"
                  :data="tableData"
                  :columns="columns"
                  :options="options"
                  ref="areasFondo"
                >
                  <button
                    slot="id"
                    slot-scope="props"
                    @click="administrarArea(props.row.id)"
                    class="btn btn-brand btn-sm btn-primary"
                    type="button"
                    style="margin-bottom: 4px"
                  >
                    <i class="fa fa-share-square-o"></i>
                  </button>
                  <span
                    slot="enlace"
                    slot-scope="props"
                    v-if="props.row.enlace == '' || props.row.enlace == null"
                    class="badge badge-warm"
                  >Pendiente</span>
                  <span slot="enlace" slot-scope="props" v-else>{{props.row.enlace}}</span>
                  <span slot="techo" slot-scope="props">$ {{formatPesos(props.row.techo)}}</span>
                </v-client-table>
                <div v-else class="loader">
                  <div style="width:100%;height:100%" class="lds-ripple">
                    <div></div>
                    <div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <notifications group="foo"/>
    <div class="md-modal" v-bind:class="{ 'md-show': showModal }">
      <div class="md-content">
        <AgregarArea></AgregarArea>
      </div>
    </div>
    <div class="md-overlay"></div>
  </div>
</template>

<script>
import EventBUS from "../eventBUS.js";
import axios from "axios";
import AgregarArea from "./AgregarArea";

export default {
  name: "Home",
  components: {
    AgregarArea
  },
  data: () => ({
    cargando: false,
    search: "",
    select:5,
    showModal: false,
    options: {
      headings: {
        area: "Area",
        techo: "Techo Presupuestal",
        enlace: "Enlace Financiero",
        id: "Administrar"
      },
      sortIcon: {
        is: "fa-sort",
        base: "fa",
        up: "fa-sort-asc",
        down: "fa-sort-desc"
      },
      texts: {
        count:
          " {from} a {to} de {count} registros|{count} Registros|Un Registro",
        first: "First",
        last: "Last",
        filter: "Filtrar:",
        filterPlaceholder: "Buscar",
        limit: "Registros:",
        page: "Pagina:",
        noResults: "No se econtraron registros",
        filterBy: "Filtro por {column}",
        loading: "Cargando...",
        defaultOption: "Seleccionado {column}",
        columns: "Columnas"
      },
      columnsClasses: {
        id: "center-cl"
      },
      sortable: ["area", "enlace", "techo"],
      filterable: ["area", "enlace"]
    },
    columns: ["area", "techo", "enlace", "id"],
    tableData: [],
    total_techo: '0',
		total_asignaciones: 0,
		total_comprobado:0
  }),
  created() {
    axios.defaults.headers.common["bancadif-token"] = sessionStorage.getItem(
      "bancadif_token"
    );
    EventBUS.$on("ModalAgregarArea:Open", () => {
      this.openModalAgregarArea();
    });
    EventBUS.$on("ModalAgregarArea:Close", () => {
      this.closeModalAgregarArea();
    });
    EventBUS.$on("TablaAreasFondo:Refresh", () => {
      this.cargarAreasFondo();
    });
  },
  mounted() {
    // axios.get("/fondorotatorio/rotatorio").then(r => {console.log(r)}).catch(e =>  {console.log(e)});
    this.cargarAreasFondo();
  },
  methods: {
    async cargarAreasFondo() {
      this.cargando = true;
      this.$refs.areasFondo.setLimit(this.select);
      await axios
        .get("/fondorotatorio/rotatorio")
        .then(r => {
          if (r.status === 200) {
            // console.log(r);
            this.total_techo = this.formatPesos(r.data.data.map(e => Number.parseInt(e.techo_presupuestal)).reduce((valAnt,ValAct,i,v) => valAnt + ValAct));
            var x = r.data.data.map(e => e.asignaciones).filter( e => e.length);
            if(x.length) {
							this.total_asignaciones = r.data.data.map(e => e.asignaciones).filter( e => e.length).map(e => { return e.map(e =>Number.parseFloat( e.monto)).reduce((valAnt,ValAct,i,v) => valAnt + ValAct)}).reduce((valAnt,ValAct,i,v) => valAnt + ValAct);
							this.total_comprobado = r.data.data.map(e => e.asignaciones).filter( e => e.length).map(e => { return e.map(e =>e.tipo.nombre == 'RECUPERACION' ? Number.parseFloat( e.monto) :0 ).reduce((valAnt,ValAct,i,v) => valAnt + ValAct)}).reduce((valAnt,ValAct,i,v) => valAnt + ValAct);
            }
            this.tableData = r.data.data.map(e => {
              return {
                id: e.area.area_id,
                area: e.area.nombre,
                techo: e.techo_presupuestal,
                enlace: e.enlace.nombre
              };
            });
          } else {
            alert("Error Al cargar Areas-Fondo Rotatorio");
          }
          this.cargando = false;
        })
        .catch(e => {
          console.log(e);
          this.cargando = false;
        });
      this.$refs.areasFondo.setLimit(this.select);
    },
    administrarArea(area_id) {
      this.$router.push(`/adminfinan/${area_id}`);
      this.$router.replace(`/adminfinan/${area_id}`);
    },
    formatPesos(n) {
      return new Intl.NumberFormat("en-ES").format(n);
    },
    openModalAgregarArea() {
      this.showModal = true;
    },
    closeModalAgregarArea() {
      this.showModal = false;
    },
    searchquery() {
      this.$refs.areasFondo.setFilter(this.search);
    },
    onChange(event) {
      this.$refs.areasFondo.setLimit(event.target.value);
    }
  }
};
</script>

<style lang="scss">
.home {
  .loader {
    display: flex;
    justify-content: center;
  }

  .table-hover tbody tr:hover {
    color: #23282c;
    background-color: rgb(215, 215, 215) !important;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.03);
  }

  @keyframes lds-ripple {
    0% {
      top: 92px;
      left: 92px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -4px;
      left: -4px;
      width: 192px;
      height: 192px;
      opacity: 0;
    }
  }
  @-webkit-keyframes lds-ripple {
    0% {
      top: 92px;
      left: 92px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -4px;
      left: -4px;
      width: 192px;
      height: 192px;
      opacity: 0;
    }
  }
  .lds-ripple {
    position: relative;
  }
  .lds-ripple div {
    box-sizing: content-box;
    position: absolute;
    border-width: 8px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    -webkit-animation: lds-ripple 1.1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation: lds-ripple 1.1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(1) {
    border-color: #98579b;
  }
  .lds-ripple div:nth-child(2) {
    border-color: #d12654;
    -webkit-animation-delay: -0.55s;
    animation-delay: -0.55s;
  }
  .lds-ripple {
    width: 100px !important;
    height: 100px !important;
    -webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
    transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
  }

  button.card-header-action.btn-setting {
    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .center-cl {
    text-align: center;
  }

  .md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    z-index: 9100;
    height: auto;
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .md-show {
    visibility: visible;
  }

  .md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 9000;
    opacity: 0;
    background: rgba(47, 53, 58, 0.85);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
  }

  .md-modal .md-content {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-70deg);
    -moz-transform: rotateX(-70deg);
    -ms-transform: rotateX(-70deg);
    transform: rotateX(-70deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
  }

  .md-show .md-content {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
  }

  #input-buscar:focus~.input-group-append .input-group-text{
    transition: all 0.3s;
    color: #ffffff !important;
    background-color: #d12654 !important;
    border-color: #991d3e !important;
  }
}
</style>


