<template>
  <div class="admin-enlace">
    <div v-show="cargando" class="loader">
      <div style="width:100%;height:100%" class="lds-interwind">
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12"  v-if="this.$store.getters.has(['FINANCIERO','ADMINISTRADOR'])">
        <div class="card card-accent-primary">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Proveedores
			<div class="card-header-actions">
				<button class="card-header-action btn-setting" @click.prevent="modal()"><i class="fa fa-plus-square"></i> Agregar Proveedor</button>
			</div>
          </div>
					
          <div class="card-body">
            <div class="row">   
				<div class="col-md-8">
					<button type="button" class="btn btn-danger" @click.prevent="lista(), search = null"><i class="fa fa-refresh"></i></button>
				</div>
              <div class="col-md-4">
					<div class="input-group">
						<input
							class="form-control"
							id="input-buscar"
							type="text"
							name="input-buscar"
							v-model="search"
							:disabled="cargando"
						>
						<div class="input-group-append" >
							<span class="input-group-text" @click.prevent="searchquery">
								<i class="fa fa-search"></i>&nbsp; Buscar
							</span>
						</div>
					</div>
              </div>       
              <div class="col-md-12">
					<v-client-table 
						:data="listProveedores"
						:columns="columnsTable"
						:options="optionsTable"
						
						ref="dataPagos">
						<span slot="id" slot-scope="props">{{props.index}}</span>
						<span slot="monto" slot-scope="props">$ {{formatPesos(props.row.monto)}}</span>
						<span slot="fecha" slot-scope="props">{{formatFecha(props.row.fecha)}}</span>
						<span slot="estatus" slot-scope="props" :class="props.row.estatus == 'RECHAZADO'?'badge badge-danger badge-pill': props.row.estatus == 'ENVIADO A COMPROBACION' ? 'badge badge-success badge-pill':'badge badge-light badge-pill'">{{props.row.estatus}}</span>
						<template slot="opciones" slot-scope="props">
							
							<button
								v-if="$store.getters.has(['FINANCIERO','ADMINISTRADOR'])"
								class="btn btn-brand btn-sm btn-primary"
								type="button"
								style="margin-bottom: 4px"
								title="Eliminar"
								@click.prevent="eliminar(props.row)"
							>
								<i class="fa fa-trash"></i>
							</button> 
							<button
								v-if="$store.getters.has(['FINANCIERO','ADMINISTRADOR'])"
								class="btn btn-brand btn-sm btn-warning"
								type="button"
								style="margin-bottom: 4px"
								title="Editar"
								:disabled="bloqueado"
								@click.prevent="edit(props.row.id)"
							>
								<i class="fa fa-edit"></i>
							</button>
						</template>
					</v-client-table>
				</div>
            </div>
          </div>
        </div>
      </div>

			<!-- inicio modal -->
			<div class="modal modal-primary fade" id="modalProveedor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Proveedor</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
									<form role="form">
										<div class="box-body">
											<div class="form-group">
												<label for="nombre">Nombre</label>
												<input type="text" name="nombre" placeholder="Nombre Proveedor" v-validate="'required'" :class="['form-control', errors.first('nombre') ? 'is-invalid' : '']" v-model="proveedor.nombre">
												<span class="invalid-feedback">{{ errors.first('nombre') }}</span>
											</div>
											<div class="form-group">
												<label for="nombre">RFC</label>
												<input type="text" name="RFC" placeholder="RFC" v-validate="'required|max:13'" :class="['form-control', errors.first('RFC') ? 'is-invalid' : '']" v-model="proveedor.rfc">
												<span class="invalid-feedback">{{ errors.first('RFC') }}</span>
											</div>
											<div class="form-group">
												<label for="nombre">Correo</label>
												<input type="email" name="correo" placeholder="Corrreo" v-validate="'required|email'" :class="['form-control', errors.first('correo') ? 'is-invalid' : '']" v-model="proveedor.correo">
												<span class="invalid-feedback">{{ errors.first('correo') }}</span>
											</div>
											<div class="form-group">
												<label for="nombre">Calle</label>
												<input type="text" name="calle" placeholder="Calle" v-validate="'required'" :class="['form-control', errors.first('calle') ? 'is-invalid' : '']" v-model="proveedor.calle">
												<span class="invalid-feedback">{{ errors.first('calle') }}</span>
											</div>
											<div class="form-group">
												<label for="nombre">Colonia</label>
												<input type="text" name="colonia" placeholder="Colonia" v-validate="'required'" :class="['form-control', errors.first('colonia') ? 'is-invalid' : '']" v-model="proveedor.colonia">
												<span class="invalid-feedback">{{ errors.first('colonia') }}</span>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label for="nombre">Municipio</label>
														<multiselect :class="errors.first('Municipio') ? 'is-invalid': ''" v-model="proveedor.municipio" :options="municipios" value="'id'" label="nombre" name="Municipio" v-validate="'required'" :preserve-search="false" :clear-on-select="true" @search-change="buscarMunicipio" :block-keys="['Delete']" placeholder="Selecciona">
															<template slot="noOptions">Comience a escribir para buscar.</template>
															<template slot="noResult"><em style="color: #F2698D;">No tenemos registro con lo que estas buscando</em></template>
														</multiselect>
														<span class="invalid-feedback">{{ errors.first('Municipio') }}</span>
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<label for="nombre">Localidad</label>
														<multiselect
															:class="errors.first('Localidad') ? 'is-invalid': ''"
															name="Localidad"
															v-model="proveedor.localidad" 
															:options="localidades" 
															:close-on-select="true"
															:clear-on-select="true"
															:preserve-search="false"
															placeholder="Busca o agrega la localidad"
															label="nombre"
															track-by="nombre"
															:preselect-first="false"
															:internal-search="false"
															@search-change="buscarLocalidad"
															selectLabel="Enter para seleccionarlo"
															deselectLabel="Enter para deseleccionar"
															:taggable="false"
															tag-placeholder="Enter para agregar nueva presentación"
															v-validate= "'required'"
															:block-keys="['Delete']"
															>
																<template slot="noOptions">Comience a escribir para buscar.</template>
																<template slot="noResult"><em style="color: #F2698D;">No tenemos registro con lo que estas buscando</em></template>
															</multiselect>
														<span class="invalid-feedback">{{ errors.first('Localidad') }}</span>
													</div>
												</div>

												<div class="col-md-4">
														<div class="form-group">
															<label for="nombre">No.Int.</label>
															<input type="text" name="No.Interior" placeholder="Numero Interior" :class="['form-control', errors.first('No.Interior') ? 'is-invalid' : '']" v-model="proveedor.noInt">
															<span class="invalid-feedback">{{ errors.first('No.Interior') }}</span>
														</div>
												</div>
												<div class="col-md-4">
														<div class="form-group">
															<label for="nombre">No.Ext.</label>
															<input type="text" name="No.Exterior" placeholder="Numero Exterior" v-validate="'required'" :class="['form-control', errors.first('No.Exterior') ? 'is-invalid' : '']" v-model="proveedor.noExt">
															<span class="invalid-feedback">{{ errors.first('No.Exterior') }}</span>
														</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="nombre">Codigo Postal</label>
														<input type="text" name="cp" placeholder="Codigo Postal" v-validate="'required|digits:5'" :class="['form-control', errors.first('cp') ? 'is-invalid' : '']" v-model="proveedor.cp">
														<span class="invalid-feedback">{{ errors.first('cp') }}</span>
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<label for="nombre">Guardar En</label>
														<select name="gurdado" :class="['form-control', errors.first('guardado') ? 'is-invalid' : '']" v-model="proveedor.guardado" v-validate="'required'">
															<option value="0">Ambos</option>
															<option value="1">Sistema Fondo</option>
														</select>
														<span class="invalid-feedback">{{ errors.first('guardado') }}</span>
													</div>
												</div>
											</div>
										</div>
										<div class="box-footer">
											<button @click.prevent="saveProveedor" class="btn btn-success" :disabled="bloqueado" v-if="!edicion">Guardar</button>
											<button @click.prevent="updateProveedor" class="btn btn-success" :disabled="bloqueado" v-if="edicion">Actualizar</button>
											<button class="btn btn-primary" :disabled="bloqueado" data-dismiss="modal" aria-label="Close">Cancelar</button>
										</div>
									</form>
                </div>
              </div>
            </div>
          </div>
        </div>
    	</div>
<!-- Fin modal -->
			
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import toastr from 'toastr';
import Swal from 'sweetalert2';
import jsreport from 'jsreport-browser-client-dist';
import { Validator } from 'vee-validate';
export default {
  name: "Proveedores",
  data: () => ({
		cargando:false,
		edicion:false,
		bloqueado:false,
		listProveedores :[],
		search:null,
		optionsTable: {
      headings: {
        id: "#",
        monto: "Monto",
        fecha: "Fecha"
      },
      sortIcon: {
        is: "fa-sort",
        base: "fa",
        up: "fa-sort-asc",
        down: "fa-sort-desc"
      },
      texts: {
        count:
          " {from} a {to} de {count} registros|{count} Registros|Un Registro",
        first: "First",
        last: "Last",
        filter: "Filtrar:",
        filterPlaceholder: "Buscar",
        limit: "Registros:",
        page: "Pagina:",
        noResults: "No se econtraron coincidencias",
        filterBy: "Filtro por {column}",
        loading: "Cargando...",
        defaultOption: "Seleccionado {column}",
        columns: "Columnas"
			},
			filterByColumn: true,
      columnsClasses: {
        id: "center-cl"
      },
      sortable: ["nombre", "rfc","correo"],
      filterable: ["nombre", "rfc","correo"]
    }, 
		columnsTable: ["nombre","correo","rfc","opciones"],
		municipios:[],
		localidades:[],
		proveedor:{
			nombre:null,
			rfc:null,
			correo:null,
			calle:null,
			colonia:null,
			municipio:null,
			localidad:null,
			noInt:null,
			noExt:null,
			cp:null,
			tipo:'PROVEEDOR',
			guardado:0
		}

  }),
  computed: {
    
  },
  created(){
    axios.defaults.headers.common["bancadif-token"] = sessionStorage.getItem("bancadif_token");
    this.area_id = sessionStorage.getItem("area_id");
  },
  mounted(){
    jsreport.serverUrl = sessionStorage.getItem('reporter_url');
		moment.locale('es-mx');
		this.lista();
  },
  methods: {
		lista(){
			let me = this;
			 axios.get(`/fondorotatorio/proveedores/lista/${0}`).then(r => {
        this.listProveedores = r.data.reverse();
        this.cargando = false;
      }).catch(e => {
        toastr.error(e.response.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
        this.cargando = false;
      });
		},
		modal(){
			let me = this;

			me.proveedor.nombre=null,
			me.proveedor.rfc=null,
			me.proveedor.correo=null,
			me.proveedor.calle=null,
			me.proveedor.colonia=null,
			me.proveedor.municipio=null,
			me.proveedor.localidad=null,
			me.proveedor.noInt=null,
			me.proveedor.noExt=null,
			me.proveedor.cp=null,
			me.proveedor.guardado=0,
			me.proveedor.tipo='PROVEEDOR',
			me.municipios = [],
			me.localidades = [],
			me.edicion = false,
			me.$validator.reset();
			$('#modalProveedor').modal('show');
		},
		buscarMunicipio(search){
      if(search.length < 3) return;
      axios.get(`/fondorotatorio/municipios/${search}`).then(response => { 
        this.municipios = response.data.data; 
      }).catch(error => { console.log(error) });
		},
		buscarLocalidad(search){
      if(this.municipios.length <= 0) return toastr.error('Ingrese municipio', 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true});
      if(search.length < 2) return;
      let municipios = '';
      for(let i = 0; i < this.municipios.length; i++){
        municipios += this.municipios[i].id + ',';
      }
      axios.get(`/fondorotatorio/municipios/${municipios}/localidades/${search}`).then(response => {
        this.localidades = response.data.data;
      }).catch(error => { console.log(error) });
		},
		saveProveedor(){
			let me = this;
			this.$validator.validateAll().then((result) => {
				if(result) {
					me.bloqueado = true
					axios.post(`/fondorotatorio/proveedores/save`,me.proveedor).then(r => {
						me.bloqueado = false
						if (r.status === 200) {  
							$('#modalProveedor').modal('hide');
							toastr.success(r.data.message, 'bien', {timeOut: 5000, preventDuplicates: true,progressBar: true})
							me.lista();
						}
					}).catch(error => {me.bloqueado = false, toastr.error(error.response.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true}) });
				}
				else					
					return toastr.error('Existen campos vacios', 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true});
			});
		},
		edit(id){
			let me = this;
			me.bloqueado = true
			axios.get(`/fondorotatorio/proveedores/edit/${id}`).then(r =>{
				me.bloqueado = false
				me.modal();
				me.proveedor = r.data.data;
				me.edicion = true
			}).catch(e => {
				me.bloqueado = false
				toastr.error(e.response.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
			})
		},
		updateProveedor(){
			let me = this;
			this.$validator.validateAll().then((result) => {
				if(result) {
					me.bloqueado = true
					axios.put(`/fondorotatorio/proveedores/update/${me.proveedor.id}`,me.proveedor).then(r => {
						me.bloqueado = false
						if (r.status === 200) {  
							$('#modalProveedor').modal('hide');
							toastr.success(r.data.message, 'bien', {timeOut: 5000, preventDuplicates: true,progressBar: true})
							me.lista();
						}
					}).catch(error => {me.bloqueado = false, toastr.error(error.response.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true}) });
				}
				else					
					return toastr.error('Existen campos vacios', 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true});
			});
		},
    formatPesos(n) {
      return new Intl.NumberFormat("en-ES").format(n);
    },
    formatFecha(date){
      return moment(date).format('DD/MM/YYYY');
    },
    searchquery() {
			let me = this;
			me.cargando = true
			 axios.get(`/fondorotatorio/proveedores/lista/${me.search}`).then(r => {
				 this.cargando = false;
				 if(r.data.length)
					this.listProveedores = r.data.reverse();
				 else
				 	toastr.info('Sin Resultados', 'No se encontraron coincidencias', {timeOut: 5000, preventDuplicates: true,progressBar: true})

      }).catch(e => {
        toastr.error(e.response.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
        this.cargando = false;
      });
		},
		    	
  },

}
</script>

<style lang="scss" scoped>
.admin-enlace {
  color: black;
  button.card-header-action.btn-setting {
    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .loader {
    display: flex;
    justify-content: center;
    z-index: 9999;
  }

  @keyframes lds-interwind {
      0%,
      100% {
        animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
      }
      50% {
        animation-timing-function: cubic-bezier(0, 0.2, 1, 0.8);
      }
      0% {
        -webkit-transform: rotate(0deg) translate(0, -20px) scale(0);
        transform: rotate(0deg) translate(0, -20px) scale(0);
      }
      50% {
        -webkit-transform: rotate(180deg) translate(0, -20px) scale(1);
        transform: rotate(180deg) translate(0, -20px) scale(1);
      }
      100% {
        -webkit-transform: rotate(360deg) translate(0, -20px) scale(0);
        transform: rotate(360deg) translate(0, -20px) scale(0);
      }
    }
    @-webkit-keyframes lds-interwind {
      0%,
      100% {
        animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
      }
      50% {
        animation-timing-function: cubic-bezier(0, 0.2, 1, 0.8);
      }
      0% {
        -webkit-transform: rotate(0deg) translate(0, -20px) scale(0);
        transform: rotate(0deg) translate(0, -20px) scale(0);
      }
      50% {
        -webkit-transform: rotate(180deg) translate(0, -20px) scale(1);
        transform: rotate(180deg) translate(0, -20px) scale(1);
      }
      100% {
        -webkit-transform: rotate(360deg) translate(0, -20px) scale(0);
        transform: rotate(360deg) translate(0, -20px) scale(0);
      }
    }
    div.lds-interwind {
      position: relative;
    }
    div.lds-interwind div {
      position: absolute;
      top: 70px;
      left: 70px;
      -webkit-animation: lds-interwind 1s linear infinite;
      animation: lds-interwind 1s linear infinite;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #d12654;
    }
    div.lds-interwind div:last-child {
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
      background: #98579b;
    }
    .lds-interwind {
      width: 76px !important;
      height: 76px !important;
      -webkit-transform: translate(-38px, -38px) scale(0.38)
        translate(38px, 38px);
      transform: translate(-38px, -38px) scale(0.38) translate(38px, 38px);
    }
}
</style>