<template>
  <div class="admin-enlace">
    <div v-show="cargando" class="loader">
      <div style="width:100%;height:100%" class="lds-interwind">
        <div></div>
        <div></div>
      </div>
    </div>
    

    <div class="row">
      <div class="col-lg-12">
        <div class="card card-accent-primary">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Reintegros
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-8"></div>
              <div class="col-md-4">
                <div>
                  <div class="input-group">
                    <input
                      class="form-control"
                      id="input-buscar"
                      type="text"
                      name="input-buscar"
                      v-model="search"
                      @input="searchquery"
                      :disabled="cargando"
                    >
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-search"></i>&nbsp; Buscar
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <v-client-table 
                    :data="dataReintegros"
                    :columns="columnsTable"
                    :options="optionsTable"
                    ref="dataReintegros">
                    <span slot="id" slot-scope="props">{{props.index}}</span>
                    <span slot="cantidad" slot-scope="props"> $ {{formatPesos(props.row.cantidad)}}</span>
                    <span slot="fecha" slot-scope="props">{{formatFecha(props.row.fecha)}}</span>
                    <span slot="estatus" slot-scope="props" :class="props.row.estatus == 'RECHAZADO'?'badge badge-danger badge-pill': props.row.estatus == 'ENVIADO A COMPROBACION' ? 'badge badge-success badge-pill':'badge badge-light badge-pill'">{{props.row.estatus}}</span>
                    <template slot="opciones" slot-scope="props">
                      <button
                        :disabled="cargando"
                        v-if="$store.getters.has(['CAJA','ADMINISTRADOR'])"
                        class="btn btn-brand btn-sm btn-primary"
                        type="button"
                        style="margin-bottom: 4px"
                        title="Imprimir"
                        @click.prevent="printReintegro(props.row)"
                      >
                        <i class="fa fa-print"></i>
                      </button>                        
                    </template>
                  </v-client-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import toastr from 'toastr';
import Swal from 'sweetalert2';
import jsreport from 'jsreport-browser-client-dist';
export default {
  name: "Reintegros",
  data: () => ({  
    area_id: null,
    cargando:true,
    datosArea: {},
    total_asignaciones: 0,
    total_caja: 0,
    search:null,
    optionsTable: {
      headings: {
        id: "#",
        monto: "Monto",
        fecha: "Fecha"
      },
      sortIcon: {
        is: "fa-sort",
        base: "fa",
        up: "fa-sort-asc",
        down: "fa-sort-desc"
      },
      texts: {
        count:
          " {from} a {to} de {count} registros|{count} Registros|Un Registro",
        first: "First",
        last: "Last",
        filter: "Filtrar:",
        filterPlaceholder: "Buscar",
        limit: "Registros:",
        page: "Pagina:",
        noResults: "No se econtraron coincidencias",
        filterBy: "Filtro por {column}",
        loading: "Cargando...",
        defaultOption: "Seleccionado {column}",
        columns: "Columnas"
      },
      columnsClasses: {
        id: "center-cl"
      },
      sortable: ["folio", "cantidad", "fecha","foliopago"],
      filterable: ["folio", "cantidad", "fecha","foliopago"]
    }, 
    columnsTable: ["folio","cantidad", "fecha","foliopago","opciones"],
    dataReintegros:[],
    impresionReintegro: false,
    reintegro: {
      id: null,
      folio: null,
      cantidad: 0.0
    }
  }),
  computed: {
    
  },
  created(){
    axios.defaults.headers.common["bancadif-token"] = sessionStorage.getItem("bancadif_token");
    this.area_id = sessionStorage.getItem("area_id");
  },
  mounted(){
    jsreport.serverUrl = sessionStorage.getItem('reporter_url');
    this.listReintegros();
    moment.locale('es-mx');
  },
  methods: {
    listReintegros(){
      let me = this;
      axios.get(`/fondorotatorio/reintegros/lista/${sessionStorage.getItem("usuario_id")}`).then(r => {
        this.dataReintegros = r.data.data;
        this.cargando = false;
      }).catch(e => {
        toastr.error(e, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
        this.cargando = false;
      });
    },
    
    formatPesos(n) {
      return new Intl.NumberFormat("en-ES").format(n);
    },
    formatFecha(date){
      return moment(date).format('DD/MM/YYYY');
    },
    searchquery() {
      this.$refs.dataReintegros.setFilter(this.search);
    },
    mostrarModal(pago){
      $('#reintegroModal').modal('show');
      this.reintegro.id = pago.id;
      this.reintegro.folio = pago.folio;
    },
    printReintegro(data){
      let me = this;
      this.cargando = true;
      axios.get(`/fondorotatorio/reintegros/find/${data.id}`).then(r => {
        let request = {
          template:{
          shortid: 'rJlvu3DvMH'
          },
          header: {
          Authorization : "Basic YWRtaW46MjFxd2VydHk0Mw=="
          },
          data:{
          folio: r.data.data.folio,
          direccion: r.data.data.areaFondo,
          empleado: r.data.data.empleado,
          area: r.data.data.empleadoArea,
          cantidad: r.data.data.cantidad,
          recibo: r.data.data.folioPago,
          fecha: moment(r.data.data.fechaPago).format('DD [DE] MMMM [DE] YYYY').toUpperCase(),
          total: Number(r.data.data.montoPago).toFixed(2),
          responsable: `AMADA DE LA CRUZ SANTIAGO MORA`,
          fecha_actual: moment().format('DD [DE] MMMM [DE] YYYY').toUpperCase(),
          interno:''
          }
        };
        jsreport.renderAsync(request).then((res) => {
            res.download(`Reintegro-${r.data.data.folio}.pdf`)
            me.cargando = false;
        }).catch(error => { console.log(error);
            this.$notify({
            group: 'foo',
            type: 'error',
            duration: 10000,
            title: 'Ocurrio un error',
            text: `${error}`
            });
        });
        
      }).catch(e => {
          toastr.error(e, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
          this.cargando = false;
      });     
	  },
  },

}
</script>

<style lang="scss" scoped>
.admin-enlace {
  color: black;
  button.card-header-action.btn-setting {
    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .loader {
    display: flex;
    justify-content: center;
    z-index: 9999;
  }

  @keyframes lds-interwind {
      0%,
      100% {
        animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
      }
      50% {
        animation-timing-function: cubic-bezier(0, 0.2, 1, 0.8);
      }
      0% {
        -webkit-transform: rotate(0deg) translate(0, -20px) scale(0);
        transform: rotate(0deg) translate(0, -20px) scale(0);
      }
      50% {
        -webkit-transform: rotate(180deg) translate(0, -20px) scale(1);
        transform: rotate(180deg) translate(0, -20px) scale(1);
      }
      100% {
        -webkit-transform: rotate(360deg) translate(0, -20px) scale(0);
        transform: rotate(360deg) translate(0, -20px) scale(0);
      }
    }
    @-webkit-keyframes lds-interwind {
      0%,
      100% {
        animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
      }
      50% {
        animation-timing-function: cubic-bezier(0, 0.2, 1, 0.8);
      }
      0% {
        -webkit-transform: rotate(0deg) translate(0, -20px) scale(0);
        transform: rotate(0deg) translate(0, -20px) scale(0);
      }
      50% {
        -webkit-transform: rotate(180deg) translate(0, -20px) scale(1);
        transform: rotate(180deg) translate(0, -20px) scale(1);
      }
      100% {
        -webkit-transform: rotate(360deg) translate(0, -20px) scale(0);
        transform: rotate(360deg) translate(0, -20px) scale(0);
      }
    }
    div.lds-interwind {
      position: relative;
    }
    div.lds-interwind div {
      position: absolute;
      top: 70px;
      left: 70px;
      -webkit-animation: lds-interwind 1s linear infinite;
      animation: lds-interwind 1s linear infinite;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #d12654;
    }
    div.lds-interwind div:last-child {
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
      background: #98579b;
    }
    .lds-interwind {
      width: 76px !important;
      height: 76px !important;
      -webkit-transform: translate(-38px, -38px) scale(0.38)
        translate(38px, 38px);
      transform: translate(-38px, -38px) scale(0.38) translate(38px, 38px);
    }
}
</style>