<template>
  <div class="admin-enlace">
    <div v-show="cargando" class="loader">
      <div style="width:100%;height:100%" class="lds-interwind">
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12"  v-if="this.$store.getters.has(['FINANCIERO','ADMINISTRADOR'])">
        <div class="card card-accent-primary">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Reportes
          </div>
          <div class="card-body">
            <div class="row">          
              <div class="col-md-4 text-center">
                <p><b> Gastos por Comprobar</b></p> <br>
								<button class="btn btn-success btn-ladda ladda-button" data-style="expand-left" @click.prevent="reporteGastos" :disabled="imprimiendo"><span class="ladda-label">Reporte </span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
			<div class="col-lg-12">
        <div class="card card-accent-primary">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Reportes caja
          </div>
          <div class="card-body">
            <div class="row">          
              <div class="col-md-12 text-center">
                <p><b> Gastos por Comprobar semanal</b></p> <br>
								<div class="row">
									<div class="col-md-2">
										<div class="form-group">
											<label>Fecha Inicio</label>
											<input type="date" class="form-control" v-model="fechaInicio">
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<label>Fecha Fin</label>
											<input type="date" class="form-control" v-model="fechaFin">
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<br>
											<button class="btn btn-success btn-ladda ladda-button" data-style="expand-left" @click.prevent="gastoSemanal" :disabled="imprimiendo"><span class="ladda-label">Reporte </span></button>
										</div>
									</div>
								</div>
								
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import toastr from 'toastr';
import Swal from 'sweetalert2';
import jsreport from 'jsreport-browser-client-dist';
export default {
  name: "Reportes",
  data: () => ({
		cargando:false,
		imprimiendo:false,
		fechaInicio: null,
    fechaFin: null,
  }),
  computed: {
    
  },
  created(){
    axios.defaults.headers.common["bancadif-token"] = sessionStorage.getItem("bancadif_token");
    this.area_id = sessionStorage.getItem("area_id");
  },
  mounted(){
    jsreport.serverUrl = sessionStorage.getItem('reporter_url');
    moment.locale('es-mx');
  },
  methods: {

    formatPesos(n) {
      return new Intl.NumberFormat("en-ES").format(n);
    },
    formatFecha(date){
      return moment(date).format('DD/MM/YYYY');
    },
    searchquery() {
      this.$refs.dataPagos.setFilter(this.search);
		},
		reporteGastos(){
			let me = this;
			me.imprimiendo = true;
			axios.get("/fondorotatorio/reportes/gastos").then(r =>{
				// return console.log(r.data.data)
				var data = {};
				data.titulo ="Concentrado de Pagos",
				data.subtitulo= "Listado de pagos",
				data.cabeceras=['Nombre','Monto','Reintegro','Folio','Estatus','Fecha creacion','Descripcion','Pagado','Fecha Pagado','Fecha Finalizado','Tipo','Area'];
				// data.datos=this.$refs.dataComprobaciones.allFilteredData.map(e=>Object.values(e));
				data.datos=r.data.data.map(e=>Object.values(e));
				jsreport.serverUrl = 'http://187.157.97.110:3001';
				var request = {
					template:{
							shortid: "HJ5VttAyS"
					},
					data: data
				};
				jsreport.renderAsync(request).then(function(res) {
					res.download(`ReportePagos.xlsx`)
					me.cargando = false;
				});
				me.imprimiendo = false;
			}).catch(e=>e);
		},
		gastoSemanal(){
      var fecha2 = moment(moment(this.fechaFin).add(1, 'd')).format('YYYY-MM-DD');    
			var dias = moment(this.fechaFin).diff(moment(this.fechaInicio), 'days');
			if(isNaN(dias)  || dias < 0) return toastr.error('Fecha invalida', 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true});
			let me = this;
			me.imprimiendo = true;
			axios.get(`/fondorotatorio/reportes/pagosReintegro/${me.fechaInicio}/${fecha2}`).then(r =>{				
				if(r.data.length == 0) {
					me.imprimiendo = false;
					return toastr.info('No existen registros', 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true});
				}
				var data = {};
				data.titulo =`Concentrado de Gastos por Comprobar`,
				data.subtitulo= `Listado de pagos con reintegro de ${me.fechaInicio} al ${me.fechaFin}`,
				data.cabeceras=['Nombre','Monto','Reintegro','Folio','Fecha creacion','Tipo','No. Cuenta','FechaReintegro','FolioReintegro'];
				// data.datos=this.$refs.dataComprobaciones.allFilteredData.map(e=>Object.values(e));
				data.datos=r.data.map(e=>Object.values(e));
				jsreport.serverUrl = 'http://187.157.97.110:3001';
				var request = {
					template:{
							shortid: "HJ5VttAyS"
					},
					data: data
				};
				jsreport.renderAsync(request).then(function(res) {
					res.download(`ReportePagosReintegro.xlsx`)
					me.cargando = false;
				});
				me.imprimiendo = false;
			}).catch(e=>e);
		},
		
        	
  },

}
</script>

<style lang="scss" scoped>
.admin-enlace {
  color: black;
  button.card-header-action.btn-setting {
    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .loader {
    display: flex;
    justify-content: center;
    z-index: 9999;
  }

  @keyframes lds-interwind {
      0%,
      100% {
        animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
      }
      50% {
        animation-timing-function: cubic-bezier(0, 0.2, 1, 0.8);
      }
      0% {
        -webkit-transform: rotate(0deg) translate(0, -20px) scale(0);
        transform: rotate(0deg) translate(0, -20px) scale(0);
      }
      50% {
        -webkit-transform: rotate(180deg) translate(0, -20px) scale(1);
        transform: rotate(180deg) translate(0, -20px) scale(1);
      }
      100% {
        -webkit-transform: rotate(360deg) translate(0, -20px) scale(0);
        transform: rotate(360deg) translate(0, -20px) scale(0);
      }
    }
    @-webkit-keyframes lds-interwind {
      0%,
      100% {
        animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
      }
      50% {
        animation-timing-function: cubic-bezier(0, 0.2, 1, 0.8);
      }
      0% {
        -webkit-transform: rotate(0deg) translate(0, -20px) scale(0);
        transform: rotate(0deg) translate(0, -20px) scale(0);
      }
      50% {
        -webkit-transform: rotate(180deg) translate(0, -20px) scale(1);
        transform: rotate(180deg) translate(0, -20px) scale(1);
      }
      100% {
        -webkit-transform: rotate(360deg) translate(0, -20px) scale(0);
        transform: rotate(360deg) translate(0, -20px) scale(0);
      }
    }
    div.lds-interwind {
      position: relative;
    }
    div.lds-interwind div {
      position: absolute;
      top: 70px;
      left: 70px;
      -webkit-animation: lds-interwind 1s linear infinite;
      animation: lds-interwind 1s linear infinite;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #d12654;
    }
    div.lds-interwind div:last-child {
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
      background: #98579b;
    }
    .lds-interwind {
      width: 76px !important;
      height: 76px !important;
      -webkit-transform: translate(-38px, -38px) scale(0.38)
        translate(38px, 38px);
      transform: translate(-38px, -38px) scale(0.38) translate(38px, 38px);
    }

		
}
</style>