<template>
  <div class="viaticos row">
    <div class="col-sm-12">
      <v-client-table :data="tableData" :columns="columns" :options="options">
        <button slot="editar" slot-scope="props" class="btn btn-primary btn-sm" @click="edit(props.row.id)">
          <i class="fa fa-edit"></i>
        </button>
        <button slot="pagar" slot-scope="props" class="btn btn-info btn-sm" @click="pagar(props.row.id)">
          <i class="fa fa-usd"></i>
        </button>
      </v-client-table>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import axios from 'axios';
export default {
  name: 'Viaticos',
  data: ()=>({
    peticion: null,
    columns: ['id', 'creado', 'empleado', 'monto_total', 'ruta', 'editar', 'pagar'],
    tableData: [],
    options: {
      sortIcon: { base:'fa', up:'fa-sort-asc', down:'fa-sort-desc', is:'fa-sort' },
      sortable: ['id', 'creado', 'empleado', 'monto_total', 'ruta']
    }
  }),
  mounted(){
    axios.defaults.headers.common["bancadif-token"] = sessionStorage.getItem("bancadif_token");
    this.viaticos();
  },
  methods: {
    viaticos(){
      axios.get(`/fondorotatorio/pagos/viaticos`).then(response => {
        this.peticion = response.data.data; 
        this.tableData = response.data.data.data.map(item => {
          return {
            id: item.id,
            creado: item.created_at,
            empleado: `${item.empleado.persona.nombre} ${item.empleado.persona.primer_apellido} ${item.empleado.persona.segundo_apellido}`,
            monto_total: parseFloat(item.monto_total).toFixed(2),
            ruta: `${item.viatico.cuota.origen} - ${item.viatico.cuota.destino}`}
        });
      })
    },
    edit(id) {
      console.log('hello');
    },
    pagar(id) {
      console.log('pagar viaticos');
    }
  }
}
</script>
