<template>
  <v-app>
    <v-content>
      <v-container>
        <v-layout>
          <v-flex xs12>
            <v-stepper v-model="step">
              <v-progress-linear v-model="buffer" buffer></v-progress-linear>
              <v-stepper-header>
                <v-stepper-step editable step="1" :complete="step > 1" :edit-icon="'check'"
                  >Datos de NNA</v-stepper-step
                >
                <v-stepper-step editable step="2" :complete="step > 2" :edit-icon="'check'"
                  >Caracteristicas del NNA</v-stepper-step
                >
                <v-stepper-step editable step="3" :complete="step > 3" :edit-icon="'check'"
                  >sobre el CAS</v-stepper-step
                >
                <v-stepper-step editable step="4" :complete="step > 4" :edit-icon="'check'"
                  >Representación legal</v-stepper-step
                >
                <v-stepper-step editable step="5" :complete="step > 5" :edit-icon="'check'"
                  >Documentos de identidad</v-stepper-step
                >
                <v-stepper-step editable step="6" :complete="step > 6" :edit-icon="'check'"
                  >Egreso</v-stepper-step
                >
              </v-stepper-header>
              <v-stepper-items>
                <!-- *********************Steper 1*********************************** -->
                <v-form ref="formsolicitante">
                  <v-stepper-content step="1">
                    <h3>Datos de NNA</h3>

                    <foto-perfil></foto-perfil>

                    <v-layout>
                      <toggle-option label="¿Expósito?"></toggle-option>
                    </v-layout>
                    <v-layout>
                      <campo-nombre
                        valor_entrada_campo="registration.name"
                        description="Nombre(s)"
                      ></campo-nombre>
                      <campo-nombre
                        valor_entrada_campo="registration.firstname"
                        description="Primer apellido"
                      ></campo-nombre>
                      <campo-nombre
                        valor_entrada_campo="registration.secondname"
                        description="Segundo apellido"
                      ></campo-nombre>
                    </v-layout>

                    <v-layout>
                      <lista-elementos-catalogados
                        label="Escolaridad"
                        :multiple_selection="false"
                        content_url="/adopcion/catalogos/escolaridades/index"
                      ></lista-elementos-catalogados>
                    </v-layout>

                    <v-layout justify-space-around>
                      <selector-fecha label="Fecha de Nacimiento"></selector-fecha>
                      <catalogo-generos></catalogo-generos>
                    </v-layout>
                  </v-stepper-content>
                </v-form>

                <!-- *********************Steper 2*********************************** -->
                <v-form ref="formsolicitud">
                  <v-stepper-content step="2">
                    <ask-yes-not></ask-yes-not>
                  </v-stepper-content>
                </v-form>

                <!-- *********************Steper 3*********************************** -->
                <v-form ref="formvictima">
                  <v-stepper-content step="3">
                    <h3>Relación con el CAS</h3>
                    <selector-fecha label="Fecha de ingreso al CAS"></selector-fecha>

                    <lista-elementos-catalogados
                      label="Casa Hogar asignada"
                      :multiple_selection="false"
                      content_url="/adopcion/catalogos/casashogares/index"
                    ></lista-elementos-catalogados>

                    <lista-elementos-catalogados
                      label="Motivos de ingreso al CAS"
                      :multiple_selection="true"
                      content_url="/adopcion/catalogos/motivosingreso/index"
                    ></lista-elementos-catalogados>
                  </v-stepper-content>
                </v-form>

                <!-- *********************Steper 4*********************************** -->
                <v-form ref="personacustodia">
                  <v-stepper-content step="4">
                    <h3 class>Subprocuraduría</h3>
                    <lista-elementos-catalogados
                      label="Subprocuraduria"
                      :multiple_selection="true"
                    ></lista-elementos-catalogados>
                  </v-stepper-content>
                </v-form>

                <!-- *********************Steper 5*********************************** -->
                <v-form ref="documentosdeNNA">
                  <v-stepper-content step="5">
                    <h3 class>Documentos de NNA</h3>
                    <div>Oficio Ingreso</div>
                    <input
                      type="file"
                      ref="file"
                      :name="uploadFieldName"
                      @change="onFileChange($event.target.name, $event.target.files)"
                    />
                    <v-divider></v-divider>
                    <div>Oficio Egreso</div>
                    <input
                      type="file"
                      ref="file"
                      :name="uploadFieldName"
                      @change="onFileChange($event.target.name, $event.target.files)"
                    />
                    <v-divider></v-divider>
                    <div>Ficha decadactilar</div>
                    <input
                      type="file"
                      ref="file"
                      :name="uploadFieldName"
                      @change="onFileChange($event.target.name, $event.target.files)"
                    />
                    <v-divider></v-divider>
                    <lista-elementos-catalogados
                      label="Seleccione documento de identidad"
                      :multiple_selection="true"
                      content_url="/adopcion/catalogos/escolaridades/index"
                    ></lista-elementos-catalogados>
                    <div>Documento seleccionado</div>
                    <input
                      type="file"
                      ref="file"
                      :name="uploadFieldName"
                      @change="onFileChange($event.target.name, $event.target.files)"
                    />

                  </v-stepper-content>
                </v-form>

                <!-- *********************Steper 6*********************************** -->
                <v-form ref="Editables">
                  <v-stepper-content step="6">
                    <h3 class>Datos del NNA y su situación</h3>
                    <selector-fecha label="Fecha de egreso"></selector-fecha>

                    <lista-elementos-catalogados
                      label="Motivos de egreso"
                      :multiple_selection="true"
                      content_url="/adopcion/catalogos/escolaridades/index"
                    ></lista-elementos-catalogados>
                  </v-stepper-content>
                </v-form>
              </v-stepper-items>
            </v-stepper>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script src="./Forms-js/formcreate.js"></script>
