<template>
  <v-layout wrap>
    <v-flex xs12>
      <v-combobox
        @input="changeestado()"
        :rules="rules.addressestado"
        v-model="estado"
        :items="estados"
        item-text="entidad"
        item-value="id"
        label="Selecciona Estado"
      ></v-combobox>
    </v-flex>

    <v-flex xs12 v-if="estado && estado.id === 20">
      <v-combobox
        @input="changemunicipio()"
        :rules="rules.addressmunicipio"
        v-model="municipio"
        :items="municipios"
        item-text="nombre"
        item-value="id"
        label="Selecciona Municipio"
      ></v-combobox>
    </v-flex>

    <v-flex v-if="!esconder_colonia" xs12>
      <v-combobox
        @input="changecolonia()"
        :rules="rules.addresscolonia"
        v-model="colonia"
        :items="colonias"
        item-text="nombre"
        item-value="id"
        label="Selecciona Colonia"
      ></v-combobox>
    </v-flex>
  </v-layout>
</template>
<script >
export default {
  props: [
    "hidden_colonia",
    "addressestado",
    "addressmunicipio",
    "addresscolonia"
  ],
  data() {
    return {
      esconder_colonia: this.hidden_colonia,
      estados: [],
      municipios: [],
      colonias: [],

      estado: this.addressestado,
      municipio: this.addressmunicipio,
      colonia: this.addresscolonia,

      rules: {
        addressestado: [v => !!v || "Estado Obligatorio"],
        addressmunicipio: [v => !!v || "Municipio Obligatorio "],
        addresscolonia: [v => !!v || "Colonia Obligatorio"]
      }
    };
  },
  methods: {
    changeestado: function() {
      //this.$emit("update:addressestado", this.estado);
      this.municipios = [];
      this.municipio = "";
      axios
          .get("/adopcion/catalogos/municipios/" + this.estado.id + "")
          .then(response => {
            if(response.data !== ""){
              this.municipios = response.data;
            }
          })
          .catch(e => {
            console.log("Error al cargar municipios");
          });

    },
    changemunicipio: function() {
      this.colonia = "";
      //this.$emit("update:addressmunicipio", this.municipio.nombre);

    },
    changecolonia: function() {
      this.$emit("update:addresscolonia", this.colonia.nombre);
    }
  },
  mounted() {
      axios
      .get("/adopcion/catalogos/estados/index")
      .then(response => {
        this.estados = response.data;
      })
      .catch(e => {
        console.log( "Falla con la conexion del servidor, no hemos podido cargar los estados, Intentelo mas tarde" );
      });

  },
  watch: {
    addressestado: function(val) {
      this.estado = val;
    },
    addressmunicipio: function(val) {
      this.municipio = val;
    },
    addresscolonia: function(val) {
      this.colonia = val;
    }
  }
};
</script>
