<template>
  <v-layout wrap>
    <v-flex xs8>
      <v-text-field
        prepend-inner-icon="place"
        :rules="rules.addresscalle"
        :label="etiqueta"
        v-model="registration.addresscalle"
        required
        class="my-input"
      ></v-text-field>
    </v-flex>

    <v-flex xs4>
      <v-text-field
        prefix="#"
        :rules="rules.addressnumero"
        label="Numero"
        v-model="registration.addressnumero"
        mask="####"
        required
      ></v-text-field>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  props:["label"],
  data() {
    return {
      etiqueta:this.label,
      registration: {
        addresscalle: null,
        addressnumero: null,
      },
      rules: {
        addresscalle: [v => !!v || "Calle Obligatorio"],
        addressnumero: [v => !!v || "Numero Obligatorio"]
      }
    };
  }
};
</script>
