

<template>
  <v-container class="pa-0">
    <v-card class="mx-auto" max-width="70%">
      <v-card-title class="title font-weight-regular justify-space-between">
        <div class="display-1 font-weight-medium">{{ currentTitle }}</div>
        <v-avatar color="primary lighten-2" class="subheading white--text" size="24" v-text="step"></v-avatar>
      </v-card-title>

      <v-window v-model="step">
        <v-window-item :value="1">
          <div
            class="subheading font-weight-light"
            style="color:grey; margin-left:2em"
          >Especifique si el NNA es mexicano y desplegar mas información</div>
          <v-card-text>
            <v-radio-group :rules="rules.is_mexican" v-model="is_mexican">
              <v-radio label="Si" :value="true"></v-radio>
              <v-radio label="No" :value="false"></v-radio>
            </v-radio-group>
            <lista-elementos-catalogados
              v-show="is_mexican == false"
              label="Pais"
              content_url="/adopcion/catalogos/paises/index"
            ></lista-elementos-catalogados>
            <address-component :hidden_colonia="true" v-show="is_mexican"></address-component>
          </v-card-text>
        </v-window-item>

        <v-window-item :value="2">
          <v-card-text>
            <v-radio-group v-model="has_etnia">
              <v-radio label="Si" :value="true"></v-radio>
              <v-radio label="No" :value="false"></v-radio>
            </v-radio-group>
            <lista-elementos-catalogados
              v-show="has_etnia"
              label="Etnias"
              content_url="/adopcion/catalogos/etnias/index"
            ></lista-elementos-catalogados>
          </v-card-text>
        </v-window-item>

        <v-window-item :value="3">
          <v-card-text>
            <v-radio-group v-model="has_disablity">
              <v-radio label="Si" :value="true"></v-radio>
              <v-radio label="No" :value="false"></v-radio>
            </v-radio-group>
            <lista-elementos-catalogados
              v-show="has_disablity"
              label="Discapacidades"
              content_url="/adopcion/catalogos/discapacidades/index"
            ></lista-elementos-catalogados>
          </v-card-text>
        </v-window-item>

        <v-window-item :value="4">
          <v-card-text>
            <v-radio-group v-model="has_chronicle">
              <v-radio label="Si" :value="true"></v-radio>
              <v-radio label="No" :value="false"></v-radio>
            </v-radio-group>
            <lista-elementos-catalogados
              v-show="has_chronicle"
              label="Enfermedades cronicas"
              content_url="/adopcion/catalogos/enfermedadescronicas/index"
            ></lista-elementos-catalogados>
          </v-card-text>
        </v-window-item>
      </v-window>

      <v-divider></v-divider>

      <v-card-actions>
        <v-btn :disabled="step === 1" flat @click="step--">Volver</v-btn>
        <v-spacer></v-spacer>
        <v-btn :disabled="step === 4" color="primary" depressed @click="step++">Siguente</v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>
<script>
export default {
  data() {
    return {
      step: 1,
      is_mexican: null,
      has_etnia: null,
      has_disablity: null,
      has_chronicle: null,

      rules: {
        is_mexican: [v => v != null || "Seleccione una opción"],
        has_etnia: [v => v != null || "Seleccione una opción"],
        has_disablity: [v => v != null || "Seleccione una opción"],
        has_chronicle: [v => v != null || "Seleccione una opción"]
      }
    };
  },
  computed: {
    currentTitle() {
      switch (this.step) {
        case 1:
          return "¿Es Mexicano?";
        case 2:
          return "¿Pertenece a alguna étnia?";
        case 3:
          return "¿Es persona con discapacidad?";
        case 4:
          return "¿Padece alguna enfermedad crónica?";
        default:
          return "DEFAULT";
      }
    }
  }
};
</script>

