<template>
    <v-text-field
      :label  = "description"
      :v-model= "entrada_de_formulario"
      :rules  = "rules.entrada_de_formulario"
      :counter="46"
      cleareble
      required
    ></v-text-field>
</template>
<script>
export default {
  props: ["valor_entrada_campo" ,"description"],
  data() {
    return {
      entrada_de_formulario: this.valor_entrada_campo,
      rules: {
        entrada_de_formulario: [
          v => !!v || "Este campo es Obligatorio",
          v => (v && v.length <= 46) || "Menos de 46 Caracteres",
          v =>
            /^([A-Za-zÁÉÍÓÚñáéíóúÑ]{0}?[A-Za-zÁÉÍÓÚñáéíóúÑ\'])+[\s]?([A-Za-zÁÉÍÓÚñáéíóúÑ]{0}?[A-Za-zÁÉÍÓÚñáéíóúÑ\']+)$/.test(
              v
            ) || "Valores no válidos"
        ]
      }
    };
  }
};
</script>
