<template>
  <v-flex xs4 >
    <v-radio-group :rules="rules.gender" v-model="gender" row>
      <v-radio label="Hombre" value="Hombre"></v-radio>
      <v-radio label="Mujer" value="Mujer"></v-radio>
    </v-radio-group>
  </v-flex>
</template>
<script>
export default {
  data() {
    return {
      gender:"",

      rules: {
        gender: [v => !!v || "Sexo Obligatorio"],
      }
    }
  }
};
</script>
