<template>
  <v-text-field
    v-model="correo"
    prepend-inner-icon="mail_outline"
    v-validate="'email'"
    :error-messages="errors.collect('email')"
    data-vv-name="email"
  >
    <template v-slot:label>
      <div>
        Correo Electronico
        <small>(Opcional)</small>
      </div>
    </template>
  </v-text-field>
</template>
<script>
export default {
  $_veeValidate: {
    validator: "new"
  },
  props: [],
  data() {
    return {
      correo: ""
    };
  }
};
</script>
