<template>
  <v-autocomplete
    v-model="opciones_seleccionadas"
    :items="lisitado_elementos_con_cabezeras"
    :rules="[ reglas_opciones_seleccionadas ]"
    chips
    color="blue-grey lighten-2"
    :label="etiqueta"
    item-text="name"
    item-value="name"
    :multiple="multiple_seleccion"
  >
    <template v-slot:selection="data">
      <v-chip :selected="data.selected" close class="chip--select-multi" @input="remove(data.item)">
        <v-avatar>
          <v-icon dark>{{data.item.avatar}}</v-icon>
        </v-avatar>
        {{ data.item.name }}
      </v-chip>
    </template>
    <template v-slot:item="data">
      <template v-if="typeof data.item !== 'object'">
        <v-list-tile-content v-text="data.item"></v-list-tile-content>
      </template>
      <template v-else>
        <v-list-tile-avatar>
          <v-icon>{{data.item.avatar}}</v-icon>
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
          <v-list-tile-sub-title v-html="data.item.group"></v-list-tile-sub-title>
        </v-list-tile-content>
      </template>
    </template>
  </v-autocomplete>
</template>
<script>
export default {
  props: ["label", "multiple_selection", "content_url"],
  data() {
    return {
      opciones_seleccionadas: [],

      etiqueta: this.label,
      multiple_seleccion: this.multiple_selection,

      lisitado_elementos_con_cabezeras: [
        { header: "Ejemplo" },
        { name: "Disponibilidad", group: "Razones", avatar: "event_available" },
        {
          name: "Conocimiento en el lugar del caso",
          group: "Razones",
          avatar: "map"
        },
        { divider: "true" },
        { header: "Segundo" },
        { name: "Reasignación de caso", group: "otras", avatar: "call_split" },
        {
          name: "Incumplimiento del abogado anterior",
          group: "otras",
          avatar: "call_missed"
        }
      ]
    };
  },
  methods: {
    remove(item) {
      const index = this.opciones_seleccionadas.indexOf(item.name);
      if (Array.isArray(this.opciones_seleccionadas) && index >= 0) {
        this.opciones_seleccionadas.splice(index, 1);
      } else {
        this.opciones_seleccionadas = [];
      }
    },
    reglas_opciones_seleccionadas(value) {
      if (value.length === 0) {
        this.disabled = true;
        return "Campo obligatorio";
      } else {
        return true;
      }
    }
  },
  created() {
    if (this.content_url != null && this.content_url.length > 5) {
      axios
        .get(this.content_url)
        .then(response => {
          this.lisitado_elementos_con_cabezeras = response.data;
        })
        .catch(e => {
          console.log(e);
        });
    }
  }
};
</script>
