<template>
  <v-flex xs4>
    <v-menu
      ref="menu"
      v-model="menu"
      :close-on-content-click="false"
      :nudge-right="40"
      lazy
      transition="scale-transition"
      offset-y
      full-width
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <v-text-field
          v-model="date"
          :label="etiqueta"
          prepend-icon="event"
          readonly
          v-on="on"
        ></v-text-field>
      </template>
      <v-date-picker
        ref="picker"
        v-model="date"
        min="1950-01-01"
        :max="new Date().toISOString().substr(0, 10)"
        locale="es-419"
        @change="save"
      ></v-date-picker>
    </v-menu>
  </v-flex>
</template>
<script>
export default {
  props: ["label"],
  data() {
    return {
      date: "",
      menu: false,
      etiqueta: this.label
    };
  },
  watch: {
    menu(val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = "YEAR"));
    }
  },
  methods: {
    save(date) {
      this.$refs.menu.save(date);
    }
  }
};
</script>
