<template>
  <v-text-field v-model="numerotelefono" prepend-inner-icon="phone" mask="phone">
    <template v-slot:label>
      <div>
        {{etiqueta}}
        <small>(Opcional)</small>
      </div>
    </template>
  </v-text-field>
</template>
<script>
export default {
  props:["label"],
  data() {
    return {
      etiqueta: this.label,
      numerotelefono: "",

    };
  }
};
</script>
