<template>
  <v-textarea
    v-model="content"
    :rules="rules.content"
    :label="config.etiqueta"
    :hint="config.descripcion"
    :counter="255"
  ></v-textarea>
</template>
<script>
export default {
  props:["label","hint"],
  data() {
    return {

      config:{
        etiqueta:this.label,
        descripcion:this.hint,
      },

      content:"",
      rules:{
        content: [v => !!v || "Campo Obligatorio"]
      }
    };
  }
};
</script>
