<template>
  <v-switch
    v-model="valor_binario"
    :label="etiqueta"
    @change="SeleccionSolicitudAnonima($event)"
  ></v-switch>
</template>
<script>
export default {
  props:["label"],
  data() {
    return {
      etiqueta : this.label,
      valor_binario: false
    };
  },
  methods: {
    SeleccionSolicitudAnonima: function(event) {
      if (event) {
        console.log("Togleado" + this.valor_binario);
      }
    }
  }
};
</script>
