<template>
<div>

  <div class="col-md-12">
    <!--  <div class="col-md-3">
      <span>TIPO DE SERVICIO</span>
      <select class="form-control" v-model="tiposervicio">
        <option value="reparacion">REPARACIONES</option>
        <option value="prestamos">PRESTAMOS</option>
        <option value="donativos">DONATIVOS</option>
      </select>
    </div>-->
    <div class="col-md-3 col-md-offset-2">

      <span>TIPO DE REPORTE</span>
      <select v-model=tipo name="" class="form-control">
          <option value="semestral">SEMESTRAL</option>
          <option value="mensual">MENSUAL</option>
          <option value="trimestral">TRIMESTRAL</option>
          <option value="anual">ANUAL</option>
      </select>

    </div>
    <div class="col-md-3" v-if="tipo==='semestral'">
      <span>SECCIÓN</span>
      <select name="" id="" class="form-control" v-model=semestre @change="recargar()">
        <option value="sem1">1ER SEMESTRE</option>
        <option value="sem2">2DO SEMESTRE</option>
      </select>
    </div>
    <div class="col-md-3" v-if="tipo==='trimestral'">
      <span>SECCIÓN</span>
      <select class="form-control" v-model=trimestre @change="recargar()">
        <option value="t1">1ER TRIMESTRE</option>
        <option value="t2">2DO TRIMESTRE</option>
        <option value="t3">3ER TRIMESTRE</option>
        <option value="t4">4TO TRIMESTRE</option>
      </select>
    </div>
    <div class="col-md-3" v-if="tipo==='mensual'">
      <span>MES</span>
      <select class="form-control" v-model=mes @change="recargar()">
            <option value="1">Enero</option>
            <option value="2">Febrero</option>
            <option value="3">Marzo</option>
            <option value="4">Abril</option>
            <option value="5">Mayo</option>
            <option value="6">Junio</option>
            <option value="7">Julio</option>
            <option value="8">Agosto</option>
            <option value="9">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
      </select>
    </div>
    <div class="col-md-2" v-show="servicios.length">
      <br/>
      <button class="btn btn-primary"  @click="enviar"><i class="fa fa-print" aria-hidden="true"></i> IMPRIMIR</button>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="echarts col-md-offset-2" align='center' v-if="rend===0 && servicios.length">
    <br/>
    <IEcharts ref="grafica" :option="bar" id="graficas" />

  </div>
  <br/>
  <img id="imagengraf" ref="gra" style="  width: 700px;  height: 400px;" v-show="rend===3"/>
  </div>
</template>

<script>
import IEcharts from 'vue-echarts-v3/src/full.js';
export default {
  mounted() {
    this.cargar();

  },
  components: {
    IEcharts,
  },
  props: {},
  data: () => ({
    trimestre: "t1",
    semestre: 'sem1',
    tiposervicio: 'reparacion',
    tipo: 'anual',
    mes: '1',
    servicios: [],
    loading: true,
    rend: 0,
    base64: "",

    bar: {
      title: {
        text: 'SERVICIOS DEL PERIODO 2019',
        subtext: '',
        x: 'right',
      },
      tooltip: {
        trigger: 'item',
        formatter: "{b} : {c} ({d}%)"
      },
      legend: {
        orient: 'vertical',
        left: 'left',

      },
      series: [{
        label: {
          formatter: "{c} ({d}%)",
          position: 'inside'
        },
        // name: 'SERVICIO',
        type: 'pie',
        radius: '70%',
        center: ['70%', '60%'],
        data: [],
        itemStyle: {
          emphasis: {
            shadowBlur: 10,
            shadowOffsetX: 0,
            shadowColor: 'rgba(0, 0, 0, 0.5)'
          }
        }
      }]
    }
  }),

  methods: {
    recargar() {

      block();
      axios.post('/taesir/reportespost', {
        tipo: this.tipo,
        trimestre: this.trimestre,
        semestre: this.semestre,
        mes: this.mes
      }).then(response => {
        this.servicios = response.data;
        console.log(response.data);
        let data = [];
        this.bar.series[0].data = []
        var i = 0;
        for (i in this.servicios) {
          data.push({
            name: this.servicios[i].nombre,
            value: this.servicios[i].cantidad
          })
        }

        this.bar.series[0].data = data;
        unblock();
        if (!this.servicios.length) {
          Swal.fire({
            position: "center",
            type: "info",
            title: "No Hay elementos para mostrar",
            showConfirmButton: true,
          });
        }
      });
      this.rend = 0;
      unblock();
    },

    cargar() {
      axios.get('/taesir/reportes', {
        tipo: this.tipo,
        trimestre: this.trimestre
      }).then(response => {
        this.servicios = response.data;
        console.log(response.data);
        let data = [];
        this.bar.series[0].data = []
        var i = 0;
        for (i in this.servicios) {
          data.push({
            name: this.servicios[i].nombre,
            value: this.servicios[i].cantidad
          })
        }

        this.bar.series[0].data = data;
      });
      this.rend = 0;
    },

    imagen() {
      var myChart = this.$refs["grafica"];
      var img = new Image();
      img.src = myChart.getDataURL({
        pixelRatio: 2,
        backgroundColor: '#fff'
      });
      //imagengraf.innerHTML = '<img src="' + img.src + '" class="img-responsive">';
      imagengraf.src = img.src;
      console.log(img.src);
      // this.rend = 1;
      this.base64 = img.src;
    },
    alertaEspere() {
      let timerInterval
      Swal.fire({
        title: 'Espere un momento',
        html: 'Estamos procesando su solicitud',
        timer: 2500,
        onBeforeOpen: () => {
          Swal.showLoading()
          timerInterval = setInterval(() => {
            Swal.getContent().querySelector('strong')

          }, 100)
        },
        onClose: () => {
          clearInterval(timerInterval)
        }
      }).then((result) => {
        if (
          // Read more about handling dismissals
          result.dismiss === Swal.DismissReason.timer
        ) {}
      })
    },
    enviar() {
      this.imagen();
      this.alertaEspere();
      axios({
        method: 'post',
        url: '/taesir/reportes',
        responseType: 'arraybuffer',
        data: {
          base64: this.base64,
          beneficios: this.servicios
        },
        headers: {
          Accept: 'application/pdf',
        },
      }).then(response => {

        console.log(response);
        let blob = new Blob([response.data], {
          type: 'application/pdf'
        });

        let link = document.createElement('a');
        link.href = window.URL.createObjectURL(blob);
        link.download = 'Reporte.pdf';
        link.click();
      })

    }
  },

};

//var myChart = this.$refs["grafica"];
//var img = new Image();
//img.src = myChart.getDataURL({
//pixelRatio: 2,
//backgroundColor: '#fff'
//});
</script>

<style scoped>
.echarts {
  width: 700px;
  height: 400px;
}
</style>
