<template>
  <v-app>
    <v-content>
      <v-container grid-list-md>
        <v-stepper v-model="step" vertical>
          <v-stepper-header>
            <v-stepper-step step="1" :editable="true" :complete="step > 1">Citas Pendientes</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="2" :editable="true" :complete="step > 2">Citas Pasadas</v-stepper-step>
          </v-stepper-header>
          <v-stepper-items>
            <v-stepper-content step="1">
              <h3 class>Citas Pendientes</h3>
              <div v-for="(cita,index) in appointments" :key="index">
                <v-layout row align-baseline>
                  <v-flex xs12>
                    <v-hover>
                      <v-card class="mx-auto" color="grey lighten-5">
                        <v-img :aspect-ratio="70/9">
                          <v-expand-transition>
                            <div
                              class="d-flex transition-fast-in-fast-out black darken-2 v-card--reveal display-3 white--text"
                              style="height: 100%;"
                            >{{cita.rest}}</div>
                          </v-expand-transition>
                        </v-img>
                        <v-card-text class="pt-4" style="position: relative;">
                          <div class="font-weight-light grey--text title mb-2">
                            {{cita.reason}} de la cita numero {{cita.id}}
                            de
                            la acción con folio {{ cita.action.folio }} perteneciente a la solicitud con folio
                            {{cita.expedient.affair.petition.folio}} con los datos de
                            ubicación {{cita.expedient.affair.petition.addressfull}}
                          </div>
                          <h3 class="display-1 font-weight-light pink--text mb-2">{{cita.format}}</h3>
                          <div class="font-weight-light title mb-2">{{cita.observations}}</div>
                        </v-card-text>
                        <v-card-actions>
                          <v-btn
                            outline
                            color="indigo"
                            :href="'/petitions/' + cita.expedient.affair.petition.id"
                            target="_blanck"
                          >Ir a la solicitud</v-btn>
                          <v-btn
                            outline
                            color="grey"
                            :href="'/expedients/' + cita.expedient.affair.petition.id"
                            target="_blanck"
                          >Ver acción</v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-hover>
                  </v-flex>
                </v-layout>
              </div>
            </v-stepper-content>

            <v-stepper-content step="2">
              <v-card class="mx-auto">
                <v-card dark flat>
                  <v-card-title class="pa-2 pink darken-3">
                    <v-btn icon>
                      <v-icon>mdi-menu</v-icon>
                    </v-btn>
                    <h3 class="title font-weight-light text-xs-center grow">Citas Pasadas</h3>
                  </v-card-title>
                  <v-img
                    gradient="to top, rgba(0,0,0,.44), rgba(0,0,0,.44)"
                    max-height="200"
                  >
                    <v-container fill-height>
                      <v-layout align-center>
                        <strong
                          class="display-4 font-weight-regular mr-4"
                        >{{today.date.substring(8, 10) }}</strong>
                        <v-layout column justify-end>
                          <div class="headline font-weight-light">Hoy</div>
                          <div
                            class="text-uppercase font-weight-light"
                          >{{today.date.substring(0, 7) }}</div>
                        </v-layout>
                      </v-layout>
                    </v-container>
                  </v-img>
                </v-card>
                <v-card-text class="py-0">
                  <v-timeline align-top dense>
                    <div v-for="(cita,index) in appointments_f" :key="index">
                      <v-timeline-item color="pink" small>
                        <v-layout pt-3>
                          <v-flex xs3>
                            <strong>{{cita.rest}}</strong> de la acción:
                            <a
                              :href="'/expedients/' + cita.expedient.affair.petition.id"
                              target="_blanck"
                            >{{cita.action.folio}}</a>
                            <div class="caption">{{cita.format}}</div>
                          </v-flex>
                          <v-flex xs3>
                            <strong>{{cita.reason}} de cita numero {{cita.id}}</strong>
                            <div class="caption">{{cita.observations}}</div>
                          </v-flex>
                          <v-flex xs3>
                            <strong>Reporte:</strong>
                            <a
                              :href="'/storage/' + String(cita.url_reporte).slice(7)"
                              target="_blanck"
                            >{{cita.report_name}}</a>
                            <div class="caption">{{cita.conclusion}}</div>
                          </v-flex>
                          <v-flex xs3>
                            <strong>Vistas</strong>
                            <div class="caption">
                              <a
                                :href="'/petitions/' + cita.expedient.affair.petition.id"
                                target="_blanck"
                              >Ver solicitud</a> |
                              <a
                                :href="'/expedients/' + cita.expedient.affair.petition.id"
                                target="_blanck"
                              >Ver acciones</a>
                            </div>
                          </v-flex>
                        </v-layout>
                      </v-timeline-item>
                    </div>
                  </v-timeline>
                </v-card-text>
              </v-card>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-container>
    </v-content>
  </v-app>
</template>


<script>
export default {
  props: ["appointments", "appointments_f", "today"],
  data() {
    return {
      step: 1
    };
  },
  methods: {}
};
</script>
<style>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}
</style>

