<template>
  <div>
    <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h4 class="box-title">AGREGAR SERVICIOS</h4>
      </div>
      <div class="box-body">
        <div class="col-md-6">

          <div class="col-md-12">
            <div class="form-group">
              <h4>SERVICIO</h4>
              <!-- <v-select v-model="servicioloc1" id="v-select" :options="servicio" label="nombre" :reduce="codigo_servicio=>codigo_servicio.serviciosbeneficios.id"></v-select>-->
              <v-select v-model="servicioloc" id="v-select" :options="servicio" label="nombre"></v-select>
              <!--   <select class="form-control" v-model="servicioloc">
                    <option  v-for="(serv, index) in servicio"
                  :key="index"
                  v-bind:value="{id:serv.id,nombre:serv.nombre,indice:index}">{{serv.nombre}}</option>
        </select>-->
              <br>
              <button value="Agregar" @click="agregarServicio" title="Agregar servicio a la lista" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>AGREGAR</button>
            </div>

          </div>

        </div>
        <div class="col-md-6">

          <div class="col-md-12">
            <h4>DIAGNOSTICÓ</h4>
            <select class="form-control" v-model="reparacion.operativo_id">
                    <option  v-for="(operado, index) in operador"
                  :key="index" v-bind:value="operado.id"
                  >{{operado.nombre+" "+operado.primer_apellido+" "+operado.segundo_apellido}}</option>
        </select>
          </div>
        </div>
      </div>
    </div>

    <!-- box donde iran los servicios agregados -->
    <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h4 class="box-title">SERVICIOS AGREGADOS</h4>
      </div>
      <form>
        <div class="box-body">
          <div class="table-responsive col-md-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>CODIGO</th>
                  <th>NOMBRE</th>
                  <th>PRECIO UNITARIO</th>
                  <th>CANTIDAD</th>
                  <th>SUBTOTAL</th>
                  <th>QUITAR</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(serv,index) in servagregados" :key=index>
                  <td>{{serv.id}}</td>
                  <td>{{serv.nombre}}</td>
                  <td>${{serv.precio}}</td>
                  <td><input type="number" id="spinner" min=1 max=9  v-model="serv.cantidad" @change="multiplicar(index)" class="form-control"></td>
                  <td>${{serv.subtotalservicio}}</td>
                  <td>
                    <button @click.prevent="quitarServicio(index)"  class="btn btn-xs bg-danger"><i class="glyphicon glyphicon-minus"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="col-md-offset-4" v-if="!servagregados.length">
              <span>NO HAY ELEMENTOS AGREGADOS</span>
            </div>
            <div class="col-md-offset-11">
              <label id="texto">TOTAL</label>
              <div class="input-group">
                <span class="input-group-addon" id="peso">$</span>
                <input id="peso" type="text" name="msg" disabled v-model="subtotal" class="form-control">
        </div>
              </div>

            </div>

          </div><!--
          <div class="box-footer">
            <input type="submit" value="Continuar" class="btn btn-success col-md-offset-9" @click.prevent="imprimirpdf">
            <a href="taesir/diagcontrol2/12">Generar pdf</a>
            <input type="button" value="Anterior" class="btn btn-danger" @click="anterior">
          </div>-->
      </form>

    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.cargar();
  },
data() {
    return {
      //datos para el control de beneficiario
      fecha: new Date(),
      fecha_diag: "",
      servicioloc1: "",
      formatos: {
        acuse: false,
        acta: false,
        curp: false,
        comprobante: false,
        responsable: ""
      },
      municipios: [],
      valor: 1,
      beneficiario: {
        persona_id: "",
        curp: "",
        nombre: "",
        a_paterno: "",
        a_materno: "",
        telefono: "",
        municipio: "",
        colonia: "",
        calle: "",
        num_ext: "",
        num_int: "",
        cod_postal: "",
        fecha_nace: "",
        genero: ""
      },

      //fin de los datos para el control de beneficiario

      //datos del  diagnostico
      servicio: [],
      operador: [],
      subtotal: 0.0,
      servagregados: [],
      servicioloc: [{
        id: 0,
        nombre: "",

      }],
      indices: "",
      beneficiario_id: "",

      //fin de los datos del diagnostico

      //datos para la reparacion
      diagnostico_id: "",
      reparacion: {
        num_orden: "000000",
        caracteristicas: "",
        observaciones: "",
        total: "",
        descuento: "",
        usuario_id: 73,
        operativo_id: 1
      }
    }
  },
  methods: {
    imprimirpdf(){

/*
  axios.get('/taesir/diagcontrol2',{
    responseType: 'blob',
    }).then(response => {

    const url = window.URL.createObjectURL(new Blob([response.data]));
    const link = document.createElement('a');
    link.href = url;
    link.setAttribute('download', 'recibo.pdf'); //or any other extension
    document.body.appendChild(link);
    link.click();

  })
  .catch(error => {
    console.log(error);
  })*/
    },
    cargar() {
      axios
        .get("/taesir/munici")
        .then(respuesta => {
          this.municipios = respuesta.data.municipio;
        })
        .catch(error => {
          //console.log(error);
        });

      axios
        .get("/taesir/getbeneficios")
        .then(respuesta => {
          this.servicio = respuesta.data;
          //this.subapoyos=respuesta.data.apoyofuncional.catapoyofuncional;
        })
        .catch(error => {
          //console.log(error);
        });

      this.fechaActual();
      this.getOperador();
    },
    //metodos para el control de pasos
    siguiente() {
      this.valor++;
    },
    anterior() {
      this.valor--
    },

    getOperador() {
      axios.get('/taesir/tsrtrabajador').then(
        respuesta => {
          this.operador = respuesta.data.operador;
        })
    },
    //fin de los metodos para el control de pasos

    //metodo para el control de datos del beneficiario
    crearPersona() {
      block();
      axios
        .post("/taesir/altapersona", {
          curp: this.beneficiario.curp,
          nombre: this.beneficiario.nombre,
          a_paterno: this.beneficiario.a_paterno,
          a_materno: this.beneficiario.a_materno,
          numero_celular: this.beneficiario.telefono,
          municipio: this.beneficiario.municipio,
          colonia: this.beneficiario.colonia,
          calle: this.beneficiario.calle,
          num_ext: this.beneficiario.num_ext,
          num_int: this.beneficiario.num_int,
          cod_postal: this.beneficiario.cod_postal,
          fecha_nace: this.beneficiario.fecha_nace,
          genero: this.beneficiario.genero
        })
        .then(respuesta => {
          Swal.fire({
            position: "center",
            type: "success",
            title: "Agreado",
            showConfirmButton: false,
            timer: 1000
          });

          //beneficiario.id= respuesta.data;
          unblock();
          this.beneficiario.persona_id = respuesta.data.persona;
          this.crearBeneficiario();
          this.siguiente();

        })
        .catch(error => {
          console.log(error);
          unblock();
          Swal.fire({
            position: "center",
            type: "error",
            title: "Verificar sus campos",
            showConfirmButton: false,
            timer: 1000
          });

        });
    },
    crearBeneficiario() {
      axios.post('/taesir/tsrbeneficiarios', {
        acuse: this.formatos.acuse,
        acta: this.formatos.acta,
        curp: this.formatos.curp,
        comprobante: this.formatos.comprobante,
        persona_id: this.beneficiario.persona_id,
        responsable: this.formatos.responsable
      }).then(respuesta => {
        this.beneficiario_id = respuesta.data.beneficiario_id;
        console.log("se agrego el beneficiario");

      })
    },
    impresionprueba() {
      console.log(this.servicioloc.serviciosbeneficios.precio);
    },
    agregarServicio() {
     if (this.servicioloc.nombre) {
        var i = 0;
        var estatus = false;
        for (i in this.servagregados) {
          if (this.servagregados[i].id === this.servicioloc.serviciosbeneficios.id) {
            estatus = true;
            break;
          } else {
            estatus = false;
          }

        }
        if (estatus === false) {
          this.servagregados.push({
            id: this.servicioloc.serviciosbeneficios.id,
            nombre: this.servicioloc.nombre,
            cantidad: 1,
            precio: this.servicioloc.serviciosbeneficios.precio,
            subtotalservicio: this.servicioloc.serviciosbeneficios.precio
          });
          this.subtotal += this.servicioloc.serviciosbeneficios.precio;
        } else {
          Swal.fire({
            position: "center",
            type: "warning",
            title: "ELEMENTO YA AGREGADO",
            showConfirmButton: false,
            timer: 1000
          });
        }
        //this.servicio.pop(this.servicioloc.indice);
      }
      else{
         Swal.fire({
            position: "center",
            type: "warning",
            title: "ELEMENTO VACIO",
            showConfirmButton: false,
            timer: 1000

      });
     } },
    quitarServicio(indice) {
      console.log(this.servagregados[indice]);
      //this.subtotal -= this.servagregados[indice].precio;
      //this.servagregados.pop(indice);

      this.servagregados.splice(indice, 1);
            var i=0;
      this.subtotal=0;
      for (i in this.servagregados) {
        this.subtotal+=this.servagregados[i].subtotalservicio;
      }

    },
    multiplicar(indice) {
      if(this.servagregados[indice].cantidad<0){
         Swal.fire({
            position: "center",
            type: "error",
            title: "SOLO NUMEROS POSITIVOS",
            showConfirmButton: false,
            timer: 1000
          });
       this.quitarServicio(indice);   

      }else{
      this.servagregados[indice].subtotalservicio = this.servagregados[indice].precio * this.servagregados[indice].cantidad;
      var i=0;
      this.subtotal=0;
      for (i in this.servagregados) {
        this.subtotal+=this.servagregados[i].subtotalservicio;
      }}
    },

    crearDiagnostico() {
      axios.post('/taesir/diagcontrol', {
        beneficiario_id: this.beneficiario_id,
        fecha: this.fecha_diag,
        operativo_id: this.reparacion.operativo_id,
        usuario_id: 73,
        subtotal: this.subtotal,
        servicios: this.servagregados
      }).then(respuesta => {
        this.diagnostico_id = respuesta.data.diagnostico_id;
        console.log(respuesta.data);
        Swal.fire({
          position: "center",
          type: "success",
          title: "Generado Correctamente",
          showConfirmButton: false,
          timer: 1000
        });
        this.siguiente();

      })

    },

    fechaActual() {
      this.fecha_diag = (this.fecha.getFullYear()) + "/" + (this.fecha.getMonth() + 1) + "/" + this.fecha.getDate();
    },
    confirmar() {
      Swal.fire({
        title: "¿Estas seguro?",
        text: "Una vez aceptados los cambios no podras editar",
        type: "question",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Sí",
        cancelButtonText: "No"
      }).then(result => {
        if (result.value) {
          this.crearPersona();
        }
      });
    },

    crearReparacion() {
      axios.post('taesir/controlreparaciones', {
        num_orden: this.reparacion.num_orden,
        caracteristicas: this.reparacion.caracteristicas,
        observaciones: this.reparacion.observaciones,
        total: this.subtotal,
        descuento: 0,
        usuario_id: 73,
        operativo_id: this.reparacion.operativo_id,
        diagnostico_id: this.diagnostico_id,
        servicios:this.servagregados,
      }).then(respuesta => {
        Swal.fire({
          position: "center",
          type: "success",
          title: "Generado Correctamente",
          showConfirmButton: false,
          timer: 1000
        });
        this.valor = 1;
        window.location.assign("taesir#/servicios/reparacion/listado");
        console.log(respuesta.data);
      })
    }
  },
}
</script>

<style>
#quita{
  width: 39px;
  height: 15px;
}
</style>
