<template>
<div>
      <div class="col-md-offset-9" style="display: flex; justify-content: flex-end">
      <div class="input-group" style="width: 250;">
        <span class="input-group-addon" id="peso">FILTRAR <i id="icono" class="fa fa-filter" aria-hidden="true"></i></span>
        <select  type="text" v-model="tipo" class="form-control" @change='actualizar'>
              <option value=0>TALLER</option>
              <option value=1>DON MECANICO</option>
              <option value=2>TODO</option>
      </select>
      </div>
    </div>
    <br>
  <div class="box box-primary shadow">
    <div class="box-header with-border">
      <h4 class="box-title">LISTADO DE REPARACIONES</h4>
      
    </div>
    <div class="box-body">
      <a href="taesir#/servicios/reparacion/nuevo" class="btn btn-success pull-right">
          <i class="glyphicon glyphicon-plus"></i>Nueva Reparacion
        </a>
      <!--inicia contenido-->
      <v-client-table :data="tableData" :columns="columns" :options="options">
        <div slot="total" slot-scope="props">${{props.row.total}}</div>
        <div slot="beneficiario" slot-scope="props">{{props.row.diagnostico.beneficiario.persona.nombre+" "+props.row.diagnostico.beneficiario.persona.primer_apellido+" "+props.row.diagnostico.beneficiario.persona.segundo_apellido}}</div>
        <div slot="opciones" slot-scope="props">
          <button class="btn btn-xs bg-otro" title="Concluir reparacion"
        ><i  class="fa fa-check" title="Terminar Reparacion" @click="terminar(props.row.id)"></i></button>
          <a v-if="props.row.tipo ===0" class="btn btn-xs bg-boton" title="Imprimir recibo" id="pdf" @click.prevent="reimpresion(props.row.id)"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
          <a  v-if="props.row.tipo ===0" @click.prevent="agregar(props.row.id)" title="Agregar Servicios" class="btn btn-xs bg-success"><i class="fa fa-plus"></i></a>
          <a title="descontar Materiales" v-if="props.row.tipo ===0" @click.prevent="descontar(props.row.id)" class="btn btn-xs bg-warning"><i class="fa fa-minus"></i></a>
        </div>
      </v-client-table>

    </div>
  </div>
</div>
</template>

<script>
export default {
  mounted() {
    this.listado();
  },
  data() {
    return {
      tipo:2,
      reparacion: [],
      columns: [
        //"num_orden",
        "folio",
        "caracteristicas",
        "observaciones",
        "total",
        "beneficiario",
        "opciones"
      ],
      tableData: [],
      options: {
        headings: {
          num_orden: "Numero de orden",
          folio: "Folio",
          caracteristicas: "Caracteristicas",
          observaciones: "Observaciones",
          total: "Total",
          beneficiario: "Beneficiario"

        },

        sortable: ["num_orden", "folio"],
        filterable: ["folio", "diagnostico", "beneficiario"],
        pagination: {
          dropdown: false,
          chunk: 10,
          edge: false,
          align: "center",
          nav: "fixed"
        },
        perPageValues: [10, 25, 50, 100],
        texts: {
          count: "Mostrando {from} a {to} de {count} resultados|{count} resultados|Un resultado",
          first: "First",
          last: "Last",
          filter: "Buscar: ",
          filterPlaceholder: "INGRESA BUSQUEDA",
          limit: "Resultados: ",
          page: "Page:",
          noResults: "No hay resultados",
          filterBy: "Filter by {column}",
          loading: "Loading...",
          defaultOption: "Select {column}",
          columns: "Columns"
        }
      },
      pagination: {}
    };
  },
  methods: {
    listado() {
      axios
        .get("/taesir/controlreparacionesf/"+this.tipo)
        .then(respuesta => {
          this.reparacion = respuesta.data.data;
          this.tableData = respuesta.data.reparacion;
        })
        .catch(error => {});
    },

    actualizar() {
      block();
      axios
        .get("/taesir/controlreparacionesf/"+this.tipo)
        .then(respuesta => {
          this.reparacion = respuesta.data.data;
          this.tableData = respuesta.data.reparacion;
          unblock();
        })
        .catch(error => {
          unblock();
        });
    },
    reimpresion(id) {
      window.location.assign('taesir/reciboreparacion/' + id);
    },
    agregar(id) {
      window.location.assign("taesir#/servicios/reparacion/agregarservicios/" + id);
    },

    descontar(id){
     window.location.assign("taesir#/servicios/reparacion/descontarmaterial/"+id);
    },
    terminar(id) {
      axios.put('/taesir/diagcontrol/' + id).then(response => {
        Swal.fire({
          position: "center",
          type: "success",
          title: "REPARACIÓN CONCLUIDA SATISFACTORIAMENTE",
          showConfirmButton: true,
        });
        this.listado();
      })
    }
  }
};
</script>

<style scoped>
.bg-success {
  background-color: #00a65a;
  color: aliceblue;
  width: 25px;
  height: 25px;
}
.bg-warning {
  background-color:  #FF5107;
  color: aliceblue;
  width: 25px;
  height: 25px;
}
.bg-boton {
  background-color: #ffffff;
  color: #d12e2e;;
  width: 25px;
  height: 25px;
}
.bg-otro {
  background-color: #409cc9;
    color: #fff;
  width: 25px;
  height: 25px;
}

.bg-danger {
  color: #fff;
  background-color: #c62e2e;
  width: 25px;
  height: 25px;
}

#pdf {
  font-size: 15px;

}

.badge-success {
  background-color: #00a65a;
}

.badge-danger {
  background-color: #FFC107;
}

.badge-warning {
  background-color: #C62E2E;
}
</style>
