<template>
<div>
  <div class="">
    <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h3 class="box-title">Historial de Ventas</h3>
      </div>
      <div class="box-body">
        <div style="margin-bottom: 20px;">
          <div class="row">
            <div class="col-md-2 col-md-offset-10">
              <button class="btn btn-success" @click="nuevaVenta">
                <i class="fa fa-usd" aria-hidden="true"></i>
                Nueva Venta
              </button>
            </div>
          </div>
        </div>
        <div style="margin-bottom: 20px;">
          <div class="row">
            <div class="col-md-5">
              <label for="buscar">Buscar Venta:</label>
              <div class="input-group input-group-sm" style="width: 220px;">
                <input type="text" name="table_search" class="form-control pull-right" placeholder="Folio de Venta" v-model="busqueda" @keyup.enter="buscarVenta">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search" @click.prevent="buscarVenta"></i></button>
                </div>
                <div class="input-group-btn">
                    <button style="margin-left: 4px;" type="button" class="btn btn-warning outline" @click.prevent="refrescar()">
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                  </div>
              </div>
            </div>            
            <div class="col-md-2 col-md-offset-5">
              <label for="items">Elementos por Página:</label>
              <v-select :searchable="false" :clearable="false" v-model="pagination.per_page" :options="itemsPerPage" @input="listadoVentas()"></v-select>
            </div>
          </div>
        </div>
        <div class="box box-default">
          <div class="box-body no-padding table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <th>Venta</th>
                <th>Fecha</th>
                <th>Productos Vendidos</th>
                <th>Total</th>
                <th>Detalle</th>
                <th>Ticket</th>
              </thead>
              <tbody>
                <tr v-for="(venta, index) in listaVentas" :key="index">
                  <td>{{venta.folio}}</td>
                  <td>{{formatFecha(venta.fecha_venta)}}</td>
                  <td>{{venta.cantidad_articulos}}</td>
                  <td>${{(venta.total).toFixed(2)}}</td>
                  <td>
                    <button title="Ver detalles de Venta" class="btn btn-primary btn-xs" @click.prevent="verDetalles(venta.id)"><i class="fa fa-eye"></i> Ver</button>
                  </td>
                  <td>
                    <button title="Imprimir Ticket" @click="imprimir(venta.id)" class="btn btn-success btn-xs"><i class="fa fa-print" aria-hidden="true"></i> Imprimir</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-12" align="center">
          <nav aria-label="navigation">
            <ul class="pagination">
              <li v-if="pagination.current_page > 1">
                <a href="#" @click.prevent="changePage(pagination.current_page - 1)">
                  <span>Atras</span>
                </a>
              </li>
              <li v-for="(page,index) in pagesNumber" :key="index" v-bind:class="[ page == isActived ? 'active' : '']">
                <a href="#" @click.prevent="changePage(page)">
                  {{ page }}
                </a>
              </li>

              <li v-if="pagination.current_page < pagination.last_page">
                <a href="#" @click.prevent="changePage(pagination.current_page + 1)">
                  <span>Siguiente</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
    <!--------------------Modal Ver Detalles------------------>
    <div class="modal fade" id="modal-detalle" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
            <h4 class="modal-title" id="modal-detalle-title">Información de la venta</h4>
          </div>
          <div class="modal-body" id="modal-body-detalle">
            <div class="box box-primary shadow">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th style="width:30%"><i class="fa fa-id-card margin-r-5"></i>Folio:</th>
                          <td>{{datosModal.folio}}</td>
                        </tr>
                        <tr>
                          <th><i class="fa fa-shopping-basket margin-r-5"></i>Productos vendidos:</th>
                          <td>{{datosModal.productosVendidos}}</td>
                        </tr>                        
                      </tbody>
                    </table>
                  </div>
                </div>              
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th style="width:40%"><i class="fa fa-calendar margin-r-5"></i>Fecha de venta:</th>
                          <td>{{formatFecha(datosModal.fecha)}}</td>
                        </tr>
                        <tr>
                          <th><i class="fa fa-usd margin-r-5"></i>Total:</th>
                          <td>${{(datosModal.total).toFixed(2)}}</td>
                        </tr>                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
               <div class="box-header with border">
                <h4>Productos vendidos</h4>
              </div>
              <div class="row" style="margin-left: 5px;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Subtotal</th>
                      </thead>
                      <tbody>
                        <tr v-for="(item, index) in datosModal.listaProductos" :key="index">
                          <td>{{item.nombre}}</td>
                          <td>{{item.pivot.cantidad}}</td>
                          <td>${{(item.pivot.precio_unitario).toFixed(2)}}</td>
                          <td>${{item.pivot.subtotal.toFixed(2)}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer" id="modal-footer-detalle">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cerrar</button>
          </div>
        </div>
      </div>
    </div>
</div>
</template>

<script>
import moment from 'moment';
export default {
    data() {
        return {
          busqueda:'',          
          listaVentas:[],
          itemsPerPage:[10,25,50],
          pagination: {
			      'total': 0,
            'current_page': 1,
            'per_page': 10,
            'last_page': 0,
            'from': 0,
            'to': 0
            },
            offset: 3,  
            clearable: {
            type: Boolean,
            default: false
          },              
          searchable: {
            type: Boolean,
            default: false
          },    
          datosModal:{
            folio:'',
            fecha:'',
            productosVendidos:0,
            total:0,
            listaProductos:[],
          }
        }
    },
    methods: {
      listadoVentas(page){
        console.log('Obteniendo ventas...')
        var url='/panaderia/api/ventas?page='+page+'&per_page='+this.pagination.per_page;
        block();
        axios.get(url).then(respuesta=>{          
          this.listaVentas=respuesta.data.data;
          this.pagination.from=respuesta.data.from;
          this.pagination.last_page=respuesta.data.last_page;          
          this.pagination.per_page=respuesta.data.per_page;
          this.pagination.to=respuesta.data.to;
          this.pagination.total=respuesta.data.total;    
          unblock();      
        }).catch(error=>{
          console.log('surgio un error '+ error)
          unblock();
        });
      },
      refrescar(){        
        this.listadoVentas();        
      },
      buscarVenta(){       
        block();
        console.log('busancado venta...')
        if(this.busqueda==''){
          return
        }        
        var url='/panaderia/ventas/buscarventa/'+this.busqueda;
        axios.get(url).then(respuesta => {
                  this.listaVentas=[];
                  this.busqueda=null
                  //console.log(respuesta)
                  if(respuesta.data===""){
                  swal({type:'warning', title:'NO se encontraron resultados!'});
                  unblock();                  
                  return;
                  }
                  this.listaVentas.push(respuesta.data);
                  this.pagination.total= 1;
                  this.pagination.current_page=1;
                  this.pagination.per_page=10;
                  this.pagination.last_page=0;
                  this.pagination.from=0;
                  this.pagination.to=0;
              unblock();
              }).catch(error => {
                  console.log(error);              
                  swal({type:'warning', title:'NO se encontraron resultados!'});
                  unblock()
              });
      },   
      verDetalles(id){
        console.log('ver detalles')
        var url='/panaderia/api/ventas/'+id;
        block()
        axios.get(url).then(respuesta=>{
          console.log(respuesta)          
          this.datosModal.folio=respuesta.data.folio;
          this.datosModal.fecha=respuesta.data.fecha_venta;
          this.datosModal.total=respuesta.data.total;
          this.datosModal.productosVendidos=respuesta.data.cantidad_articulos;
          this.datosModal.listaProductos=respuesta.data.detalles;
          unblock()
          $('#modal-detalle').modal("show");
        }).catch(error=>{
          console.log('error en '+error)
          unblock()
        })        
      },
      formatPesos(n) {
            return new Intl.NumberFormat("en-ES").format(n);
      },
      formatFecha(date){
      return moment(date).format('DD/MM/YYYY');
      },
      nuevaVenta(){
        console.log('crear nueva venta...')
        window.location.assign("/panaderia#/ventas/nuevaVenta");
      },
      changePage(page) {
			this.pagination.current_page = page;
			this.listadoVentas(page);
      },
      imprimir(id){        
      var url="/panaderia/venta/ticket/"+id;
      var win = window.open(url,"_blank", 
      "toolbar=no,scrollbars=yes,resizable=no,top=100,left=250,width=800,height=400");   
      win.print();   
      win.focus();    
      }     
    },
    mounted() {          
      axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");
      this.listadoVentas();  
    },
    computed:{
      isActived: function() {
			return this.pagination.current_page;
		  },
		  pagesNumber: function() {
			  if(!this.pagination.to){
				  return [];
			  }

        var from = this.pagination.current_page - this.offset; 
        if(from < 1){
          from = 1;
        }

        var to = from + (this.offset * 2); 
        if(to >= this.pagination.last_page){
          to = this.pagination.last_page;
        }

        var pagesArray = [];
        while(from <= to){
          pagesArray.push(from);
          from++;
        }
        return pagesArray;
		  }
    },
}
</script>

<style scoped>

</style>
