<template>
  <v-app>
    <v-content>
      <v-container grid-list-md>
        <address-component
          :addressestado.sync="estado"
          :addressmunicipio.sync="municipio"
          :addresscolonia.sync="colonia"
        ></address-component>
        <v-layout row="wrap">
          <v-flex xs2>
            <v-menu
              ref="menu"
              v-model="pickers.fecha_inicio.menu"
              :close-on-content-click="false"
              :nudge-right="40"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="fecha_formatoMX_ini"
                  label="Primera fecha"
                  prepend-icon="event"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                ref="picker"
                v-model="pickers.fecha_inicio.date"
                :max="new Date().toISOString().substr(0, 10)"
                min="2019-01-01"
                locale="es-419"
                @input="pickers.fecha_inicio.menu = false"
              ></v-date-picker>
            </v-menu>
          </v-flex>

          <v-flex xs2>
            <v-menu
              ref="menu2"
              v-model="pickers.fecha_fin.menu"
              :close-on-content-click="false"
              :nudge-right="40"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="fecha_formatoMX_fin"
                  label="Segunda fecha"
                  prepend-icon="event"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                ref="picker"
                v-model="pickers.fecha_fin.date"
                :max="new Date().toISOString().substr(0, 10)"
                min="2019-01-01"
                locale="es-419"
                @input="pickers.fecha_fin.menu = false"
              ></v-date-picker>
            </v-menu>
          </v-flex>

          <v-flex xs2>
            <v-radio-group v-model="sexo" row>
              <v-radio label="Hombre" value="Hombre"></v-radio>
              <v-radio label="Mujer" value="Mujer"></v-radio>
            </v-radio-group>
          </v-flex>

          <v-flex xs6>
            <beneficios-component :beneficios.sync="beneficio"></beneficios-component>
          </v-flex>
        </v-layout>

        <v-btn @click.prevent="obtenerReporte" outline color="pink darken-2">Filtrar con estos datos</v-btn>
        <v-btn @click.prevent="cleanFields" outline color="indigo">Limpiar</v-btn>
        <v-divider></v-divider>
        <div>
          {{municipio}}
          {{sexo}}
          {{beneficio}}
          {{fecha_formatoMX_ini}} a {{fecha_formatoMX_fin}}
          {{victimas.length}} Resultado(s)
        </div>
        <v-card>
          <v-card-title>
            Víctimas
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Buscar por cualquier valor de alguna columna"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table :headers="headers" :items="victimas" :search="search">
            <template v-slot:items="props">
              <td>{{ props.item.id }}</td>
              <td>{{ props.item.petition_id }}</td>
              <td>{{ props.item.name }} {{ props.item.namepaterno }} {{ props.item.namematerno }}</td>
              <td>{{ props.item.addressmunicipio }}</td>
              <td>{{ props.item.gender }}</td>
              <td>{{ props.item.benefits }}</td>
              <td>{{ props.item.created_at }}</td>
            </template>
            <template v-slot:no-results>
              <v-alert
                :value="true"
                color="error"
                icon="warning"
              >La busqueda "{{ search }}" no dio ningun resultado.</v-alert>
            </template>
            <template slot="no-data">
              <v-alert
                :value="true"
                color="error"
                icon="warning"
              >No hay víctimas con la información dada :(</v-alert>
            </template>
          </v-data-table>
        </v-card>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  props: ["victims"],
  data() {
    return {
      search: "",
      victimas: this.victims,

      estado: "Oaxaca",
      municipio: "",
      colonia: "",
      sexo: "",
      beneficio: "",

      pickers: {
        fecha_inicio: {
          date: null,
          menu: false
        },
        fecha_fin: {
          date: null,
          menu: false
        }
      },
      headers: [
        { text: "id", value: "id" },
        { text: "pet", value: "petition_id" },
        {
          text: "Nombre",
          sortable: false,
          value: "name"
        },
        { text: "Municipio", value: "addressmunicipio" },
        { text: "Sexo", value: "gender" },
        { text: "Beneficios", value: "benefits" },
        { text: "Fecha de registro", value: "created_at" }
      ]
    };
  },
  methods: {
    obtenerReporte() {
      var ini = new Date(this.pickers.fecha_inicio.date);
      var end = new Date(this.pickers.fecha_fin.date);

      this.victimas = this.victims;
      var result = this.victimas;
      if (this.municipio != null && this.municipio != "") {
        result = this.victimas.filter(
          victima => victima.addressmunicipio == this.municipio
        );
      }
      if (this.sexo != null && this.sexo != "") {
        result = result.filter(victima => victima.gender == this.sexo);
      }
      if (this.beneficio != null && this.beneficio != "") {
        result = result.filter(victima => victima.benefits == this.beneficio);
      }
      if (
        this.pickers.fecha_fin.date != null &&
        this.pickers.fecha_fin.date != "" &&
        this.pickers.fecha_inicio.date != null &&
        this.pickers.fecha_inicio.date != ""
      ) {
        result = result.filter(
          v =>
            new Date(v.created_at).getTime() <= end.getTime() &&
            new Date(v.created_at).getTime() > ini.getTime()
        );
      }

      this.victimas = result;
    },
    cleanFields() {
      this.victimas = this.victims;
      (this.estado = "Oaxaca"),
        (this.municipio = ""),
        (this.colonia = ""),
        (this.sexo = ""),
        (this.beneficio = ""),
        (this.pickers.fecha_inicio.date = ""),
        (this.pickers.fecha_fin.date = "");
    }
  },
  computed: {
    fecha_formatoMX_ini: function() {
      var f = this.pickers.fecha_inicio.date;
      if (f != null && f != "") {
        return (
          f[8] + f[9] + "/" + f[5] + f[6] + "/" + f[0] + f[1] + f[2] + f[3]
        );
      }
    },
    fecha_formatoMX_fin: function() {
      var f = this.pickers.fecha_fin.date;
      if (f != null && f != "") {
        return (
          f[8] + f[9] + "/" + f[5] + f[6] + "/" + f[0] + f[1] + f[2] + f[3]
        );
      }
    }
  },
};
</script>
