<template>
    <v-app>
        <v-tabs centered color="white" icons-and-text>
                      <v-tabs-slider color="blue"></v-tabs-slider>

                      <v-tab href="#tab-1">
                        Victimas
                        <v-icon>person_pin</v-icon>
                      </v-tab>

                      <v-tab href="#tab-2">
                        Denunciantes
                        <v-icon>person_pin</v-icon>
                      </v-tab>

                      <v-tab-item value="tab-1">
                          <search-victims :victims="victims"></search-victims>
                      </v-tab-item>
                      <v-tab-item value="tab-2">
                          <search-petitions rol_actual="rol" :petitions="petitions"></search-petitions> 
                      </v-tab-item>
                    </v-tabs>
    </v-app>
</template>
<script>
export default {
    props:["victims","rol","petitions"],
    data(){
        return{

        }
    }
}
</script>