<template>
  <v-app>
    <v-content>
      <v-container grid-list-md>
        <v-tabs fixed-tabs>
          <v-tab href="#tab-1">
            <v-icon>brightness_auto</v-icon>Acciones
          </v-tab>
          <v-tab href="#tab-2">
            <v-icon>record_voice_over</v-icon>Víctimas
          </v-tab>

          <v-tab-item value="tab-1">
            <v-card>
              <v-card-title>
                <h4>Acciones/servicios</h4>

                <!-- **********************MODAL******************** -->
                <v-dialog v-model="dialog" persistent max-width="1000px">
                  <template v-slot:activator="{ on }">
                    <v-btn flat color="primary" dark v-on="on">Crear</v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="headline">Acción</span>
                    </v-card-title>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-layout wrap>
                          <v-flex xs12 sm12>
                            <v-autocomplete
                              v-model="acciones_store.beneficiarios"
                              :items="victimas"
                              label="Beneficiarios"
                              item-text="namefull"
                              item-value="id"
                              multiple
                            ></v-autocomplete>
                          </v-flex>

                          <v-flex xs12 sm12>
                            <v-select
                              v-model="acciones_store.accion"
                              :items="acciones"
                              label="Accion"
                              required
                            ></v-select>
                          </v-flex>

                          <v-flex xs12 sm12>
                            <v-combobox
                              v-model="acciones_store.institucion"
                              :items="instituciones"
                              label="Institucion responsable"
                              chips
                              clearable
                              solo
                            >
                              <template v-slot:selection="data">
                                <v-chip
                                  :key="JSON.stringify(data.item)"
                                  v-bind="data.attrs"
                                  :input-value="data.selected"
                                  :disabled="data.disabled"
                                  @click.stop="data.parent.selectedIndex = data.index"
                                  @click:close="data.parent.selectItem(data.item)"
                                >
                                  <v-avatar
                                    class="accent white--text"
                                    left
                                  >{{ data.item.slice(0, 1).toUpperCase() }}</v-avatar>
                                  {{ data.item }}
                                </v-chip>
                              </template>
                            </v-combobox>
                          </v-flex>

                          <v-flex xs12 sm12>
                            <v-text-field
                              v-model=" acciones_store.responsable "
                              label="Persona Encargada/Responsable"
                              required
                            ></v-text-field>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" flat @click="dialog = false">Cancelar</v-btn>
                      <v-btn color="blue darken-1" flat @click="crearAccion">Guardar</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <!-- *******************FIN--MODAL******************** -->

                <v-spacer></v-spacer>
                <v-text-field
                  v-model="search"
                  append-icon="search"
                  label="Buscar"
                  single-line
                  hide-details
                ></v-text-field>
              </v-card-title>
              <v-data-table
                :headers="headers"
                :items="acciones_list"
                :search="search"
                :expand="expand"
                :pagination.sync="pagination"
                :rows-per-page-items="[10, 20, 30, 50,100]"
              >
                <template v-slot:items="props">
                  <tr @click.stop="props.expanded = !props.expanded">
                    <td>
                      <strong>{{props.index+1}}</strong>
                    </td>
                    <td>{{props.item.folio}}</td>
                    <td>{{props.item.accion}}</td>
                    <td>{{props.item.institucion}}</td>
                    <td>{{props.item.responsable}}</td>
                    <td>
                      <!-- **********************MODAL SHOW******************** -->
                      <v-dialog
                        v-model="props.item.show_md"
                        transition="dialog-bottom-transition"
                        max-width="65%"
                      >
                        <template v-slot:activator="{ on: dialog }">
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on: tooltip }">
                              <v-btn icon v-on="{ ...tooltip, ...dialog }">
                                <v-icon color="grey darken-2">remove_red_eye</v-icon>
                              </v-btn>
                            </template>
                            <span>Ver Acción</span>
                          </v-tooltip>
                        </template>

                        <v-card>
                          <v-toolbar dark>
                            <v-btn icon dark @click="props.item.show_md = false">
                              <v-icon>close</v-icon>
                            </v-btn>
                            <v-toolbar-title>Ver Acción</v-toolbar-title>
                          </v-toolbar>
                          <v-card-text>
                            <v-container grid-list-md>
                              <v-layout wrap>
                                <show-action-component :action_id="props.item.id"></show-action-component>
                              </v-layout>
                            </v-container>
                          </v-card-text>
                        </v-card>
                      </v-dialog>
                      <!-- **********************MODAL CITAS******************** -->
                      <v-dialog v-model="props.item.cita_md" persistent max-width="800px">
                        <template v-slot:activator="{ on: dialog }">
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on: tooltip }">
                              <v-btn
                                :disabled="props.item.date_in_process == 1"
                                icon
                                v-on="{ ...tooltip, ...dialog }"
                              >
                                <v-icon color="grey darken-2">calendar_today</v-icon>
                              </v-btn>
                            </template>
                            <span>crear citas</span>
                          </v-tooltip>
                        </template>
                        <v-card>
                          <v-card-title>
                            <span class="headline">Citas</span>
                          </v-card-title>
                          <v-card-text>
                            <v-container grid-list-md>
                              <v-layout wrap>
                                <cita-por-expediente
                                  :action_id="props.item.id"
                                  :actions="acciones_list"
                                ></cita-por-expediente>
                              </v-layout>
                            </v-container>
                          </v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                              color="blue darken-1"
                              flat
                              @click.stop="props.item.cita_md = false"
                            >Cancelar</v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                      <!-- **********************MODAL REPORTES******************** -->
                      <v-dialog v-model="props.item.reporte_md" persistent max-width="1200px">
                        <template v-slot:activator="{ on: dialog }">
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on: tooltip }">
                              <v-btn icon v-on="{ ...tooltip, ...dialog }">
                                <v-icon color="grey darken-2">description</v-icon>
                              </v-btn>
                            </template>
                            <span>Reportes</span>
                          </v-tooltip>
                        </template>
                        <v-card>
                          <v-toolbar dark color="maaron">
                            <v-toolbar-title>Reportes</v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-toolbar-items>
                              <v-btn
                                fab
                                dark
                                small
                                color="black"
                                @click="props.item.reporte_md = false"
                              >
                                <v-icon dark>remove</v-icon>
                              </v-btn>
                            </v-toolbar-items>
                          </v-toolbar>
                          <v-card-text>
                            <v-container grid-list-md>
                              <v-layout>
                                <reporte-por-expediente :action_id="props.item.id"></reporte-por-expediente>
                              </v-layout>
                            </v-container>
                          </v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>

                      <!-- **********************MODAL EVIDENCIA******************** -->
                      <v-dialog v-model="props.item.evidencia_md" persistent max-width="800px">
                        <template v-slot:activator="{ on: dialog }">
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on: tooltip }">
                              <v-btn icon v-on="{ ...tooltip, ...dialog }">
                                <v-icon color="grey darken-2">camera_enhance</v-icon>
                              </v-btn>
                            </template>
                            <span>Evidencias</span>
                          </v-tooltip>
                        </template>

                        <v-card>
                          <v-card-title>
                            <span class="headline">Evidencia {{props.item.id}}</span>
                          </v-card-title>
                          <v-card-text>
                            <v-container grid-list-md>
                              <v-layout wrap>
                                <v-flex xs12 sm12>
                                  <evidencia-por-expediente :action_id="props.item.id"></evidencia-por-expediente>
                                </v-flex>
                              </v-layout>
                            </v-container>
                          </v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                              color="blue darken-1"
                              flat
                              @click.stop="props.item.evidencia_md = false"
                            >Cancelar</v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                      <template v-if="props.item.meetings.length < 1">
                        <v-tooltip top>
                          <template v-slot:activator="{ on }">
                            <v-btn icon v-on="on">
                              <v-icon small color="red darken-2">fiber_manual_record</v-icon>
                            </v-btn>
                          </template>
                          <span>¿Que significa? Rojo: No ha creado ninguna cita a esta acción</span>
                        </v-tooltip>
                      </template>
                      <template v-else-if="props.item.date_in_process == 1">
                        <v-tooltip top>
                          <template v-slot:activator="{ on }">
                            <v-btn icon v-on="on">
                              <v-icon small color="yellow darken-2">fiber_manual_record</v-icon>
                            </v-btn>
                          </template>
                          <span>¿Que significa? Amarillo:Citas sin reportar</span>
                        </v-tooltip>
                      </template>
                      <template v-else-if="true">
                        <v-tooltip top>
                          <template v-slot:activator="{ on }">
                            <v-btn icon v-on="on">
                              <v-icon small color="green darken-2">fiber_manual_record</v-icon>
                            </v-btn>
                          </template>
                          <span>¿Que significa? Verde:Todas las citas reportadas correctamente</span>
                        </v-tooltip>
                      </template>

                      <!-- **********************FIN MODALES******************** -->
                    </td>
                  </tr>
                </template>
                <template v-slot:no-results>
                  <v-alert
                    :value="true"
                    color="error"
                    icon="warning"
                  >La busqueda "{{ search }}" no dio ningun resultado.</v-alert>
                </template>

                <template v-slot:expand="props">
                  <v-expansion-panel popout>
                    <v-expansion-panel-content
                      v-for="(victima, i) in props.item.victims"
                      :key="i"
                      hide-actions
                    >
                      <template v-slot:header>
                        <v-layout align-center row spacer>
                          <v-flex xs4 sm2 md1>
                            <v-avatar size="36px">
                              <img src="/storage/img/profile.png" alt="Avatar" />
                            </v-avatar>
                          </v-flex>

                          <v-flex sm5 md3 hidden-xs-only>
                            <strong>{{victima.namefull}}</strong>
                            <span class="grey--text">({{ victima.age }} años)</span>
                          </v-flex>

                          <v-flex no-wrap xs5 sm3>
                            <v-chip
                              color="blue lighten-4"
                              class="ml-0"
                              label
                              small
                            >{{ victima.gender }}</v-chip>
                            <strong>{{victima.benefits}}</strong>
                          </v-flex>
                          <v-spacer></v-spacer>
                          <v-flex
                            class="grey--text"
                            ellipsis
                            hidden-sm-and-down
                          >{{ victima.created_at }}</v-flex>
                        </v-layout>
                      </template>

                      <v-card>
                        <v-divider></v-divider>
                        <v-card-text>{{petition.addressfull}}</v-card-text>
                      </v-card>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </template>
                <template slot="no-data">
                  <v-alert
                    :value="true"
                    color="error"
                    icon="warning"
                  >No hay acciones o servicios realizados aún</v-alert>
                </template>
              </v-data-table>

              <v-btn
                v-if="validateButtonSubPetition()"
                outline
                color="indigo"
                @click="dialog_revision = true"
              >Enviar a revisión con el subprocurador</v-btn>

              <v-dialog v-model="dialog_revision" max-width="40%">
                <v-card>
                  <v-card-title>
                    <h5>Notificar al subprocurador para revisión</h5>
                  </v-card-title>
                  <v-card-text>
                    <v-textarea
                      v-model="conclusion.mensaje"
                      :rules="rules.conclusion"
                      name="texto-conclusion"
                      label="Inserta en pocas palabras el porque conluye el proceso"
                      hint="Inserta las observaciones/detalles/e información que pueda ser de utilidad al subprocurador"
                    ></v-textarea>
                  </v-card-text>
                  <v-card-actions>
                    <v-btn
                      outline
                      color="primary"
                      :loading="loading"
                      :disabled="loading"
                      @click="validateconclusion"
                    >Enviar</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-card>
          </v-tab-item>

          <v-tab-item value="tab-2">
            <card-victims :victims="victimas" :direccion="petition.addressfull"></card-victims>
          </v-tab-item>
        </v-tabs>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>
import * as Moment from "moment";
import { extendMoment } from "moment-range";

const moment = extendMoment(Moment);
export default {
  props: ["petition", "victims", "expedient", "affair"],

  data() {
    return {
      dialog_revision: false,
      petition_id: this.petition.id,
      acciones_list: [],

      acciones_store: {
        beneficiarios: [],
        accion: "",
        institucion: "",
        responsable: ""
      },
      conclusion: {
        mensaje: null
      },

      loading: false,
      victimas: this.victims,

      beneficiarios: [],
      acciones: [
        "Visita al niño, niña y adolescente",
        "Atencion medica para la realizacion de estudios de enfermedades",
        "Obtener acta de nacimiento",
        "Redirigir a casa Hogar",
        "Vincular a dependencia"
      ],
      instituciones: [
        "Servicio Médico",
        "Trabajo social",
        "Psicologia",
        "Registro civil",
        "Casa Hogar"
      ],
      conclusion: {
        state: "1",
        description:
          "Abogado finalizó el expediente, en espera de aprobacion del subprocurador"
      },

      /* **********MODAL********** */
      dialog: false,
      dialog2: false,

      /* **********TABLE********** */
      search: "",
      expand: false,
      headers: [
        { text: "Id", value: "na" },
        { text: "Folio", value: "folio" },
        { text: "Accion", value: "accion" },
        { text: "Institucion", value: "institucion" },
        { text: "Responsable", value: "responsable" },
        { text: "Acciones", value: "na" }
      ],
      pagination: {
        sortBy: "id",
        descending: true
      },
      rules: {
        conclusion: [v => !!v || "Debe escribir algo para el procurador"]
      }
    };
  },
  methods: {
    crearAccion() {
      axios
        .post("/actions/store/" + this.expedient.id + "", {
          beneficiarios: this.acciones_store.beneficiarios,
          accion: this.acciones_store.accion,
          institucion: this.acciones_store.institucion,
          responsable: this.acciones_store.responsable
        })
        .then(response => {
          this.$swal({
            icon: "success",
            title:
              this.acciones_store.accion + " ha sido registrado correctamente"
          }).then(value => {
            location.reload();
          });
        })
        .catch(e => {
          console.log("algo salio mal");
        });

      return "";
    },
    validateconclusion() {
      axios
        .put("/affair/finish/" + this.petition_id + "", {
          state: this.conclusion.state,
          conclusion: this.conclusion.conclusion
        })
        .then(response => {
          this.loading = true;
          axios
            .post("/petitions/assign/mail/" + this.petition_id + "", {
              email: "zombie1288@outlook.com",
              mensaje: this.conclusion.mensaje,
              emisor: "Abogado",
              receptor: "Subprocurador",
              petition_id: this.petition_id
            })
            .then(response => {
              this.$swal({
                icon: "success",
                title: "Correo enviado exitosamente"
              }).then(value => {
                window.location.href = "/petitions/" + this.petition_id + "";
              });
            })
            .catch(e => {
              console.log("Error al enviar el correo al subprocurador");
            });
        })
        .catch(e => {
          this.$swal("Por favor revise sus datos algo salio Mal");
        });
    },

    validateButtonSubPetition() {
      return this.acciones_list.length > 1 ? true : false;
    }
  },
  created() {
    moment.locale("es");

    axios
      .post("/actions/index/" + this.expedient.id + "")
      .then(response => {
        this.acciones_list = response.data;

        var array = [];
        var ahora = moment();
        response.data.forEach(accion => {
          accion.meetings.forEach(cita => {
            var compare = moment(cita.dateappointment).add(7, "d");
            if (cita.report_complet == 0 && ahora.isAfter(compare)  ) {
              array.push(cita);
            }
          });
        });

        if (array.length > 0) {
          var nodo = document.createElement("div");

          array.forEach(function(cita) {
            var el = document.createElement("a");
            el.innerText = "Acción 000"+ cita.action_id +" la cita 0000" + cita.id ;
            nodo.appendChild(el);
            nodo.appendChild(document.createElement("br"));
          });

          this.$swal({
            title: "Urgente!! Citas con reportes expirados",
            text: "Si no las reporta el subprocurador puede desvincularlo de esta solicitud o despedirlo",
            content: nodo,
            icon: "warning",
            buttons: true,
            dangerMode: true
          });
        }
      })
      .catch(e => {
        console.log("algo salio mal");
      });
  }
};
</script>
