<template>
  <v-flex>
    <v-card>
      <v-card-title>
        <h4>Acciones</h4>
        <v-spacer></v-spacer>
        <v-text-field v-model="search" append-icon="search" label="Buscar" single-line hide-details></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="acciones_list"
        :search="search"
        :expand="expand"
        :pagination.sync="pagination"
        :rows-per-page-items="[10, 20, 30, 50,100]"
      >
        <template v-slot:items="props">
          <tr @click.stop="props.expanded = !props.expanded">
            <td>
              <strong>{{props.index+1}}</strong>
            </td>
            <td>{{props.item.folio}}</td>
            <td>{{props.item.accion}}</td>
            <td>{{props.item.institucion}}</td>
            <td>{{props.item.responsable}}</td>
            <td>
              <!-- **********************MODAL SHOW******************** -->
              <v-dialog
                v-model="props.item.show_md"
                transition="dialog-bottom-transition"
                max-width="75%"
              >
                <template v-slot:activator="{ on }">
                  <v-btn icon v-on="on">
                    <v-icon color="grey darken-2" v-on="on">remove_red_eye</v-icon>
                  </v-btn>
                </template>
                <v-card>
                  <v-toolbar dark>
                    <v-btn icon dark @click="props.item.show_md = false">
                      <v-icon>close</v-icon>
                    </v-btn>
                    <v-toolbar-title>Ver Acción</v-toolbar-title>
                  </v-toolbar>
                  <v-card-text>
                    <v-container grid-list-md>
                      <v-layout wrap>
                        <show-action-component :action_id="props.item.id"></show-action-component>
                      </v-layout>
                    </v-container>
                  </v-card-text>
                </v-card>
              </v-dialog>
            </td>
          </tr>
        </template>
        <template v-slot:no-results>
          <v-alert
            :value="true"
            color="error"
            icon="warning"
          >La busqueda "{{ search }}" no dio ningun resultado.</v-alert>
        </template>
        <template v-slot:expand="props">
          <v-expansion-panel popout>
            <v-expansion-panel-content
              v-for="(victima, i) in props.item.victims"
              :key="i"
              hide-actions
            >
              <template v-slot:header>
                <v-layout align-center row spacer>
                  <v-flex xs4 sm2 md1>
                    <v-avatar size="36px">
                      <img
                        src="/storage/img/profile.png"
                        alt="Avatar"
                      />
                    </v-avatar>
                  </v-flex>

                  <v-flex sm5 md3 hidden-xs-only>
                    <strong>{{victima.namefull}}</strong>
                    <span class="grey--text">({{ victima.age }} años)</span>
                  </v-flex>

                  <v-flex no-wrap xs5 sm3>
                    <v-chip color="blue lighten-4" class="ml-0" label small>{{ victima.gender }}</v-chip>
                    <strong>{{victima.benefits}}</strong>
                  </v-flex>
                  <v-spacer></v-spacer>
                  <v-flex class="grey--text" ellipsis hidden-sm-and-down>{{ victima.created_at }}</v-flex>
                </v-layout>
              </template>

              <v-card>
                <v-divider></v-divider>
                <v-card-text>{{victima}}</v-card-text>
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </template>
        <template slot="no-data">
            Pronto el abogado comenzará a relizar las acciones correspondientes
          </template>
      </v-data-table>
    </v-card>
  </v-flex>
</template>
<script>
export default {
  props: ["petition", "victims", "expedient"],

  data() {
    return {
      acciones_list: [],

      victimas: this.victims,

      beneficiarios: [],
      acciones: ["accion1", "accion2", "accion3", "accion4"],
      instituciones: ["DIF oaxaca", "Casa hogar", "Registro civil"],

      /* **********TABLE********** */
      search: "",
      expand: false,
      headers: [
        { text: "Id", value: "na" },
        { text: "Folio", value: "folio" },
        { text: "Accion", value: "accion" },
        { text: "Institucion", value: "institucion" },
        { text: "Responsable", value: "responsable" },
        { text: "Acciones", value: "na" }
      ],
      pagination: {
        sortBy: "id",
        descending: true
      }
    };
  },
  methods: {},
  created() {
    axios
      .post("/actions/index/" + this.expedient.id + "")
      .then(response => {
        this.acciones_list = response.data;
      })
      .catch(e => {
        console.log("algo salio mal");
      });
  }
};
</script>
