<template>
  <v-flex xs12>
    <template v-if="citas.length > 0" >
      <div v-for="cita in citas" v-bind:key="cita.id">
        <v-card>
          <v-icon color="indigo" v-if="cita.report_complet">spellcheck</v-icon>
          <v-icon color="indigo" v-else>query_builder</v-icon>
          <strong>Cita número {{cita.id}}</strong>

          <span v-if="cita.report_complet">Con reporte realizado</span>
          <span v-else>Incompleto</span>

          <v-list two-line>
            <v-list-tile>
              <v-list-tile-action>
                <v-icon color="indigo">today</v-icon>
              </v-list-tile-action>

              <v-list-tile-content>
                <v-list-tile-title>{{cita.dateappointment}} </v-list-tile-title>
                <v-list-tile-sub-title>Fecha y hora de la cita + {{cita.numero}}{{cita.tiempo}} aproximado </v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>

            <v-list-tile>
              <v-list-tile-action></v-list-tile-action>

              <v-list-tile-content>
                <v-list-tile-title>{{ cita.reason }}</v-list-tile-title>
                <v-list-tile-sub-title>{{ cita.observations }}</v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>

            <v-list-tile v-if="cita.report_complet">
              <v-list-tile-action>
                <v-icon color="indigo">backup</v-icon>
              </v-list-tile-action>

              <v-list-tile-content>
                <v-list-tile-title>
                  <a
                    :href="'/storage/' + String(cita.url_reporte).slice(7)"
                    target="_blanck"
                  >{{cita.report_name}}</a>
                </v-list-tile-title>
                <v-list-tile-sub-title>{{ cita.conclusion }}</v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-card>
      </div>
    </template>
    <template v-else>
      <h4>No hay citas</h4>
    </template>

    <v-divider></v-divider>

    <template v-if="reportes.length > 0" >
    <div v-for="reporte in reportes" v-bind:key="reporte.id + 'A' ">
      <modal-report :report="reporte"></modal-report>
    </div>
    </template>
    <template v-else>
      <h4>No hay reportes escritos</h4>
    </template>

    <v-divider></v-divider>

    <template v-if="evidencias.length > 0" >
    <v-layout row wrap>
      <v-flex v-for="evidencia in evidencias" v-bind:key="evidencia.id + 'B' ">
        <img width="344" :aspect-ratio="16/9" :src="evidencia.fullpath" />
      </v-flex>
    </v-layout>
    </template>
    <template v-else>
      <h4>No hay evidencias</h4>
    </template>
  </v-flex>
</template>

<script>
export default {
  props: ["action_id"],
  data() {
    return {
      citas: [],
      reportes: [],
      evidencias: []
    };
  },
  methods: {},
  created() {
    axios
      .post("/actions/meetings/" + this.action_id + "")
      .then(response => {
        this.citas = response.data;
      })
      .catch(e => {
        console.log("Error al traer citas");
      });

    axios
      .post("/actions/accounts/" + this.action_id + "")
      .then(response => {
        this.reportes = response.data;
      })
      .catch(e => {
        console.log("Error al traer reportes");
      });

    axios
      .post("/actions/files/" + this.action_id + "")
      .then(response => {
        this.evidencias = response.data;
      })
      .catch(e => {
        console.log("Error al traer Evidencias");
      });
  }
};
</script>