<template>
  <v-app>
    <v-content>
      <v-card>
        <v-card-title>
          <h4>Reasignacion</h4>
          <v-spacer></v-spacer>
        </v-card-title>
        <v-card-text>
          <v-select
            v-model="lawer_id"
            :items="lawers"
            item-text="name"
            item-value="id"
            label="Selecciona Abogado"
            v-on:change="seleccionAbogado"
          ></v-select>
        </v-card-text>
      </v-card>

      <v-card>
        <v-card-title>
          <h4>Casos</h4>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Buscar detalles casos"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="casos_int"
          :search="search"
          :expand="expand"
          :pagination.sync="pagination"
          :rows-per-page-items="[10, 20, 30, 50,100]"
        >
          <template v-slot:items="props">
            <tr @click="props.expanded = !props.expanded">
              <td>
                <strong>{{ props.item.folio }}</strong>
              </td>
              <td>{{ props.item.via }}</td>
              <td>{{ props.item.addressfull }}</td>
              <td>
                
                {{ props.item.affair.user_id }}
              </td>

              <!-- *******************************Inicio ETIQUETAS *****************************-->
              <td>
                <v-chip v-if="props.item.completed" :color="'red lighten-5'" label small>Finalizado</v-chip>
                <v-chip v-else-if="props.item.changed" :color="'yellow accent-2'" label>
                  <v-icon small>warning</v-icon>Revisión
                </v-chip>
                <v-chip
                  v-else-if="props.item.process != 'sin_asignar'"
                  :color="'yellow lighten-5'"
                  label
                  small
                >Proceso</v-chip>
                <v-chip
                  v-else-if="props.item.assignedaffair"
                  :color="'green lighten-5'"
                  label
                  small
                >Asignado</v-chip>
                <v-chip v-else :color="'blue lighten-5'" label small>Nueva</v-chip>
              </td>
              <td>
                <v-tooltip top v-if="$can('petitions.show')">
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                      <v-icon
                        color="grey darken-2"
                        @click.stop="showItem(props.item)"
                      >remove_red_eye</v-icon>
                    </v-btn>
                  </template>
                  <span>Ver Solicitud</span>
                </v-tooltip>

                <v-dialog
                  v-model="props.item.show_md"
                  transition="dialog-bottom-transition"
                  max-width="70%"
                >
                  <template v-slot:activator="{ on: dialog }">
                    <v-tooltip top>
                      <template v-slot:activator="{ on: tooltip }">
                        <v-btn icon v-on="{ ...tooltip, ...dialog }">
                          <v-icon color="grey darken-2">call_merge</v-icon>
                        </v-btn>
                      </template>
                      <span>Reasignar</span>
                    </v-tooltip>
                  </template>

                  <v-card>
                    <v-toolbar dark>
                      <v-btn icon dark @click="props.item.show_md = false">
                        <v-icon>close</v-icon>
                      </v-btn>
                      <v-toolbar-title>Reasignar {{props.item.folio}}</v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                      
                          <reassign-format  :lawers="lawers" :petition="props.item" :lawer_actual="props.item.affair.user_id"></reassign-format>
                    </v-card-text>
                  </v-card>
                </v-dialog>
              </td>
            </tr>
          </template>
          <template v-slot:no-results>
            <v-alert
              :value="true"
              color="error"
              icon="warning"
            >La busqueda "{{ search }}" no dio ningun resultado.</v-alert>
          </template>
          <template v-slot:expand="props">
            <v-card flat>
              <td>Descripción de la solicitud: {{ props.item.description }}</td>
            </v-card>
          </template>
          <template slot="no-data">
            <v-alert :value="true" color="error" icon="warning">No hay casos para mostrar :(</v-alert>
          </template>
        </v-data-table>
      </v-card>
    </v-content>
  </v-app>
</template>
<script>
export default {
  props: [ "user","lawers", "casos"],
  data() {
    return {
      lawer_id: "",
      casos_int: this.casos,
      search: "",
      expand: false,

      headers: [
        { text: "Folio", value: "folio" },
        { text: "Via", value: "via" },
        { text: "Direccion", value: "addressfull" },
        { text: "id Abogado", value: "affair.user_id" },
        { text: "Seguimiento", value: "id" },
        { text: "Acciones", value: "id" }
      ],
      pagination: {
        sortBy: "folio",
        descending: true
      },
    };
  },

  methods: {
    seleccionAbogado() {
      window.location.href = "/affair/reasign/" + this.lawer_id + "";
    },
    showItem(item) {
      window.location.href = "/petitions/" + item.id + "";
    },
  },
  created: function(){
      if( this.user != null && this.user != "")
      {
        this.lawer_id = this.user.id;
        this.casos_int = this.casos_int.filter(v => v.affair.user_id == this.user.id)
      }
      else
      {
          console.log("no metiste el usuario");
      }
  }
};
</script>