<template>
  <div>
    <div class="box box-primary shadow">
      <div class="box-header with-border">    
    <h3 class="box-title">Productos</h3>
    <button v-if="checkRol('ADMINISTRADOR')||checkRol('ENCARGADO')" type="button" class="btn btn-success pull-right" @click.prevent="modalCrear">
      <i class="fa fa-plus"></i> Agregar producto
    </button>    
    </div>        
    <div class="box-body">
    <!---Tabla-->
    <v-client-table :data="tableData" :columns="columns" :options="options">
      <!--Precio-->
      <div slot="precio" slot-scope="props">
        $ {{formatPesos(props.row.precio)}}
      </div>
      <!--Tipo de Producto-->
        <div slot="tipoproducto_id" slot-scope="props">
        {{props.row.tipo.nombre}}
        </div>
      <!--Estado-->
      <div slot="activo" slot-scope="props">      
      <toggle-button :disabled="checkRol('VENDEDOR')" @change="changeEstado(props.row)" :sync="true" :value="props.row.activo? true : false"/>
      </div>
      <!--Solicitado-->
      <div slot="solicitado" slot-scope="props">
        <span v-if="props.row.solicitado" class="badge badge-success">Disponible</span>
        <span v-else class="badge badge-danger">No Disponible</span>
      </div>
      <!--Opciones-->
      <div slot="opciones" slot-scope="props">
      <button title="Ver Producto" class="btn btn-primary btn-xs" @click.prevent="modalVer(props.row.id)"><i class="fa fa-eye"></i> Ver</button>
      <button v-if="checkRol('ADMINISTRADOR')||checkRol('ENCARGADO')" class="btn btn-xs btn-warning" title="Editar" @click.prevent="modalEditar(props.row.id)"><i class="glyphicon glyphicon-pencil"></i> Editar</button>
      <button v-if="checkRol('ADMINISTRADOR')||checkRol('ENCARGADO')" class="btn btn-xs btn-danger" title="Eliminar" @click.prevent="eliminar(props.row.id)"><i class="glyphicon glyphicon-trash"></i> Eliminar</button>
      </div>
    </v-client-table>
    </div>       
    </div>
    <!--modal para crear y editar todo en uno-->
   <form method="POST" v-on:submit.prevent="metodo?crearNuevo():actualizar()">
   <div class="modal fade" id="modal">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">
             <span>&times;</span>
           </button>
           <h4 class="modal-title">{{modal.titulo}}</h4>
         </div>
         <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
               <div class="form-group">
                 <label for="nombre" class="text-primary">Producto:</label>
                 <input v-validate="{required:true, regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}" type="text" name="nombre" class="form-control" v-model="producto.nombre" placeholder="Nombre del Producto">
                 <span class="validacion">{{ errors.first('nombre') }}</span>
               </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                 <label for="tipo" class="text-primary">Tipo de Producto:</label>
                 <select v-validate="'required'" name="tipo" v-model="producto.tipo" class="form-control">
                   <option disabled value="">Seleccionar un tipo de Producto:</option>
                   <option v-for="(tipo,index) in tiposProductos" :key="index" v-bind:value="tipo.id">
                     {{ tipo.nombre }}
                   </option>
                 </select>
                 <span class="validacion">{{ errors.first('tipo') }}</span>
               </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                 <label for="solicitado" class="text-primary">Disponible para Pedidos y Donativos:</label>
                 <select title="Disponible para Donativos y Pedidos" v-validate="'required'" name="solicitado" v-model="producto.solicitado" class="form-control">
                   <option disabled value="">Seleccionar una opcion:</option>                   
                   <option value="1">Disponible</option>
                   <option value="0">No Disponible</option>
                 </select>
                 <span class="validacion">{{ errors.first('solicitado') }}</span>
               </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
               <label for="precio" class="text-primary">Precio:</label>
               <div class="input-group input-group-sm">
                 <div class="input-group-btn">
                   <button disabled class="btn btn-default"><i class="fa fa-usd"></i></button>
                 </div>
                 <input type="number" min="0" step="0.5" name="precio" class="form-control" v-model="producto.precio">
               </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                 <label for="stock" class="text-primary">Stock:</label>
<!--                  <input v-if="metodo" disabled type="number" min="0" name="stock" class="form-control" v-model.number="producto.stock">
 -->                 <input disabled type="number" min="0" name="stock" class="form-control" v-model.number="producto.stock">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="descripcion" class="text-primary">Descripción:</label>
                <textarea class="form-control" v-model="producto.descripcion" name="descripcion" id="descripcionID" rows="3"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="text-primary" for="image">Imagen</label>
                <input ref="inputImage" class="form-control" type="file" name="image" @change="getImage" accept="image/*">
              </div>
            </div>
          </div>                       
         </div>
         <div class="modal-footer">
           <button type="submit" class="btn btn-success" >{{modal.boton}}</button>
           <button class="btn btn-danger" value="Cancelar" data-dismiss="modal">Cancelar</button>
         </div>
       </div>
     </div>
   </div>
 </form>
    <!---modal para ver el Producto--->
    <div class="modal fade" id="modalVer">
      <div class="modal-dialog" role="document">
        <div class="modal-content">         
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
              <h4 class="modal-tittle">Detalles del Producto</h4>
            </div>
            <div class="modal-body">
              <div class="box box-primary shadow">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th><i class="fa fa-ship"></i> Producto: <br>{{detallesProducto.nombre}}
                          </th>                          
                        </tr>                                                         
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th><i class="fa fa-star-half-o" aria-hidden="true"></i> Tipo: <br>{{detallesProducto.tipo.nombre}}
                          </th>                          
                        </tr>                       
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>                        
                        <tr>
                          <th><i class="fa fa-usd" aria-hidden="true"></i> Precio: <br>${{detallesProducto.precio}}
                          </th>                          
                        </tr>                                                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>              
              <div v-if="detallesProducto.image!=null" class="row">
                <div class="col-md-12" align="center">
              <div class="card" style="width: 18rem;" align="center">
                <img width="250" height="200" :src="detallesProducto.image" class="card-img-top" alt="..." style="border-radius: 4px;" >                
              </div>
            </div> 
              </div>             
              <div class="row">
                <div class="col-md-12">
                  <label style="margin: 12px;" for="descripcion">Descripción: {{detallesProducto.descripcion}}</label>
                </div>
              </div>
            </div>            
            </div>            
            <div class="modal-footer">                            
              <button class="btn btn-danger" value="Cancelar" data-dismiss="modal">Cerrar</button>
            </div>          
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
   mounted() {                    
        this.$validator.reset();             
        axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");
        this.listado();
    },
    props:['rol'],
    data() {
        return {
          //ver Producto
          detallesProducto:{id:null,nombre:null,tipo:'',precio:'0',stock:'0',activo:'1',descripcion:'',image:null},
          //
            titulo: 'Listado de productos',            
            producto:{id:null,nombre:null,tipo:'',precio:'0',stock:'0',activo:'1',solicitado:1,descripcion:'' ,image:null},
            tiposProductos:[],            
            modal:{'titulo':'','boton':''},
            metodo:true,//true si es por post false si es por put
            //propiedades de la tabla           
            columns: ['nombre', 'tipoproducto_id','precio','stock','activo','solicitado','opciones'],
            tableData:[],
            //opciones de la tabla donde se puede modificar las etiquetas de los elementos
            options: {
            headings: {nombre: 'Nombre', tipoproducto_id: 'Tipo',activo:'Estado',solicitado:'Donativos/Pedidos',opciones: 'Opciones'},
            sortable:['nombre','tipoproducto_id','solicitado','activo'],   
            filterable:['nombre','tipo'],
            pagination: {
              dropdown: false,
              chunk: 10,
              edge: false,
              align: 'center',
              nav: 'fixed'
            },            
            perPageValues:[10,25,50,100],            
            texts: {
              count: "Mostrando {from} a {to} de {count} resultados|{count} resultados|Un resultado",
              first: 'First',
              last: 'Last',
              filter: "Buscar: ",
              filterPlaceholder: "Búsqueda",
              limit: "Resultados: ",
              page: "Page:",
              noResults: "No hay resultados",
              filterBy: "Filter by {column}",
              loading: 'Loading...',
              defaultOption: 'Select {column}',
              columns: 'Columns'
                }
            },
        }
    },    
    methods: {
        getImage(event){            
                //Asignamos la imagen a  nuestra data
              this.producto.image = event.target.files[0];
            },
        getProducto(id){ 
          this.$refs.inputImage.value=null;
            block();
            axios.get('/panaderia/api/productos/'+id).then(respuesta => {                                
                this.producto.id=respuesta.data.id;
                this.producto.nombre=respuesta.data.nombre;
                this.producto.tipo=respuesta.data.tipoproducto_id;
                this.producto.precio=respuesta.data.precio;
                this.producto.activo=respuesta.data.activo;                
                this.producto.stock=respuesta.data.stock;
                this.producto.solicitado=respuesta.data.solicitado;
                this.producto.descripcion=respuesta.data.descripcion;
                this.producto.image=respuesta.data.image;
                unblock();
            }).catch(error => {
                unblock();
                console.log(error);								 
								 swal({type: 'error',title: 'Ocurrió un error al obtener los datos.', confirmButtonText:'Aceptar'});
            });  
        },
        listado() {
            var url='/panaderia/todos/productos';
            block();
            axios.get(url).then(respuesta => {
                this.tableData = respuesta.data.productos;                
                this.tiposProductos = respuesta.data.tipos;
                unblock();
            }).catch(error => {
                console.log(error);
                unblock();								 
								 swal({type: 'error',title: 'Ocurrió un error al cargar los datos.', confirmButtonText:'Aceptar'});
            });
        },  
        modalCrear(){
            this.$validator.reset();
            this.resetDatos(); 
            this.metodo=true;
            this.modal.titulo='Agregar nuevo producto';
            this.modal.boton='Guardar';           
            $('#modal').modal('show');        
            console.log('crear');
        },
        modalEditar(id){
          this.$validator.reset();
            this.metodo=false;     
            this.modal.titulo='Actualizar datos';
            this.modal.boton='Actualizar';                        
            this.getProducto(id);            
            $('#modal').modal('show');                      
        },
        crearNuevo(){            
            console.log('Enviando formulario');           
            this.$validator.validate().then( valid => {
            if(valid){
              var data = new  FormData();
                //Añadimos la imagen seleccionada
                if(this.producto.image!=null)
                data.append('image', this.producto.image);
                //Añadimos el método PUT dentro del formData
                // Como lo hacíamos desde un formulario simple _(no ajax)_
                data.append('_method', 'POST');
                data.append('nombre',this.producto.nombre.toUpperCase());
                data.append('tipoproducto_id',this.producto.tipo);
                data.append('precio',this.producto.precio);
                data.append('activo',this.producto.activo);
                data.append('stock',this.producto.stock);
                data.append('solicitado',this.producto.solicitado);
                data.append('descripcion',this.producto.descripcion);
                block();
            axios.post('/panaderia/api/productos',data).then( respuesta => {
                console.log('El produto se creo');
                console.log(respuesta.data);
                $('#modal').modal('hide');                                                                
                this.resetDatos();                                 
                this.listado();  
                unblock();       								     
								swal({type: 'success',title: 'Agregado correctamente.', confirmButtonText:'Aceptar'}); 
                return;         
            }).catch( error => {
                console.log('Ocurrio un error');
                console.log(error);
                unblock();								
								swal({type: 'error',title: 'Error al guardar los datos.', confirmButtonText:'Aceptar'});
            });
            }
            })
            unblock();
        },
        actualizar(){ 
            var id=this.producto.id;            
            console.log('Enviando formulario');            
            this.$validator.validate().then( valid => {
              if(valid){
                var data = new  FormData();
                //Añadimos la imagen seleccionada
                if(this.producto.image!=null)
                data.append('image', this.producto.image);
                //Añadimos el método PUT dentro del formData
                // Como lo hacíamos desde un formulario simple _(no ajax)_
                data.append('_method', 'PUT');
                data.append('nombre',this.producto.nombre.toUpperCase());
                data.append('tipoproducto_id',this.producto.tipo);
                data.append('precio',this.producto.precio);
                data.append('activo',this.producto.activo);
                data.append('stock',this.producto.stock);
                data.append('solicitado',this.producto.solicitado);
                if(this.producto.descripcion!=null)
                data.append('descripcion',this.producto.descripcion.toUpperCase());
                block();
            axios.post('/panaderia/api/productos/'+id,data).then( respuesta => {
                console.log('El produto se actualizo');
                console.log(respuesta.data);
                $('#modal').modal('hide'); 
                unblock();                                               
                this.listado();								
								swal({type: 'success',title: 'Actualizado correctamente.', confirmButtonText:'Aceptar'});
                this.resetDatos();
                return;
            }).catch( error => {
                console.log('Ocurrio un error');
                console.log(error);
								unblock();
								swal({type: 'error',title: 'Ocurrió un error al actualizar los datos.', confirmButtonText:'Aceptar'});                
            }); 
            }                       
            })
            unblock();
        },                
        eliminar(id){
            //console.log('producto '+id+' eliminado');
            Swal.fire({
                      title: 'Desea eliminar el producto?',
                      text: "una vez eliminado no podra revertir!",
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Si, eliminar!',
                      cancelButtonText: 'Cancelar'
                    }).then((result) => {
                      if (result.value) {
                        block();
                        axios.delete('/panaderia/api/productos/'+id).then(respuesta => {                          
                            unblock();                                
                            Swal.fire(
                              'Eliminado!',
                              'el producto ha sido eliminado.',
                              'success'
                            )
                            this.listado();
                        }).catch(error => {
                            unblock();
                            console.log(error);														 
														 swal({type: 'error',title: 'Ocurrió un error al eliminar los datos.', confirmButtonText:'Aceptar'});
                        });                        
                      }
                    }
                  )
           
        },
        resetDatos(){
            this.producto.id=null;
            this.producto.nombre=null;
            this.producto.tipo='';
            this.producto.precio='0';
            this.producto.activo='1';
            this.producto.stock='0';
            this.producto.image=null;
            this.producto.descripcion=null;
            this.$refs.inputImage.value=null;
        }, 
        formatPesos(n) {
            return new Intl.NumberFormat("en-ES").format(n);
        },
        changeEstado(producto){         
          var pro=producto;
          var id=producto.id;
          block();                      
            axios.put('/panaderia/api/productos/'+id, {                                                 
                nombre: pro.nombre,
                tipopro_id:pro.tipo,
                precio:pro.precio,
                activo:!pro.activo,        
                stock:pro.stock,
            }).then( respuesta => {
                console.log('El produto se actualizo');
                console.log(respuesta.data);
                unblock();                                
                this.listado();								  
								swal({type: 'success',title: 'Actualizado correctamente.', confirmButtonText:'Aceptar'});             
            }).catch( error => {
                console.log('Ocurrio un error en '+error);
                console.log(error);
                unblock();								
								swal({type: 'error',title: 'Ocurrió un error al actualizar los datos.', confirmButtonText:'Aceptar'});
            });
            console.log('Resultado');
        },
        modalVer(id){
           block();
            axios.get('/panaderia/api/productos/'+id).then(respuesta => {
                this.detallesProducto=respuesta.data;                                                
                $('#modalVer').modal('show'); 
                unblock();
            }).catch(error => {
                unblock();
                console.log(error);								 
								 swal({type: 'error',title: 'Ocurrió un error al obtener los datos.', confirmButtonText:'Aceptar'});
            });  
        }, 
        checkRol(rolUsuario){
          var roles=this.rol.roles.filter(roles=>{
            return roles.name==rolUsuario;
          });
          return roles.length>0;
        }           
    },    
}
</script>
<style scoped>
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color:#1B96B8;
  color: #fff;
}
input{
  border-radius: 4px;
  text-transform: uppercase !important;
}
.validacion {
  color: rgb(255, 0, 0);
}
.badge-success {
  background-color: #00a65a;
}

.badge-danger {
  background-color: #D73925;
}
select{
  border-radius: 4px;
}
</style>
