<template>

  <v-flex>
    <v-form ref="formvictima">
      <h3 class>Datos de Víctima</h3>

      <v-layout wrap>
        <v-flex xs4>
          <v-text-field
            label="Nombre(s)"
            v-model="victims.name"
            :rules="rules.name"
            :counter="46"
            cleareble
            required
          ></v-text-field>
        </v-flex>

        <v-flex xs4>
          <v-text-field
            label="Primer Apellido"
            v-model="victims.namepaterno"
            :rules="rules.namepaterno"
            :counter="36"
            required
          ></v-text-field>
        </v-flex>

        <v-flex xs4>
          <v-text-field v-model="victims.namematerno" :rules="rules.namematerno" :counter="36">
            <template v-slot:label>
              <div>
                Segundo Apellido
                <small>(Opcional)</small>
              </div>
            </template>
          </v-text-field>
        </v-flex>

        <v-flex xs11>
          <v-slider
            v-model="victims.age"
            :rules="rules.age"
            color="blue"
            label="Edad"
            min="0"
            max="17"
            thumb-label
          ></v-slider>
        </v-flex>

        <v-flex xs12>
          <beneficios-component :beneficios.sync="victims.beneficios"></beneficios-component>
        </v-flex>
        <v-flex xs12 sm6>
          <v-radio-group :rules="rules.gender" v-model="victims.gender" row>
            <v-radio label="Hombre" value="Hombre"></v-radio>
            <v-radio label="Mujer" value="Mujer"></v-radio>
          </v-radio-group>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-btn @click.prevent="cancelar">Cancelar</v-btn>
        <v-btn color="secondary" @click.prevent="editvictima">Actualizar Víctima</v-btn>
      </v-layout>
    </v-form>
  </v-flex>
</template>
<script>
export default {
  props: ["victima"],
  data() {
    return {
      victims: {
        name: this.victima.name,
        namepaterno: this.victima.namepaterno,
        namematerno: this.victima.namematerno,
        age: this.victima.age,
        gender: this.victima.gender,
        beneficios: this.victima.benefits
      },

      rules: {
        name: [
          v => !!v || "Nombre es Obligatorio",
          v => v.length <= 46 || "Menos de 46 Caracteres",
          v =>
            /^([A-Za-zÁÉÍÓÚñáéíóúÑ]{0}?[A-Za-zÁÉÍÓÚñáéíóúÑ\'])+[\s]?([A-Za-zÁÉÍÓÚñáéíóúÑ]{0}?[A-Za-zÁÉÍÓÚñáéíóúÑ\']+)$/.test(
              v
            ) || "Debe ser un nombre válido"
        ],

        namepaterno: [
          v => !!v || "Por lo menos debe anexar un apellido",
          v => v.length <= 46 || "Menos de 46 Caracteres",
          v =>
            /^([A-Za-zÁÉÍÓÚñáéíóúÑ]{0}?[A-Za-zÁÉÍÓÚñáéíóúÑ\'])+$/.test(v) ||
            "Debe ser un Apellido válido"
        ],
        namematerno: [v => v.length <= 46 || "Menos de 46 Caracteres"],
        age: [v => !!v || "Edad Requerida"],
        relationship: [v => !!v || "Parentesco Requerido"],
        gender: [v => !!v || "Sexo Obligatorio"],

        via: [v => !!v || "Via es obligatoria "],
        addresscalle: [v => !!v || "Calle Obligatorio"],
        addressnumero: [v => !!v || "Numero Obligatorio"],
        description: [v => !!v || "Observacion Obligatorio"]
      }
    };
  },
  methods: {
    cancelar() {
      //location.reload();
    },
    editvictima() {
        if (this.$refs.formvictima.validate()) {
        axios
          .put("/victims/" + this.victima.id + "", {
            name: this.victims.name,
            namepaterno: this.victims.namepaterno,
            namematerno: this.victims.namematerno,
            age: this.victims.age,
            benefits: this.victims.beneficios,
            gender: this.victims.gender
          })
          .then(response => {
            this.$emit('eventoactualizacion', response.data);
            this.$swal("Exito al actualizar la Victima!");

          })
          .catch(e => {
            console.log("Error al actualizar la tabla");
          });
      }
    }
  }
};
</script>