<template>
<div>
    <div class="box box-primary shadow">
    <div class="box-header with-border">
      <h4 class="box-title">APOYOS FUNCIONALES</h4>
    </div>
    <br>
    <div class="box-body">
    <div class="col-md-12"  >
      <div >
      <div class="btn-group col-md-offset-7" style="display: flex; justify-content: flex-end">
        <a href="taesir#/crearapoyo" class="btn btn-success col-md-offset-6">
          <i class="glyphicon glyphicon-plus"></i>Agregar Apoyo Funcional
        </a>
        <a href="taesir#/catalogoapoyosfuncionales" class="btn btn-info col-md-offset-9">
          <i class="glyphicon glyphicon-plus"></i>Catalogo Apoyo Funcional
        </a>
       
      </div>
      <br>
      </div>
       
    <div class="col-md-offset-9" style="display: flex; justify-content: flex-end">
      <div class="input-group" style="width: 250;">
        <span class="input-group-addon" id="peso">FILTRAR <i id="icono" class="fa fa-filter" aria-hidden="true"></i></span>
        <select  type="text" v-model="filtro" class="form-control" @change="filtrar">
              <option value="todo">TODO</option>
              <option value="disponible">DISPONIBLE</option>
              <option value="prestado">PRESTADO</option>
      </select>
      </div>
    </div>
       <br>
    
    
      <!--inicia contenido-->
      <v-client-table :data="tableData" :columns="columns" :options="options">
        <!--Estado-->
        <div slot="estatus" slot-scope="props">
          <span v-if="props.row.estatus === 'Prestado'" class="badge badge-pill badge-danger">Prestado  </span>
          <span v-else class="badge badge-success">Disponible</span>
        </div>
        <div slot="condicion" slot-scope="props">
          <span v-if="props.row.condicion ==='Bueno'" class="badge badge-success">Bueno</span>
          <span v-else-if="props.row.condicion ==='Malo'" class="badge badge-warning">Malo</span>
          <span v-else class="badge badge-danger">Regular</span>
        </div>

        <div slot="opciones" slot-scope="props">
          <button
              :disabled="props.row.estatus==='Prestado'"
              class="btn btn-xs bg-success"
              title="Editar"
              @click.prevent="modalEditar(props.row.id)"
            >
              <i class="glyphicon glyphicon-pencil"></i>
            </button>
          <button
          :disabled="props.row.estatus==='Prestado'"
              class="btn btn-xs bg-danger"
              title="Eliminar"
              @click.prevent="confirmar(props.row.id)"
            >
              <i class="glyphicon glyphicon-trash"></i>
            </button>
        </div>
        <div slot="nombre" slot-scope="props">{{props.row.catapoyofuncional.nombre}}</div>
        <div slot="tipo" slot-scope="props">{{props.row.catapoyofuncional.tipo}}</div>
      </v-client-table>

      <!--finaliza contenido-->
      </div>
    </div>
    <form method="PUT" v-on:submit.prevent="enviarDatos">
      <div class="modal fade" id="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                  </button>
              <h4>{{modal.titulo}}</h4>
            </div>
            <div class="modal-body">
              <div class="col-md-6">
                <label for="nombre">TIPO DE APOYO</label>
                <select class="form-control" id="opcioness" v-model="apoyo.apoyo_id">
                <option
                  v-for="(apoyo, index) in subapoyos"
                  :key="index"
                  v-bind:value="apoyo.id"
                >{{apoyo.nombre+" TIPO "+apoyo.tipo}}</option>
                 </select>
              </div>
              <div class="col-md-6">
                <label for="num_inventario">NUMERO DE INVENTARIO:</label>
                <input
                      type="text"
                      class="form-control"
                      name="numero de inventario"
                      v-model="apoyo.num_inventario"
                      disabled
                    >
                  </div>
                <div class="col-md-6">
                  <label for="marca">MARCA:</label>
                  <input
                      type="text" class="form-control" name="marca" v-model="apoyo.marca"
                    >
                  </div>
                  <div class="col-md-6">
                    <label for="condicion">CONDICION:</label>
                    <select v-model="apoyo.condicion" class="form-control">
                    <option value="Bueno">Bueno</option>
                    <option value="Regular">Regular</option>
                    <option value="Malo">Malo</option>
                  </select>
                  </div>
                  <div class="col-md-12">
                    <label for="caracteristicas">CARACTERISTICAS:</label>
                    <input type="text" class="form-control" name="caracteristicas" v-model="apoyo.caracteristicas">
                  </div>

                  </div>

                  <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Aceptar">
                    <button class="btn btn-danger" value="Cancelar" data-dismiss="modal">Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
    </form>
  </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.disponibles();
  },
  data() {
    return {
      apoyofuncional: [],
      apoyo: {
        usuario_id: "",
        id: "",
        num_inventario: "",
        marca: "",
        caracteristicas: "",
        estatus: " ",
        condicion: " ",
        apoyo_id: ""
      },
      modal: {
        titulo: "",
        boton: ""
      },
      metodo: "",
      filtro: "disponible",
      columns: [
        "nombre",
        "tipo",
        "num_inventario",
        "marca",
        "caracteristicas",
        "estatus",
        "condicion",
        "opciones",

      ],
      tableData: [],
      subapoyos: [],
      options: {
        headings: {
          nombre: "Nombre",
          num_inventario: "Num. de Inventario",
          marca: "Marca",
          caracteristicas: "Caracteristicas",
          estatus: "Estatus",
          condicion: "Condición",
          opciones: "Opciones",

        },
        sortable: ["num_inventario", "nombre", "estatus", "condicion"],
        filterable: [
          "catapoyofuncional.nombre",
          "num_inventario",
          "estatus",
          "condicion"
        ],
        pagination: {
          dropdown: false,
          chunk: 10,
          edge: false,
          align: "center",
          nav: "fixed"
        },
        perPageValues: [10, 25, 50, 100],
        texts: {
          count: "Mostrando {from} a {to} de {count} resultados|{count} resultados|Un resultado",
          first: "First",
          last: "Last",
          filter: "Buscar: ",
          filterPlaceholder: "INGRESA BUSQUEDA",
          limit: "Resultados: ",
          page: "Page:",
          noResults: "No hay resultados",
          filterBy: "Filter by {column}",
          loading: "Loading...",
          defaultOption: "Select {column}",
          columns: "Columns"
        }
      }
    };
  },
  methods: {
    getApoyo(id) {
      block();
      axios
        .get("/taesir/apoyosfuncionales/" + id)
        .then(respuesta => {
          unblock();
          this.apoyo.id = respuesta.data.id;
          this.apoyo.usuario_id = respuesta.data.usuario_id;
          this.apoyo.num_inventario = respuesta.data.num_inventario;
          this.apoyo.marca = respuesta.data.marca;
          this.apoyo.caracteristicas = respuesta.data.caracteristicas;
          this.apoyo.estatus = respuesta.data.estatus;
          this.apoyo.condicion = respuesta.data.condicion;
          this.apoyo.apoyo_id = respuesta.data.apoyo_id;
          unblock();
        })
        .catch(error => {
          unblock();
          console.log(error);
        });
    },
    disponibles() {
      axios
        .get("/taesir/apoyosfuncionalesdisponibles")
        .then(respuesta => {
          this.tableData = respuesta.data.apoyofuncional;
          console.log("entre");

          //this.subapoyos=respuesta.data.apoyofuncional.catapoyofuncional;
        })
        .catch(error => {
          //console.log(error);
        });
    },
    prestados() {
      axios
        .get("/taesir/apoyosfuncionalesprestados")
        .then(respuesta => {
          this.tableData = respuesta.data.apoyofuncional;
          console.log("entre");

          //this.subapoyos=respuesta.data.apoyofuncional.catapoyofuncional;
        })
        .catch(error => {
          //console.log(error);
        });
    },

    listado() {
      axios
        .get("/taesir/apoyosfuncionales")
        .then(respuesta => {
          this.tableData = respuesta.data.apoyofuncional;
          this.subapoyos = respuesta.data.cata;

          //this.subapoyos=respuesta.data.apoyofuncional.catapoyofuncional;
        })
        .catch(error => {
          console.log(error);
        });
    },
    filtrar() {
      block();
      switch (this.filtro) {
        case 'todo':
          this.listado();
          unblock();
          break;
        case 'disponible':
          this.disponibles();
          unblock();
          break;
        case 'prestado':
          this.prestados();
          unblock();
          break;
        default:
          unblock();
          break;

      }
    },
    editarApoyoFuncional(id) {
      block();
      axios
        .put("/taesir/apoyosfuncionales/" + id, {
          usuario_id: this.apoyo.usuario_id,
          id: this.apoyo.id,
          num_inventario: this.apoyo.num_inventario,
          marca: this.apoyo.marca,
          caracteristicas: this.apoyo.caracteristicas,
          estatus: this.apoyo.estatus,
          condicion: this.apoyo.condicion,
          apoyo_id: this.apoyo.apoyo_id

        })
        .then(respuesta => {
          console.log("Se Actualizo la informacion");
          //console.log(respuesta.data);
          unblock();
          console.log("Resultado");
          Swal.fire({
            position: "center",
            type: "success",
            title: "Correcto",
            showConfirmButton: false,
            timer: 1000
          });
          $("#modal").modal("hide");
          this.listado();
        })
        .catch(error => {
          console.log("error al Actualizar");
          console.log(error);
          unblock();
          Swal.fire({
            position: "center",
            type: "warning",
            title: "Verifique sus datos",
            showConfirmButton: false,
            timer: 1000
          });
        });
      console.log("si esta agarrando el boton" + id);
    },
    enviarDatos() {
      if (this.metodo == "put") this.editarApoyoFuncional(this.apoyo.id);
    },

    confirmar(id) {
      Swal.fire({
        title: "¿Estas seguro?",
        text: "una vez conluido no podras restaurar",
        type: "question",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Sí",
        cancelButtonText: "No"
      }).then(result => {
        if (result.value) {
          this.eliminar(id);
        }
      });
    },
    modalEditar(id) {
      this.metodo = "put";
      this.modal.titulo = "Actualizar Datos";
      this.modal.boton = "Actualizar";
      this.getApoyo(id);
      $("#modal").modal("show");
    },
    eliminar(id) {
      axios
        .delete("taesir/apoyosfuncionales/" + id, {
          id: this.apoyo.id
        })
        .then(respuesta => {
          console.log("eliminado correctamente");
          Swal.fire({
            position: "center",
            type: "success",
            title: "Eliminado",
            showConfirmButton: false,
            timer: 1000
          });
          this.listado();
        });
    }
  }
};
</script>

<style scoped>
select {
  border-radius: 4px !important;
}

input {
  border-radius: 4px !important;
}

#peso {
  border: #FFF;
  background-color: #FFF;
  border-radius: 0px;
  color: #000;
  font-size: 16px;
}

.bg-success {
  background-color: #00a65a;
  color: aliceblue;
  width: 25px;
  height: 25px;
}

.bg-danger {
  color: #fff;
  background-color: #c62e2e;
  width: 25px;
  height: 25px;
}

.bg-info {
  background-color: #3498DB;
  width: 25px;
  height: 25px;
}

.badge-success {
  background-color: #00a65a;
}

.badge-danger {
  background-color: #FFC107;
}

.badge-warning {
  background-color: #C62E2E;
}

#fil {
  font-size: 16px;
  border-color: #FFF;
}

#icono {
  color: #00968C;
}
</style>
