<template>
<div>
  <br>
  <div class="col-md-8 col-md-offset-2">
    <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h4>AGREGAR APOYO FUNCIONAL A INVENTARIO</h4>
      </div>
      <form method="POST" v-on:submit.prevent="agregar">
        <div class="box-body">
          <div class="col-md-12">
            <div class="col-md-6">
              <label for="num_inventario">NUM. DE INVENTARIO:</label>
              <input required
              placeholder="INGRESA VALORES NUMERICOS"
              v-validate="'numeric'"
              name="num_inventario"
              class="form-control" type="text"
              v-model="apoyo.num_inventario">
              <span id="validacion" v-if="errors.first('num_inventario')=='The num_inventario field may only contain numeric characters.'"> CAMPO REQUERIDO CON NÚMEROS*</span>

              <label for="marca">MARCA:</label>
              <input type="text" class="form-control" name="marca" v-model="apoyo.marca">

              <label for="estatus">CONDICIÓN:</label>
              <select v-model="seleccion" class="form-control">
                <option value="Bueno">Bueno</option>
                <option value="Regular">Regular</option>
                <option value="Malo">Malo</option>
              </select>
            </div>

            <div class="col-md-6">
              <label for="Caracteristicas">CARACTERISTICAS</label>
              <input
                placeholder="INGRESA CARACTERISTICAS"
                type="text"
                class="form-control"
                name="caracteristicas"
                v-model="apoyo.caracteristicas">

              <label for="nombre">TIPO DE APOYO</label>
              <select class="form-control" id="opcioness" v-model="apoyo.apoyo_id">
                <option
                  v-for="(apoyo, index) in apoyofuncional"
                  :key="index"
                  v-bind:value="apoyo.id"
                >{{apoyo.nombre+" TIPO "+apoyo.tipo}}</option>
              </select>
            </div>

          </div>
        </div>
        <div class="box-footer">
          <div class="col-md-4 col-md-offset-8">
            <input type="submit" class="btn btn-success" value="Agregar">
            <a href="taesir#/apoyofuncional" class="btn btn-danger">Cancelar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</template>

<script>
export default {
  mounted() {
    this.listado();
  },
  data() {
    return {
      seleccion: "Bueno",
      apoyofuncional: [],
      apoyo: {
        usuario_id: "",
        id: "",
        num_inventario: "",
        marca: "N/A",
        caracteristicas: "",
        estatus: "Disponible",
        apoyo_id: 1
      }
    };
  },
  methods: {
    listado() {
      axios
        .get("/taesir/cataf")
        .then(respuesta => {
          this.apoyofuncional = respuesta.data;
        })
        .catch(error => {
          //console.log(error);
        });
    },

    agregar() {
      block();
      axios.post("/taesir/apoyosfuncionales", {
          num_inventario: this.apoyo.num_inventario,
          marca: this.apoyo.marca,
          caracteristicas: this.apoyo.caracteristicas,
          condicion: this.seleccion,
          estatus: this.apoyo.estatus,
          apoyo_id: this.apoyo.apoyo_id,
          usuario_id: 73
        })
        .then(respuesta => {
          unblock();
          Swal.fire({
            position: "center",
            type: "success",
            title: "Agreado",
            showConfirmButton: false,
            timer: 1000
          });
          this.reiniciarDatos();
          this.pregunta();
        })
        .catch(error => {
          console.log("Ocurrio un error");
          console.log(error);
          unblock();
          Swal.fire({
            position: "center",
            type: "error",
            title: "Verifique sus datos",
            showConfirmButton: false,
            timer: 1000
          });
        });
    },
    reiniciarDatos() {
      this.apoyo.num_inventario = null,
        this.apoyo.marca = 'N/A',
        this.apoyo.medida = null,
        this.apoyo.caracteristicas = null,
        this.seleccion = "Bueno",
        this.apoyo.estatus = "Disponible",
        this.apoyo.apoyo_id = null,
        this.apoyo.usuario_id = 73
    },
    pregunta() {
      Swal.fire({
        title: "¿Desea agregar mas elementos?",
        text: "",
        type: "question",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Sí",
        cancelButtonText: "No"
      }).then(result => {
        if (!result.value) {
          window.location.assign("taesir#/apoyofuncional");
        }
      });
    }
  }
};
</script>

<style scoped>
input {
  border-radius: 4px !important;
}

select {
  border-radius: 4px !important;
}

#validacion {
  color: rgb(255, 0, 0);
}
</style>
