<template>
  <v-layout wrap>
    <v-flex xs4>
      <v-select
        @input="changeestado()"
        :rules="rules.addressestado"
        v-model="estado"
        :items="estados"
        label="Selecciona Estado"
      ></v-select>
    </v-flex>

    <v-flex xs4>
      <v-combobox
        @input="changemunicipio()"
        :rules="rules.addressmunicipio"
        v-model="municipio"
        :items="municipios"
        item-text="nombre"
        item-value="id"
        label="Selecciona Municipio"
      ></v-combobox>
    </v-flex>

    <v-flex xs4>
      <v-combobox
        @input="changecolonia()"
        :rules="rules.addresscolonia"
        v-model="colonia"
        :items="colonias"
        item-text="nombre"
        item-value="id"
        label="Selecciona Colonia"
      ></v-combobox>
    </v-flex>
  </v-layout>
</template>
<script >
export default {
  props: ["addressestado", "addressmunicipio", "addresscolonia"],
  data() {
    return {
      estados: ["OAXACA"],
      municipios: [],
      colonias: [],

      estado: this.addressestado,
      municipio: this.addressmunicipio,
      colonia: this.addresscolonia,

      rules: {
        addressestado: [v => !!v || "Estado Obligatorio"],
        addressmunicipio: [v => !!v || "Municipio Obligatorio "],
        addresscolonia: [v => !!v || "Colonia Obligatorio"]
      }
    };
  },
  methods: {
    changeestado: function() {
      this.$emit("update:addressestado", this.estado);
    },
    changemunicipio: function() {
      this.colonia="";
      this.$emit("update:addressmunicipio", this.municipio.nombre);
      axios
        .get("/address/localidades/"+this.municipio.id+"",)
        .then(response => {
          this.colonias = response.data;
        })
        .catch(e => {
          this.$swal(
            "Falla con la conexion del servidor, no hemos podido cargar las colonias, Intentelo mas tarde"
          );
        });
    },
    changecolonia: function() {
      this.$emit("update:addresscolonia", this.colonia.nombre);
    }
  },
  mounted() {
    axios
      .get("/address/municipios")
      .then(response => {
        this.municipios = response.data;
      })
      .catch(e => {
        this.$swal(
          "Falla con la conexion del servidor, no hemos podido cargar los municipios, Intentelo mas tarde"
        );
      });
  },
  watch: {
    addressestado: function (val) {
      this.estado = val;
    },
    addressmunicipio: function (val) {
      this.municipio = val;
    },
    addresscolonia: function (val) {
      this.colonia = val;
    },
  },
};
</script>