<template>
  <v-combobox
    @input="changebeneficio()"
    v-model="beneficio"
    :rules="rules.beneficio"
    :items="items"
    label="Afectación"
    chips
    clearable
    solo
  >
    <template v-slot:selection="data">
      <v-chip :selected="data.selected" close>
        <strong>{{ data.item }}</strong>
      </v-chip>
    </template>
  </v-combobox>
</template>

<script>
export default {
  props: ["beneficios"],
  data() {
    return {
      beneficio: this.beneficios,
      /* Programas: id 463 ->Programa de proteccion NNA
      anios_programas: id 210 -> programa_id:463
      anio_programa_id=210 */
      items: [
        "ATENCION A REPORTES DE MALTRATO INFANTIL POR OMISIÓN DE CUIDADOS",
        "ATENCION A REPORTES DE MALTRATO INFANTIL POR VIOLENCIA FÍSICA",
        "ATENCION A REPORTES DE MALTRATO INFANTIL POR VIOLENCIA PSICOLÓGICA",
        "ATENCION A REPORTES DE MALTRATO INFANTIL POR VIOLENCIA SEXUAL",

        "ATENCION A REPORTES DE MALTRATO INFANTIL POR ABANDONO DE PERSONA",
        "ATENCION A REPORTES DE MALTRATO INFANTIL POR ACOSO ESCOLAR",
        "ATENCION A REPORTES DE MALTRATO INFANTIL POR SITUACIÓN DE CALLE",
        "ATENCION A REPORTES DE MALTRATO INFANTIL POR EXPLOTACIÓN"
      ],
      rules: {
        beneficio: [v => !!v || "Obligatorio esclarecer el beneficio"]
      }
    };
  },

  methods: {
    changebeneficio: function() {
      this.$emit("update:beneficios", this.beneficio);
    },
  },
  watch: {
    beneficios: function (val) {
      this.beneficio = val;
    },
  },
};
</script>

