<template>
  <div class="">
    <form @submit="store">
      <strong>Abogado:</strong>

      <select name="lawer_id" id="lawer_id" class="form-control">
        <option class>Abogado1</option>
        <option class>Abogado2</option>
        <option class>Abogado3</option>
      </select>

      <button class="btn">Anexar abogado a la solicitud</button>
    </form>
    <strong>Salida:</strong>
    <pre>
        {{output}}
    </pre>
  </div>
</template>
 
<script>
export default {
  mounted() {
    console.log("Component mounted.");
  },
  data() {
    return {
      lawer_id: "",
      output: ""
    };
  },
  methods: {
    store(e) {
      e.preventDefault();
      let currentObj = this;
      axios
        .post("edit", {
          lawer_id: this.lawer_id
        })
        .then(function(response) {
          currentObj.output = response.data;
        })
        .catch(function(error) {
          currentObj.output = error;
        });
    }
  }
};
</script>