<template>
  <v-app>
    <v-content>
      <v-container grid-list-md>
        <v-stepper v-model="step" vertical>
          <v-stepper-header>
            <v-stepper-step step="1" :complete="step > 1">Solicitud {{folio}}</v-stepper-step>
          </v-stepper-header>
          <v-stepper-items>
            <v-form ref="formlawer">
              <v-stepper-content step="1">
                <h3 class>Selección de Abogado</h3>

                <v-select
                  :rules="rules.lawers"
                  v-model="lawer_id"
                  :items="lawers"
                  item-text="name"
                  item-value="id"
                  label="Selecciona Abogado"
                ></v-select>

                <v-autocomplete
                  v-model="description"
                  :items="razones"
                  :rules="[ ruleDescription ]"
                  chips
                  color="blue-grey lighten-2"
                  label="Razones para seleccionar abogado"
                  item-text="name"
                  item-value="name"
                  multiple
                >
                  <template v-slot:selection="data">
                    <v-chip
                      :selected="data.selected"
                      close
                      class="chip--select-multi"
                      @input="remove(data.item)"
                    >
                      <v-avatar>
                        <v-icon dark>{{data.item.avatar}}</v-icon>
                      </v-avatar>
                      {{ data.item.name }}
                    </v-chip>
                  </template>
                  <template v-slot:item="data">
                    <template v-if="typeof data.item !== 'object'">
                      <v-list-tile-content v-text="data.item"></v-list-tile-content>
                    </template>
                    <template v-else>
                      <v-list-tile-avatar>
                        <v-icon>{{data.item.avatar}}</v-icon>
                      </v-list-tile-avatar>
                      <v-list-tile-content>
                        <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                        <v-list-tile-sub-title v-html="data.item.group"></v-list-tile-sub-title>
                      </v-list-tile-content>
                    </template>
                  </template>
                </v-autocomplete>

                <v-btn flat v-on:click="cancelar">Anterior</v-btn>
                <v-btn color="primary " @click="validateassing">Asignar</v-btn>

                <card-petition :registration="registration"></card-petition>

                <div class>Law id: {{lawer_id}}</div>
              </v-stepper-content>
            </v-form>
          </v-stepper-items>
        </v-stepper>
      </v-container>
    </v-content>
  </v-app>
</template>


<script>
export default {
  props: ["petition", "folio", "lawers"],
  $_veeValidate: {
    validator: "new"
  },
  data() {
    const srcs = {
      1: "https://cdn.vuetifyjs.com/images/lists/1.jpg"
    };
    return {
      step: 1,
      petition_id: this.petition.id,
      lawer_id: "",
      description: [],
      disabled: false,

      registration: {
        anonymous: this.petition.anonymous,
        name: this.petition.name,
        namepaterno: this.petition.namepaterno,
        namematerno: this.petition.namematerno,
        age: this.petition.age,
        relationship: this.petition.relationship,
        gender: this.petition.gender,
        numerotelefono: this.petition.numerotelefono,
        correo: this.petition.correo,

        via: this.petition.via,
        addressestado: this.petition.addressestado,
        addressmunicipio: this.petition.addressmunicipio,
        addresscolonia: this.petition.addresscolonia,
        addresscalle: this.petition.addresscalle,
        addressnumero: this.petition.addressnumero,
        description: this.petition.description
      },
      rules: {
        lawers: [v => !!v || "Se requiere selección"],
        description: [v => !!v || "Descripción de razones obligatorias"]
      },

      razones: [
        { header: "Razones" },
        { name: "Disponibilidad", group: "Razones", avatar: "event_available" },
        {
          name: "Conocimiento en el lugar del caso",
          group: "Razones",
          avatar: "map"
        },
        {
          name: "Experiencia en la afectación del caso",
          group: "Razones",
          avatar: "explicit"
        },
        { divider: true },
        { header: "otras" },
        { name: "Reasignación de caso", group: "otras", avatar: "call_split" },
        {
          name: "Incumplimiento del abogado anterior",
          group: "otras",
          avatar: "call_missed"
        },
        { divider: true },
        { header: "Específicas" },
        {
          name: "Experiencia en maltrato por violencia física",
          group: "Específicas",
          avatar: "contact_mail"
        },
        {
          name: "Experiencia en violencia sexual",
          group: "Específicas",
          avatar: "contact_mail"
        },
        {
          name: "Experiencia en acoso escolar",
          group: "Específicas",
          avatar: "contact_mail"
        },
        { name: "Otro", group: "Específicas", avatar: "contact_mail" }
      ]
    };
  },
  methods: {
    validateassing() {
      if (this.$refs.formlawer.validate()) {
        var result = "se asignó al abogado por los siguientes motivos: ";
        this.description.forEach(function(element) {
          result += element + ",";
        });
        axios
          .post("/affairs/store", {
            petition_id: this.petition_id,
            user_id: this.lawer_id,
            description: result
          })
          .then(response => {
            this.$swal({
              icon: "success",
              title: "Asignación correcta"
            }).then(value => {
              window.location.href = "/petitions/" + this.petition_id + "";
            });
            axios
              .post("/petitions/assign/mail/" + this.petition_id + "", {
                email: "death_acuario@hotmail.com",
                mensaje:
                  "Abogado se le ha asignado una nueva Solicitud revise los datos",
              emisor: "Subprocurador",
              receptor: "Abogado",
              })
              .then(response => {})
              .catch(e => {
                console.log("Error al enviar el correo al abogado");
              });
          })
          .catch(e => {
            this.$swal("Ha ocurrido un error intentelo mas tarde por favor");
          });
      }
    },
    validatesolicitud() {
      if (this.$refs.formsolicitud.validate()) {
      }
    },
    cancelar() {
      if (confirm("Salir sin guardar los datos?")) {
        window.location.href = "/petitions/";
      }
    },

    remove(item) {
      const index = this.description.indexOf(item.name);
      if (index >= 0) this.description.splice(index, 1);
    },
    ruleDescription(value) {
      if (value.length === 0) {
        this.disabled = true;
        return "Descripción de razones obligatorias";
      } else {
        return true;
      }
    }
  },
};
</script>
