<template>
  <v-flex xs10>
    <v-combobox
      @input="changePrinter()"
      v-model="parentesco"
      :items="parentescos"
      :rules="rules.relationship"
      label="Selecciona Parentesco"
      chips
      clearable
      solo
    ></v-combobox>
  </v-flex>
</template>

<script>
export default {
  props: ["relationship"],
  data() {
    return {
      parentescos: [
        "Abuelo",
        "Abuela",
        "Papá",
        "Mamá",
        "Padrino",
        "Madrina",
        "Padrastro",
        "Madrastra",
        "Victima como denunciante",
        "Otro",
      ],
      parentesco:this.relationship,
      rules: {
        relationship: [v => !!v || "Parentesco Requerido"],
      }
    };
  },
  methods: {
    changePrinter: function() {
      this.$emit("update:relationship", this.parentesco);
    }
  },
  watch: {
    relationship: function (val) {
      this.parentesco = val;
    },
  },
};
</script>