<template>
  <v-app id="inspire">
    <v-content>
      <v-container grid-list-md>
        <address-component
          :addressestado.sync="estado"
          :addressmunicipio.sync="municipio"
          :addresscolonia.sync="colonia"
        ></address-component>
        <v-layout row >
          <v-flex xs2>
            <v-menu
              ref="menu"
              v-model="pickers.fecha_inicio.menu"
              :close-on-content-click="false"
              :nudge-right="40"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="fecha_formatoMX_ini"
                  label="Primera fecha"
                  prepend-icon="event"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                ref="picker"
                v-model="pickers.fecha_inicio.date"
                :max="new Date().toISOString().substr(0, 10)"
                min="2019-01-01"
                locale="es-419"
                @input="pickers.fecha_inicio.menu = false"
              ></v-date-picker>
            </v-menu>
          </v-flex>

          <v-flex xs2>
            <v-menu
              ref="menu2"
              v-model="pickers.fecha_fin.menu"
              :close-on-content-click="false"
              :nudge-right="40"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="fecha_formatoMX_fin"
                  label="Segunda fecha"
                  prepend-icon="event"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                ref="picker"
                v-model="pickers.fecha_fin.date"
                :max="new Date().toISOString().substr(0, 10)"
                min="2019-01-01"
                locale="es-419"
                @input="pickers.fecha_fin.menu = false"
              ></v-date-picker>
            </v-menu>
          </v-flex>
        <v-flex xs8 sm6>
          <v-radio-group v-model="sexo" row>
            <v-radio label="Hombre" value="Hombre"></v-radio>
            <v-radio label="Mujer" value="Mujer"></v-radio>
          </v-radio-group>
        </v-flex>
        </v-layout>
        <v-flex xs12>
          <beneficios-component :beneficios.sync="beneficio"></beneficios-component>
        </v-flex>
        <v-btn @click.prevent="obtenerReporte" outline color="pink darken-2">Filtrar con estos datos</v-btn>
        <v-btn @click.prevent="cleanFields" outline color="indigo">Limpiar</v-btn>
<div>
          {{municipio}}
          {{sexo}}
          {{beneficio}}
          {{fecha_formatoMX_ini}} a {{fecha_formatoMX_fin}}
          {{victimas.length}} Resultado(s)
        </div>
        <v-card>
          <v-card-title>
            Victimas
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table :headers="headers" :items="victimas" :search="search">
            <template v-slot:items="props">
              <td>{{ props.item.id }}</td>
              <td>{{ props.item.petition_id }}</td>
              <td>{{ props.item.name }} {{ props.item.namepaterno }} {{ props.item.namematerno }}</td>
              <td>{{ props.item.addressmunicipio }}</td>
              <td>{{ props.item.gender }}</td>
              <td>{{ props.item.benefits }}</td>
              <td>{{ props.item.created_at }}</td>
            </template>
            <template v-slot:no-results>
              <v-alert
                :value="true"
                color="error"
                icon="warning"
              >La busqueda "{{ search }}" no dio ningun resultado.</v-alert>
            </template>
            <!-- <template v-slot:footer>
              <td :colspan="headers.length">
                <export-excel
                  class="btn btn-default"
                  :data="victimas"
                  :fields="json_fields"
                  worksheet="My Worksheet"
                  name="filename.xls"
                >Excel</export-excel>
              </td>
            </template> -->
            <template slot="no-data">
            <v-alert :value="true" color="error" icon="warning">No hay víctimas con la información dada :(</v-alert>
          </template>
          </v-data-table>
        </v-card>

        <canvas id="canvas"></canvas>
        <v-content>
          <v-layout row>
            <v-flex xs3>1.-OMISIÓN DE CUIDADOS</v-flex>
            <v-flex xs3>2.-VIOLENCIA FÍSICA</v-flex>
            <v-flex xs3>3.-VIOLENCIA PSICOLÓGICA</v-flex>
            <v-flex xs3>4.-VIOLENCIA SEXUAL</v-flex>
          </v-layout>

          <v-layout row>
            <v-flex xs3>5.-ABANDONO DE PERSONA</v-flex>
            <v-flex xs3>6.-ACOSO ESCOLAR</v-flex>
            <v-flex xs3>7.-SITUACIÓN DE CALLE</v-flex>
            <v-flex xs3>8.-EXPLOTACIÓN</v-flex>
          </v-layout>
        </v-content>
        <hr>
        <canvas id="canvasBar"></canvas>
        <hr>
        <canvas id="canvasPie"></canvas>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import 'chartjs-plugin-labels';
export default {
  props: ["victims"],
  data() {
    return {
      search: "",
      victimas: this.victims,

      estado: "Oaxaca",
      municipio: "",
      colonia: "",
      sexo: "",
      beneficio: "",

      pickers: {
        fecha_inicio: {
          date: null,
          menu: false
        },
        fecha_fin: {
          date: null,
          menu: false
        }
      },

      grafica_benefecios: null,
      grafica_edades: null,
      grafica_pie: null,

      headers: [
        { text: "id", value: "id" },
        { text: "pet", value: "petition_id" },
        {
          text: "Nombre",
          sortable: false,
          value: "name"
        },
        { text: "Municipio", value: "addressmunicipio" },
        { text: "Sexo", value: "gender" },
        { text: "Beneficios", value: "benefits" },
        { text: "Fecha de registro", value: "created_at" }
      ],
      json_fields: {
        id: "id",
        nombre: "name",
        beneficios: "benefits",
        sexo: "gender"
      },
      json_meta: [
        [
          {
            key: "charset",
            value: "utf-8"
          }
        ]
      ]
    };
  },
  mounted: function() {
    this.renderChart();
    this.renderBar();
    this.renderPie();
  },
  methods: {
    obtenerReporte() {
      var ini = new Date(this.pickers.fecha_inicio.date);
      var end = new Date(this.pickers.fecha_fin.date);

      this.victimas = this.victims;
      var result = this.victimas;
      if (this.municipio != null && this.municipio != "") {
        result = this.victimas.filter(
          itemsa => itemsa.addressmunicipio == this.municipio
        );
      }
      if (this.sexo != null && this.sexo != "") {
        result = result.filter(itemsa => itemsa.gender == this.sexo);
      }
      if (this.beneficio != null && this.beneficio != "") {
        result = result.filter(itemsa => itemsa.benefits == this.beneficio);
      }
      if (
        this.pickers.fecha_fin.date != null &&
        this.pickers.fecha_fin.date != "" &&
        this.pickers.fecha_inicio.date != null &&
        this.pickers.fecha_inicio.date != ""
      ) {
        result = result.filter(
          v =>
            new Date(v.created_at).getTime() <= end.getTime() &&
            new Date(v.created_at).getTime() >= ini.getTime()
        );
      }

      this.victimas = result;
      this.renderChart();
      this.renderBar();
      this.renderPie();
    },
    cleanFields() {
      this.victimas = this.victims;
      (this.estado = "Oaxaca"),
        (this.municipio = ""),
        (this.colonia = ""),
        (this.sexo = ""),
        (this.beneficio = ""),
        (this.pickers.fecha_inicio.date = ""),
        (this.pickers.fecha_fin.date = "");
      this.renderChart();
      this.renderBar();
      this.renderPie();
    },

    renderPie() {
      var sexo_victimas = [];
      sexo_victimas.push(
        this.victimas.filter(victim => victim.gender == "Hombre").length
      );
      sexo_victimas.push(
        this.victimas.filter(victim => victim.gender == "Mujer").length
      );
      if (this.grafica_pie) {
        this.grafica_pie.destroy();
      }
      const ctx = document.getElementById("canvasPie").getContext("2d");
      this.grafica_pie = new Chart(ctx, {
        type: "pie",
        data: {
          labels: ["Hombres", "Mujeres"],
          datasets: [
            {
              label: "Victimas totales por género",
              data: sexo_victimas,
              backgroundColor: [
                "rgba(129, 207, 224, 1)", // Blue
                "rgba(219, 10, 91, 1)" // Maaroon
              ]
            }
          ]
        },
        options: {
          pieceLabel: {
            fontColor: "#000"
          },
          title: {
            display: true,
            text: "Número de victimas por género",
            fontSize: 17
          },
          responsive: true,
          plugins: {
            labels: {
              render: "percentage",
              fontSize: 17,
              fontColor: ["white", "white"],
              precision: 2
            }
          }
        }
      });
    },

    renderChart() {
      var beneficio_hombres = [];
      beneficio_hombres.push(
        this.victimas.filter(
          victim =>
            victim.gender == "Hombre" &&
            victim.benefits ==
              "ATENCION A REPORTES DE MALTRATO INFANTIL POR OMISIÓN DE CUIDADOS"
        ).length
      );
      beneficio_hombres.push(
        this.victimas.filter(
          victim =>
            victim.gender == "Hombre" &&
            victim.benefits ==
              "ATENCION A REPORTES DE MALTRATO INFANTIL POR VIOLENCIA FÍSICA"
        ).length
      );
      beneficio_hombres.push(
        this.victimas.filter(
          victim =>
            victim.gender == "Hombre" &&
            victim.benefits ==
              "ATENCION A REPORTES DE MALTRATO INFANTIL POR VIOLENCIA PSICOLÓGICA"
        ).length
      );
      beneficio_hombres.push(
        this.victimas.filter(
          victim =>
            victim.gender == "Hombre" &&
            victim.benefits ==
              "ATENCION A REPORTES DE MALTRATO INFANTIL POR VIOLENCIA SEXUAL"
        ).length
      );
      beneficio_hombres.push(
        this.victimas.filter(
          victim =>
            victim.gender == "Hombre" &&
            victim.benefits ==
              "ATENCION A REPORTES DE MALTRATO INFANTIL POR ABANDONO DE PERSONA"
        ).length
      );
      beneficio_hombres.push(
        this.victimas.filter(
          victim =>
            victim.gender == "Hombre" &&
            victim.benefits ==
              "ATENCION A REPORTES DE MALTRATO INFANTIL POR ACOSO ESCOLAR"
        ).length
      );
      beneficio_hombres.push(
        this.victimas.filter(
          victim =>
            victim.gender == "Hombre" &&
            victim.benefits ==
              "ATENCION A REPORTES DE MALTRATO INFANTIL POR SITUACIÓN DE CALLE"
        ).length
      );
      beneficio_hombres.push(
        this.victimas.filter(
          victim =>
            victim.gender == "Hombre" &&
            victim.benefits ==
              "ATENCION A REPORTES DE MALTRATO INFANTIL POR EXPLOTACIÓN"
        ).length
      );

      var beneficio_mujeres = [];
      beneficio_mujeres.push(
        this.victimas.filter(
          victim =>
            victim.gender == "Mujer" &&
            victim.benefits ==
              "ATENCION A REPORTES DE MALTRATO INFANTIL POR OMISIÓN DE CUIDADOS"
        ).length
      );
      beneficio_mujeres.push(
        this.victimas.filter(
          victim =>
            victim.gender == "Mujer" &&
            victim.benefits ==
              "ATENCION A REPORTES DE MALTRATO INFANTIL POR VIOLENCIA FÍSICA"
        ).length
      );
      beneficio_mujeres.push(
        this.victimas.filter(
          victim =>
            victim.gender == "Mujer" &&
            victim.benefits ==
              "ATENCION A REPORTES DE MALTRATO INFANTIL POR VIOLENCIA PSICOLÓGICA"
        ).length
      );
      beneficio_mujeres.push(
        this.victimas.filter(
          victim =>
            victim.gender == "Mujer" &&
            victim.benefits ==
              "ATENCION A REPORTES DE MALTRATO INFANTIL POR VIOLENCIA SEXUAL"
        ).length
      );
      beneficio_mujeres.push(
        this.victimas.filter(
          victim =>
            victim.gender == "Mujer" &&
            victim.benefits ==
              "ATENCION A REPORTES DE MALTRATO INFANTIL POR ABANDONO DE PERSONA"
        ).length
      );
      beneficio_mujeres.push(
        this.victimas.filter(
          victim =>
            victim.gender == "Mujer" &&
            victim.benefits ==
              "ATENCION A REPORTES DE MALTRATO INFANTIL POR ACOSO ESCOLAR"
        ).length
      );
      beneficio_mujeres.push(
        this.victimas.filter(
          victim =>
            victim.gender == "Mujer" &&
            victim.benefits ==
              "ATENCION A REPORTES DE MALTRATO INFANTIL POR SITUACIÓN DE CALLE"
        ).length
      );
      beneficio_mujeres.push(
        this.victimas.filter(
          victim =>
            victim.gender == "Mujer" &&
            victim.benefits ==
              "ATENCION A REPORTES DE MALTRATO INFANTIL POR EXPLOTACIÓN"
        ).length
      );

      if (this.grafica_benefecios) {
        this.grafica_benefecios.destroy();
      }

      const ctx = document.getElementById("canvas").getContext("2d");
      this.grafica_benefecios = new Chart(ctx, {
        type: "bar",
        data: {
          labels: ["1", "2", "3", "4", "5", "6", "7", "8"],
          datasets: [
            {
              label: "Mujeres",
              data: beneficio_mujeres,
              backgroundColor: [
                "rgba(195, 33,72,.2)", // Maaroon
                "rgba(195, 33,72,.2)", // Maaroon
                "rgba(195, 33,72,.2)", // Maaroon
                "rgba(195, 33,72,.2)", // Maaroon
                "rgba(195, 33,72,.2)", // Maaroon
                "rgba(195, 33,72,.2)", // Maaroon
                "rgba(195, 33,72,.2)", // Maaroon
                "rgba(195, 33,72,.2)" // Maaroon
              ],
              borderWidth: 1
            },
            {
              label: "Hombres",
              data: beneficio_hombres,
              backgroundColor: [
                "rgba(71, 183,132,.2)", // Green
                "rgba(71, 183,132,.2)", // Green
                "rgba(71, 183,132,.2)", // Green
                "rgba(71, 183,132,.2)", // Green
                "rgba(71, 183,132,.2)", // Green
                "rgba(71, 183,132,.2)", // Green
                "rgba(71, 183,132,.2)", // Green
                "rgba(71, 183,132,.2)" // Green
              ],
              borderColor: ["#47b784"],
              borderWidth: 1
            }
          ]
        },
        options: {
          title: {
            display: true,
            text: "Víctimas separadas por afectación",
            fontSize: 17
          },
          responsive: true,
          lineTension: 1,
          scales: {
            yAxes: [
              {
                scaleLabel: {
                  display: true,
                  fontSize: 13,
                  labelString: "Número de víctimas"
                },
                ticks: {
                  beginAtZero: true,
                  padding: 25,
                  callback: function(value, index, values) {
                    if (value % 1 == 0) return value;
                  }
                }
              }
            ],
            xAxes: [
              {
                scaleLabel: {
                  display: true,
                  fontSize: 13,
                  labelString: "Afectaciones"
                }
              }
            ]
          }
        }
      });
    },

    renderBar() {
      var edades_hombres = [];
      edades_hombres.push(
        this.victimas.filter(victim => victim.age > 0 && victim.age <= 3).length
      );
      edades_hombres.push(
        this.victimas.filter(victim => victim.age > 3 && victim.age <= 6).length
      );
      edades_hombres.push(
        this.victimas.filter(victim => victim.age > 6 && victim.age <= 9).length
      );
      edades_hombres.push(
        this.victimas.filter(victim => victim.age > 9 && victim.age <= 12)
          .length
      );
      edades_hombres.push(
        this.victimas.filter(victim => victim.age > 12 && victim.age <= 15)
          .length
      );
      edades_hombres.push(
        this.victimas.filter(victim => victim.age > 15 && victim.age <= 18)
          .length
      );

      if (this.grafica_edades) {
        this.grafica_edades.destroy();
      }

      const ctx = document.getElementById("canvasBar").getContext("2d");
      this.grafica_edades = new Chart(ctx, {
        type: "bar",
        data: {
          labels: [
            "Rango de 0-3",
            "de 3-6",
            "de 6-9",
            "de 9-12",
            "de 12-15",
            "de 15-18"
          ],
          datasets: [
            {
              label: "Víctimas",
              data: edades_hombres,
              backgroundColor: [
                "rgba(25, 181, 254, .3)", // Blue
                "rgba(25, 181, 254, .4)",
                "rgba(25, 181, 254, .5)",
                "rgba(25, 181, 254, .6)",
                "rgba(25, 181, 254, .7)",
                "rgba(25, 181, 254, .8)"
              ]
            }
          ]
        },
        options: {
          plugins:{
            labels: false
          },
          title: {
            display: true,
            text: "Víctimas por rango de edades",
            fontSize: 17
          },
          responsive: true,
          scales: {
            yAxes: [
              {
                scaleLabel: {
                  display: true,
                  fontSize: 13,
                  labelString: "Número de víctimas"
                },
                ticks: {
                  beginAtZero: true,
                  padding: 25,
                  callback: function(value, index, values) {
                    if (value % 1 == 0) return value;
                  }
                }
              }
            ],
            xAxes: [
              {
                scaleLabel: {
                  display: true,
                  fontSize: 13,
                  labelString: "Rango de edades"
                }
              }
            ]
          }
        }
      });
    }
  },
  computed: {
    fecha_formatoMX_ini: function() {
      var f = this.pickers.fecha_inicio.date;
      if (f != null && f != "") {
        return (
          f[8] + f[9] + "/" + f[5] + f[6] + "/" + f[0] + f[1] + f[2] + f[3]
        );
      }
    },
    fecha_formatoMX_fin: function() {
      var f = this.pickers.fecha_fin.date;
      if (f != null && f != "") {
        return (
          f[8] + f[9] + "/" + f[5] + f[6] + "/" + f[0] + f[1] + f[2] + f[3]
        );
      }
    }
  },
};
</script>
