<template>
  <v-content>
    <v-container style="max-width: 100%;">
      <v-app id="inspire">
        <v-parallax :src="'storage/aplicationimages/portada.png'"></v-parallax>
        <v-responsive>
          <v-container fill-height>
            <v-layout align-center>
              <v-flex>
                <h3 class="display-3">Bienvenido Abogado</h3>

                <span
                  class="subheading"
                >Como abogado su principal responsabilidad dentro del sistema es identificar que seguimiento debe llevar el caso(Asesoría, mediación, expediente) y darle seguimiento.</span>

                <v-expansion-panel>
                  <v-expansion-panel-content>
                    <template v-slot:header>
                      <div>Revisar y darle seguimiento a la solicitud</div>
                    </template>
                    <v-card>
                      <v-card-text>Cada vez que recibe una nueva solicitud significa que el subprocurador a cargo le ha designado la responsabilidad de continuar con el caso, ésta decisión no puede ser cambiada.</v-card-text>
                    </v-card>
                  </v-expansion-panel-content>

                  <v-expansion-panel-content>
                    <template v-slot:header>
                      <div>Subir evidencia</div>
                    </template>
                    <v-card>
                      <v-card-text>Por medio de las opciones de reportes y evidencia usted puede subir sus informes en formato pdf y word con pesos menores a 1mb.</v-card-text>
                    </v-card>
                  </v-expansion-panel-content>

                  <v-expansion-panel-content>
                    <template v-slot:header>
                      <div>Vincular y concluir la solicitud</div>
                    </template>
                    <v-card>
                      <v-card-text>Puede vincular a las víctimas a diversas dependencias ya sea internas o externas.</v-card-text>
                    </v-card>
                  </v-expansion-panel-content>
                </v-expansion-panel>

                <div
                  class="title mb-3"
                >Presiona ayuda desde el menú, para ver éstas recomendaciones de nuevo!</div>

                <v-btn v-on:click.native="irsolicitudes" outline color="indigo">Ir a ver los casos</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-responsive>

        <v-timeline align-top>
          <v-timeline-item color="grey darken-3" icon="fa-user" fill-dot right>
            <v-card color="grey darken-3" dark>
              <v-card-title class="title">Subprocurador le asigna solicitud</v-card-title>
              <v-card-text class="white text--primary">
                <p>Ésta decisión es inapelable si cree que hay un error entonces comuníquelo inmediatamente con el procurador.</p>
                <v-btn
                  v-on:click.native="irProcesos"
                  color="grey darken-3"
                  class="mx-0"
                  outline
                >Ir a ver casos asignados</v-btn>
              </v-card-text>
            </v-card>
          </v-timeline-item>

          <v-timeline-item color="pink darken-2" icon="fa-user" fill-dot left>
            <v-card color="pink darken-2" dark>
              <v-card-title class="title">usted selecciona Asesoria,mediacion o expediente al caso</v-card-title>
              <v-card-text class="white text--primary">
                <p>El sistema permite tres diferentes tipos de seguimiento y usted es el responsable de determinar cual es el correcto para la solicitud.</p>
                <p>Asesoría no permite crear citas, mediación no permite realizar vinculaciones y Expediente permite realizar las 4 operaciones establecidas</p>
                <v-btn
                  v-on:click.native="irsolicitudes"
                  color="pink darken-2"
                  class="mx-0"
                  outline
                >Asignar seguimiento</v-btn>
              </v-card-text>
            </v-card>
          </v-timeline-item>

          <v-timeline-item color="pink darken-2" icon="fa-user" fill-dot left>
            <v-card color="pink darken-2" dark>
              <v-card-title class="title">Usted puede agregar Vinculaciones, citas, reportes y evidencia segun el caso</v-card-title>
              <v-card-text class="white text--primary">
                <p>Vinculación le permite establecer a que dependencia se ha asignado la solicitud y quien es el responsable, citas le permite crear una cita en la que usted tenga que participar y agregar esta información para el subprocurador, los reportes son toda la información a reportar de las acciones que se han realizado y en la seccion de evidencia usted puede agregar imagenes o audios.</p>
                <v-btn
                  v-on:click.native="irProcesos"
                  color="pink darken-2"
                  class="mx-0"
                  outline
                >Ir ahora</v-btn>
              </v-card-text>
            </v-card>
          </v-timeline-item>
          <v-timeline-item color="pink darken-2" icon="fa-user" fill-dot left>
            <v-card color="pink darken-2" dark>
              <v-card-title class="title">Conclusión o conciliación</v-card-title>
              <v-card-text class="white text--primary">
                <p>Si usted considera que la solicitud por el medio que sea, ha concluido, puede registrarlo dirigiendose a la solicitud > Editar > 4° Pestaña y describa específicamente como concluyó.</p>
                
              </v-card-text>
            </v-card>
          </v-timeline-item>
        </v-timeline>
      </v-app>
    </v-container>
  </v-content>
</template>

<script>
export default {
  data: () => ({}),
  methods: {
    irsolicitudes() {
      window.location.href = "/petitions";
    },
    irSinAsignar() {
      window.location.href = "/section/pendients";
    },
    irProcesos() {
      window.location.href = "/section/process";
    }
  }
};
</script>

