<template>
  <v-content>
    <v-container >
      <v-app id="inspire">
        <v-container >
            <v-layout align-center>
              <v-flex>
                <h3 class="display-3">Bienvenido Administrador</h3>

                <span
                  class="subheading"
                >Para efectos generales sus responsabilidades se clasifican en dos grupos generales, las responsabilidades propias de su cargo y las responsabilidades de su rol como Administrador del sistema.</span>

                

                <v-card-text>
                  <v-treeview :items="items2">
                    <template v-slot:prepend="{ item }">
                      <v-icon
                        v-if="item.children"
                        v-text="`mdi-${item.id === 1 ? 'home-variant' : 'folder-network'}`"
                      ></v-icon>
                    </template>
                  </v-treeview>
                </v-card-text>
                <v-divider class="my-3"></v-divider>

                <div
                  class="title mb-3"
                >Presiona ayuda desde el menú, para ver éstas recomendaciones de nuevo!</div>

                
              </v-flex>
            </v-layout>
          </v-container>

      </v-app>
    </v-container>
  </v-content>
</template>

<script>
export default {
  data: () => ({
    items2: [
      {
        id: 1,
        name: "Procuraduría",
        children: [
          {
            id: 2,
            name: "Subprocuraduría de protección especial",
            children: [
              {
                id: 201,
                name: "Subprocurador"
              },
              {
                id: 202,
                name: "Abogados"
              }
            ]
          },
          {
            id: 3,
            name: "Subprocuraduría de representación Jurídica",
            children: [
              {
                id: 301,
                name: "Subprocurador"
              },
              {
                id: 302,
                name: "Abogados"
              }
            ]
          },
          {
            id: 4,
            name: "Capturistas"
          }
        ]
      }
    ]
  }),
  methods:{
    irSolicitudes(){
      window.location.href = '/petitions'
    },
    irUsuarios(){
      window.location.href = '/users'
    },
    irRoles(){
      window.location.href = '/roles'
    },
    irvictimas(){
      window.location.href = '/victims'
    },
    irSeguimientos(){
      window.location.href = '/section/process'
    },
  },
};
</script>

