<template>
  <v-content>
    <v-container style="max-width: 100%;">
      <v-app id="inspire">
        <v-parallax :src="'storage/aplicationimages/portada.png'"></v-parallax>
        <v-responsive>
          <v-container fill-height>
            <v-layout align-center>
              <v-flex>
                <h3 class="display-3">Bienvenido al Módulo de Captura</h3>

                <span
                  class="subheading"
                >Principalmente usted tiene la obligación de recibir la información ya sea por medio electrónico, telefónico o por comparecencia y capturar esta información dentro del sistema.</span>

                <v-expansion-panel>
                  <v-expansion-panel-content>
                    <template v-slot:header>
                      <div>Crear nuevas solicitudes</div>
                    </template>
                    <v-card>
                      <v-card-text>Al crear una nueva solicitud puede el solicitante pedir que sea anónima su información personal sin embargo es obligatorio que registre los datos del domicilio de las víctimas.</v-card-text>
                    </v-card>
                  </v-expansion-panel-content>

                  <v-expansion-panel-content>
                    <template v-slot:header>
                      <div>Ver solicitudes creadas</div>
                    </template>
                    <v-card>
                      <v-card-text>De acuerdo a los permisos que le brinde el Procurador usted podriá editar, eliminar y ver las solicitudes que ha creado.</v-card-text>
                    </v-card>
                  </v-expansion-panel-content>
                </v-expansion-panel>

                <div
                  class="title mb-3"
                >Presiona ayuda desde el menú, para ver éstas recomendaciones de nuevo!</div>

                <v-btn v-on:click.native="irCrear" outline color="indigo">Crear caso ahora</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-responsive>

        <v-timeline align-top>
          <v-timeline-item color="pink darken-2" icon="fa-user" fill-dot left>
            <v-card color="pink darken-2" dark>
              <v-card-title class="title">Usted crea la solicitud</v-card-title>
              <v-card-text class="white text--primary">
                <p>Es obligatorio colocar el domicilio a donde se dirigirá la solicitud.</p>
                <p>El numero de víctimas relacionada a la solicitud puede ser 1 o más</p>
                <v-btn v-on:click.native="irCrear" color="pink darken-2" class="mx-0" outline>Crear</v-btn>
              </v-card-text>
            </v-card>
          </v-timeline-item>

          <v-timeline-item color="grey darken-3" icon="fa-user" fill-dot right>
            <v-card color="grey darken-3" dark>
              <v-card-title class="title">Asignación automática</v-card-title>
              <v-card-text class="white text--primary">
                <p>El sistema automáticamente asigna la solicitud a la subprocuraduría Especial o Jurídica, usted no puede cambiar ni seleccionar ésta opción.</p>
              </v-card-text>
            </v-card>
          </v-timeline-item>

          <v-timeline-item color="pink darken-2" icon="fa-user" fill-dot left>
            <v-card color="pink darken-2" dark>
              <v-card-title class="title">Usted puede ver las solicitudes creadas</v-card-title>
              <v-card-text class="white text--primary">
                <p>De acuerdo a los permisos que le brinde el Procurador usted podriá editar, eliminar y ver las solicitudes que ha creado.</p>
                <v-btn
                  v-on:click.native="irsolicitudes"
                  color="pink darken-2"
                  class="mx-0"
                  outline
                >Ir ahora</v-btn>
              </v-card-text>
            </v-card>
          </v-timeline-item>
        </v-timeline>
      </v-app>
    </v-container>
  </v-content>
</template>

<script>
export default {
  data: () => ({}),
  methods: {
    irsolicitudes() {
      window.location.href = "/petitions";
    },
    irCrear() {
      window.location.href = "/petitions/create";
    }
  }
};
</script>

