<template>
  <v-content>
    <v-container style="max-width: 100%;">
      <v-app id="inspire">
        <v-parallax :src="'storage/aplicationimages/portada.png'"></v-parallax>
        <v-responsive>
          <v-container fill-height>
            <v-layout align-center>
              <v-flex>
                <h3 class="display-3">Bienvenido Procurador</h3>

                <span
                  class="subheading"
                >Para efectos generales sus responsabilidades se clasifican en dos grupos generales, las responsabilidades propias de su cargo y las responsabilidades de su rol como Administrador del sistema.</span>

                <v-container>
                  <v-layout row wrap>
                    <v-flex xs12 lg5 mb-3>
                      <v-expansion-panel popout>
                        <v-expansion-panel-content>
                          <template v-slot:header>
                            <div>Ver Solicitudes y gestionarlas</div>
                          </template>
                          <v-card>
                            <v-card-text>Implica que el procurador puede ver las solicitudes que se hayan creado, tambien puede editarlas y eliminarlas si fuera necesario, tambien tiene la capacidad de crear solicitudes</v-card-text>
                          </v-card>
                        </v-expansion-panel-content>

                        <v-expansion-panel-content>
                          <template v-slot:header>
                            <div>Crear Informe de víctimas</div>
                          </template>
                          <v-card>
                            <v-card-text>Accediendo al menu > Informes el procurador puede hacer filtros de atributos propios de las víctimas.</v-card-text>
                          </v-card>
                        </v-expansion-panel-content>

                        <v-expansion-panel-content>
                          <template v-slot:header>
                            <div>Observar seguimiento de solicitudes</div>
                          </template>
                          <v-card>
                            <v-card-text>El procurador puede revisar cuales solicitudes tienen cierto tipo de seguimiento y ver que solicitudes se encuentran en espera de ser atendidas.</v-card-text>
                          </v-card>
                        </v-expansion-panel-content>
                      </v-expansion-panel>
                    </v-flex>

                    <v-flex xs12 lg5 offset-lg2>
                      <v-expansion-panel popout>
                        <v-expansion-panel-content>
                          <template v-slot:header>
                            <div>Autorizar usuarios</div>
                          </template>
                          <v-card>
                            <v-card-text>El procurador tiene una lista de usuarios en "menu>usuarios" donde puede gestionar los nuevos y los ya existentes usuarios.</v-card-text>
                          </v-card>
                        </v-expansion-panel-content>

                        <v-expansion-panel-content>
                          <template v-slot:header>
                            <div>Crear Roles</div>
                          </template>
                          <v-card>
                            <v-card-text>El procurador puede editar los permisos de los roles, Subprocurador, abogado, capturista.</v-card-text>
                          </v-card>
                        </v-expansion-panel-content>

                        <v-expansion-panel-content>
                          <template v-slot:header>
                            <div>Gestionar Permisos de acceso</div>
                          </template>
                          <v-card>
                            <v-card-text>El procurador decide que permisos van con determinado rol, ésta opción se encuentra en Menu -> Roles -> Editar.</v-card-text>
                          </v-card>
                        </v-expansion-panel-content>
                      </v-expansion-panel>
                    </v-flex>
                  </v-layout>
                </v-container>

                <v-card-text>
                  <v-treeview :items="items2">
                    <template v-slot:prepend="{ item }">
                      <v-icon
                        v-if="item.children"
                        v-text="`mdi-${item.id === 1 ? 'home-variant' : 'folder-network'}`"
                      ></v-icon>
                    </template>
                  </v-treeview>
                </v-card-text>
                <v-divider class="my-3"></v-divider>

                <div
                  class="title mb-3"
                >Presiona ayuda desde el menú, para ver éstas recomendaciones de nuevo!</div>

                <v-btn v-on:click.native="irSolicitudes" outline color="indigo">Ir a ver las solicitudes</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-responsive>

        <v-timeline align-top>
          <v-timeline-item color="grey darken-3" icon="fa-user" fill-dot right>
            <v-card color="grey darken-3" dark>
              <v-card-title class="title">Usuario se registra</v-card-title>
              <v-card-text class="white text--primary">
                <p>El usuario con acceso al sistema registra sus datos y selecciona el área de la PROCURADURÍA al que pertenece.</p>
                <v-btn v-on:click.native="irUsuarios"  color="grey darken-3" class="mx-0" outline>Ir a ver usuarios</v-btn>
              </v-card-text>
            </v-card>
          </v-timeline-item>

          <v-timeline-item color="pink darken-2" icon="fa-user" fill-dot left>
            <v-card color="pink darken-2" dark>
              <v-card-title class="title">Procurador asigna permisos al usuario</v-card-title>
              <v-card-text class="white text--primary">
                <p>Debe tener mucho cuidado al asignar un usuario, revise cuidadosamente que permisos le esta concediendo, REVISE que se encuentre en la subprocuraduría correspondiente.</p>
                <v-btn v-on:click.native="irRoles" color="pink darken-2" class="mx-0" outline>Ver roles</v-btn>
              </v-card-text>
            </v-card>
          </v-timeline-item>

            
        <v-timeline-item color="grey darken-3" icon="fa-user" fill-dot right>
            <v-card color="grey darken-3" dark>
              <v-card-title class="title">Usuario puede acceder al sistema de acuerdo a su ROL asignado</v-card-title>
              <v-card-text class="white text--primary">
                <p>Llegado a este punto usted puede quitarle o asignarle mas permisos al usuario de acuerdo a las necesidas que se le presenten.</p>
              </v-card-text>
            </v-card>
          </v-timeline-item>

          <v-timeline-item color="pink darken-2" icon="fa-user" fill-dot left>
            <v-card color="pink darken-2" dark>
              <v-card-title class="title">Procurador puede ver las víctimas</v-card-title>
              <v-card-text class="white text--primary">
                <p>Ahora puede ver todas las víctimas que se han registrado dentro del sistema, filtrar esta información y obtener datos importantes.</p>
                <v-btn v-on:click.native="irvictimas" color="pink darken-2" class="mx-0" outline>Ver víctimas</v-btn>
              </v-card-text>
            </v-card>
          </v-timeline-item>

          <v-timeline-item color="pink darken-2" icon="fa-user" fill-dot left>
            <v-card color="pink darken-2" dark>
              <v-card-title class="title">Procurador puede ver los seguimientos de las solicitudes</v-card-title>
              <v-card-text class="white text--primary">
                <p>En el menu izquierdo puede ver las solicitudes sin asignar para preguntarle al encargado porque no les da la continuidad, y tambien los que se encuentran siendo atendidos por un abogado.</p>
                <v-btn v-on:click.native="irSeguimientos" color="pink darken-2" class="mx-0" outline>Ver seguimientos</v-btn>
              </v-card-text>
            </v-card>
          </v-timeline-item>

        </v-timeline>
      </v-app>
    </v-container>
  </v-content>
</template>

<script>
export default {
  data: () => ({
    items2: [
      {
        id: 1,
        name: "Procuraduría",
        children: [
          {
            id: 2,
            name: "Subprocuraduría de protección especial",
            children: [
              {
                id: 201,
                name: "Subprocurador"
              },
              {
                id: 202,
                name: "Abogados"
              }
            ]
          },
          {
            id: 3,
            name: "Subprocuraduría de representación Jurídica",
            children: [
              {
                id: 301,
                name: "Subprocurador"
              },
              {
                id: 302,
                name: "Abogados"
              }
            ]
          },
          {
            id: 4,
            name: "Capturistas"
          }
        ]
      }
    ]
  }),
  methods:{
    irSolicitudes(){
      window.location.href = '/petitions'
    },
    irUsuarios(){
      window.location.href = '/users'
    },
    irRoles(){
      window.location.href = '/roles'
    },
    irvictimas(){
      window.location.href = '/victims'
    },
    irSeguimientos(){
      window.location.href = '/section/process'
    },
  },
};
</script>

