<template>
<div>
  <div class="box box-primary shadow">
    <div class="box-header with-border">
      <h4 class="box-title">LISTADO DE DONATIVOS</h4>   
       
    </div>

    <div class="box-body"> 
      <div class="col-md-12">
       <div style="display: flex; justify-content: flex-end">
       <a id="bot" href="taesir#/creardonativos" title="agregar un donativo" class="btn btn-success col-md-3 offset-9">
          <i   class="glyphicon glyphicon-plus" ></i> NUEVO DONATIVO </a>  
     </div>  
          <br> 
       <div class="col-md-offset-9" style="display: flex; justify-content: flex-end" >
      <div class="input-group" style="width:350; ">
        <span class="input-group-addon" id="peso">FILTRAR <i id="icono" class="fa fa-filter" aria-hidden="true"></i></span>
        <select title="seleccionar filtro de tabla" type="text" v-model="filtro" class="form-control" @change="filtrar">
              <option value="todo">TODO</option>
              <option value="registrado">REGISTRADO</option>
              <option value="sinregistro">SIN REGISTRO</option>
      </select>
      </div>
         </div>   
              <br>        
      <v-client-table :data="tableData" :columns="columns" :options="options">
        <div slot="persona_id" slot-scope="props">{{props.row.persona.nombre+" "+props.row.persona.primer_apellido+" "+props.row.persona.segundo_apellido}}</div>
        <div slot="estatus" slot-scope="props">
          <span v-if="props.row.estatus === 'REGISTRADO'" class="badge badge-pill badge-danger">REGISTRADO  </span>
          <span v-else class="badge badge-success">SIN REGISTRO</span>      
        </div>
         <div slot="opciones" slot-scope="props">
           <button  v-if="props.row.estatus=== 'SIN REGISTRO'"
              class="btn btn-xs bg-success"
              title="registrar donativos"
             @click.prevent="agregar(props.row.id)"
            >
              <i class="glyphicon glyphicon-ok"></i>
            </button>
              <button
              v-if="props.row.estatus=== 'SIN REGISTRO'"
                class="btn btn-xs bg-danger"
                title="Eliminar donativo"
                @click.prevent="confirmar(props.row.id)"
              >
                <i class="glyphicon glyphicon-trash"></i>
              </button>
               <button
              v-if="props.row.estatus=== 'REGISTRADO'"
                class="btn btn-xs bg-info"
                title="Detalles de donativo"
                @click.prevent="tablamodal(props.row.id)"
                style="color: #000;"
              >
                <i class="fa fa-eye"></i>
              </button>

            </div>
     </v-client-table>
    </div>
      </div>
  </div>

 <div class="modal fade" id="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header"> 
              <h4 class="box-title">LISTA DE MATERIALES REGISTRADOS EN DONATIVO</h4>
            </div>
            <div class="modal-body">
             <v-client-table :data="tableData2" :columns="columns2" :options="options2">
               
             </v-client-table> 
            </div>
             <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">CERRAR</button>
                  </div>
                </div>
              </div>
            </div>

</div>
</template>

<script>
export default {
  mounted() {
    this.sinregistro();
  },
  data() {
    return {
      columns: [
        "fecha",
        "nombre",
        "observaciones",
        "estatus",
        "persona_id",
        "opciones"
            ],
            columns2:[
          "nombre",
          "presentacion",
          "cantidad"
            ],
      tableData: [],
      tableData2:[],
      materialitos:[],
      options2: {
        headings: {
          nombre:"Nombre",
          presentacion:"presentacion",
          cantidad:"cantidad",
                },
        sortable: ["nombre"],
        filterable:false,
        pagination: {
          dropdown: false,
          chunk: 10,
          edge: false,
          align: "center",
          nav: "fixed"
        },
        perPageValues: [10, 25, 50, 100],
        texts: {
          count: "Mostrando {from} a {to} de {count} resultados|{count} resultados|Un resultado",
          first: "First",
          last: "Last",
          filter: "Buscar: ",
          filterPlaceholder: "INGRESA BUSQUEDA",
          limit: "Resultados: ",
          page: "Page:",
          noResults: "No hay resultados",
          filterBy: "Filter by {column}",
          loading: "Loading...",
          defaultOption: "Select {column}",
          columns: "Columns"
        }
      },
      options: {
        headings: {
          fecha: "Fecha",
          nombre:"Nombre",
          observaciones:"Observaciones",
          estatus:"estatus",
          persona_id:"Donante",
          opciones:"Opciones"
        },
        sortable: ["nombre"],
        filterable: [ "nombre"],
        pagination: {
          dropdown: false,
          chunk: 10,
          edge: false,
          align: "center",
          nav: "fixed"
        },
        perPageValues: [10, 25, 50, 100],
        texts: {
          count: "Mostrando {from} a {to} de {count} resultados|{count} resultados|Un resultado",
          first: "First",
          last: "Last",
          filter: "Buscar: ",
          filterPlaceholder: "INGRESA BUSQUEDA",
          limit: "Resultados: ",
          page: "Page:",
          noResults: "No hay resultados",
          filterBy: "Filter by {column}",
          loading: "Loading...",
          defaultOption: "Select {column}",
          columns: "Columns"
        }
      },
      filtro:"sinregistro",
      donativo2:{
        id:"",
        fecha: "",
        nombre:"",
        observaciones:"",
        estatus:"",
        persona_id:"",
        usuario_id:73
      },
    };
  },
  methods: {
    listado() {
      axios
        .get("/taesir/controldonativos")
        .then(respuesta => {      
          this.donativo = respuesta.data.data;
          this.tableData = respuesta.data.donativo;                
        })
        .catch(error => {
        });
    }, 
    tablamodal(ide){
      block();
     axios
     .get("/taesir/materialesdonativos/"+ide)
        .then(respuesta => {  
          unblock(); 
           $("#modal").modal("show");   
          this.materialitos = respuesta.data.donativo;
          this.tableData2=this.materialitos;   

        })
        .catch(error => {
        });
      
     
      
    },
      confirmar(id) {
      Swal.fire({
        title: "¿Estas seguro?",
        text: "una vez concluido no podras restaurar",
        type: "question",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Sí",
        cancelButtonText: "No"
      }).then(result => {
        if (result.value) {
          this.eliminar(id);
        }
      });
    },
    
       agregar(id){
      window.location.assign("taesir#/servicios/donativos/registrardonativos/"+id);
    
    },
    filtrar(){
       block();
      switch (this.filtro) {
        case 'todo':
          this.listado();
          unblock();
          break;
        case 'registrado':
          this.registro();
          unblock();
          break;
        case 'sinregistro':
          this.sinregistro();
          unblock();
          break;
        default:
          unblock();
          break;
      }
    },
    registro() {
      axios
        .get("/taesir/donativosregistrados")
        .then(respuesta => {
          this.tableData = respuesta.data.donativo;
        })
        .catch(error => { 
        });
    },
    sinregistro() {
      axios
        .get("/taesir/donativossinregistro")
        .then(respuesta => {
          this.tableData = respuesta.data.donativo;
         })
        .catch(error => {
        });
    },
    eliminar(id) {
      block();
      axios
        .delete("/taesir/controldonativos/" + id, {
          id: this.donativo2.id,
          fecha: this.donativo2.fecha,
          nombre: this.donativo2.nombre,
          observaciones: this.donativo2.observaciones,
          estatus: this.donativo2.estatus,
          donante: this.donativo2.donante,     
          usuario_id: 73
        })
        .then(respuesta => {
          console.log("Se elimino la informacion");
          console.log(respuesta.data);
          unblock();
          Swal.fire({
            position: "center",
            type: "success",
            title: "correcto",
            showConfirmButton: false,
            timer: 1000
          });
        this.listado();
        })
        .catch(error => {
          console.log("error al Actualizar");
          console.log(error);
          unblock();
          Swal.fire({
            position: "center",
            type: "error",
            title: "Error",
            showConfirmButton: false,
            timer: 1000
          });
        });
    },}
    };
</script>
<style>
select {
  border-radius: 4px !important;
}
.box-header {
 background-color:#00968C;
 color: aliceblue;
}
.bg-info {
  background-color: #3498DB;
  width: 25px;
  height: 25px;
}
.bg-success {
  background-color: #00a65a;
  color: aliceblue;
  width: 25px;
  height: 25px;}
.bg-danger {
  color: #fff;
  background-color: #c62e2e;
  width: 25px;
  height: 25px;}
.badge-success {background-color: #00a65a;}
.badge-danger {background-color: #FFC107;}
.badge-warning {background-color: #C62E2E;}
#peso {
  border: #FFF;
  background-color: #FFF;
  border-radius: 0px;
  color: #000;
  font-size: 16px;
}
#icono {
  color: #00968C;
}
#bot{
  width:223px;
}
</style>
