<template>
  <div>
    <div style="margin-top: 8%;" align="center">
      <div class="login-box">
        <div class="login-logo">
          <img src="/images/logo_color.png" alt="DIF" width="80%">
        </div>
        <div class="error-page">
          <h3 class="headline text-yellow"> 404</h3>
          <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> Oops! Recurso No encontrado</h3>
            <p></p>
          </div>
        </div>
      </div>
      <!-- <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>
        <img src="/images/logo_header.png" alt="" width="40%">
        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> Oops!</h3>
          <p>Recurso no encontrado</p>
        </div>
      </div> -->
    </div>
  </div>
</template>
<script>
export default {
  mounted(){
    var salida=setTimeout(function() {
      window.location.assign("/panaderia#/");
    },3000);
  },
}
</script>