<template>
  <div>
    <div v-show="verlista">
      <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h4>Listado de clientes</h4>
      </div>
      <div class="box-body">
      <!--   <div>
          <button class="dt-button button-dt tool pull-right" @click.prevent="modalCrear"><span><i class="fa fa-plus"></i> Agregar cliente</span></button>
        </div> -->
        <v-client-table :data="tableData" :columns="columns" :options="options">
         
          <div slot="opciones" slot-scope="props">
            <button class="btn btn-primary btn-xs" @click.prevent="verDetalles(props.row.id)"><i class="fa fa-eye"></i> Ver</button>
            <button class="btn btn-warning btn-xs" @click.prevent="modalEditar(props.row.id)"><i class="fa fa-pencil"></i> Editar</button>
          </div>                    
        </v-client-table>
      </div>
    </div>
    </div>
    <div v-show="!verlista">
    <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h4>Datos del cliente</h4>         
          <button class="dt-button button-dt tool pull-right" @click.prevent="verClientes"><span><i class="fa fa-list margin-r-5"></i>Ver clientes</span></button>         
      </div>
         
      <div class="box-body">
        
        <form method="POST" >
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Nombre:</label>
                <input v-validate="{required:true, regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}" name="nombre" v-model="cliente.nombre" type="text" class="form-control text-uppercase">
                 <span class="validacion">{{ errors.first('nombre') }}</span>                
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Primer apellido:</label>
                <input v-validate="{required:true, regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}" name="apaterno" v-model="cliente.primerapellido" type="text" class="form-control text-uppercase">
                 <span class="validacion">{{ errors.first('Primer apellido') }}</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label  for="">Segundo apellido:</label>
                <input v-validate="{required:true, regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}" name="amaterno" v-model="cliente.segundoapellido" type="text" class="form-control text-uppercase">
                 <span class="validacion">{{ errors.first('Segundo apellido') }}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Teléfono:</label>
                <input v-validate="'digits:10'" name="telefono" v-model="cliente.telefono" type="text" class="form-control">
                 <span class="validacion">{{ errors.first('telefono') }}</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label  for="">Celular:</label>
                <input v-validate="'digits:10'" name="celular" v-model="cliente.celular" type="text" class="form-control">
                 <span class="validacion">{{ errors.first('celular') }}</span>
              </div>
            </div>
          </div>
  <!--         <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Calle:</label>
                <input v-validate="'alpha_spaces'" name="calle" v-model="cliente.calle" type="text" class="form-control text-uppercase">
                 <span class="validacion">{{ errors.first('calle') }}</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Número interior:</label>
                <input v-validate="'numeric'" name="Número interior" v-model="cliente.numinterior" type="text" class="form-control">
                 <span class="validacion">{{ errors.first('Número interior') }}</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Número exterior:</label>
                <input v-validate="'numeric'" name="Número exterior" v-model="cliente.numexterior" type="text" class="form-control">
                 <span class="validacion">{{ errors.first('Número exterior') }}</span>
              </div>
            </div>            
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label  for="">Colonia:</label>
                <input v-validate="'alpha_spaces'" name="colonia" v-model="cliente.colonia" type="text" class="form-control text-uppercase">
                 <span class="validacion">{{ errors.first('colonia') }}</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label  for="Municipio">Municipio:</label>
                <v-select v-model="municipio" @input="getLocalidades" :options="listaMunicipios" label="nombre" :filterable='true'></v-select>                
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="Localidad">Localidad:</label>
                <v-select v-validate="'required'" name="localidad" v-model="cliente.localidad" label='nombre' :options="listaLocalidades" :filterable='true'></v-select>               
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="Descripcion">Referencia del domicilio:</label>
                <textarea v-validate="'required'" name="descripcion" v-model="cliente.referencia" class="form-control text-uppercase" rows="3" placeholder="Referencia del domicilio"></textarea>
                 <span class="validacion">{{ errors.first('descripcion') }}</span>
              </div>
            </div>       
          </div> -->
        </form>
      </div>
      <div class="box-footer">
        <button v-if="metodo" class="btn btn-primary pull-right" @click.prevent="nuevoCliente"><i class="fa fa-save margin-r-5"></i>{{boton}}</button>
         <button v-else class="btn btn-primary pull-right" @click.prevent="actualizarCliente"><i class="fa fa-save margin-r-5"></i>{{boton}}</button>
        <button v-if="boton=='Actualizar'" class=" btn btn-primary pull-left" @click.prevent="regresar"><i class="fa fa-arrow-circle-left"></i> Regresar </button>
      </div>
    </div>
    </div>
    <div class="modal fade" id="modal-detalle" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
            <h4 class="modal-title" id="modal-detalle-title">Información del cliente</h4>
          </div>
          <div class="modal-body" id="modal-body-detalle">
            <div class="box box-primary shadow">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th style="width:30%"><i class="fa fa-user margin-r-5"></i> Nombre:</th>
                          <td> {{cliente.nombre_completo}} </td>
                        </tr>
                        <tr>
                          <th><i class="fa fa-phone margin-r-5"></i> Teléfono</th>
                          <td>{{cliente.telefono}}</td>
                        </tr>
                        <tr>
                          <th><i class="fa fa-phone margin-r-5"></i>Celular:</th>
                          <td>{{cliente.celular}}</td>
                        </tr>    
                                                         
                      </tbody>
                    </table>
                  </div>
                </div>
             <!--    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th style="width:30%">Calle:</th>
                          <td>{{cliente.calle}}</td>
                        </tr>
                        <tr>
                          <th>Número exterior:</th>
                          <td>{{cliente.numexterior}}
                        </tr>
                        <tr>
                          <th>Colonia:</th>
                          <td>{{cliente.colonia}}</td>
                        </tr>
                        <tr>
                          <th>Localidad:</th>
                          <td>{{cliente.localidad.nombre}}</td>
                      </tbody>
                    </table>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="modal-footer" id="modal-footer-detalle">
            <button type="button" class="btn btn-danger" @click.prevent="cerrarModal"><i class="fa fa-ban"></i> Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  mounted(){
    this.listado();
    this.$validator.reset(); 
    axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");

     //
  },
  data(){
    return{
      metodo:true,
      boton:'Guardar',
      verlista:true,
      cliente : {'nombre_completo':'','nombre':'' ,'primerapellido': '','segundoapellido': '','telefono':'','celular':''},
      municipio:[],   
      listaMunicipios:[],
      listaLocalidades:[],
      columns: ['nombre', 'primer_apellido', 'segundo_apellido', 'numero_local', 'numero_celular', 'opciones'],
      tableData: [],
      options: {
        headings: {
          nombre: 'Nombre',
          primer_apellido: 'Primer apellido',
          segundo_apellido: 'Segundo apellido',
          numero_local: 'Teléfono',
          numero_celular: 'Celular',             
          opciones: 'Opciones',          
        },
        sortable: ['nombre','primer_apellido','segundo_apellido'],
        filterable: ['nombre','apaterno','amaterno'],
        pagination: {
          dropdown: false,
          chunk: 10,
          edge: false,
          align: 'center',
          nav: 'fixed'
        },
        perPageValues: [10, 25, 50, 100],
        texts: {
          count: "Mostrando {from} a {to} de {count} resultados|{count} resultados|Un resultado",
          first: 'First',
          last: 'Last',
          filter: "Buscar: ",
          filterPlaceholder: "Búsqueda",
          limit: "Resultados: ",
          page: "Page:",
          noResults: "No hay resultados",
          filterBy: "Filter by {column}",
          loading: 'Loading...',
          defaultOption: 'Select {column}',
          columns: 'Columns'
        }
      },
    }
  },
  methods: {
    listado() {
      axios.get('panaderia/api/clientes').then(respuesta => {
        this.tableData = respuesta.data.clientes;
      }).catch(error => {
        console.log(error);
      });
    },
/*     listadoMunicipios() {
      console.log('listando municipios de oaxaca')
      var url = '/dcredencial/listMunicipio'
      axios.get(url).then(respuesta => {
        this.listaMunicipios = respuesta.data.data;
      }).catch(error => {
        console.log(error);
      });
    },
    getLocalidades() {
      console.log('buscando las localidades de dicho municipio')
      this.listaLocalidades = [];
      var url = '/dcredencial/listLocalidad/' + this.municipio.id;
      axios.get(url).then(respuesta => {
        this.listaLocalidades = respuesta.data.data;
      }).catch(error => {
        console.log('surgio un error al obtener las localidades del municipio ' + error)
      });
    },
    getNombreLocalidad(id) {
      return this.listaLocalidades.find(localidad => localidad.id === id).nombre;
    }, */
    regresar(){
      this.verlista=true;
    },
    verClientes(){
      this.verlista=true;
    },
    modalCrear() {
      this.$validator.reset();
      this.resetDatos();
      this.metodo = true;
      this.verlista=false;
      this.boton = 'Guardar';
      console.log('crear');
    },
    modalEditar(id) {
      this.$validator.reset();
      this.metodo = false;
      this.boton = 'Actualizar';
      this.getCliente(id);
      this.verlista = false;
      $('#modal').modal('show');
    },
    verDetalles(id) {
        this.getCliente(id);
        $('#modal-detalle').modal('show');
    },
    cerrarModal() {
        $('#modal-detalle').modal("hide");
    },
    pedidos(){
      window.location.assign("/panaderia#/pedidos");
    },
    getCliente(id) {
      block();
      axios.get('/panaderia/api/clientes/' + id).then(respuesta => {
        this.cliente.id = respuesta.data.id;
        this.cliente.nombre = respuesta.data.nombre;
        this.cliente.primerapellido = respuesta.data.primer_apellido;
        this.cliente.segundoapellido = respuesta.data.segundo_apellido;
       /*  this.cliente.calle = respuesta.data.calle;
        this.cliente.numinterior = respuesta.data.numero_interior;
        this.cliente.numexterior = respuesta.data.numero_exterior;
        this.cliente.colonia = respuesta.data.colonia;
        this.cliente.localidad = respuesta.data.localidad; */
        this.cliente.telefono = respuesta.data.numero_local;
        this.cliente.celular = respuesta.data.numero_celular;
        //this.cliente.referencia = respuesta.data.referencia_domicilio;
        this.cliente.nombre_completo=respuesta.data.nombre_completo;
        unblock();
      }).catch(error => {
        unblock();
        console.log(error);
      });
    },
    nuevoCliente() {
     // this.modalCrear();
      block();
      console.log('Enviando formulario');
      this.$validator.validate().then(valid=>{
        if(valid){
           axios.post('/panaderia/api/clientes', {
        cliente: this.cliente,
        //localidad: this.cliente.localidad.id
      }).then(respuesta => {
        console.log('Creado');
        unblock();
        this.resetDatos();
        this.verlista=true; 
        this.regresar();        
				swal({type: 'success',title: 'Cliente agregado correctamente.', confirmButtonText:'Aceptar'});
      }).catch(error => {
        console.log('Ocurrió un error');
        console.log(error);
        unblock();
        swal({type: 'error',title: 'Ocurrió un error al guardar al cliente.', confirmButtonText:'Aceptar'});
      });
        }
      })
     
    },
    actualizarCliente(){  
      var id = this.cliente.id;   
       
         this.$validator.validate().then(valid=>{
        if(valid){
      block();
        axios.put('/panaderia/api/clientes/' + id, {
          nombre: this.cliente.nombre.toUpperCase(),
          primer_apellido : this.cliente.primerapellido.toUpperCase(),
          segundo_apellido:this.cliente.segundoapellido.toUpperCase(),
         /*  calle:this.cliente.calle.toUpperCase(),
          numero_exterior:this.cliente.numexterior,
          numero_interior:this.cliente.numinterior,
          colonia:this.cliente.colonia.toUpperCase(),
          localidad_id:this.cliente.localidad.id, */
          numero_local:this.cliente.telefono,
          numero_celular: this.cliente.celular,
          //referencia_domicilio:this.cliente.referencia.toUpperCase()
        }).then(respuesta => {
          console.log('Creado');
          unblock();
          this.resetDatos();
          this.listado();  
          this.verlista=true;           
					swal({type: 'success',title: 'Información del cliente actualizada.', confirmButtonText:'Aceptar'});
        }).catch(error => {
          console.log(error);
          unblock();
          swal({type: 'error',title: 'Ocurrió un error al actualizar los datos.', confirmButtonText:'Aceptar'});
        });   

        }else{
          //unblock()          
					swal({type: 'warning',title: 'Verifique los campos.', confirmButtonText:'Aceptar'});
        }
         }) 
    },
    resetDatos() {
      this.cliente.nombre = ' ';
      this.cliente.primerapellido = ' ';
      this.cliente.segundoapellido = ' ';
      /* this.cliente.calle = ' ';
      this.municipio = null;
      this.cliente.localidad = ' ';
      this.cliente.numinterior = ' ';
      this.cliente.numexterior = ' ';
      this.cliente.referencia = ' '; */
      this.cliente.telefono = ' ';
      this.cliente.celular = ' ';
      //this.cliente.colonia = ' ';
    },
   
  },
}
</script>
<style scoped>
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color:#1B96B8;
  color: #fff;
}
.validacion {
  color: rgb(255, 0, 0);
}
</style>