<template>
<div>
  <div class="">
    <div class="box box-primary shadow">
            <div class="box-header with-border">
                <h3 class="box-title">Recetas del Taller de Panadería</h3>
            </div>
            <div class="box-body">                
                <div class="">
                    <div class=" box-boy no-padding">
                         <v-client-table :data="tableData" :columns="columns" :options="options">
                           <div slot="producto" slot-scope="props"> 
                             {{props.row.producto.nombre}}
                           </div>
                           <div slot="ver" slot-scope="props"> 
                              <button class="btn btn-primary btn-xs" @click.prevent="verReceta(props.row.id)"><i class="fa fa-eye"></i> Ver</button>
                           </div>
                           <div slot="opciones" slot-scope="props"> 
                             <button class="btn btn-warning btn-xs" @click.prevent="editarReceta(props.row.id)"><i class="fa fa-pencil"></i> Editar</button>
                             <button class="btn btn-danger btn-xs" @click.prevent="eliminarReceta(props.row.id)"><i class="fa fa-trash"></i> Eliminar</button>
                           </div>
                         </v-client-table>
                    </div>
                </div>                
            </div>
    </div>
  </div>
    <!--------------------Modal Ver Detalles------------------>
  <div class="modal fade" id="modal-detalle" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
            <h4 class="modal-title" id="modal-detalle-title">Información de la Receta</h4>
          </div>
          <div class="modal-body" id="modal-body-detalle">
            <div class="box box-primary shadow">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th><i class="fa fa-id-card"></i>Nombre: {{datosModal.receta.nombre}}</th>                          
                        </tr>                                 
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th><i class="fa fa-user"></i>Porciones: {{datosModal.receta.porciones}}</th>                          
                        </tr>                       
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>                        
                        <tr>
                          <th><i class="fa fa-user"></i>Producto: {{datosModal.receta.producto}}</th>                          
                        </tr>                                                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-left: 5px;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <th>Ingrediente</th>
                        <th>Cantidad</th>
                        <th>Presentacion</th>                        
                      </thead>
                      <tbody>
                        <tr v-for="(item, index) in datosModal.listaIngredientes" :key="index">
                          <td>{{item.producto}}</td>
                          <td>{{item.pivot.cantidad}}</td>
                          <td>{{datosModal.listaPresentaciones[index].presentacion}}</td>                          
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer" id="modal-footer-detalle">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cerrar</button>
          </div>
        </div>
      </div>
  </div>
</div>
</template>
<script>
export default {
  data() {
    return {
      datosModal:{receta:{
        nombre:'',porciones:0,producto:''
      },listaIngredientes:[],
      listaPresentaciones:[]},
      //propiedades de la tabla           
            columns: ['nombre','porciones','producto','ver','opciones'],
            tableData:[],
            //opciones de la tabla donde se puede modificar las etiquetas de los elementos
            options: {
              headings: {nombre: 'Nombre', porciones: 'Porciones',producto:'Producto',ver:'Ver', opciones: 'Opciones'},
              sortable:['nombre','porciones','producto'],   
              filterable:['nombre','producto'],
              pagination: {
                dropdown: false,
                chunk: 10,
                edge: false,
                align: 'center',
                nav: 'fixed'
              },            
              perPageValues:[10,25,50,100],            
              texts: {
              count: "Mostrando {from} a {to} de {count} resultados|{count} resultados|Un resultado",
              first: 'First',
              last: 'Last',
              filter: "Buscar: ",
              filterPlaceholder: "Búsqueda",
              limit: "Resultados: ",
              page: "Page:",
              noResults: "No hay resultados",
              filterBy: "Filter by {column}",
              loading: 'Loading...',
              defaultOption: 'Select {column}',
              columns: 'Columns'
                }
            },

    }    
  },
  methods: {
    listado(){
      var url='/panaderia/api/recetas';
      block();
      axios.get(url).then(respuesta=>{
        console.log(respuesta)
        this.tableData=respuesta.data;
        unblock();
      }).catch(error=>{
        console.log(error)
        unblock();				 
				 swal({type: 'error',title: 'Ocurrió un error al cargar los datos.', confirmButtonText:'Aceptar'});
      });
    },    
    verReceta(id){
      console.log('consultando Receta')
      var url='/panaderia/api/recetas/'+id;
      block();
      axios.get(url).then(respuesta=>{
        console.log(respuesta)
        this.datosModal.receta.nombre=respuesta.data.nombre;
        this.datosModal.receta.porciones=respuesta.data.porciones;
        this.datosModal.receta.producto=respuesta.data.producto.nombre;
        this.datosModal.listaIngredientes=respuesta.data.ingredientes;
        this.datosModal.listaPresentaciones=respuesta.data.presentacion;
        unblock()
        $('#modal-detalle').modal("show");
      }).catch(error=>{
        console.log('surgio un error '+error)
        unblock()				 
				 swal({type: 'error',title: 'Ocurrió un error al obtener los datos.', confirmButtonText:'Aceptar'});
      });
    },
    editarReceta(id){
      console.log('editando receta')
      window.location.assign("/panaderia#/recetas/nuevaReceta/"+id);
    },
    eliminarReceta(id){
      Swal.fire({
                      title: '¿Desea eliminar la receta?',
                      text: "una vez eliminado no podra revertir la acción!",
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Si, eliminar!',
                      cancelButtonText: 'Cancelar'
                    }).then((result) => {
                      if (result.value) {
                        block();
                        axios.delete('/panaderia/api/recetas/'+id).then(respuesta => {                          
                            unblock();                                
                            Swal.fire(
                              'Eliminada!',
                              'la receta ha sido eliminada.',
                              'success'
                            )
                            this.listado();
                        }).catch(error => {
                            unblock();
                            console.log(error);														 
														 swal({type: 'error',title: 'Ocurrió un error al eliminar la receta.', confirmButtonText:'Aceptar'});
                        });                        
                      }
                    }
                  )

    }    
  },
  mounted() {
    axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");  
    this.listado();      
  },
}
</script>
<style scoped>

</style>
