<template>
<div>
 <div class="box box-primary shadow">
    <div class="box-header with-border">
      <h4 class="box-title">REGISTRO DE ORDENES DE COMPRA</h4>
    </div>
    <br>
    <div>
     
    <div style="display: flex; justify-content: flex-start" >
      <div class="col-md-4 ">
        <input 
         v-model="busqueda"
          type="text"
          style="text-transform:uppercase;"
          placeholder="INGRESE EL NUMERO DE ORDEN DE COMPRA"
          name="buscabeneficiario"
          class="form-control col-md-3"
         v-validate="{required:true, regex: /^RM-OD-[0123456789]{1,5}-20[1234567890]{2}$/i }"
               
          > 
      </div>
          <button  
            class="btn btn-primary col-md-2"
            style="display: inline;"
            type="button"
            v-if="errors.first('buscabeneficiario')!=='The buscabeneficiario field format is invalid.'"
            @click="guardar()"
          >
            <i class="fa fa-search"></i> BUSCAR
          </button>           
       </div>
       <div>
        <span
          id="validacion"
           v-if="errors.first('buscabeneficiario')==='The buscabeneficiario field format is invalid.'"
            >
          REVISA TU FORMATO DE ENTRADA
          </span> 
          <br>
          </div> 
     </div>
     
  </div>
  <div class="box box-primary shadow">
    <div>
  <div class="box-body">
        <v-client-table :data="tableData" :columns="columns" :options="options">
          <div slot="opciones" slot-scope="props">
            <button
              class="btn btn-xs bg-info"
              title="Detalles de orden de compra"
              @click.prevent="tablamodal(props.row.id)"
              style="color: #000;"
            >
              <i class="fa fa-eye"></i>
            </button>
            </div>
        </v-client-table>
      </div>
  </div>
  </div>
      <div class="modal fade" id="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header"> 
              <h4 class="box-title">LISTA DE MATERIALES EN ORDEN DE COMPRA</h4>
            </div>
            <div class="modal-body">
             <v-client-table :data="tableData2" :columns="columns2" :options="options2">
               
             </v-client-table> 
            </div>
             <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">CERRAR</button>
                  </div>
                </div>
              </div>
            </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.listado();
  },
  data() {
    return {
      busqueda: "",

      requisicion:[],
      ordenes:[],
      ordendecompra:[],
      productos:[],
      folio:"",
       columns2: [
        "nombre",
        "existencia",
        "presentacion",
        "minimo",
      ],
       columns: [
        "folio_ordendecompra",
        "fecha",
        "opciones"
      ],
      tableData: [],
      tableData2:[],
      options2: {
        headings: {
          nombre: "NOMBRE ",
          existencia: "EXISTENCIA",
          presentacion: "PRESENTACION",
          minimo: "MINIMO",
        },
        sortable: ["nombre"],
        filterable: false,
        pagination: {
          dropdown: false,
          chunk: 10,
          edge: false,
          align: "center",
          nav: "fixed"
        },
        perPageValues: [10, 25, 50, 100],
        texts: {
          count:
            "Mostrando {from} a {to} de {count} resultados|{count} resultados|Un resultado",
          first: "First",
          last: "Last",
          filter: "Buscar: ",
          filterPlaceholder: "INGRESE BUSQUEDA",
          limit: "Resultados: ",
          page: "Page:",
          noResults: "No hay resultados",
          filterBy: "Filter by {column}",
          loading: "Loading...",
          defaultOption: "Select {column}",
          columns: "Columns"
        }
      },
      options: {
        headings: {
          folio_ordendecompra: "FOLIO DE ORDEN DE COMPRA",
          fecha: "FECHA",
          opciones: "OPCIONES"
        },
        sortable: ["folio_ordendecompra", "fecha"],
        filterable: [ "folio_ordendecompra"],
        pagination: {
          dropdown: false,
          chunk: 10,
          edge: false,
          align: "center",
          nav: "fixed"
        },
        perPageValues: [10, 25, 50, 100],
        texts: {
          count:
            "Mostrando {from} a {to} de {count} resultados|{count} resultados|Un resultado",
          first: "First",
          last: "Last",
          filter: "Buscar: ",
          filterPlaceholder: "INGRESE BUSQUEDA",
          limit: "Resultados: ",
          page: "Page:",
          noResults: "No hay resultados",
          filterBy: "Filter by {column}",
          loading: "Loading...",
          defaultOption: "Select {column}",
          columns: "Columns"
        }
      },
      pagination:{}
       };
  },
  methods: {
    guardar(){
      if(this.busqueda===""){
           Swal.fire({
          position: "center",
            type: "info",
            title: "CAMPO VACIO",
            showConfirmButton: false,
            timer: 1000
          });
      }else{
        this.buscarfolio();
      }
      },
      listado(){
        axios
        .get("/taesir/ordenescompra")
        .then(respuesta => {
          this.ordenes = respuesta.data.requisicion;
          this.tableData = respuesta.data.requisicion;
        })
        .catch(error => {
          console.log(error);
        }); 
      },
      tablamodal(ide){
        $("#modal").modal("show");
        var i=0;
        for(i in this.ordenes){
           if(this.ordenes[i].id===ide){
             this.tableData2=this.ordenes[i].materiales;
           }
        }
        
       
      },
        buscarfolio(){
       block();
            axios
      .post("/taesir/buscarfolio",{
        buscar:this.busqueda,
      })
      .then(respuesta=>{
        this.requisicion=respuesta.data.requisicion;
        this.folio=this.requisicion[0].folio_ordendecompra;
        console.log(this.folio);
            unblock();
            this.condicion();      
        })
      .catch(error=>{
        unblock();
         this.buscarordencompra();
     });
      },
    condicion(){
    if(this.busqueda===this.folio){
          Swal.fire({
          position: "center",
            type: "info",
            title: "FOLIO REGISTRADO",
            showConfirmButton: false,
            timer: 1000
          });
       this.requisicion=""; 
       this.folio="";}    
          },
    buscarordencompra(){
    if(this.busqueda===this.folio){
          Swal.fire({
          position: "center",
            type: "info",
            title: "FOLIO REGISTRADO",
            showConfirmButton: false,
            timer: 1000
          });       
      }else{
         this.agregarotro();  
      }                              
    },
   agregarotro(){
     
      axios
        .get("recmat/ordendecompra/abdddf/" + this.busqueda)
        .then(response => {
             this.ordendecompra=response.data[0];  
             this.abrir();             
        })
        .catch(error => {
           Swal.fire({
            position: "center",
            type: "info",
            title: "VERIFIQUE SU FOLIO",
            showConfirmButton: false,
            timer: 1000
          });
        }); 
    },
    abrir() {
      if(this.ordendecompra[0]!=""){
       window.location.assign("taesir#/requisiciones/vista/"+this.busqueda);  
    }
    else{
      Swal.fire({
            position: "center",
            type: "info",
            title: "VERIFIQUE SU FOLIO",
            showConfirmButton: false,
            timer: 1000
          });
    }}
  }
};
</script>
<style scoped>
.bg-info {
  background-color: #3498DB;
  width: 25px;
  height: 25px;
}
#validacion {
  color: rgb(255, 0, 0);
}
</style>