<template>
<div>
  <input hidden type="text" ref="myid" :value="$route.params.id"/>
    <div class="box box-primary shadow">
    <div class="box-header with-border">
      <h4 class="box-title">MATERIALES A REGISTRAR</h4></div>
      <div class="box-body">
      <h5> <b>ORDEN DE COMPRA CON FOLIO:
      <span style="text-transform:uppercase;">
         {{busquedaguardada}}</span></b> 
        </h5>
    <div class="input-group col-md-6">
      <v-select id="vselect" v-model="materialseleccionado"  :options="productos" label="producto"></v-select>     
       <span class="input-group-btn">
        <button value="Agregar" class="btn btn-success" @click="seleccionarmaterial()"><i class="glyphicon glyphicon-plus"></i>AGREGAR</button>
             </span>
            </div>   
      </div>
</div>
  <div class="box box-primary shadow">
  <div class="box-header with-border">     
<!--inicia tabla-->
<h4 class="box-title">MATERIALES REGISTRADOS</h4>
</div>
      <div class="box-body" >
        <v-client-table :data="tableData" :columns="columns" :options="options">
          <div slot="opciones" slot-scope="props">
            <button
               class="btn btn-xs bg-danger"
              title="Quitar material"
              @click.prevent="regresarmaterial(props.row.nombre)"
              style="color: #fff;"
            >
            <i class="glyphicon glyphicon-minus"></i>
                    </button>
            </div>
        </v-client-table>
        
      </div>
      <div class="panel-footer">
        <div class="col-md-offset-9">
         
        <button class="btn btn-success"  @click="pregunta()" :disabled ="productos.length!=0" >GUARDAR </button>
        <button  class=" btn btn-danger" @click="regresar()">REGRESAR </button>
       </div>
      </div>
        
        </div>

 <!-- INICIA MODAL-->
  <form method="POST" v-on:submit.prevent="agregaratabla">
      <div class="modal fade" id="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                  </button>
              <h4>REGISTRO DE MATERIAL</h4>
            </div>
            <div class="modal-body">
              <div class="col-md-5">
                <label for="material">MATERIAL:</label>
                <input
                      type="text"
                      class="form-control"
                      name="material"
                      v-model="materialseleccionado.producto"
                      disabled
                    >
              </div>
              <div class="col-md-5">
                <label for="presentacion">PRESENTACION:</label>
                <input
                      type="text"
                      class="form-control"
                      name="presentacion"
                      v-model="materialseleccionado.presentacion"
                      disabled
                    >
              </div>
              <div class="col-md-2">
                <label for="cantidad">CANTIDAD:</label>
                <input
                      type="text"
                      class="form-control"
                      name="cantidad"
                      v-model="materialseleccionado.cantidad"
                      disabled
                    >
                    <br>
              </div>
              <h4>INGRESE LA EQUIVALENCIA </h4>
              <div class="col-md-5">
                <label for="otromaterial">MATERIAL:</label>
                  <input
                      type="text"
                      class="form-control"
                      name="otromaterial"
                      v-model="materialaux.nombre"
                      disabled
                    />
                
              </div>
              <div class="col-md-5">
                <label for="otrapresentacion">PRESENTACION:</label>
                 <input
                      type="text"
                      class="form-control"
                      name="otrapresentacion"
                      v-model="materialaux.presentacion"
                      disabled
                    />
                    </div>
              <div class="col-md-2">
                <label for="nuevaexistencia">CANTIDAD:</label>
                 <input
                     required
                      type="number"
                      min="1"
                      class="form-control"
                      name="nuevaexistencia"
                      v-model="cantidadparcial"
                      v-validate="'numeric'"
                    >
                    <span id="validacion" v-if="!cantidadparcial||errors.first('nuevaexistencia')=='The nuevaexistencia field may only contain numeric characters.'"
                    >CAMPO REQUERIDO*</span>
                 
              </div>
                    </div>
                   <div class="modal-footer">
                     <input type="submit" class="btn btn-success" value="Aceptar">
                    <button class="btn btn-danger" value="Cancelar" data-dismiss="modal">Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
    </form>

 <!-- TERMINA MODAL-->


</div>
</template>
<script>
export default {
  mounted() {
   this.fechaActual();
   this.geturl();
   this.listaMateriales();
   this.listar();
  },
  data() {
    return {
      busquedaguardada:"",
      fecha: new Date(),
      fecha_diag: "",
      productos:[],
      productosalternos:[],
      ordendecompra:[],
      materiales:[],
      materiales2:[],
      materiales3:[],
      existenciaactual:"",
      tableData:[],
      columns: [
        "nombre",
        "presentacion",
        "existencia",
        "cantidad",
        "nuevaexistencia",
        "opciones"
      ],options: {
        headings: {
          nombre: "NOMBRE",
          presentacion: "PRESENTACION",
          existencia:"EXISTENCIA",
          cantidad:"CANTIDAD",
          nuevaexistencia:"NUEVA EXISTENCIA",
          opciones: "OPCIONES"
        },
        sortable: [],
        filterable: [],
        pagination: {
          dropdown: false,
          chunk: 10,
          edge: false,
          align: "center",
          nav: "fixed"
        },
        perPageValues: [10, 25, 50, 100],
        texts: {
          count:
            "Mostrando {from} a {to} de {count} resultados|{count} resultados|Un resultado",
          first: "First",
          last: "Last",
          filter: "Buscar: ",
          filterPlaceholder: "INGRESE BUSQUEDA",
          limit: "Resultados: ",
          page: "Page:",
          noResults: "No hay resultados",
          filterBy: "Filter by {column}",
          loading: "Loading...",
          defaultOption: "Select {column}",
          columns: "Columns"
        }
      },
      pagination:{},
      materialseleccionado:"",
      id:"",
      materialaux:{
        id:"",
        nombre:"",
        presentacion:"",
        cantidad:"",
        existencia:"",
        nuevaexistencia:"",
             },
        cantidadparcial:"",
          };
  },
  methods: {
    geturl(){
      this.busquedaguardada = this.$refs["myid"].value;
    },
    fechaActual() {
      this.fecha_diag = (this.fecha.getFullYear())+ "/" + (this.fecha.getMonth() + 1) + "/" + this.fecha.getDate();
    },
    listaMateriales(){
      axios
        .get("/taesir/materiap")
        .then(respuesta => {
          this.materiales = respuesta.data.materiales;         
        })
        .catch(error => {
        });   
        this.getOrdenCompra();      
    },
    getOrdenCompra(){
      axios
        .get("recmat/ordendecompra/abdddf/" + this.busquedaguardada)
        .then(response => {
          this.ordendecompra=response.data[0].productos;
          this.obtenerProductos();         
        })
        .catch(error => {
                   }); 
    },          
    obtenerProductos() {
      this.productos = [];
      var i = 0;
      for (i in this.ordendecompra) {
        this.productos.push({
          presentacion: this.ordendecompra[i].productos.presentacion
          .presentacion,
          producto: this.ordendecompra[i].productos.producto.producto,
          cantidad: this.ordendecompra[i].cantidad,
          
        });
      }      
    },
    regresar(){
      window.location.assign("taesir#/requisiciones/lista/");
    },
    seleccionarmaterial(){
      block();
      if(this.materialseleccionado===""){
        unblock();
          Swal.fire({
            position: "center",
            type: "warning",
            title: "Seleccione un material",
            showConfirmButton: false,
            timer: 1000
          });  
      }else{
        unblock();
       this.abrirmodal();
      }
    },
    pregunta() {
      Swal.fire({
        title: "¿Esta seguro de continuar?",
        text: "una vez agregado, no se podrá editar",
        type: "question",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Sí",
        cancelButtonText: "No"
      }).then(result => {
        if (result.value) {
          this.juntararreglos();
        }
      });
    },
    juntararreglos(){
     var c=0;
     
     for(c in this.materiales2){
       this.buscariguales(this.materiales3,this.materiales2[c]);
        // console.log(this.materiales2[c].nombre);
     }
     
      for(c in this.materiales3){
      
         console.log("coleccion completa: "+this.materiales3[c]);
     }
       this.actualizar();
    },
   
    buscariguales(arreglo,objeto){
      
      if (arreglo.length == 0){
        this.materiales3.push(objeto);
         
         return ;
      }
      console.log(arreglo.length);
      if(arreglo.length == 1){
        
          
       if(arreglo[0].nombre != objeto.nombre || arreglo[0].nombre === undefined){
                
               this.materiales3.push({
                 nombre:objeto.nombre,
                 cantidad:objeto.cantidad,
                 existencia:objeto.existencia,
                 id:objeto.id,
                 nombre:objeto.nombre,
                 nuevaexistencia:objeto.nuevaexistencia,
                 presentacion:objeto.presentacion
                 });
              return;
         }else{
            console.log(objeto.nombre+" Ya se encuentra registrado, sume existencias con la nueva"+arreglo[0]+"");
            arreglo[0].nuevaexistencia+= parseInt(objeto.cantidad);
            return;
         }
      }
      var x=0;
       if(arreglo.length > 1){ 
       for(x in arreglo) {     
      if(arreglo[x].nombre === objeto.nombre){  
        console.log(objeto.nombre+" Ya se encuentra registrado, sume existencias con la nueva"+arreglo[x]+"");
       arreglo[0].nuevaexistencia+=parseInt(objeto.cantidad) ;
       return;
      }else{    
        this.materiales3.push({
                 nombre:objeto.nombre,
                 cantidad:objeto.cantidad,
                 existencia:objeto.existencia,
                 id:objeto.id,
                 nombre:objeto.nombre,
                 nuevaexistencia:objeto.nuevaexistencia,
                 presentacion:objeto.presentacion
                 });
        return;
      }
      }
       }

    },
    abrirmodal(){
       $("#modal").modal("show");
       this.compararmaterial();
     },
     quitarproducto(){
       var j=0
      for(j in this.productos){
        if(this.productos[j].producto===this.materialseleccionado.producto){
            var x=this.productos.indexOf(this.productos[j]);
           
           this.productosalternos.push(this.productos[j]);
          if(x!==-1){
            this.productos.splice(x,1);
            break;   
          }
        }
      }
      this.materialseleccionado="";
     },
    compararmaterial(){
      
      var i=0;
      for(i in this.materiales){
        if(this.materiales[i].nombre.includes(this.materialseleccionado.producto)){
            this.materialaux.id=this.materiales[i].id;
            this.materialaux.nombre=this.materiales[i].nombre;
            this.materialaux.presentacion=this.materiales[i].presentacion;
            this.materialaux.existencia=this.materiales[i].existencia;
            this.materialaux.cantidad=this.cantidadparcial;   
         }else{
            this.materialaux.id=0;
            this.materialaux.nombre=this.materialseleccionado.producto;
            this.materialaux.presentacion=this.materialseleccionado.presentacion;
            this.materialaux.existencia=0;
            this.materialaux.cantidad=this.cantidadparcial;

         }
        }
    },
    agregaratabla(){
      this.existenciaactual=parseInt(this.cantidadparcial)+parseInt(this.materialaux.existencia);     
      this.materiales2.push(
              {id:this.materialaux.id,
              nombre:this.materialaux.nombre,
              presentacion:this.materialaux.presentacion,
              existencia:this.materialaux.existencia,
              cantidad:this.cantidadparcial,
              nuevaexistencia:this.existenciaactual});

       this.$validator.validateAll().then(result => {
        if (result) {
           $("#modal").modal("hide");
      this.quitarproducto();
      this.listar();
      this.limpiar();
          
        } else {
                 }
      });
    },
    listar(){
      this.tableData=this.materiales2;
     
    },
    limpiar(){
      this.materialaux.id="";
      this.materialaux.nombre="";
      this.materialaux.presentacion="";
      this.materialaux.cantidad="";
      this.materialaux.existencia="";
      this.cantidadparcial="";
      this.existenciaactual="";
    },
    regresarmaterial(nombreseleccionado){
     var m=0;
     for(m in this.productosalternos){
      if(this.productosalternos[m].producto===nombreseleccionado){
          var y=this.productosalternos.indexOf(this.productosalternos[m]);
          this.productos.push(this.productosalternos[m]);
          if(y!==-1){             
           this.productosalternos.splice(y,1);
              break;
          }
      }
     }
     var n=0;
     for(n in this.materiales2){
       if(this.materiales2[n].nombre===nombreseleccionado){
           var x=this.materiales2.indexOf(this.materiales2[n]);          
          if(x!==-1){
            this.materiales2.splice(x,1);
            break;   
          }
       }
     }
     
    },
    
    agregaraentidad(){
      block();
       axios.post('/taesir/ordenmaterial',{
         materiales:this.materiales3,
        requisicion_id:this.id   
      }).then(response=>{
        unblock();
       Swal.fire({
            position: "center",
            type: "success",
            title: "correcto",
            showConfirmButton: false,
            timer: 1000
          });
          this.regresar();
      }).catch(error=>{
          console.log(error);
      });
     
    },
     actualizar(){
      block();
      axios.post("/taesir/controlrequisiciones",{
        folio_ordendecompra:this.busquedaguardada,
        fecha:this.fecha_diag,
        observaciones:this.observaciones,
        usuario_id:71
      })
      .then(respuesta=>{
        unblock(); 
        this.id=respuesta.data;      
         this.agregaraentidad();
               })
      .catch(error => {
          console.log("Ocurrio un ERROR");     
          unblock();   
        });
    },       
  }
};
</script>
<style scoped>
#validacion {
  color: rgb(255, 0, 0);
}
</style>