<template>
<div>
  <input hidden type="text" ref="myid" :value="$route.params.id"/>
    <div class="box box-primary shadow">
    <div class="box-header with-border">
      <h4 class="box-title">MATERIALES A REGISTRAR</h4>
      </div>
      <div class="box-body">
      <h5> <b>ORDEN DE COMPRA CON FOLIO:
      <span style="text-transform:uppercase;">
         {{busquedaguardada}}</span></b> 
        </h5>
    <div class="input-group col-md-6">
              <v-select id="vselect" v-model="materialseleccionado"  :options="productos" label="producto"></v-select>     
               <span class="input-group-btn">
              <button value="Agregar" class="btn btn-success" @click="seleccionarmaterial()"><i class="glyphicon glyphicon-plus"></i>AGREGAR</button>
             </span>
            </div>   
      </div>
</div>
  <div class="box box-primary shadow">
  <div class="box-header with-border">     
<!--inicia tabla-->
<h4 class="box-title">MATERIALES REGISTRADOS</h4>
</div>
      <div class="panel-body" >
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>MATERIAL</th>
                <th>EXISTENCIA</th>
                <th>CANTIDAD</th>
                <th>NUEVA EXISTENCIA</th>
                <th>QUITAR</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(otromaterial,index) in materialesagregados" :key=index>
                <td>{{otromaterial.nombre}}</td>
                <td>{{otromaterial.existencia}}</td>
                <td>{{otromaterial.cantidad}}</td>
                <td>{{otromaterial.restante}}</td>
                <td>
                  <button  @click.prevent="quitarmaterial(index)"  class="btn btn-xs bg-danger"><i class="glyphicon glyphicon-minus"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-offset-4" v-if="!materialesagregados.length">
            <span>NO HAY ELEMENTOS AGREGADOS</span>
          </div>

        </div>
      </div>
      <div class="panel-footer">
        <div class="col-md-offset-9">
         
        <button class="btn btn-success"  @click="pregunta()" :disabled ="productos.length!=0" >GUARDAR </button>
        <button  class=" btn btn-danger" @click="regresar()">REGRESAR </button>
       </div>
      </div>
        
        </div>

 <!-- INICIA MODAL-->
  <form method="POST" v-on:submit.prevent="agregaratabla">
      <div class="modal fade" id="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                  </button>
              <h4>REGISTRO DE MATERIAL</h4>
            </div>
            <div class="modal-body">
              <div class="col-md-5">
                <label for="material">MATERIAL:</label>
                <input
                      type="text"
                      class="form-control"
                      name="material"
                      v-model="materialseleccionado.producto"
                      disabled
                    >
              </div>
              <div class="col-md-5">
                <label for="presentacion">PRESENTACION:</label>
                <input
                      type="text"
                      class="form-control"
                      name="presentacion"
                      v-model="materialseleccionado.presentacion"
                      disabled
                    >
              </div>
              <div class="col-md-2">
                <label for="cantidad">CANTIDAD:</label>
                <input
                      type="text"
                      class="form-control"
                      name="cantidad"
                      v-model="materialseleccionado.cantidad"
                      disabled
                    >
                    <br>
              </div>
              <h4>INGRESE LA EQUIVALENCIA </h4>
              <div class="col-md-5">
                <label for="otromaterial">MATERIAL:</label>
               <v-select id="vselect" v-model="otromaterial"  :options="materiales" label="nombre"></v-select>     
               <span id="validacion" v-if="!otromaterial.nombre">CAMPO REQUERIDO*</span>
                
              </div>
              <div class="col-md-5">
                <label for="otrapresentacion">PRESENTACION:</label>
                 <input
                      type="text"
                      class="form-control"
                      name="otrapresentacion"
                      v-model="otromaterial.presentacion"
                      disabled
                    />
                    <span id="validacion" v-if="!otromaterial.presentacion">CAMPO REQUERIDO*</span>
                  </div>
              <div class="col-md-2">
                <label for="nuevaexistencia">CANTIDAD:</label>
                 <input
                      type="number"
                      min="1"
                      class="form-control"
                      name="nuevaexistencia"
                      v-model="nuevaexistencia"
                      v-validate="'numeric'"
                      
                    >
                    <span id="validacion" v-if="!nuevaexistencia||errors.first('nuevaexistencia')=='The nuevaexistencia field may only contain numeric characters.'"
                    >CAMPO REQUERIDO*</span>
                 
              </div>
                    </div>
                   <div class="modal-footer">
                     <input type="submit" class="btn btn-success" value="Aceptar">
                    <button class="btn btn-danger" value="Cancelar" data-dismiss="modal">Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
    </form>

 <!-- TERMINA MODAL-->


</div>
</template>

<script>
export default {
  mounted() {
   this.fechaActual();
   this.crear();
   this.agregar();
  },
  data() {
    return {
      requisicion:"",
      id:"",
      nuevaexistencia:"",
      materiales:[],
      materiales2:[],
      fecha: new Date(),
      fecha_diag: "",
      busquedaguardada:"",
      otromaterial:"",
      materialseleccionado:"",
      ordendecompra: [],
      productos: [],
      materialesagregados:[],
      columns: [
        "producto",
        "presentacion",
        "cantidad",
        "opciones"
      ],
        options: {
        headings: {
          producto: "producto",
          presentacion: "presentacion",
          cantidad: "cantidad"      
        },
        sortable: ["producto", "presentacion"],
        filterable: ["producto"],
        pagination: {
          dropdown: false,
          chunk: 10,
          edge: false,
          align: "center",
          nav: "fixed"
        },
        perPageValues: [10, 25, 50, 100],
        texts: {
          count: "Mostrando {from} a {to} de {count} resultados|{count} resultados|Un resultado",
          first: "First",
          last: "Last",
          filter: "Buscar: ",
          filterPlaceholder: "INGRESA BUSQUEDA",
          limit: "Resultados: ",
          page: "Page:",
          noResults: "No hay resultados",
          filterBy: "Filter by {column}",
          loading: "Loading...",
          defaultOption: "Select {column}",
          columns: "Columns"
        }
      },
      pagination: {}
    };
  },
  methods: {
     crear(){
      this.busquedaguardada = this.$refs["myid"].value;
    },
        fechaActual() {
      this.fecha_diag = (this.fecha.getFullYear()) + "/" + (this.fecha.getMonth() + 1) + "/" + this.fecha.getDate();
    },
    quitarmaterial(indice){
     
         this.productos.push({
         presentacion:this.materialesagregados[indice].presentacion,
         cantidad:this.materialesagregados[indice].cantidadproducto,
         producto:this.materialesagregados[indice].producto
      });
      var i=0;
     for(i in this.materiales2){
       if(this.materiales2[i].id===this.materialesagregados[indice].id){
          this.materiales.push(this.materiales2[i]);
           var x=this.materiales2.indexOf(this.materiales2[i]);
          if(x!==-1){
            this.materiales2.splice(x,1);
          }
       }
     }
     
     this.materialesagregados.splice(indice, 1);
    },
      agregar(){
      axios
        .get("/taesir/materiap")
        .then(respuesta => {
          this.materiales = respuesta.data.materiales;         
        })
        .catch(error => {
        });   
        this.agregarotro();      
    },
    agregarotro(){
      axios
        .get("recmat/ordendecompra/abdddf/" + this.busquedaguardada)
        .then(response => {
          this.ordendecompra=response.data[0].productos;
          this.obtenerProductos();         
        })
        .catch(error => {
                   }); 
    },

    pregunta() {
      Swal.fire({
        title: "¿Esta seguro de continuar?",
        text: "una vez agregado, no se podrá editar",
        type: "question",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Sí",
        cancelButtonText: "No"
      }).then(result => {
        if (result.value) {
          this.actualizar();
        }
      });
    },
    actualizarmateriales(){
      axios.post('/taesir/ordenmaterial',{
         materiales:this.materiales2,
        requisicion_id:this.id 
        
      }).then(response=>{
        this.regresar();
      }).catch(error=>{
          console.log(error);
      });

    },
    traerfolio(){
      axios
      .post("/taesir/buscarfolio",{buscar:this.busquedaguardada,})
      .then(respuesta=>{
        this.requisicion=respuesta.data.requisicion;
        this.id=this.requisicion[0].id;
        console.log(this.id);
        this.actualizarmateriales();     
        })
      .catch(error=>{        
     });
      },
    actualizar(){
      block();
      axios.post("/taesir/controlrequisiciones",{
        folio_ordendecompra:this.busquedaguardada,
        fecha:this.fecha_diag,
        observaciones:this.observaciones,
        usuario_id:71
      })
      .then(respuesta=>{
        unblock();
        this.traerfolio();
          Swal.fire({
            position: "center",
            type: "success",
            title: "Agregado",
            showConfirmButton: false,
            timer: 1000
          });
      })
      .catch(error => {
          console.log("Ocurrio un ERROR");
          console.log(error);
          unblock();
          Swal.fire({
            position: "center",
            type: "error",
            title: "Verifique sus datos",
            showConfirmButton: false,
            timer: 1000
          });
        });
    },
    obtenerProductos() {
      this.productos = [];
      var i = 0;
      for (i in this.ordendecompra) {
        this.productos.push({
          presentacion: this.ordendecompra[i].productos.presentacion
          .presentacion,
          producto: this.ordendecompra[i].productos.producto.producto,
          cantidad: this.ordendecompra[i].cantidad

        });
      }      
    },
    regresar(){
      window.location.assign("taesir#/requisiciones/lista/");
    },
    abrirmodal(){
       $("#modal").modal("show");
       this.otromaterial="";
       this.nuevaexistencia="";
    },
    agregaratabla(){
      if(this.otromaterial!=""&& this.nuevaexistencia!="") {
      var i=0;
      for(i in this.productos){
          if(this.materialseleccionado===this.productos[i]){
            var x= this.productos.indexOf(this.productos[i]);
            if(x!==-1){
              this.productos.splice(x,1);
              this.materiales2.push({
                cantidad: this.nuevaexistencia,
                existencia:this.otromaterial.existencia,
                id:this.otromaterial.id,
                nombre:this.otromaterial.nombre,
                
                restante: parseInt(this.otromaterial.existencia)+parseInt(this.nuevaexistencia),

              });
            }
          }
      }
      var j=0;
      for(j in this.materiales){
        if(this.otromaterial===this.materiales[j]){
          var x=this.materiales.indexOf(this.materiales[j]);
          if(x!==-1){
            this.materiales.splice(x,1);
          }
        }
      }
            this.materialesagregados.push({
            id: this.otromaterial.id,
            nombre: this.otromaterial.nombre,
            cantidad:this.nuevaexistencia,
            existencia:this.otromaterial.existencia,
            restante: parseInt(this.otromaterial.existencia)+parseInt(this.nuevaexistencia),
            producto:this.materialseleccionado.producto,
            presentacion:this.materialseleccionado.presentacion,
            cantidadproducto:this.materialseleccionado.cantidad,
          });
              
              Swal.fire({
            position: "center",
            type: "success",
            title: "Correcto",
            showConfirmButton: false,
            timer: 1000
          });
      this.materialseleccionado="";
      $("#modal").modal("hide");
          } 
          
           
    },
    seleccionarmaterial(){
      if(this.materialseleccionado ===""){
         Swal.fire({
            position: "center",
            type: "warning",
            title: "Seleccione un material",
            showConfirmButton: false,
            timer: 1000
          });
      }
      else{
       this.abrirmodal();
       
      }
      
    }
  }
};
</script>
<style scoped>
#validacion {
  color: rgb(255, 0, 0);
}
</style>