@import "./../css/coreui.css";
@import "./../css/pace.min.css";
@import "~@coreui/icons/css/coreui-icons.min.css";
@import "~font-awesome/css/font-awesome.min.css";
// @import "~flag-icon-css/css/flag-icon.min.css";
// @import "~simple-line-icons/css/simple-line-icons.css";

.app-header.navbar{
  background-color: #1a2226;
}
.navbar-brand-full{
  width: 9em;
}
.sidebar .nav-link:hover{
  background: #D12654;
}

.multiselect__option--highlight {
  background: #D12654 !important;
}

.multiselect__option--selected.multiselect__option--highlight {
  background: #FF585D !important;
}

.multiselect__option--highlight:after {
  content: attr(data-select);
  background: rgba(87, 87, 87, 0.2) !important;
  color: #fff;
}


.multiselect__option--highlight {
  background: #D12654 !important;
}

.multiselect__option--selected.multiselect__option--highlight {
  background: #FF585D !important;
}

.multiselect__option--highlight:after {
  content: attr(data-select);
  background: rgba(87, 87, 87, 0.2) !important;
  color: #fff;
}


#app{
  background-color: #fff;
}
