<template>
  <v-flex xs12>
    <div>
      <div class="card-body">
        <div class="row">
          <img
            align="right"
            class="img-fluid"
            alt="Logo_DIF"
            width="65%"
            height="65%"
            src="/storage/img/content.png"
          />
        </div>
        <br />
        <div class="row">
          <div>
            <p class="text-center">
              "2019, Año de la erradicación de la violencia contra la mujer"
            </p>
          </div>

          <div align="right">
            <table align="right">
              <tr>
                <th>Área:</th>
                <td>Procuraduría NNA</td>
              </tr>
              <tr>
                <th>Asunto:</th>
                <td>Solicitud</td>
              </tr>
              <tr v-show="id != null">
                <th>Folio:</th>
                <td>0000{{ id }}</td>
              </tr>
              <tr>
                <th>Fecha:</th>
                <td>Oaxaca de Juárez, Oax. a {{ algo }}</td>
              </tr>
            </table>
          </div>
        </div>

        <div>
          <br />
          <p class="presente">P R E S E N T E</p>

          <p class="texto">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <em v-if="registration.anonymous == true"
              >Denunciante no proporcionó datos personales acusa lo siguiente:
            </em>
            <em v-else
              >Ciudadano {{ registration.name }} {{ registration.namepaterno }}
              {{ registration.namematerno }}
              ( {{ registration.relationship }} )
            </em>
            solicito por vía {{ registration.via }} a la procuraduría para
            aperturar una investigación PRELIMINAR con el motivo de que se
            realizen los trámites correspondientes a fin de salvaguar la
            integridad de la(s) víctima(s) con domicilio en
            <b>
              CALLE {{ registration.addresscalle | uppercase }} #{{
                registration.addressnumero
              }}, COLONIA {{ registration.addresscolonia }},
              {{ registration.addressmunicipio }},
              {{ registration.addressestado }}</b
            >
            en virtud de investigar y hacer valer los derechos de los afectados
            y denunciar a si mismo a todos aquellos que resulten responsables
            por la vulneracion de los derechos de los niños:
          </p>
          <template v-if="victimas">
            <ol class="texto">
              <li v-for="victi in victimas" v-bind:key="victi.id">
                {{ victi.name }} {{ victi.namepaterno }}
                {{ victi.namematerno }} de {{ victi.age }} años de edad por
                {{ victi.benefits }}
              </li>
            </ol>
          </template>
        </div>
        <div></div>
        <div class="row">
          <div>
            <br />
            <br />
            <p class="text-center dirigido-oficio">ATENTAMENTE</p>
          </div>

          <div>
            <p class="text-center dirigido-oficio">SISTEMA DIF OAXACA</p>
            <br />
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div>
            <p class="text-right dirigido-oficio-g">
              <b>Vicente Guerrero 114,</b> Miguel Alemán Valdez, Oaxaca de
              Juárez, Oax., C.P. 68120
            </p>
            <p class="text-right dirigido-oficio-g">
              Tel. Conmutador:
              <b>01 (951) 501 50 50</b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </v-flex>
</template>

<script>
export default {
  props: ["registration", "id", "victimas"],
  data() {
    return {
      algo: new Date()
        .toJSON()
        .slice(0, 10)
        .replace(/-/g, "/")
    };
  },
  filters: {
    uppercase: function(v) {
      return v === null ? "" : v.toUpperCase();
    }
  }
};
</script>

<style lang="scss">
.dirigido-oficio {
  text-align: center;
  font-size: 14px !important;
  font-family: "Century Gothic";
  font-weight: bold;
  display: block;
  margin-bottom: 1px;
  margin-top: 1px;
  margin-left: 0;
  margin-right: 0;
}

.dirigido-oficio-g {
  text-align: right;
  font-size: 12px !important;
  font-family: "Century Gothic";
  color: rgb(119, 123, 139);
  display: block;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0;
  margin-right: 0;
}

.presente {
  text-align: left;
  font-size: 16px !important;
  font-family: "Century Gothic";
  font-weight: bold;
  display: block;
  margin-bottom: 1px;
  margin-top: 0px;
  margin-left: 30px;
  margin-right: 0;
}
.texto {
  text-align: left;
  font-size: 14px !important;
  font-family: "Century Gothic";
  display: block;
  margin-bottom: 1px;
  margin-top: 0px;
  margin-left: 30px;
  margin-right: 0;
}

.card-footer {
  background-color: #fff !important;
  border-top: transparent !important;
}
.card-body {
  background-color: #fff !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  // width:70% !important;
  margin-left: auto;
  margin-right: auto;
}

table,
td,
th {
  border: 1px solid black;
  padding-right: 3px;
  padding-left: 3px;
}
</style>
