
<template>
  <v-flex xs12>
    <v-card>
      <v-card-title primary-title>
        <div>
          <h3 class="headline mb-0">
            Datos de la
            <strong>Solicitud</strong> 
            <v-btn @click="toedit" color="primary" fab small dark>
                <v-icon>edit</v-icon>
            </v-btn>
          </h3>
           
          <template v-if=" registration.anonymous == true " > 
            Anonimo:Si
          </template>
          <template v-else >
            <p>Nombre: {{ registration.name }} {{ registration.namepaterno }} {{ registration.namematerno }} de 
            {{registration.age}} años</p>
            <p>Parentesco: {{registration.relationship}} (Relación que tiene con los afectados)</p>
            <p>Telefono: {{registration.numerotelefono}}</p>
            <p>Correo: {{registration.correo}}</p>
          </template>
          <v-divider></v-divider>
          <p>Forma de Recepcion de datos: {{registration.via}}</p>
          <p>
            Direccion: {{registration.addressestado}} ,
            {{registration.addressmunicipio}} ,
            {{registration.addresscolonia}} ,
            {{registration.addresscalle}} 
            #{{registration.addressnumero}} 
          </p>
          <p>Observaciones: {{registration.description}}</p>

        </div>
      </v-card-title>
    </v-card>
  </v-flex>
</template>
 
<script>
export default {
  props: ["registration", "step"],
  data(){
    return{
      paso :2,
    }
  },
  methods:{
    toedit(){
      console.log("cambiando step" + this.paso);
      this.$emit("update:step", this.paso);
    }
  }

};
</script>