
<template>
  <v-flex xs12>
    <v-card>
      <v-card-title primary-title>
        <div>
          <h3 class="headline mb-0">Vinculacion  <label v-if="this.entailment.report_complet != 0"> Completa</label> <label v-else>incompleta</label> </h3>
          <div>Razon: {{entailment.dependency}}</div>
          <div>
            Responsable: {{entailment.responsable}} ,
            {{entailment.observations}} ,
          </div>
              <a v-if="this.entailment.report_complet != 0" :href="'/storage/' + String(this.entailment.url_reporte).slice(7)" target="_blanck">
              Reporte Anexado: {{this.entailment.report_name}}</a>
        </div>
      </v-card-title>
      <div class="container">
        <div class="large-12 medium-12 small-12 cell">
          <label>
            <input type="file" accept=".pdf" id="file" ref="file" v-on:change.prevent="getReport" />
          </label>
          <button v-on:click.prevent="updateReport">Subir</button>

        </div>
      </div>
    </v-card>
  </v-flex>
</template>
 
<script>
export default {
  props: ["affair","estado"],
  data() {
    return {
      entailment: {},
      archivo: null,
      state: this.estado,
    };
  },
  methods: {
    getReport(event) {
      this.archivo = event.target.files[0];
    },
    updateReport() {
      var data = new FormData();
      data.append("reporte", this.archivo);
      data.append( "name",this.archivo.name );
      data.append("_method", "PUT");
      axios.post("/entailment/save/"+ this.entailment.id + "", data)
      .then(response => { console.log(response.data);
                          location.reload(); })
      .catch(error => {console.log("error")});
    },


    getTasks() {
      let me = this;
      let url = "/entailment/active/" + this.affair.id + "";
      axios
        .get(url)
        .then(function(response) {
          me.entailment = response.data;
          me.$emit("update:estado", me.entailment.report_complet);
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  },
  mounted() {
    this.getTasks();
  }
};
</script>