<template>
  <v-card>
    <v-layout column justify-center>
      <v-subheader>Victimas</v-subheader>

      <v-expansion-panel popout>
        <v-expansion-panel-content v-for="(victima, i) in victimas" :key="i" hide-actions>
          <template v-slot:header>
            <v-layout align-center row spacer>
              <v-flex xs4 sm2 md1>
                <v-avatar size="36px">
                  <img src="/storage/img/profile.png" alt="Avatar" />
                </v-avatar>
              </v-flex>

              <v-flex sm5 md3 hidden-xs-only>
                <template v-if="victima.namefull">
                  <strong>{{victima.namefull}}</strong>
                </template>
                <template v-else>
                  <strong>{{victima.name}} {{victima.namepaterno}} {{victima.namematerno}}</strong>
                </template>
                <span class="grey--text">({{ victima.age }} años)</span>
              </v-flex>

              <v-flex no-wrap xs5 sm3>
                <v-chip color="blue lighten-4" class="ml-0" label small>{{ victima.gender }}</v-chip>
                <strong>{{victima.benefits}}</strong>
              </v-flex>
              <v-spacer></v-spacer>
              <v-spacer></v-spacer>

              <v-dialog
                v-model="victima.show_md"
                transition="dialog-bottom-transition"
                max-width="65%"
              >
                <template v-slot:activator="{ on }">
                  <v-btn v-on="on" fab small>
                    <v-icon>edit</v-icon>
                  </v-btn>
                </template>
                <v-card>
                  <v-toolbar dark>
                    <v-btn icon dark @click="victima.show_md = false">
                      <v-icon>close</v-icon>
                    </v-btn>
                    <v-toolbar-title>Editar víctima</v-toolbar-title>
                  </v-toolbar>
                  <v-card-text>
                    <update-victims :victima="victima" @eventoactualizacion="actualizarvictimas"></update-victims>
                  </v-card-text>
                </v-card>
              </v-dialog>
            </v-layout>
          </template>

          <v-card>
            <v-divider></v-divider>
              
            <v-card-text>
              <v-flex class="grey--text" ellipsis hidden-sm-and-down>{{ victima.created_at }}</v-flex>
              Dirección: {{direction}}</v-card-text>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-layout>
  </v-card>
</template>
<script>
export default {
  props: ["victims", "direccion"],
  data() {
    return {
      dialog: false,
      direction: this.direccion,
      victimas: this.victims
    };
  },
  methods:{
    actualizarvictimas(victima_actualizada) {
      //this.victimas = victima_actualizada;
      this.$emit('eventoactualizacionraiz', victima_actualizada);
    }
  },
  watch: {
    victims: function (val) {
      this.victimas = val;
    },
  },
};
</script>