<template>
  <div>
    <v-layout>
      <v-flex xs12 justify-center>
        <v-card class="mx-auto" max-width="90%">

          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">{{lawer.name}}</h3>
              <div v-if="lawer.subprocuracy_id === 1" >Suprocuraduría de protección Especial</div>
              <div v-if="lawer.subprocuracy_id === 2" >Suprocuraduría  Jurídica</div>
            </div>
          </v-card-title>

          <v-card-actions>
            <v-btn flat color="orange">Contacto: {{lawer.email}}</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>
 
<script>
export default {
  props: ["lawer"]
};
</script>