<template>
  <v-app>
    <v-content>
      <v-container grid-list-md>
        <v-stepper v-model="step" vertical>
          <v-stepper-header>
            <v-stepper-step editable step="2" :complete="step > 2">Citas</v-stepper-step>
          </v-stepper-header>
          <v-stepper-items>
            <v-form ref="formdates">
              <v-stepper-content step="2">
                <h3 class>Citas</h3>

                <v-menu
                  ref="menuss"
                  v-model="citas.menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  :return-value.sync="citas.dateappointmentappointment"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="citas.dateappointment"
                      label="Seleccione Fecha"
                      prepend-icon="event"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="citas.dateappointment" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="citas.menu = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click="$refs.menuss.save(citas.dateappointment)">OK</v-btn>
                  </v-date-picker>
                </v-menu>

                <v-time-picker
                  v-model="citas.timeappointment"
                  :rules="rulescitas.timeappointment"
                  :landscape="true"
                ></v-time-picker>

                <razon-component :relationship.sync="citas.reason"></razon-component>

                <v-textarea
                  v-model="citas.observations"
                  :rules="rulescitas.description"
                  label="Razón"
                  placeholder="Describa porque vinculo la solicitud a esta dependencia"
                  hint="Describa porque decidió el seguimiento"
                ></v-textarea>

                <v-btn color="primary " @click="validatedate">Nueva Vinculación</v-btn>

                <!-- <card-petition :registration="registration"></card-petition> -->
              </v-stepper-content>
              <div>{{ citas.dateappointment }}</div>
            </v-form>
          </v-stepper-items>
        </v-stepper>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>
export default {
  data() {
    return {
      step: 2,
      citas: {
        menu: false,
        dateappointment: new Date().toISOString().substr(0, 10),
        timeappointment: "",
        persons: "",
        reason: "",
        description: ""
      },
      rulescitas: {
        dateappointment: [v => !!v || "Es obligatorio escribir la fecha"],
        timeappointment: [v => !!v || "Es obligatorio escribir la hora"],
        reason: [v => !!v || "debe especificar el motivo de la cita"],
        description: [v => !!v || "Es obligatorio describir la Razón"]
      },
    };
  },
  methods: {
    validatedate() {
      if (this.$refs.formdates.validate()) {
        this.$swal("Creamos la cita exitosamente");
      }
    },
  }
};
</script>