<template>
  <v-dialog v-model="dialog" width="100vh">
    <template v-slot:activator="{ on }">
      
      <v-btn color="#D12654" dark v-on="on">Reporte {{report.id}} </v-btn>
    </template>
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>
        {{report.activity }}
        <small> {{ report.created_at}}</small>
      </v-card-title>

      <v-card-text>
        <vue-editor
          id="responsibilityEdit"
          :disabled="true"
          :editorToolbar="customToolbar"
          v-model="report.observations"
        ></vue-editor>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" flat @click="dialog = false">Salir</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import { VueEditor } from "vue2-editor";
export default {
  props: ["report"],
  components: {
    VueEditor
  },
  data() {
    return {
      dialog: false,
      customToolbar: [[{ list: "ordered" }, { list: "bullet" }], ["code-block"]]
    };
  }
};
</script>

<style>
#responsibilityEdit .ql-editor {
  min-height: 35vh;
}
</style>

