<template>
  <v-app>
    <v-content>
      <v-container grid-list-md>

        <v-alert type="warning" :value="affair.changed">
          Solicitud en espera de ser confirmada por el Subprocurador.
        </v-alert>
        
        <v-stepper v-if="!affair.changed" v-model="step" vertical>
          <v-stepper-header>
            <v-stepper-step editable edit-icon="account_box" step="1" complete>Vinculacion</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step editable step="3">Reportes</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step editable step="4">Evidencia</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step editable step="5">Conclusión</v-stepper-step>
          </v-stepper-header>
          <v-stepper-items>
            <v-form ref="formvinculacion">
              <v-stepper-content step="1">
                <h3 class>Vinculación</h3>

                <v-radio-group
                  :rules="rulesvinculacion.public"
                  v-model="vinculacion.public"
                  label="¿Dependencia pública?"
                >
                  <v-radio label="Pública" value="true"></v-radio>
                  <v-radio label="Privada" value="false"></v-radio>
                </v-radio-group>

                <v-text-field
                  label="Nombre de la dependencia"
                  v-model="vinculacion.dependency"
                  :rules="rulesvinculacion.name"
                  :counter="46"
                  cleareble
                  required
                ></v-text-field>

                <v-text-field v-model="vinculacion.responsable" :counter="46">
                  <template v-slot:label>
                    <div>
                      Nombre de Responsable de la dependencia
                      <small>(Opcional)</small>
                    </div>
                  </template>
                </v-text-field>

                <v-textarea
                  v-model="vinculacion.observations"
                  :rules="rulesvinculacion.description"
                  label="Razón"
                  placeholder="Describa porque vinculo la solicitud a esta dependencia"
                  hint="Describa porque decidió el seguimiento"
                ></v-textarea>

                <v-btn color="primary " @click="validateentailment">Confirmar vinculación</v-btn>

                <card-petition :registration="registration"></card-petition>
              </v-stepper-content>
            </v-form>

            <v-form ref="formdates">
              <v-stepper-content step="2">
                <h3 class>Citas</h3>

                <v-menu
                  ref="menuss"
                  v-model="citas.menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  :return-value.sync="citas.dateappointmentappointment"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="citas.dateappointment"
                      :rules="rulescitas.dateappointment"
                      label="Seleccione Fecha"
                      prepend-icon="event"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker :min="citas.today"
                                :max="citas.later"
                                v-model="citas.dateappointment" 
                                no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="citas.menu = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click="$refs.menuss.save(citas.dateappointment)">OK</v-btn>
                  </v-date-picker>
                </v-menu>

                <v-menu
                  ref="menu"
                  v-model="menu2"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  :return-value.sync="citas.timeappointment"
                  transition="scale-transition"
                  offset-y
                  full-width
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="citas.timeappointment"
                      :rules="rulescitas.timeappointment"
                      label="Seleccione la hora"
                      prepend-icon="access_time"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-time-picker
                    v-if="menu2"
                    v-model="citas.timeappointment"
                    :landscape="true"
                    full-width
                    min="8:00"
                    max="21:00"
                     @click:minute="$refs.menu.save(citas.timeappointment)"
                  ></v-time-picker>
                </v-menu>

                <razon-component :relationship.sync="citas.reason"></razon-component>

                <v-textarea
                  v-model="citas.description"
                  :rules="rulescitas.description"
                  label="Razón"
                  placeholder="Describa porque vinculo la solicitud a esta dependencia"
                  hint="Describa porque decidió el seguimiento"
                ></v-textarea>

                <v-btn color="primary " @click="validatedate">Generar Cita</v-btn>

                <card-petition :registration="registration"></card-petition>
              </v-stepper-content>
            </v-form>

            <v-form ref="formreports">
              <v-stepper-content step="3">
                <h3 class>Reporte</h3>

                <v-text-field
                  label="Título"
                  :rules="rulesreportes.title"
                  v-model="reporte.title"
                  :counter="20"
                ></v-text-field>

                <v-text-field
                  label="Actividad"
                  :rules="rulesreportes.activity"
                  v-model="reporte.activity"
                  :counter="20"
                  placeholder="Escriba la actividad a reportar"
                ></v-text-field>
                <strong>Observacion:</strong>
                <vue-editor id="responsibilityEdit" v-model="reporte.description"></vue-editor>

                <v-btn class="primary" @click="validatereport">Subir Reporte</v-btn>

                <card-petition :registration="registration"></card-petition>
              </v-stepper-content>
            </v-form>

            <v-stepper-content step="4">
              <h3 class>Evidencias</h3>
              <span>Tome en cuenta que solo se admite imagenes con formato jpg</span>
              <input
                type="file"
                accept=".jpg"
                multiple
                id="attachments"
                @change="evi_uploadFieldChange"
              >
              <hr>
              <div>
                <div
                  class="attachment-holder animated fadeIn"
                  v-cloak
                  v-for="(attachment, index) in evidencia.attachments"
                  :key="index"
                >
                  <span
                    class="label label-primary"
                  >{{ attachment.name + ' (' + Number((attachment.size / 1024 / 1024).toFixed(1)) + 'MB)'}}</span>
                  <span
                    class
                    style="background: red; cursor: pointer;"
                    @click="evi_removeAttachment(attachment)"
                  >
                    <button class="btn btn-xs btn-danger">Descartar</button>
                  </span>
                </div>
              </div>

              <v-textarea
                v-model="evidencia.description"
                label="Descripción"
                hint="Describa en pocas palabras la evidencia"
                placeholder="Describa la evidencia que subirá, si selecciona varios archivos, la descripción será la misma para todos"
              ></v-textarea>
              <v-btn class="primary" @click="validateevidence">Subir evidencia</v-btn>

              <card-petition :registration="registration"></card-petition>
            </v-stepper-content>

            <v-form ref="formconclusion">
              <v-stepper-content step="5">
                <h3 class>Conclusión</h3>

                <v-checkbox
                  v-model="conclusion.state"
                  :rules="rulesconclusion.state"
                  label="¿Terminar el proceso de Mediación?"
                ></v-checkbox>

                <v-textarea
                  v-model="conclusion.conclusion"
                  :rules="rulesconclusion.conclusion"
                  label="Conclusión"
                  hint="Describa en que concluyo la solicitud"
                  placeholder="describa en que situacion concluyo la solicitud o si desea agregar mas informacion"
                ></v-textarea>
                <v-btn class="primary" @click="validateconclusion">Cerrar Caso</v-btn>

                <card-petition :registration="registration"></card-petition>
              </v-stepper-content>
            </v-form>
          </v-stepper-items>
        </v-stepper>
      </v-container>
    </v-content>
  </v-app>
</template>


<script>
import { VueEditor } from "vue2-editor";
var fecha_despues = new Date();
fecha_despues.setMonth( fecha_despues.getMonth() + 2 );

export default {
  props: ["petition", "affair"],
    components: {
    VueEditor
  },
  data() {
    return {
      step: this.affair.step,
      petition_id: this.petition.id,
      menu2: false,

      vinculacion: {
        public: null,
        dependency: "",
        responsable: "",
        observations: ""
      },

      citas: {
        today:new Date().toJSON().slice(0,10),
        later: fecha_despues.toJSON().slice(0,10),
        menu: false,
        dateappointment: "",
        timeappointment: "",
        reason: "",
        description: "",
      },

      reporte: {
        title: "",
        activity: "",
        description: ""
      },

      evidencia: {
        description: "",
        attachments: [],
        data: new FormData()
      },

      conclusion: {
        state: "",
        description: ""
      },
      registration: {
        anonymous: this.petition.anonymous,
        name: this.petition.name,
        namepaterno: this.petition.namepaterno,
        namematerno: this.petition.namematerno,
        age: this.petition.age,
        relationship: this.petition.relationship,
        gender: this.petition.gender,
        numerotelefono: this.petition.numerotelefono,
        correo: this.petition.correo,

        via: this.petition.via,
        addressestado: this.petition.addressestado,
        addressmunicipio: this.petition.addressmunicipio,
        addresscolonia: this.petition.addresscolonia,
        addresscalle: this.petition.addresscalle,
        addressnumero: this.petition.addressnumero,
        description: this.petition.description
      },
      rulesvinculacion: {
        public: [v => !!v || "Debe esclarecer si es publico o privado"],
        name: [v => !!v || "el atributo Nombre es Obligatorio"],
        description: [v => !!v || "Es obligatorio describir la Razón"],

      },

      rulesreportes: {
        title: [v => !!v || "Debe escribir un título"],
        activity: [v => !!v || "Debe escribir la actividad relacionada"],
        description: [
          v => !!v || "Es obligatorio describir el contenido del reporte"
        ]
      },

      rulescitas: {
        dateappointment: [v => !!v || "Es obligatorio escribir la fecha"],
        timeappointment: [v => !!v || "Es obligatorio escribir la hora"],
        reason: [v => !!v || "debe especificar el motivo de la cita"],
        description: [v => !!v || "Es obligatorio describir la Razón"]
      },

      rulesconclusion: {
        state: [v => v == true || "Para concluir Marque esta casilla"],
        conclusion: [
          v => !!v || "Es Obligatorio escribir la conclusion del caso"
        ]
      }
    };
  },
  methods: {
    //************EVIDENCE METHODS****************************************** */
    evi_getAttachmentSize() {
      this.upload_size = 0; // Reset to beginningƒ
      this.evidencia.attachments.map(item => {
        this.upload_size += parseInt(item.size);
      });
      this.upload_size = Number(this.upload_size.toFixed(1));
      this.$forceUpdate();
    },
    evi_prepareFields() {
      if (this.evidencia.attachments.length > 0) {
        for (var i = 0; i < this.evidencia.attachments.length; i++) {
          let attachment = this.evidencia.attachments[i];
          this.evidencia.data.append("attachments[]", attachment);
        }
      }
    },
    evi_removeAttachment(attachment) {
      this.evidencia.attachments.splice(
        this.evidencia.attachments.indexOf(attachment),
        1
      );

      this.evi_getAttachmentSize();
    },

    evi_uploadFieldChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      for (var i = files.length - 1; i >= 0; i--) {
        this.evidencia.attachments.push(files[i]);
      }
      document.getElementById("attachments").value = [];
    },
    evi_resetData() {
      this.evidencia.data = new FormData();
      this.evidencia.attachments = [];
    },

    //************PETICIONES AL SERVIDOR************************************** */
    validateentailment() {
      if (this.$refs.formvinculacion.validate()) {
        axios
          .post("/Entailments/store/" + this.affair.id + "", {
            public: this.vinculacion.public,
            dependency: this.vinculacion.dependency,
            responsable: this.vinculacion.responsable,
            observations: this.vinculacion.observations
          })
          .then(response => {
            this.$swal("Creada Vinculacion con éxito");
            this.$refs.formvinculacion.reset();
          })
          .catch(e => {
            this.$swal("Por favor revise sus datos algo salio Mal");
          });
      }
    },
    validatedate() {
      if (this.$refs.formdates.validate()) {
        axios
          .post("/appointments/store/" + this.affair.id + "", {
            dateappointment: this.citas.dateappointment,
            timeappointment: this.citas.timeappointment,
            reason: this.citas.reason,
            observations: this.citas.description
          })
          .then(response => {
            this.$swal("Creada Cita");
            this.$refs.formdates.reset();
          })
          .catch(e => {
            this.$swal("Por favor revise sus datos algo salio Mal");
          });
      }
    },

    validatereport() {
      if (this.$refs.formreports.validate()) {
        if (this.reporte.description.length != 0 && this.reporte.description.length > 25 ) {
          axios
            .post("/Reports/store/" + this.affair.id + "",{
                title:this.reporte.title,
                activity: this.reporte.activity,
                observations: this.reporte.description,
              })
            .then(
              function(response) {
                this.$swal("Reporte creado con exito");
                this.$refs.formreports.reset();
                this.reporte.description = "";
              }.bind(this)
            )
            .catch(function(error) {
              swal("Revisa los datos por favor!!");
            });
        } else {
          this.$swal("Escriba por favor el contenido con mas de 25 caracteres");
        }
      }
    },

    validateevidence() {
      if (this.evidencia.attachments.length == 0) {
        this.$swal("Por favor seleccione un Archivo");
        return;
      }
      if (this.evidencia.description.length == 0) {
        this.$swal("Por favor Escriba su descripcion");
        return;
      }
      this.evi_prepareFields();
      var config = {
        headers: { "Content-Type": "multipart/form-data" }
      };

      this.evidencia.data.append("observations", this.evidencia.description);
      swal({
        title: "Desea continuar?",
        text:
          "Tome en cuenta que sus imagenes seran redimensionadas a una resolucion de 1280×720 Pixeles",
        icon: "warning",
        buttons: true,
        dangerMode: true
      }).then(willDelete => {
        if (willDelete) {
          axios
            .post(
              "/Evidences/store/" + this.affair.id + "",
              this.evidencia.data,
              config
            )
            .then(
              function(response) {
                this.$swal("Evidencia almacenada con exito");
                this.evi_resetData();
                this.evidencia.description = "";
              }.bind(this)
            )
            .catch(function(error) {
              this.$swal("Revisa los datos por favor!!");
              console.log(error);
            });
        }
      });
    },
    validateconclusion() {
      if (this.$refs.formconclusion.validate()) {
        axios
          .put("/affair/finish/" + this.petition_id + "", {
            state: this.conclusion.state,
            conclusion: this.conclusion.conclusion
          })
          .then(response => {
            window.location.href = "/petitions/" + this.petition_id + "";
          })
          .catch(e => {
            this.$swal("Por favor revise sus datos algo salio Mal");
          });
      }
    },
  }
};
</script>

<style>
#responsibilityEdit .ql-editor {
  min-height: 35vh;
}
</style>
