<template>
  <div>
    <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h4>Cancelación</h4>
      </div>
      <div class="box-body">
        <div >
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <th style="width:30%"><i class="fa fa-id-card margin-r-5"></i>Folio:</th>
                      <td>{{pedido.folio}}</td>
                    </tr>
                    <tr>
                      <th><i class="fa fa-calendar margin-r-5"></i>Fecha solicitud: </th>
                      <td>{{formatFecha(pedido.fecha_solicitud)}}</td>
                    </tr>
                    <tr>
                      <th><i class="fa fa-file-text-o margin-r-5"></i>Cliente:</th>
                      <td>{{pedido.cliente}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <th style="width:30%"><i class="fa fa-flag margin-r-5"></i>Estatus general:</th>
                      <td>{{pedido.estatus}}</td>
                    </tr>
                    <tr>
                      <th><i class="fa fa-calendar margin-r-5"></i>Fecha de entrega:</th>
                      <td>{{formatFecha(pedido.fecha_entrega)}}</td>
                    </tr>
                    <tr>
                      <th><i class="fa fa-money margin-r-5"></i>Estatus de pago:</th>
                      <td>
                        <span class="badge badge-success" v-if="pedido.pagado==='1'">PAGADO</span>
                       <span class="badge badge-danger" v-else >NO PAGADO</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div >
          <div class="box-header">
            <h4>Devolución pago</h4>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th style="width:40%"><i class="fa fa-id-card margin-r-5"></i>Monto total:</th>
                        <td>
                          <div class="input-group input-group-sm">
                            <div class="input-group-btn">
                              <button disabled class="btn btn-default"><i class="fa fa-usd"></i></button>
                            </div>
                            <input type="number" class="form-control" disabled v-model="pedido.total">
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th><i class="fa fa-calendar margin-r-5"></i>Monto anticipo: </th>
                        <td>
                          <div class="input-group input-group-sm">
                            <div class="input-group-btn">
                              <button disabled class="btn btn-default"><i class="fa fa-usd"></i></button>
                            </div>
                            <input class=" form-control " type="number" disabled v-model="anticipo">
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th style="width:40%"><i class="fa fa-id-card margin-r-5"></i>Monto devolución:</th>
                        <td>
                          <div class="input-group input-group-sm">
                            <div class="input-group-btn">
                              <button disabled class="btn btn-default"><i class="fa fa-usd"></i></button>
                            </div>
                            <input class="form-control " type="number" v-model="devolucion" @keyup.enter="validarDevolucion">
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th><i class="fa fa-calendar margin-r-5"></i>Costo por operación: </th>
                        <td>
                          <div class="input-group input-group-sm">
                            <div class="input-group-btn">
                              <button disabled class="btn btn-default"><i class="fa fa-usd"></i></button>
                            </div>
                            <input class="form-control " type="number" v-model="costo" @keyup.enter="validarDevolucion">
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="form-group col-md-12">
                <label for="">Observaciones:</label>
                <textarea v-model="observaciones" class="form-control" name="" id="" cols="30" rows="3" placeholder="Agregue las observaciones"></textarea>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <button class="btn btn-primary pull-left" @click.prevent="regresaraPedidos"><i class="fa fa-arrow-left margin-r-5"></i></button>            
            <button class="btn btn-primary pull-right" @click.prevent="validarDevolucion">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment';
export default {
  mounted() {
    axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");
    this.id=this.$route.params.id;
    this.getPedido(this.id); 
    let fecha =  new Date();
    this.fechaActual = fecha.getDate() + "/" + (fecha.getMonth() +1) + "/" + fecha.getFullYear();       

  },
  data(){
    return{
      pedido:{'folio':'','cliente':'','pagos':[],'estatus':[],'pagado':'','total':'','productos':[],'solicitud':[]},
      pedido:{},
      fecha:'',
      id:0,
      fechaActual:'',
      devolucion:'',
      costo:'',
      anticipo:0,
      observaciones:'',
    }
  },
  methods: {
    getPedido(id) {
      block()
      axios.get('/panaderia/api/pedidos/'+ id).then(respuesta => {
        console.log(respuesta.data); 
       // this.pedido.pagado=respuesta.data.pagado;
        this.pedido.cliente = respuesta.data.cliente.nombre_completo;
        this.pedido.folio=respuesta.data.solicitud.folio;
        this.pedido.estatus = respuesta.data.solicitud.estatus.nombre;
        this.pedido.total=respuesta.data.solicitud.total;
        this.pedido.solicitud=respuesta.data.solicitud;
        this.pedido.fecha_solicitud = respuesta.data.solicitud.fecha_solicitud;
        this.pedido.fecha_entrega = respuesta.data.solicitud.fecha_entrega;      
        this.pedido.productos = respuesta.data.solicitud.detalles;       
        this.pedido.pagos = respuesta.data.pagos;
        this.pedido.pagado=respuesta.data.pagado;      
        this.pedido.pagos.forEach(element => {
          this.anticipo+=element.pago;
        });                
           unblock()                    
      }).catch(error => {
        console.log('error en ' + error)
        unblock()
      })      
    },
    regresaraPedidos(){
      window.location.assign('panaderia#/pedidos/listado');
    },
    formatFecha(date){
      return moment(date).format('DD/MM/YYYY');
    },
    validarDevolucion(){
      var total=0;
      if (this.costo != '' && this.devolucion != '') {
        if (this.observaciones != '') {
           if(parseFloat(this.devolucion) <= this.anticipo && parseFloat(this.costo) <= this.anticipo) {
             total = parseFloat(this.devolucion)+parseFloat(this.costo);
             if(total === this.anticipo){
               this.cancelar();
             }else{               
						 swal({type: 'error',title: 'Verifique las cantidades, no puede rebasar el monto total del pedido.', confirmButtonText:'Aceptar'});
             }
           } else {
						 swal({type: 'error',title: 'Verifique las cantidades, no puede rebasar el monto total del pedido.', confirmButtonText:'Aceptar'});
                   }
        } else {
          swal({type: 'error',title: 'Ingrese una observación.', confirmButtonText:'Aceptar'});
        }
      } else {
        swal({type: 'error',title: 'Ingrese los valores.', confirmButtonText:'Aceptar'});
      }
    },
    actualizarEstatus(id){
          block();
          axios.put('/panaderia/api/donativo/seguimiento/'+id, {
            estatus: 3,
          }).then(respuesta => {
            unblock();                       
						swal({type: 'success',title: 'Se canceló correctamente.', confirmButtonText:'Aceptar'});
          }).catch(error => {
            console.log(error);
            unblock();
           /*  toastE({
              type: 'error',
              title: 'Algo salio mal. ' + error
            }); */
          });
          
        },
      cancelar() {
        block()
        console.log('Enviando formulario');
        axios.post('/panaderia/pedidos/cancelaciones',{
          id:this.id,
          devolucion:this.devolucion,
          costo:this.costo,
          observaciones: this.observaciones
        }).then(respuesta => {
          console.log('Creado');
          unblock();
          this.actualizarEstatus(this.pedido.solicitud.id);
          window.location.assign('panaderia#/pedidos/listado');          
					swal({type: 'success',title: 'Cancelado correctamente.', confirmButtonText:'Aceptar'});
        }).catch(error => {
          console.log('Ocurrio un error');
          console.log(error);
          unblock();          
					swal({type: 'error',title: 'No se pudo realizar la cancelación.', confirmButtonText:'Aceptar'});
        });       
    }
    },

    }
  

</script>