<template>
  <div>
    <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h4>Pagos</h4>
      </div>
      <div >
        <div >
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <th style="width:30%"><i class="fa fa-id-card margin-r-5"></i>Folio:</th>
                     <td>{{pedido.solicitud.folio}}</td> 
                    </tr>
                    <tr>
                      <th><i class="fa fa-calendar margin-r-5"></i>Fecha solicitud: </th>
                      <td>{{formatFecha(pedido.solicitud.fecha_solicitud)}}</td>
                    </tr>
                    <tr>
                      <th><i class="fa fa-file-text-o margin-r-5"></i>Cliente:</th>
                      <td>{{pedido.cliente.nombre_completo}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <th style="width:30%"><i class="fa fa-flag margin-r-5"></i>Estatus general:</th>
                      <td>{{pedido.estatus.nombre}}</td> 
                    </tr>
                    <tr>
                      <th><i class="fa fa-calendar margin-r-5"></i>Fecha de entrega:</th>
                      <td>{{formatFecha(pedido.solicitud.fecha_entrega)}}</td>
                    </tr>
                    <tr>
                    <th><i class="fa fa-phone margin-r-5"></i>Celular:</th>
                      <td>{{pedido.cliente.numero_celular}}</td>
                    </tr>                 
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div >
          <div class="box-header">
            <h4>Información del pago</h4>
          </div>
          <div class="box-body">
           <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="table-responsive">
                <table class="table">
                  <tbody>            
                    <tr>
                      <th><i class="fa fa-calendar margin-r-5"></i>Fecha de pago: </th>
                      <td><input class=" form-control text-center" type="text" disabled v-model="fecha"></td>
                    </tr>
                    <tr>
                      <th><i class="fa fa-file-text-o margin-r-5"></i>Anticipo:</th>
                      <td>
                        <div class="input-group input-group-sm">
                          <div class="input-group-btn">
                              <button disabled class="btn btn-default"><i class="fa fa-usd"></i></button>
                            </div>
                             <input class="form-control" type="number" disabled v-model="anticipo">
                          </div> 
                      </td>
                    </tr>
                    <tr>
                      <th><i class="fa fa-file-text-o margin-r-5"></i>Total:</th>
                      <td>
                        <div class="input-group input-group-sm">
                            <div class="input-group-btn">
                              <button disabled class="btn btn-default"><i class="fa fa-usd"></i></button>
                            </div>
                             <input class="form-control" type="number" disabled v-model="pedido.solicitud.total">
                          </div>  
                      </td>                    
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="table-responsive">
                <table class="table">
                  <tbody>            
                    <tr>
                      <th><i class="fa fa-calendar margin-r-5"></i>Fecha: </th>
                      <td><input class="form-control text-center" type="text" disabled v-model="fechaActual"></td>
                    </tr>
                    <tr>
                      <th><i class="fa fa-file-text-o margin-r-5"></i>Pago a liquidar:</th>
                      <td>
                        <div class="input-group input-group-sm">
                            <div class="input-group-btn">
                              <button disabled class="btn btn-default"><i class="fa fa-usd"></i></button>
                            </div>
                             <input class="form-control" disabled type="number" v-model="resto" >
                          </div> 
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
      
          </div>
          <div class="row">
            <div class="col-md-12 pull rigth">
              <button class="btn btn-primary pull-left" @click.prevent="listadoPedidos"><i class="fa fa-arrow-left margin-r-5"></i></button>            
              <button class="btn btn-primary pull-right" @click.prevent="agregarPago()">Agregar pago</button>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment';

export default {
  mounted() {
    axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");
    this.getPedido(this.$route.params.id); 
    this.id=this.$route.params.id;      
    //this.fechaActual=new Date();
    //this.fechaActual=this.formatFecha(this.fechaActual);
    let fecha =  new Date();
    this.fechaActual = fecha.getDate() + "/" + (fecha.getMonth() +1) + "/" + fecha.getFullYear();
           

  },
  data(){
    return{
      id:'',
      pedido:{'cliente':[],'pagos':[],'estatus':[],'pagado':'','total':'','calle':'','numint':'','numext':'','colonia':'','localidad':[],'referencia':'','solicitud':[],'productos':[],'direccion':''},
      fecha:'',
      pagado:'',
      fechaActual:'skdfjsd',
      anticipo:0,
      pago:'',
      resto:0,
    }
  },
  methods: {
    getPedido(id) {
      block()
        axios.get('/panaderia/api/pedidos/' + id).then(respuesta => {
          console.log(respuesta.data);
          this.pedido.cliente = respuesta.data.cliente;
          this.pedido.estatus = respuesta.data.solicitud.estatus;
          this.pedido.calle = respuesta.data.calle;
          this.pedido.numint = respuesta.data.numero_interior;
          this.pedido.numext = respuesta.data.numero_exterior;
          this.pedido.colonia = respuesta.data.colonia;
          this.pedido.localidad = respuesta.data.localidad;
          this.pedido.referencia = respuesta.data.referencia_domicilio;
          //this.pedido.pagado = respuesta.data.pagado; 
          this.pedido.productos = respuesta.data.solicitud.detalles;
          this.pedido.solicitud = respuesta.data.solicitud;
          this.pedido.pagos = respuesta.data.pagos;
          this.pedido.pagos.forEach(element => {
            this.fecha = this.formatFecha(element.fecha);
            this.anticipo += element.pago
            this.anticipo = (this.anticipo).toFixed(2);
          });
          this.resto = this.pedido.solicitud.total - this.anticipo
          this.pedido.solicitud.total = (this.pedido.solicitud.total).toFixed(2);
          this.resto = (this.resto).toFixed(2);
          unblock()
        }).catch(error => {
          console.log('error en ' + error)
          unblock()
        })
    },
    listadoPedidos(){
      window.location.assign("/panaderia#/pedidos/listado");
    },
    formatFecha(date){
      return moment(date).format('DD/MM/YYYY');
    },
    agregarPago() {
      axios.put('/panaderia/api/pedidos/' + this.id, {
        pago: this.resto,
      }).then(respuesta => {
        unblock();
				swal({type: 'success',title: 'Se realizó el pago correctamente.', confirmButtonText:'Aceptar'});
        window.location.assign("/panaderia#/pedidos/listado");

      }).catch(error => {
        console.log(error);
        unblock();        
				swal({type: 'error',title: 'Ocurrió un error, no se pudo realizar el pago.', confirmButtonText:'Aceptar'});
      });
    }
  },
}
</script>