<template>
  <div>
    <div v-show="buscarClientes" class="box box-primary shadow">
      <div class="box-header with-border">
        <h4>Datos del cliente</h4>
        <div class="row">
          <div class="form-group">
            <div class="col-md-12">
              <button class="btn btn-success" @click.prevent="verclientes">Elegir cliente</button>
              <button class="btn btn-success pull-right" @click.prevent="agregarCliente"><i class="fa fa-user-plus"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div v-show="verClientes">
          <div class="input-group input-group-sm" style="width: 100%;">
            <input v-model="buscar" type="text" name="Buscar" class="form-control pull-right" placeholder="Nombre de la persona" @keyup.enter="buscarCliente">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default" @click.prevent="buscarCliente()"><i class="fa fa-search"></i></button>
            </div>
          </div>

          <div style="margin-top:20px;" v-show="listaClientes.length > 0">
            <div class=" box-boy no-padding table-responsive">
              <table class="table table-responsive text-center">
                <thead>
                  <th>Nombre</th>
                  <th>Apellido paterno</th>
                  <th>Apellido materno</th>
                  <th>Celular</th>
                  <th>Teléfono</th>
                  <!-- <th>Localidad</th> -->
                  <th>Opciones</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in listaClientes" :key="index">
                    <td>{{item.nombre}}</td>
                    <td>{{item.primer_apellido}}</td>
                    <td>{{item.segundo_apellido}}</td>
                    <td>{{item.numero_celular}}</td>
                    <td>{{item.numero_local}}</td>
                   <!--  <td>{{item.localidad_id}}</td> -->
                    <td><button class="btn btn-success btn-xs" @click.prevent="getDatosCliente(item)"><i class="fa fa-check"></i> Seleccionar</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-12" align="center">
            <nav aria-label="navigation">
              <ul class="pagination">
                <li v-if="pagination.current_page > 1">
                  <a href="#" @click.prevent="changePage(pagination.current_page - 1)">
                    <span>Atras</span>
                  </a>
                </li>
                <li v-for="(page,index) in pagesNumber" :key="index" v-bind:class="[ page == isActived ? 'active' : '']">
                  <a href="#" @click.prevent="changePage(page)">
                    {{ page }}
                  </a>
                </li>

                <li v-if="pagination.current_page < pagination.last_page">
                  <a href="#" @click.prevent="changePage(pagination.current_page + 1)">
                    <span>Siguiente</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div v-show="verDatos">
          <div class="row">
            <div class="form-group">
              <div class="col-md-6">
                <Label><i class="fa fa-user margin-r-5"></i> Nombre del cliente:</Label>
                <span class="text-uppercase">{{cliente.nombre}}</span>
              </div>
              <div class="col-md-3">
                <Label><i class="fa fa-phone margin-r-5"></i> Teléfono:</Label>
                {{cliente.telefono}}
              </div>
              <div class="col-md-3">
                <Label><i class="fa fa-phone margin-r-5"></i> Celular:</Label>
                {{cliente.celular}}
              </div>
            </div>
          </div>
          <div class="box-footer">
            <button class="btn btn-primary pull-right" @click.prevent="domicilioEntrega"><i class="fa fa-arrow-circle-right margin-r-5"></i> Continuar</button>            
          </div>
        </div>
      </div>
    </div>
    <div v-show="agregar" class="box box-primary shadow">
      <div class="box-header with-border">
        <h4>Datos del cliente</h4>
      </div>
      <div class="box-body">
        <form method="POST" v-on:submit.prevent="nuevoCliente" data-vv-scope="cliente" autocomplete="off">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Nombre:</label>
                <input v-validate="{required:true, regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}" name="nombre" v-model="cliente.nombre" type="text" class="form-control text-uppercase">
                <span class="validacion">{{ errors.first('cliente.nombre') }}</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Primer apellido:</label>
                <input v-validate="{required:true, regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}" name="apaterno" v-model="cliente.primerapellido" type="text" class="form-control text-uppercase">
                <span class="validacion">{{ errors.first('cliente.apaterno') }}</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Segundo apellido:</label>
                <input v-validate="{required:false, regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}" name="amaterno" v-model="cliente.segundoapellido" type="text" class="form-control text-uppercase">
                <span class="validacion">{{ errors.first('cliente.amaterno') }}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Teléfono (Opcional):</label>
                <input v-validate="{required:false,regex:/^[0-9]{10}$/}"  name="telefono" v-model="cliente.telefono" type="text" class="form-control">
                <span class="validacion">{{ errors.first('cliente.telefono') }}</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Celular:</label>
                <input v-validate="{required:true,regex:/^[0-9]{10}$/}" name="celular" v-model="cliente.celular" type="text" class="form-control">
                <span class="validacion">{{ errors.first('cliente.celular') }}</span>
              </div>
            </div>
          </div>
         <!--  <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Calle:</label>
                <input v-validate="'alpha_spaces'" name="calle" v-model="cliente.calle" type="text" class="form-control text-uppercase">
                <span class="validacion">{{ errors.first('calle') }}</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Número interior:</label>
                <input v-validate="'numeric'" name="Número interior" v-model="cliente.numinterior" type="text" class="form-control">
                <span class="validacion">{{ errors.first('Número interior') }}</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Número exterior:</label>
                <input v-validate="'numeric'" name="Número exterior" v-model="cliente.numexterior" type="text" class="form-control">
                <span class="validacion">{{ errors.first('Número exterior') }}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Colonia:</label>
                <input v-validate="'alpha_spaces'" name="colonia" v-model="cliente.colonia" type="text" class="form-control text-uppercase">
                <span class="validacion">{{ errors.first('colonia') }}</span>
              </div>
            </div>
             <div class="col-md-4">
              <div class="form-group">
                <label for="Municipio">Municipio:</label>
                <v-select v-model="municipio" @input="getLocalidades" :options="listaMunicipios" label="nombre" :filterable='true'></v-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="Localidad">Localidad:</label>
                <v-select v-validate="'required'" name="localidad" v-model="cliente.localidad" label='nombre' :options="listaLocalidades" :filterable='true'></v-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="Descripcion">Referencia del domicilio:</label>
                <textarea v-validate="'required'" name="descripcion" v-model="cliente.referencia" class="form-control text-uppercase" rows="3" placeholder="Referencia del domicilio"></textarea>
                <span class="validacion">{{ errors.first('descripcion') }}</span>
              </div>
            </div>
          </div>-->
				<div class="box-footer">
        <button class="btn btn-primary pull-left" @click.prevent="regresaraCliente"><i class="fa fa-arrow-circle-left margin-r-5"></i> Regresar</button>            
        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save margin-r-5"></i>Guardar</button>
      	</div>			
        </form>
      </div>      
    </div>
    <div v-show="domicilio" class="box box-primary shadow">
			<form v-on:submit.prevent="listaproductos" data-vv-scope="domicilio" autocomplete="off">
      <div class="box-header with-border">
        <h4>Domicilio de entrega</h4>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="">Calle:</label>
              <input v-model="pedido.calle" name="calle" v-validate="{required:true, regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}" type="text" class="text-uppercase form-control">
              <span class="validacion">{{ errors.first('domicilio.calle') }}</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="">Número interior (Opcional):</label>
              <input placeholder="Ej. 205-A o 200" v-model="pedido.numint" v-validate="{regex: /^([0-9]+-[A-Z|a-z]+|[0-9]+){1}$/}" name="NumeroInterior" type="text" class="form-control">
              <span class="validacion">{{ errors.first('domicilio.NumeroInterior') }}</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="">Número exterior:</label>
              <input placeholder="Ej. 205-A o 200" v-model="pedido.numext" v-validate="{required:true, regex: /^([0-9]+-[A-Z|a-z]+|[0-9]+){1}$/}" name="NumeroExterior" type="text" class="form-control">
              <span class="validacion">{{ errors.first('domicilio.NumeroExterior') }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="">Colonia:</label>
              <input v-model="pedido.colonia" v-validate="{required:true, regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}" name="colonia" type="text" class="form-control text-uppercase">
              <span class="validacion">{{ errors.first('domicilio.colonia') }}</span>
            </div>
          </div>
     <!--      <div class="col-md-4">
            <div class="form-group">
              <label for="Municipio">Municipio:</label>
              <v-select v-model="municipio" @input="getLocalidades" :options="listaMunicipios" label="nombre" :filterable='true'></v-select>
            </div>
          </div>  -->
          <div class="col-md-4">
            <div class="form-group">
              <label for="Localidad">Localidad:</label>
              <v-select v-model="pedido.localidad" label='nombre' :options="listaLocalidades" :filterable='true'>
								<div slot="no-options">No hay opciones!</div>
								<template #search="{attributes, events}">
									<input class="vs__search" :required="!pedido.localidad" v-bind="attributes" v-on="events" />
								</template>
							</v-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="Descripcion">Referencias y/o entre calles:</label>
              <textarea v-model="pedido.referencia" v-validate="'required'" name="Descripcion" class="form-control text-uppercase" rows="3" placeholder="Referencia del domicilio"></textarea>
              <span class="validacion">{{ errors.first('domicilio.Descripcion') }}</span>
            </div>
          </div>
        </div>  
        
      </div>
      <div class="box-footer">
        <a class="btn btn-primary pull-left" @click="regresaraCliente"><i class="fa fa-arrow-circle-left margin-r-5"></i> Regresar</a>            
        <button class="btn btn-primary pull-right" type="submit"><i class="fa fa-arrow-circle-right margin-r-5"></i> Continuar</button>
      </div>
			</form>
    </div>
    <div v-show="agregarproducto" class="box box-primary shadow">
      <div class="box-header with-border">
        <h4>Lista de productos</h4>
      </div>
        <div class="box-body">
          <div>
					<form v-on:submit.prevent="agregarProductos" data-vv-scope="productosPedido" autocomplete="off">
          <div class="row">
          <div class="form-group col-md-4">
            <label for="producto">Tipo producto: </label>
            <v-select :clearable="false" :options="tiposproductos" label="nombre" @input="verProductos" v-model="key">
							<div slot="no-options">No hay opciones!</div>
							<template #search="{attributes, events}">
              <input class="vs__search" :required="!key" v-bind="attributes" v-on="events" />
            </template>
						</v-select>
          </div>
          <div class="form-group col-md-4">
            <label for="producto">Producto: </label>
            <v-select v-model="pro_id" :options="productosportipo" label="nombre" :filterable='true'>
							<div slot="no-options">No hay opciones!</div>
							<template #search="{attributes, events}">
              <input class="vs__search" :required="!pro_id" v-bind="attributes" v-on="events" />
            </template>
						</v-select>
          </div>
          <div class="form-group col-md-4">
            <label for="cantidad">Cantidad: </label>
            <input v-validate="'numeric'" type="number" min="1" step="1" class="form-control" id="cantidad" name="cantidad" v-model="cantidad" required>
            <span class="validacion">{{ errors.first('productosPedido.cantidad') }}</span>
          </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <button type="submit" class="btn btn-success btn-ms pull-right " style="margin-right:10px;"><i class="fa fa-plus"></i> Agregar</button>
              <button  v-show="ultimoboton" class="btn btn-primary pull-left" @click.prevent="regresaraDomicilio"><i class="fa fa-arrow-circle-left margin-r-5"></i> Regresar</button>            
            </div>
          </div>
					</form>
          </div>
          <div v-show="tablaproductos">
						<form v-on:submit.prevent="openModalPago">
            <div class="col-md-12">
            <div class="box box-default">
              <div class="box-header">
                <h4>Lista de productos programados</h4>
              </div>
              <div class="box-body no-padding table-responsive">
                <table class="text-center table table-striped">
                  <tbody>
                    <tr>
                      <th>Producto</th>
                      <th>Cantidad</th>
                      <th>Precio</th>
                      <th>Subtotal</th>
                      <th>Eliminar</th>
                    </tr>
                    <tr v-for="(item, index) in lista" :key="index">
                      <td>{{item.nombre}}</td>
                      <td>
                        <input class="form-control text-center" v-model="item.cantidad" type="number" name="cantidad" id="" min="1" step="1" @change="modificarCantidad(index)" required>
                      </td>
                      <td>${{(parseFloat(item.precio)).toFixed(2)}}</td>
                      <td>${{parseFloat(item.subtotal)}}</td>
                      <th>
                        <button type="button" class="btn btn-danger btn-xs" @click.prevent="eliminarProducto"><i class="fa fa-minus margin-r-5"></i>Quitar</button>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="box-footer">
              <button type="submit" class="btn btn-primary btn-ms pull-right" style="margin-right:10px;"><i class="fa fa-save margin-r-5"></i>Guardar</button>
              <a href="panaderia#/pedidos/listado" class="btn btn-primary btn-ms pull-right " style="margin-right:10px;" ><i class="fa fa-times margin-r-5"></i>Cancelar</a>
              <button  class="btn btn-primary pull-left" @click.prevent="regresaraDomicilio"><i class="fa fa-arrow-circle-left margin-r-5"></i> Regresar </button>                       
          </div>
					</form>
          </div>
        </div>
    </div>
    <div class="modal fade" id="modal-pago">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">
             <span>&times;</span>
           </button>
           <h4 class="modal-title">Pago</h4>
         </div>
         <div class="modal-body">
					 <form v-on:submit.prevent="validarPago" data-vv-scope="pago" autocomplete="off">
        <div class="row">
            <div class="form-group col-md-12 pull-right">
            <label for="fecha">Fecha de entrega: </label><br>
            <date-picker v-validate="'required'" name="fecha" :not-before="fechaActual" :disabled-days="disableWeekends" :editable="false" style="width:320px;" v-model="fecha_entrega" lang="es" valueType="format" format="DD-MM-YYYY"></date-picker>
						<span class="validacion">{{ errors.first('pago.fecha') }}</span>
          </div>
          </div>
        <div class="row">  
          <div class="form-group col-md-6">
            <label for="fecha">Pago: </label>
            <input v-validate="'required|decimal:3'" name="pago" v-model="anticipo" type="text" class="form-control" @keyup.enter="validarPago">
            <span class="validacion">{{ errors.first('pago.pago') }}</span>
          </div> 
          <div class="form-group col-md-6">
            <label for="fecha">Total: </label>
            <input disabled v-model="total" type="number" class="text-center form-control" name="" id="">
            <!-- <span >$ {{total}}</span> -->
          </div>             
          </div>                              
         <div class="modal-footer">
           <button type="submit" class="btn btn-success">Aceptar</button>
           <button class="btn btn-danger" value="Cancelar" data-dismiss="modal">Cancelar</button>
         </div>
				 </form>
       </div>
     </div>
   </div>
  </div>
  </div>
</template>
<script>
export default {
  mounted() {
    this.$validator.reset();   
    axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");
    this.listadoProductos();
    this.listadoClientes();
  //this.listadoMunicipios();
    this.getLocalidades();
    this.fechaActual = new Date();
  },
  data() {
    return {
      fecha:'',
      anticipo:0,
      pago:0,
      ultimoboton:true,
      agregar:false,
      agregarproducto:false,
      tablaproductos:false,
      buscarClientes : true,
      domicilio:false,
      fechaActual:null,
      verClientes:false,
      verDatos:false,
      listaClientes:[],
      municipio:[],      
      listaMunicipios:[],
      listaLocalidades:[],
      pedido:{},  
      buscar:null, 
      key:'',
      productos: [],
      productosportipo:[],
      tiposproductos:[],
      productos:[],
      lista: [],        
      pro_id: '', 
      fecha_entrega:'',           
      cantidad: 1,            
      total: 0, 
      cliente : {'nombre_completo':'','nombre':'' ,'primerapellido': '','segundoapellido': '','telefono':'','celular':''},
      pedido:{'cliente':'','pagado':'','calle':'','numint':'','numext':'','colonia':'','localidad':'','referencia':''},
      //cliente : {'id':'','nombre':'' ,'telefono':'','celular':''},
      columns: ['nombre', 'primer_apellido', 'segundo_apellido', 'numero_local', 'calle', 'numero_exterior','colonia','localidad_id', 'opciones'],
      tableData: [],
      pagination: {
			      'total': 0,
            'current_page': 1,
            'per_page': 10,
            'last_page': 0,
            'from': 0,
            'to': 0
      },
      offset: 3, 
    }
  },
  methods: {           
    listadoProductos() {
      axios.get('/panaderia/api/productos').then(respuesta => {
      this.productos = respuesta.data.productos;
      this.tiposproductos = respuesta.data.tipos;
      }).catch(error => {
          console.log(error);
            });
        },
    verProductos() {
      this.productosportipo = this.productos.filter(p => p.tipoproducto_id === this.key.id);
      console.log(this.productosportipo);
    },
    listadoClientes(){
      axios.get('panaderia/api/clientes').then(respuesta=>{
        this.tableData=respuesta.data.clientes;
      }).catch(error=>{
        console.log(error);
      });
    },
    listadoMunicipios(){
      console.log('listando municipios de oaxaca')      
      var url='/dcredencial/listMunicipio'
      axios.get(url).then(respuesta=>{
        this.listaMunicipios=respuesta.data.data;
      }).catch(error=>{
        console.log(error);
      });
    },   
    getLocalidades(){
      console.log('buscando las localidades de dicho municipio')      
      this.listaLocalidades=[];     
      var url='/panaderia/localidades/'+'67';      
      axios.get(url).then(respuesta=>{
        this.listaLocalidades=respuesta.data;
      }).catch(error=>{
        console.log('surgio un error al obtener las localidades del municipio '+error)
      });
    }, 
    resetDatos() {
      this.subtotal = 0;
      this.cantidad = 1;
      this.pro_id = null;
      this.key=null;
      this.productosportipo = [];
    },
    validarPago(){
			this.$validator.validateAll('pago').then(valid=>{
				if(valid){
				if (parseFloat(this.anticipo) === parseFloat(this.total)) {
        $('#modal-pago').modal("hide");
        this.pedido.pagado = 1;
        this.nuevoPedido();
      	}
      	if (parseFloat(this.anticipo) != parseFloat(this.total)) {
        this.pedido.pagado = 0;

        if (parseFloat(this.anticipo) > parseFloat(this.total)) {          
					swal({type: 'error',title: 'El pago rebasa el total del pedido.', confirmButtonText:'Aceptar'});
        } else {
        if (parseFloat(this.anticipo) < parseFloat(this.total / 2)) {            
						swal({type: 'error',title: 'El pago no correspondel al 50% del total del pedido.', confirmButtonText:'Aceptar'});
          } else {
        if (this.fecha_entrega != '') {
              this.nuevoPedido();
              $('#modal-pago').modal("hide");
						}
				else {              
							swal({type: 'error',title: 'Ingrese la fecha.', confirmButtonText:'Aceptar'});
            }
          }
        }
			}
			}
			})     
    },        
    resetTodo() {
      this.resetDatos();
      this.resetDatosCliente();
      this.fecha = '';
      this.lista = [];
		},
		openModalPago(){
			$('#modal-pago').modal("show");
		},
    getDatosCliente(obj){
      this.cliente.id=obj.id;
      this.cliente.nombre=obj.nombre_completo;      
      this.cliente.telefono=obj.numero_local;
      this.cliente.celular=obj.numero_celular;
      this.pedido.cliente=obj.id;
      this.verClientes=false;
      this.verDatos=true;
    },
    agregarProductos(){
      const result = this.lista.filter(pro => pro.id === this.pro_id.id);
       if(result.length===0){
				 this.$validator.validateAll('productosPedido').then(valid=>{
					 if(valid){
						this.tablaproductos=true;
            this.ultimoboton=false;
            this.lista.push({
            id: this.pro_id.id,
            nombre: this.pro_id.nombre,
            precio: this.pro_id.precio,
            cantidad: this.cantidad,
						subtotal: this.cantidad * this.pro_id.precio});
						this.calcularTotal();
						this.resetDatos();
						this.$validator.reset();
					 }
				 })
          /* if(this.pro_id!=''){
            this.tablaproductos=true;
            this.ultimoboton=false;
            this.lista.push({
            id: this.pro_id.id,
            nombre: this.pro_id.nombre,
            precio: this.pro_id.precio,
            cantidad: this.cantidad,
            subtotal: this.cantidad * this.pro_id.precio,
           
          });
          this.calcularTotal();
          this.resetDatos();          
        }else{    
					swal({type: 'warning',title: '¡Seleccione un producto!.', confirmButtonText:'Aceptar'});  
       } */
      }else{   
					swal({type: 'warning',title: 'El producto ya se encuentra en las lista.', confirmButtonText:'Aceptar'});
          this.resetDatos(); 
       }  
    }, 
    modificarCantidad(index) {
            this.lista[index].subtotal = this.lista[index].precio * this.lista[index].cantidad;
            this.calcularTotal();
    },         
    calcularTotal(){
          this.total=0;  
          this.lista.forEach(producto => {
          this.total+=producto.subtotal;
          this.anticipo = this.total/2; 
              
          });        
          return this.total,this.anticipo;
    },
    formatPesos(n){
        return new Intl.NumberFormat("en-ES").format(n);
      },
    eliminarProducto(id) {
      this.lista.splice(id, 1);
      if(this.lista.length === 0){
        this.ultimoboton=true;
        this.tablaproductos = false;
      }
    },
    listaproductos(){
			this.$validator.validateAll('domicilio').then(valid=>{
				if(valid){
					this.domicilio=false;
          this.agregarproducto=true;
				}
			})
      /* if(this.pedido.cliente!=''&&
         this.pedido.numext!=''&&
         this.pedido.telefono!=''&&
         this.pedido.celular!=''&&
         this.pedido.referencia!=''&&
         this.pedido.colonia!=''&&
         this.pedido.localidad!=''&&
         this.pedido.calle!=''&&
         this.pedido.colonia!=''){
          this.domicilio=false;
          this.agregarproducto=true;
        }else{           
					swal({type: 'warning',title: '¡Verifique los campos!.', confirmButtonText:'Aceptar'});
        } */         
    },
    imprimir(id){        
      var url="/panaderia/pedidos/ticket/"+id;
      var win = window.open(url,"_blank", 
      "toolbar=no,scrollbars=yes,resizable=no,top=100,left=250,width=800,height=400");   
      win.print();   
      win.focus();    
    }, 
/*     resetDatosTabla(){                                
        this.subtotal = 0;       
        this.cantidad = 1;
        this.pro_id = '';
            this.key = '';
    }, */  
    verificarPago(){
      if(this.total === this.pago){
       this.pedido.pagado=1;
       this.pedido.anticipo=this.pago;
      }
      if(this.pago!=this.total){
         this.pedido.pagado=0;
         this.pedido.anticipo = this.pago;
      }
    },    
    resetDatosCliente() {
      this.cliente.nombre = '';
      this.cliente.primerapellido = '';
      this.cliente.segundoapellido = '';
      this.cliente.calle = '';
      this.municipio = null;
      this.cliente.localidad = '';
      this.cliente.numinterior = '';
      this.cliente.numexterior = '';
      this.cliente.referencia = '';
      this.cliente.telefono = '';
      this.cliente.celular = '';
      this.cliente.colonia = '';
    },
    
    nuevoCliente() {
      console.log('Enviando formulario');
      this.$validator.validateAll('cliente').then(valid => {
        if (valid) {
          block();          
            axios.post('/panaderia/api/clientes', {
              cliente: this.cliente,
              //localidad: this.cliente.localidad.id
            }).then(respuesta => {
              console.log('Creado');
              unblock();
              console.log(respuesta.data);
              this.resetDatosCliente();
              this.getDatosCliente(respuesta.data.cliente);
              this.agregar = false;
              this.buscarClientes = true;              
							swal({type: 'success',title: 'Agregado correctamente.', confirmButtonText:'Aceptar'});
							this.$validator.reset();
            }).catch(error => {
              console.log('Ocurrio un error');
              console.log(error);
              unblock();              
							swal({type: 'error',title: 'Ocurrió un error, no se pudo registrar el cliente.', confirmButtonText:'Aceptar'});
            });
        }
      })
      
    },
    nuevoPedido() {   
     
      block();
      console.log('Enviando formulario');
      axios.post('/panaderia/api/pedidos', {      
        fecha_entrega: this.fecha_entrega,
        cliente:this.cliente.id,
        localidad:this.pedido.localidad.id,
        total:this.total,
        pedido:this.pedido, 
        pago:this.anticipo, 
        lista:this.lista      
      }).then(respuesta => {
        console.log('Creado');
        unblock();  
        this.imprimir(respuesta.data.id);     
        this.resetTodo();
				swal({type: 'success',title: 'Agregado correctamente.', confirmButtonText:'Aceptar'});
        window.location.assign("/panaderia#/pedidos/listado");
        //console.log(respuesta.data);       
      }).catch(error => {
        console.log('Ocurrio un error');
        console.log(error);
        unblock();        
				swal({type: 'error',title: 'Ocurrió un error, no se puede realizar el pedido.', confirmButtonText:'Aceptar'});
      });      
       

    },  
  
    buscarCliente(page) {
      console.log('buscando si existe la persona')
      if (this.buscar != null || buscar.length > 0) {
        block();
        var url = '/panaderia/pedidos/buscar?page='+page+'&curp='+this.buscar;
        axios.get(url).then(respuesta => {
          unblock();
          if (respuesta.data.data.length > 0) {
            this.listaClientes = respuesta.data.data
            this.pagination.from = respuesta.data.from;
            this.pagination.last_page = respuesta.data.last_page;
            this.pagination.per_page = respuesta.data.per_page;
            this.pagination.to = respuesta.data.to;
            this.pagination.total = respuesta.data.total; 
          }else{
            this.listaClientes = [];   
            this.buscar=null;
            swal({type:'warning', title:'No se encontraron resultados!'});
          }
          
        }).catch(error => {
          unblock();
          console.log('error en ' + error)
          
        })
      }
    },
    changePage(page) {
			this.pagination.current_page = page;
			this.buscarCliente(page);
    },
    verclientes(){
      this.verClientes=true;
    },
    agregarCliente(){
      this.resetDatosCliente();
      this.buscarClientes=false;
      this.agregar=true;  
      
    },
    domicilioEntrega(){
      
      this.buscarClientes=false;     
      this.domicilio=true; 
    },
    regresaraCliente(){
      this.resetDatosCliente();
      this.buscarClientes=true;
      this.domicilio = false;
      this.agregar=false;
      this.verDatos=false;
    },
    regresaraDomicilio(){
      this.domicilio=true;
      this.agregarproducto = false;
		},
		disableWeekends (date) {
      const day = new Date(date).getDay()
      return day === 0 || day === 6
    }
  },
  computed:{
      isActived: function() {
			return this.pagination.current_page;
		  },
		  pagesNumber: function() {
			  if(!this.pagination.to){
				  return [];
			  }

        var from = this.pagination.current_page - this.offset; 
        if(from < 1){
          from = 1;
        }

        var to = from + (this.offset * 2); 
        if(to >= this.pagination.last_page){
          to = this.pagination.last_page;
        }

        var pagesArray = [];
        while(from <= to){
          pagesArray.push(from);
          from++;
        }
        return pagesArray;
		  }
    },
}
</script>
<style scoped>
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color:#1B96B8;
  color: #fff;
}
.validacion {
  color: rgb(255, 0, 0);
}
</style>