<template>
  <div>
    <div class="box box-primary shadow">
      <div class="box-header with-border">
        <div class="row" v-if="moduloElegido==null">  
          <div class="col-md-1">
            <h4>Reportes</h4>
            </div>        
          <div class="col-md-3 form-group">
            <label for="tipo">Seleccione el tipo de reporte:</label>
            <v-select v-model="moduloElegido" :options="modulo" :filterable='true'>
							<div slot="no-options">No hay opciones!</div>
              <template #search="{attributes, events}">
                <input class="vs__search" :required="!moduloElegido" v-bind="attributes" v-on="events" />
              </template>
            </v-select>
          </div>
        </div>
        <div class="row" v-if="moduloElegido!=null">
          <div class="col-md-4">
            <h4 >Reporte {{moduloElegido}}</h4>
          </div>
          <div class="col-md-2 pull-right">            
            <button type="button" class="btn btn-success pull-right" @click="moduloElegido=null">
              <i class="fa fa-home"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="box-body">
        <template v-if="moduloElegido=='Ventas'">
          <reporteVentas />
        </template>
        <template v-if="moduloElegido=='Pedidos'">
          <reportePedidos />
        </template>
         <template v-if="moduloElegido=='Donativos'">
          <reporteDonativos />
        </template>				
        <template v-if="moduloElegido=='General'">
          <reporteGeneral />
        </template>
      </div>
    </div>
  </div>
</template>
<script>
  import reporteVentas from '../reportes/reporteVentas.vue'
  import reportePedidos from '../reportes/reportePedidos.vue'
  import reporteDonativos from '../reportes/reporteDonativos.vue'
  import reporteGeneral from '../reportes/reporteGeneral.vue'
  export default {
    components: {
      reporteVentas,
      reportePedidos,
      reporteDonativos,
      reporteGeneral
    },
    data() {
      return {
        opciones: true,
        modulo: ["Ventas", "Pedidos", "Donativos","General"],
        moduloElegido: null,
      }
    },
    methods: {

    },
  }
</script>