<template>
  <div>
    <div class="row">
      <div class="col-md-2 pull-right">
        <button v-show="!opciones" type="button" class="btn btn-danger pull-right" @click="resetDatos()">
          <i class="fa fa-window-close"></i>
        </button>
      </div>
    </div>
    <div v-if="opciones" class="row">
      <form v-on:submit.prevent="getDatos()">        
        <div class="form-group col-md-2">
          <label for="tipo">Tipo: </label><br>
          <v-select v-model="tipoReporte.tipo" :options="tipo" label="label" :reduce="tipo=>tipo.value" :filterable='true'>
						<div slot="no-options">No hay opciones!</div>
            <template #search="{attributes, events}">
              <input class="vs__search" :required="!tipoReporte.tipo" v-bind="attributes" v-on="events" />
            </template>
          </v-select>
        </div>
        <div v-if="tipoReporte.tipo=='mensual'" class="form-group col-md-2">
          <label for="meses">Mes: </label><br>
          <v-select v-model="tipoReporte.mes" :options="meses" label="label" :reduce="mes=>mes.value" :filterable='true'>
						<div slot="no-options">No hay opciones!</div>
            <template #search="{attributes, events}">
              <input class="vs__search" :required="!tipoReporte.mes" v-bind="attributes" v-on="events" />
            </template>
          </v-select>
        </div>
        <div v-if="tipoReporte.tipo=='bimestral'" class="form-group col-md-3">
          <label for="bimestres">Bimestre: </label><br>
          <v-select v-model="tipoReporte.bimestre" :options="bimestres" label="label" :reduce="bimestre=>bimestre.value" :filterable='true'>
						<div slot="no-options">No hay opciones!</div>
            <template #search="{attributes, events}">
              <input class="vs__search" :required="!tipoReporte.bimestre" v-bind="attributes" v-on="events" />
            </template>
          </v-select>
        </div>
        <div v-if="tipoReporte.tipo=='trimestral'" class="form-group col-md-3">
          <label for="trimestres">Trimestre: </label><br>
          <v-select v-model="tipoReporte.trimestre" :options="trimestres" label="label" :reduce="trimestre=>trimestre.value" :filterable='true'>
						<div slot="no-options">No hay opciones!</div>
            <template #search="{attributes, events}">
              <input class="vs__search" :required="!tipoReporte.trimestre" v-bind="attributes" v-on="events" />
            </template>
          </v-select>
        </div>
        <div v-if="tipoReporte.tipo=='semestral'" class="form-group col-md-3">
          <label for="semestres">Semestre: </label><br>
          <v-select v-model="tipoReporte.semestre" :options="semestres" label="label" :reduce="semestre=>semestre.value" :filterable='true'>
						<div slot="no-options">No hay opciones!</div>
            <template #search="{attributes, events}">
              <input class="vs__search" :required="!tipoReporte.semestre" v-bind="attributes" v-on="events" />
            </template>
          </v-select>
        </div>
        <div class="form-group col-md-2">
          <label for="anios">Año: </label><br>
          <v-select v-model="tipoReporte.anio" :options="anios" :filterable='true'>
						<div slot="no-options">No hay opciones!</div>
            <template #search="{attributes, events}">
              <input class="vs__search" :required="!tipoReporte.anio" v-bind="attributes" v-on="events" />
            </template>
          </v-select>
        </div>
        <div class="form-group col-md-2">
          <label for="anios"> </label><br>
          <button type="submit" class="btn btn-success">Buscar</button>
        </div>
		 <div class="row" v-if="descargar==false">     
      <div class="col-md-12 ">
        <button class="pull-right btn btn-success xs" style="margin-right:10px;" @click="enviar">Descargar pdf</button>
      </div>
    </div>
      </form>
    </div>
  <!--   <div class="row" v-if="opciones==false">     
      <div class="col-md-12 ">
        <button class="pull-right btn btn-success xs"  @click="enviar">Descargar pdf</button>
      </div>
    </div> -->
  </div>
</template>
<script>
// import IEcharts from 'vue-echarts-v3/src/full.js';
 import moment from 'moment';
  export default {
    /*  components: {
      IEcharts,
    }, */
    mounted() {
      axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");    
      this.getAnios();
    },
    data() {
      return {
        descargar:true,
				periodo:'',
				datos:{'ventas':0,'pedidos':0,'donativos':0,'costov':0,'costop':0,'costod':0,'costos':0},
				ganancias:{'ingresosVentas':0,'ingresosPedidos':0,'gananciasVentas':0,'gananciasPedidos':0,'costoProduccion':0,'ganancias':0},
        opciones:true,        
        tipo:[{label:"Mensual",value:"mensual"},{label:"Bimestral",value:"bimestral"},{label:"Trimestral",value:"trimestral"},{label:"Semestral",value:"semestral"},{label:"Anual",value:"anual"}],
        meses: [{value:1,label:"Enero"}, {value:2,label:"Febrero"}, {value:3,label:"Marzo"}, {value:4,label:"Abril"}, {value:5,label:"Mayo"}, {value:6,label:"Junio"}, {value:7,label:"Julio"}, {value:8,label:"Agosto"}, {value:9,label:"Septiembre"}, {value:10,label:"Octubre"}, {value:11,label:"Noviembre"}, {value:12,label:"Diciembre"}],        
        bimestres:[{value:1,label:"Enero-Febrero"},{value:2,label:"Marzo-Abril"},{value:3,label:"Mayo-Junio"},{value:4,label:"Julio-Agosto"},
                  {value:5,label:"Septiembre-Octubre"},{value:6,label:"Noviembre-Diciembre"}],
        trimestres:[{value:1,label:"Enero-Marzo"},{value:2,label:"Abril-Junio"},{value:3,label:"Julio-Septiembre"},{value:4,label:"Octubre-Diciembre"}],
        semestres:[{value:1,label:"Enero-Junio"},{value:2,label:"Julio-Diciembre"}],
        anios:[],        
        tipoReporte:{         
          tipo:null,
          mes:null,
          bimestre:null,
          trimestre:null,
          semestre:null,
          anio:null,
          },
        ///reportepedidos
        /* datospedidos:{
          pedidos:[],
          costoProduccion:0,
        }, */
      }
    },
    methods: {
      getDatos() {
       this.descargar=false;
      
        var url = '/panaderia/reportes/general';
				block();
				//this.setTitulos(this.tipoReporte.tipo);
				console.log('Respuesta: ',this.tipoReporte)
        axios.post(url,this.tipoReporte).then(respuesta => {  
					console.log('Respuesta: ',respuesta.data)
					/* this.datos.ventas=respuesta.data.ventas;
					this.datos.pedidos=respuesta.data.pedidos;
					this.datos.donativos=respuesta.data.donativos; */
					if(respuesta.data.donativos.length && respuesta.data.pedidos.length && respuesta.data.ventas.length){
						this.datos.costod=respuesta.data.costoDonativos.costoDonativos;
						respuesta.data.donativos.forEach(element => {
				    this.datos.donativos+=element.donativos;    
					}); 
					this.datos.costop=respuesta.data.costoPedidos.costoPedidos;
						respuesta.data.pedidos.forEach(element => {
					this.datos.pedidos+=element.pedidos;   
					this.ganancias.ingresosPedidos = element.total;    
					});  
					this.datos.costov=respuesta.data.costoVentas.costoVentas;
						respuesta.data.ventas.forEach(element => {
						this.datos.ventas+=element.ventas; 
						this.ganancias.ingresosVentas = element.total;     
				  }); 
											
					this.datos.costos=respuesta.data.costos;
					this.ganancias.gananciasVentas= this.ganancias.ingresosVentas-this.datos.costov;
				  this.ganancias.gananciasPedidos= this.ganancias.ingresosPedidos-this.datos.costop;
				  this.ganancias.ganancias = this.ganancias.gananciasVentas+ this.ganancias.gananciasPedidos+this.datos.costos[0].costos;
				  this.ganancias.costoProduccion=this.datos.costov+this.datos.costop+this.datos.costod;
          
					this.setTitulos(this.tipoReporte.tipo);			
					unblock();
					}
			/* 	 	else if(!respuesta.data.donativos.length){
						this.datos.costop=0;
						this.datos.pedidos=0;
						this.datos.costos=respuesta.data.costos;
         
					this.setTitulos(this.tipoReporte.tipo);			
					unblock();
					}  */
					else{
					this.descargar=true;
					swal({type: 'info',title: 'No existen resultados para este periodo.'})
          unblock();}
        }).catch(error => {
          console.log(error)          
          unblock();
        }); 
			},

      formatFecha(date) {
        return moment(date).format('DD/MM/YYYY');
      },
      resetDatos(){
        this.tipoReporte={         
          tipo:null,
          mes:null,
          bimestre:null,
          trimestre:null,
          semestre:null,
          anio:null,
          };
        this.opciones=true;
      },
     
    getAnios(){
      this.anios=[];
      axios.get('/panaderia/reportes/anios').then(respuesta=>{
        respuesta.data.forEach(dato=>{
          this.anios.push(dato.anio);
        });
      }).catch(error=>{
        console.log(error)
      });
		},
		 alertaEspere() {
      let timerInterval
      Swal.fire({
        title: 'Espere un momento',
        html: 'Estamos procesando su solicitud',
        timer: 2500,
        onBeforeOpen: () => {
          Swal.showLoading()
          timerInterval = setInterval(() => {
            Swal.getContent().querySelector('strong')

          }, 100)
        },
        onClose: () => {
          clearInterval(timerInterval)
        }
      }).then((result) => {
        if (
          // Read more about handling dismissals
          result.dismiss === Swal.DismissReason.timer
        ) {}
      })
    },
		  enviar() {
			console.log(this.tipoReporte.tipo)
			console.log(this.datos)
			console.log(this.ganancias)
      this.alertaEspere();
      axios({
        method: 'post',
        url: '/panaderia/reportes/general/pdf',
        responseType: 'arraybuffer',
        data: {         
          periodo:this.periodo,
          ventas:this.datos.ventas,
					pedidos:this.datos.pedidos,
					donativos:this.datos.donativos,
					costoVentas:this.datos.costov,
					costoPedidos:this.datos.costop,
					costoDonativos:this.datos.costod,
					ingresosPedidos:this.ganancias.ingresosPedidos,
					ingresosVentas:this.ganancias.ingresosVentas,		
					gananciasVentas:this.ganancias.gananciasVentas,
					gananciasPedidos:this.ganancias.gananciasPedidos,
					ganancias:this.ganancias.ganancias,
					costoProduccion:this.ganancias.costoProduccion,
					costos:this.datos.costos[0].costos			          
        },
        headers: {
          Accept: 'application/pdf',
        },
      }).then(response => {

     
        console.log(response);
        let blob = new Blob([response.data], {
          type: 'application/pdf'
        });

        let link = document.createElement('a');
        link.href = window.URL.createObjectURL(blob);
        link.download = 'Reporte.pdf';
        link.click();
      })

    },
    setTitulos(tipo){
        let titulo='';
        let periodo=null;
        switch (tipo) {
          case 'mensual':
            periodo=this.meses.find(element=> {
              return element.value===this.tipoReporte.mes;
            });
            titulo='Reporte general de '+periodo.label+' del '+this.tipoReporte.anio;
            this.periodo=periodo.label+' del '+this.tipoReporte.anio;
            break;
          case 'bimestral':
             periodo=this.bimestres.find(element=> {
              return element.value===this.tipoReporte.bimestre;
            });
            titulo='Reporte general de '+periodo.label+' del '+this.tipoReporte.anio;
            this.periodo=periodo.label+' del '+this.tipoReporte.anio;
            break;  
          case 'trimestral':
            periodo=this.trimestres.find(element=> {
              return element.value===this.tipoReporte.trimestre;
            });
            titulo='Reporte general de '+periodo.label;  
            this.periodo=periodo.label+' del '+this.tipoReporte.anio;
            break;  
          case 'semestral':
            periodo=this.semestres.find(element=> {
              return element.value===this.tipoReporte.semestre;
            });
            titulo='Reporte general de '+periodo.label+' del '+this.tipoReporte.anio;
            this.periodo=periodo.label+' del '+this.tipoReporte.anio;
            break;
          case 'anual':
            titulo='Reporte general del '+this.tipoReporte.anio;
            this.periodo=this.tipoReporte.anio;
            break;          
        }
        
      },
    },       
    
  }
</script>
<style scoped>

</style>
