<template>
  <div class="crear-tramite">
    <div class="col-sm-12">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active show" data-toggle="tab" href="#home2" role="tab" aria-controls="home" aria-selected="true">
            <i class="icon-calculator"></i>Trámite
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#viatico" role="tab" aria-controls="profile" aria-selected="false">
            <i class="icon-basket-loaded"></i>Viático
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile" aria-selected="false">
            <i class="icon-basket-loaded"></i>Gastos
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active show" id="home2" role="tabpanel">
          <div class="row mt-1">
            <div class="col-sm-12 d-flex justify-content-end">
              <label for="" class="mr-1">Herramientas:</label>
              <button class="btn btn-primary btn-sm" @click.prevent="cargarFondo"><i class="fa fa-refresh"></i> Fondo</button>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="area">Tipo de Pago:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-file-text-o"></i>
                  </span>
                </div>
                <input class="form-control" type="text" v-model="tipopago" disabled name="tipopago" v-validate="'required'">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <label for="tramite">Tipo Trámite</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-car"></i>
                  </span>
                </div>
                <select class="form-control" name="Trámite" v-model="datos.tramite" v-validate="'required'">
                  <option v-for="tramite in tramites" :key="tramite.id" :value="tramite.id">{{tramite.nombre}}</option>
                </select>
              </div>
              <span class="invalid-feedback">{{ errors.first('Trámite') }}</span>  
            </div>
          </div>

          <!-- <Empleado></Empleado> -->
          <div class="form-group row">
            <div class="col-sm-12 col-md-9">
              <label for="area">Empleado:</label>
              <multiselect 
                :class="errors.first('Empleado') ? 'is-invalid': ''" 
                v-model="datos.solicitante_empleado_id"
                :options="empleados"
                value="'id'"
                label="nombre_completo"
                name="Empleado"
                v-validate="'required'"
                :internal-search="false"
                :preserve-search="false"
                :clear-on-select="true"
                @search-change="buscarEmpleado"
                :block-keys="['Delete']"
                placeholder="Selecciona">
                  <template slot="noOptions">Comience a escribir para buscar.</template>
                  <template slot="noResult"><em style="color:red;">Si no encuentra el empleado, agreguelo</em></template>
                </multiselect>
              <span class="invalid-feedback">{{ errors.first('Empleado') }}</span>
            </div>
            <div class="col-sm-12 col-md-3">
              <label for="">Agrégalo sino esta</label>
              <button class="btn btn-secondary btn-block" type="button" data-toggle="modal" data-target="#empleadoModal">Nuevo Empleado</button>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <label for="Clave Presupuestal">Clave Presupuestal:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-file-text-o"></i>
                  </span>
                </div>
                <input class="form-control" type="text" v-model="datos.clavepresupuestal_id" readonly name="Clave Presupuestal" v-validate="'required'">
              </div>
              <span class="invalid-feedback">{{ errors.first('Clave Presupuestal') }}</span>
              <span class="invalid-feedback">{{errors.first('Clave Presupuestal') ? 'Comuniquese con Administración y Finanzas para asignarle su Clave Presupuestal' : ''}}</span>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <label class="col-form-label" for="appendedInputButton">Programa:</label>
              <multiselect :class="errors.first('Programa') ? 'is-invalid': ''" v-model="datos.programa_id" :options="programas" name="Programa" v-validate="'required'" label="nombre" :internal-search="false" :preserve-search="false" :clear-on-select="true" @search-change="buscarPrograma" :block-keys="['Delete']" placeholder="Selecciona">
                <template slot="noOptions">Comience a escribir para buscar.</template>
                <template slot="noResult"><em style="color:red;">No tenemos registros con lo que busca</em></template>
              </multiselect>
              <span class="invalid-feedback">{{ errors.first('Programa') }}</span>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <label for="area">Objeto de la comisión:</label>
              <textarea :class="['form-control', errors.first('Descripcion') ? 'is-invalid' : '']" rows="4" v-model="datos.descripcion" name="Descripcion" v-validate="'required|max:255'"></textarea>
              <span class="invalid-feedback">{{ errors.first('Descripcion') }}</span>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <label for="area">Autorizo:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <input :class="['form-control', errors.first('Autorizo') ? 'is-invalid' : '']" type="text" v-model="datos.autorizo" readonly name="Autorizo" v-validate="'required'">
              </div>
              <span class="invalid-feedback">{{ errors.first('Autorizo') }}</span>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="area">Vo Bo:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-user-circle-o"></i>
                  </span>
                </div>
                <input :class="['form-control', errors.first('Visto Bueno') ? 'is-invalid' : '']" type="text" v-model="datos.vobo" readonly name="Visto Bueno" v-validate="'required'"> 
              </div>
              <span class="invalid-feedback">{{ errors.first('Visto Bueno') }}</span>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="viatico" role="tabpanel">
          <div class="form-group row">
            <div class="col-sm-6">
              <label for="estatal" class="cursor">Estatal</label>
              <br>
              <label class="switch switch-label switch-pill switch-outline-danger-alt">
                <input class="switch-input" type="checkbox" checked="" v-model="datos.estatal" name="estatal" id="estatal">
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
            <div class="col-sm-6">
              <label for="nacional" class="cursor">Nacional</label>
              <br>
              <label class="switch switch-label switch-pill switch-outline-danger-alt">
                <input class="switch-input" type="checkbox" checked="" v-model="nacional" name="nacional" id="nacional">
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 col-md-4">
              <label for="col-form-label">Fecha de Salida</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <datepicker :language="es" v-model="fecha_salida" :format="customFormatter" name="Fecha Salida" v-validate="'required'"></datepicker>
                <span class="invalid-feedback">{{ errors.first('Fecha Salida') }}</span>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <label for="col-form-label">Fecha de Regreso</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <datepicker :language="es" v-model="fecha_regreso" :format="customFormatter" name="Fecha Regreso" v-validate="'required'"></datepicker>
                <span class="invalid-feedback">{{ errors.first('Fecha Regreso') }}</span>
                <input type="hidden" v-model="numDias" name="Dias" v-validate="'required|numeric|min_value:1'">
                <span class="invalid-feedback">{{ errors.first('Dias') }}</span>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <label for="">Num Días</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <input :class="['form-control', errors.first('Dias') ? 'is-invalid' : '']" type="text" v-model="numDias" readonly>
                <span class="invalid-feedback">{{ errors.first('Dias') }}</span>
              </div>
            </div>
          </div>
          <div class="form-group row" v-show="viatico.estatal">
            <div class="col-sm-12">
              <label for="col-form-label">Municipio de Salida</label>
              <multiselect :class="errors.first('Municipio de Salida') ? 'is-invalid': ''" v-model="origen_municipio" :options="origenes" value="'id'" label="nombre" name="Municipio de Salida" v-validate="viatico.estatal ? 'required' : ''" :internal-search="false" :preserve-search="false" :clear-on-select="true" @search-change="buscarMunicipioOrigen" :block-keys="['Delete']" placeholder="Selecciona">
                <template slot="noOptions">Comience a escribir para buscar.</template>
                <template slot="noResult"><em style="color: #F2698D;">No tenemos registro con lo que estas buscando</em></template>
              </multiselect>
              <span class="invalid-feedback">{{ errors.first('Municipio de Salida') }}</span>
            </div>
          </div>
          <div class="form-group row" v-show="viatico.estatal">
            <div class="col-sm-12">
              <label for="col-form-label">Municipio Destino</label>
              <multiselect v-model="municipiosDestino" id="municipiosDestino" label="nombre" track-by="id" placeholder="Escriba para buscar" open-direction="bottom" :options="destinos" :multiple="true" :searchable="true" :loading="buscandoMunicipios" :internal-search="false" :clear-on-select="true" :close-on-select="false" :options-limit="300" :limit="3" :limit-text="limitText" :max-height="600" :show-no-results="false" :hide-selected="false" @search-change="buscarMunicipioDestino" @remove="eliminarLocalidad">
                <template slot="tag" slot-scope="{ option, remove }">
									<span class="custom__tag">
										<span>{{ option.nombre }}</span>
										<span class="custom__remove" @click="remove(option)">
											<i class="fa fa-close"></i>
										</span>
									</span>
								</template>
                <template slot="clear" slot-scope="props">
                  <div class="multiselect__clear" v-if="municipiosDestino.length" @mousedown.prevent.stop="clearAll(props.search)"></div>
                </template>
								<span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
                <template slot="noOptions">Comience a escribir para buscar.</template>
              </multiselect>
              <span class="invalid-feedback">{{ errors.first('Municipio Destino') }}</span>
            </div>
          </div>
          <div class="form-group row" v-show="viatico.estatal">
            <div class="col-sm-12">
              <label for="col-form-label">Localidad Destino</label>
              <multiselect
                :class="errors.first('Localidad') ? 'is-invalid': ''"
                name="Localidad"
                v-model="localidadesDestino" 
                :options="localidades" 
                :close-on-select="false"
                :clear-on-select="true"
                :preserve-search="false"
                placeholder="Busca o agrega la localidad"
                label="nombre"
                track-by="nombre"
                :preselect-first="false"
                :internal-search="false"
                @search-change="buscarLocalidadDestino"
                selectLabel="Enter para seleccionarlo"
                deselectLabel="Enter para deseleccionar"
                :taggable="false"
                tag-placeholder="Enter para agregar nueva presentación"
                @tag="agregarLocalidad" v-validate="viatico.estatal ? 'required' : ''"
                :block-keys="['Delete']"
                :multiple="true">
                  <template slot="noOptions">Comience a escribir para buscar.</template>
                  <template slot="noResult"><em style="color: #F2698D;">No tenemos registro con lo que estas buscando</em></template>
                </multiselect>
              <span class="invalid-feedback">{{ errors.first('Localidad') }}</span>
            </div>
          </div>
          <div class="form-group row" v-show="viatico.estatal == false">
            <div class="col-sm-12">
              <label for="col-form-label">Región Origen</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-bank"></i>
                  </span>
                </div>
                <select :class="['form-control', errors.first('Region Origen') ? 'is-invalid' : '']" v-model="viatico.region_origen" name="Region Origen" v-validate="viatico.estatal ?'' : 'required'">
                  <option v-for="region in viatico.regiones" :key="region.id" :value="region.id">{{region.nombre}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row" v-show="viatico.estatal == false">
            <div class="col-sm-12">
              <label for="col-form-label">Entidad Destino</label>
              <multiselect :class="errors.first('Entidad Destino') ? 'is-invalid': ''" v-model="viatico.entidad_destino" :options="viatico.entidades" value="'id'" label="destino" name="Entidad Destino" v-validate="!viatico.estatal ? 'required' : ''" :internal-search="false" :preserve-search="false" :clear-on-select="true" :block-keys="['Delete']" @search-change="buscarEntidadDestino" placeholder="Selecciona">
                <template slot="noOptions">Comience a escribir para buscar.</template>
                <template slot="noResult"><em style="color:red;">No tenemos registro con lo que estas buscando</em></template>
              </multiselect>
              <span class="invalid-feedback">{{ errors.first('Entidad Destino') }}</span>
            </div>
          </div>
          <div class="from-group row" v-show="viatico.estatal == false">
            <div class="col-sm-12">
              <label for="">Ciudad</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-building-o"></i>
                  </span>
                </div>
                <input type="text" class="form-control" name="Ciudad" v-model="viatico.ciudad" v-validate="!viatico.estatal ? 'required' : ''">
              </div>
              <span class="invalid-feedback">{{ errors.first('Ciudad') }}</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="Transporte">Transporte</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-car"></i>
                  </span>
                </div>
                <select class="form-control" name="Transporte" v-model="viatico.tipotransporte" v-validate="'required'">
                  <option v-for="transporte in transportes" :key="transporte.id" :value="transporte.id">{{transporte.nombre}}</option>
                </select>
              </div>
              <span class="invalid-feedback">{{ errors.first('Transporte') }}</span>  
            </div>
          </div>
          <div class="form-group row" v-show="viatico.tipotransporte == 4 || viatico.tipotransporte == 5">
            <div class="col-sm-12">
              <label for="Placas">{{viatico.tipotransporte == 4 ? 'Especifique' : 'Placas (Si no tiene escriba solo "S/N"'}}</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-car"></i>
                  </span>
                </div>
                <input class="form-control" :name="viatico.tipotransporte == 4 ? 'Especifique' : 'Placas'" v-model="viatico.placas" v-validate="viatico.tipotransporte == 4 || viatico.tipotransporte == 5 ? 'required|max:50' : ''"/>
              </div>
              <span class="invalid-feedback">{{ errors.first('Placas') }}</span>
              <span class="invalid-feedback">{{ errors.first('Especifique') }}</span>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <label for="presentarse">Presentarse Con</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input type="text" class="form-control" name="Presentarse Con" v-model="presentarseCon" v-validate="'required'">
              </div>
            </div>
          </div>

        </div>

        <div class="tab-pane" id="profile2" role="tabpanel">
          <div class="row py-2">
            <div class="col-sm-12 d-flex justify-content-end">
              <button class="btn btn-primary btn-sm" @click="cargarPartidas" :disabled="cargandoPartidas">
                <i class="fa fa-refresh"></i>
              </button>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-8">
              <label class="col-form-label" for="appendedInputButton">Partida (s):</label>
              <multiselect v-model="partida_id" :options="partidas" label="etiqueta" :internal-search="true" :preserve-search="false" :clear-on-select="true" selectLabel="Enter para seleccionar" deselectLabel="Enter para deseleccionar" :showNoOptions="false" :block-keys="['Delete']" placeholder="Selecciona">
                <template slot="noOptions">Comience a escribir para buscar.</template>
                <template slot="noResult"><em style="color:red;">No tenemos registro con lo que estas buscando</em></template>
              </multiselect>
            </div>
            <div class="col-sm-4">
              <label class="col-form-label" for="appendedInputButton">Monto:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-usd"></i>
                  </span>
                </div>
                <input class="form-control" type="text" v-model="cantidad_partida">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-8">
              <label for="area">Descripción:</label>
              <textarea class="form-control" rows="6" v-model="partida_id.concepto"></textarea>
            </div>
            <div class="col-sm-4 d-flex flex-column">
              <label class="w-100" for="">Agregar:</label>
              <button class="btn btn-primary w-100" @click="agregarGasto({partida_id: partida_id.id, numero: partida_id.partida_especifica_c, etiqueta: partida_id.partida_especifica, monto: parseFloat(cantidad_partida)}, true)"><i class="fa fa-plus"></i> Gasto</button>
            </div>
          </div>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">Partida</th>
                <th class="text-center">Monto ($)</th>
                <th class="text-center">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="gasto in gastos" :key="gasto.partida_id">
                <td class="text-center">{{gasto.numero}}</td>
                <td class="text-center">{{gasto.etiqueta}}</td>
                <td class="text-center">{{gasto.monto}}</td>
                <td class="text-center"><button class="btn btn-danger btn-sm" @click.prevent="eliminarGastoTabla(gasto)" v-if="gasto.partida_id != 121"><i class="fa fa-trash"></i></button></td>
              </tr>
            </tbody>
          </table>
          
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="">Total:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-usd"></i>
                  </span>
                </div>
                <input :class="['form-control', errors.first('Monto Total') ? 'is-invalid' : '']" type="number" v-model="sumatoria" name="Monto Total" v-validate="'required_if:comidas,true|decimal'" disabled>
              </div>
              <span class="invalid-feedback">{{ errors.first('Monto Total') }}</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import myMixin from './../../mixins';

export default {
  name: 'CrearTramite',
  mixins: [myMixin],
  data: () => ({
    cuota: null,
    empleados: [{"id":82,"rfc":"VAPL9209223N9","persona_id":42440,"area_id":42,"nivel_id":7,"segundo_apellido":"","titular":0,"persona":{"id":42440,"nombre":"LUIS ALBERTO","primer_apellido":"VÁSQUEZ","segundo_apellido":"PÉREZ"},"nivel":{"id":7,"clave":"0J1702A","nivel":"JEFE DE DEPARTAMENTO","usuario_id":1},"area":{"id":42,"nombre":"DEPARTAMENTO DE DESARROLLO DE SISTEMAS","tipoarea_id":4,"padre_id":22,"siglas":"DDS","oficial":1,"usuario_id":1}}],
    gastos: [],
    programas: [{"id":608,"nombre":"COCINAS COMEDOR NUTRICIONAL COMUNITARIA","activo":0,"descripcion":null,"tipo":"SUBPROGRAMA","codigo":null,"fecha_inicio":null,"fecha_fin":null,"oficial":1,"usuario_id":91,"padre_id":607,"created_at":"2019-04-29 14:07:19","updated_at":"2019-04-29 14:07:19","deleted_at":null}],
    tipopago: 'VIATICO',
    tramites: [{id: 1, nombre: 'FONDO ROTATORIO'}, {id: 2, nombre: 'OTRO FONDO'}],
    datos: {
      autorizo: null, // int
      clavepresupuestal_id: null, // int
      descripcion: null, // string|255
      estatal: false, // bool
      fecha_salida: null, // string
      fecha_regreso: null, // string
      fondo_id: null, // int
      solicitante_empleado_id: null, // int
      programa_id: null, // int
      tramite: null, // int
      vobo: null, // int
    }
  }),
  computed: {
    numDias: () => moment(this.fecha_regreso).diff(moment(this.fecha_salida), 'days') + 1,
    nacional: {
			get: () => ! this.datos.estatal,
			set: (value) => {
        this.datos.estatal = ! this.datos.estatal;
        this.datos.entidad_destino = null;
			}
    }
  },
  mounted() {
    
  }
}
</script>>

<style lang="scss">
</style>