<template>
  <div> 
  <div class="col-md-12">
    <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h3 class="box-title">Agregar Productos</h3>     
        <div class="box-tools">
          <form v-on:submit.prevent="buscarOrdenCompra()" autocomplete="off">
          <div class="input-group input-group-sm" style="width: 180px;">            
            <input pattern="(RM|rm)-\b(OD|od)-\b([0-9]+)-\b[0-9]{4}" type="text" name="table_search" class="form-control pull-right" placeholder="Orden de Compra" v-model="busqueda" required title="Solo se permiten folios como RM-OD-000-2000">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>            
          </div>
          </form>
        </div>
      </div>
      <div class="box-body" v-if="folio">        
        <div class="col-md-12">
          <div class="box box-default">          
            <div class="box-body no-padding table-responsive">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th >Producto</th>
                    <th >Entrada</th>
                    <th >Presentación</th>                   
                    <th >Precio</th>
                    <th >Acciones</th>
                  </tr>
                  <tr v-for="(insumo,index) in insumosOD" :key="index">                        
                      <template v-if="!insumo.oculto">
                        <td>{{insumo.producto.nombre}}</td>
                        <td> {{insumo.entrada}}</td>
                        <td>{{insumo.presentacion.nombre}}</td>                        
                        <td>${{formatPesos(insumo.producto.precio)}}</td>          
                        <td>
                        <button class="btn btn-success btn-xs" @click.prevent="modalAgregar(index)"><i class="fa fa-plus"></i> Agregar</button>
                        </td>   
                      </template>       
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-12">
           <label for="selecionados" class="text-primary">Productos seleccionados: </label>
        </div>
        <div class="col-md-12">
          <div class="box box-default">          
            <div class="box-body no-padding table-responsive">
              <table class="table table-hover ">
                <tbody>
                  <tr>
                    <th >Producto</th>
                    <th >Entrada</th>
                    <th >Presentación</th>                   
                    <th >Caducidad</th>                   
                    <th >Lote</th>                   
                    <th >Precio Unitario</th> 
                    <th >Quitar</th> 
                  </tr>
                  <tr v-for="(insumo,index) in insumosPAN" :key="index">                        
                        <td>{{insumo.producto.nombre}}</td>
                        <td> {{insumo.entrada}}</td>
                        <td>{{insumo.presentacion.presentacion}}</td>                        
                        <td>{{insumo.caducidad}}</td> 
                        <td>{{insumo.lote}}</td> 
                        <td>${{formatPesos(insumo.precio_unitario)}}</td>  
                        <td><button type="button" class="btn btn-danger btn-xs" @click.prevent="quitarProducto(index)"><i class="fa fa-minus"></i> Quitar</button></td>                                
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <div class="col-md-12" v-if="folio">
          <a class="btn btn-primary" @click.prevent="guardar()">Guardar</a>      
          <a class="btn btn-warning" @click.prevent="cancelar()">Cancelar</a>          
        </div> 
      </div>
    </div>
  </div>
  <!---modal agregar --> 
  
  <div id="modalAgregarInsumo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalAgregar" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form method="POST" v-on:submit.prevent="agregarLista()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
            <h4 class="modal-title">Agregar Insumo</h4>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row" style="margin-top: 25px; margin-bottom: 25px;">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="insumo" class="text-primary">Insumo: </label>                   
                    <input class="form-control" type="text" name="insumo" v-model="seleccionado.producto.nombre" disabled>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="entrada" class="text-primary">Entrada: </label>
                    <input class="form-control" type="text" name="entrada" v-model="seleccionado.entrada" disabled>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="presentacionEntrada" class="text-primary">Presentacion: </label>
                    <input class="form-control" type="text" name="presentacionEntrada" v-model="seleccionado.presentacion.nombre" disabled>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="precio" class="text-primary">Precio: </label>                    
                    <input class="form-control" type="text" name="precio" v-model="seleccionado.producto.precio" disabled>
                  </div>
                </div>                
              </div>
              <div class="row" style="margin-bottom: 25px">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="cantidad" class="text-primary">Cantidad:</label>                   
                    <input v-validate="{required:true,decimal:3}" type="text" name="cantidad" class="form-control" placeholder="Cantidad" v-model="insumo.entrada">
                    <span class="validacion">{{ errors.first('cantidad') }}</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="presentacion" class="text-primary">Presentacion:</label>        
                    <v-select name="presentacion" v-validate="{required:true}" v-model="insumo.presentacion" :options="presentaciones" label="presentacion" :filterable='true'>
											<div slot="no-options">No hay opciones!</div>
										</v-select>
                    <span class="validacion">{{ errors.first('presentacion') }}</span>
                  </div>
                </div>                
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="precioU" class="text-primary">Precio Unitario:</label>        
                    <input type="text" name="precioU" class="form-control" v-model="precio_u" disabled>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-bottom: 10px">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="caducidad" class="text-primary">Fecha de Caducidad:</label>
                    <date-picker :editable="false" :not-before="fechaActual" style="width: 100%;" v-validate="'required'" name="caducidad" v-model="insumo.caducidad" lang="es" valueType="format" format="DD-MM-YYYY"></date-picker>                    
                    <span class="validacion">{{ errors.first('caducidad') }}</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lote" class="text-primary">Lote:</label>   
                    <input v-validate="{required:true,numeric:true}" data-vv-as="lote" type="text" name="lote" class="form-control" placeholder="Num. de lote" v-model="insumo.lote">                
                    <span class="validacion">{{ errors.first('lote') }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">            
            <button type="submit" class="btn btn-success">Agregar</button>
            <button class="btn btn-danger" value="Cancelar" data-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--fin modal-->
  </div>
</template>
<script>
export default {
  data() {
    return { 
      fechaActual:null,           
      presentaciones:[],            
      busqueda:'',
      folio:null,
      insumo:{index:'',producto:'',entrada:'0',presentacion:null,caducidad:'',lote:'',precio_unitario:'',folio_compra:''},
      insumosOD:[],
      insumosPAN:[],
      seleccionado:{producto:'',entrada:'',presentacion:'',precio:''},
      datos:[],
    }
  },
  methods: {
    buscarOrdenCompra(){  
      this.resetDatos();  
      this.$validator.reset();    
      var uri="/panaderia/insumo/existe/"+this.busqueda;
      //verificar si existe la orden de compra
      block();
       axios.get(uri).then(respuesta=> {                 
        if(!respuesta.data.existencia){//si es falso no existe y se busca la orden de compra
          this.presentaciones=respuesta.data.presentaciones;
          //se busca la orden de compra
           var url = "/recmat/ordendecompra/"+sessionStorage.getItem('pan_token')+"/"+this.busqueda;
              axios.get(url).then(respuesta => {
                if (respuesta.data.length) {
                  this.folio = respuesta.data[0].folio;
                  this.datos = respuesta.data[0].productos;
                  this.tranformacion();
                  this.busqueda='';
                  unblock();
                } else{                  
									this.busqueda='';
									unblock();
                  swal({type: 'info',title: 'Orden de compra no encontrada', confirmButtonText:'Aceptar'});
                  }
              }).catch(function (error) {                
								unblock();
								this.busqueda='';
                console.log("Error " + error);								
								swal({type: 'error', title:'Ocurrió un error al consultar la orden de compra', confirmButtonText:'Aceptar'});
              })          
        }
        else{
          unblock();
          this.busqueda='';
          swal({type: 'info', title:'Insumos ya Agregados', text: 'Ingregar un folio de orden de compra diferente',  confirmButtonText:'Aceptar'});       
        }
      }).catch(function (error){    
        unblock();    
        console.log("Error "+error);
      })    
    },
    modalAgregar(index){ 
      this.$validator.reset();
      this.insumo={index:'',producto:'',entrada:'0',presentacion:{},caducidad:'',lote:'',precio_unitario:'',folio_compra:''};
      this.seleccionado={producto:'',entrada:'',presentacion:'',precio:''};
      console.log('Agregando insumos #'+index);      
      this.insumo.producto={
        id:this.insumosOD[index].producto.id,
        nombre:this.insumosOD[index].producto.nombre,
      };
      this.insumo.entrada=this.insumosOD[index].entrada;
      this.insumo.folio_compra=this.folio;
      this.insumo.index=index;      
      this.seleccionado.producto=this.insumosOD[index].producto;
      this.seleccionado.entrada=this.insumosOD[index].entrada;
      this.seleccionado.presentacion=this.insumosOD[index].presentacion;
      this.seleccionado.precio=this.insumosOD[index].producto.precio;
      $('#modalAgregarInsumo').modal('show');                      
    },
    tranformacion(){
     let me=this;
     this.datos.forEach(function (dato) {
       const insumo={
         producto:{
          id:dato.productos.producto.id,
          nombre:dato.productos.producto.producto,
          precio:dato.subtotal,
          },
        folio:me.folio,
        entrada:dato.cantidad,
        presentacion:{
          id:dato.productos.presentacion.id,
          nombre:dato.productos.presentacion.presentacion,                  
          },
        oculto:false,
        };
        me.insumosOD.push(insumo);
          }); 
      //me.datos=[];
    },
    resetDatos(){
      this.folio=null;      
      this.presentaciones=[]
      this.insumosOD=[];
      this.insumosPAN=[];
      this.datos=[];
    },  
    cancelar(){
      this.resetDatos();
    }, 
    agregarLista(){   
      if(this.insumo.presentacion==null||Object.getOwnPropertyNames(this.insumo.presentacion).length === 0)
      return
      this.$validator.validate().then( valid => {
      if(valid){       
      this.insumosPAN.push(this.insumo);      
      this.insumosOD[this.insumo.index].oculto=true;            
      $('#modalAgregarInsumo').modal('hide'); 
      this.insumo={index:'',producto:'',entrada:'0',presentacion:{},caducidad:'',lote:'',precio_unitario:'',folio_compra:''};
      this.seleccionado={producto:'',entrada:'',presentacion:'',precio:''};
      }
      })
    },
    quitarProducto(pos){      
      var indice=this.insumosPAN[pos].index;
      this.insumosOD[indice].oculto=false;      
      this.insumosPAN.splice(pos,1);
    },
    guardar(){
      if(this.insumosPAN.length==this.insumosOD.length){
      console.log('guardando....');
      block();
      axios.post('/panaderia/api/insumos', {
      insumos:this.insumosPAN,  
      }).then( respuesta => {
                  console.log('insumos guardados');
                  console.log(respuesta.data);
                  unblock();                  
                  this.cancelar();               									
									swal({type: 'success',title: 'Insumos guardados correctamente', confirmButtonText:'Aceptar'});
              }).catch( error => {
                  console.log('Ocurrio un error');
                  console.log(error);
                  unblock();									
									swal({type: 'error',title: 'Ocurrió un error al guardar los insumos', confirmButtonText:'Aceptar'});
              });
      }
      else{
				swal({type: 'warning',title: 'Debe agregar todos los productos.', confirmButtonText:'Aceptar'});
      }
  },
  formatPesos(n) {
            return new Intl.NumberFormat("en-ES").format(n);
  },
  },  
  computed: {
    precio_u(){
      try{        
        this.insumo.precio_unitario=(this.seleccionado.precio/this.insumo.entrada);
        if(isNaN(this.insumo.precio_unitario)||this.insumo.precio_unitario== Number.NEGATIVE_INFINITY||this.insumo.precio_unitario==Number.POSITIVE_INFINITY)
        return 0;
        return parseFloat(this.insumo.precio_unitario).toFixed(3);
      }
      catch(error){
        return 0;
      }     
    }
  },
  mounted() {
    this.fechaActual=new Date();
    axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");
  },
}
</script>
<style scoped>
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color:#1B96B8;
  color: #fff;
}
input{
  border-radius: 4px;
}

.mx-calenda.mx-calendar-panel-date{
  float:left;
}
.validacion {
  color: rgb(255, 0, 0);
}

</style>