<template>
  <div>
    <div class="">
      <div class="box box-primary shadow">
        <div class="box-header with-border">
          <h3 class="box-title">Insumos del Taller de Panadería</h3>
					<a  title="Imprimir PDF" @click="pdf()" class="btn btn-success btn-xs pull-right"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Imprimir PDF</a>
        </div>
        <div class="box-body">
          <v-client-table :data="tableData" :columns="columns" :options="options">     
            <div slot="insumo" slot-scope="props">
              {{props.row.insumo.producto}}
            </div>
            <div slot="fecha_caducidad" slot-scope="props">
              {{formatFecha(props.row.fecha_caducidad)}}
            </div>
            <div slot="presentacion" slot-scope="props">
              {{props.row.presentacion.presentacion}}
            </div>
            <div slot="precio_unitario" slot-scope="props">
              ${{formatPesos(props.row.precio_unitario)}}
            </div>
          </v-client-table>
          <!-- <div style="margin-bottom: 20px;">
            <div class="row">
              <div class="col-md-5">
                <label for="buscar">Buscar Insumo:</label>
                <div class="input-group input-group-sm" style="width: 220px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Insumo" v-model="busqueda" @keyup.enter="buscarInsumo()">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search" @click.prevent="buscarInsumo()"></i></button>
                  </div>
                  <div class="input-group-btn">
                    <button style="margin-left: 4px;" type="button" class="btn btn-warning outline" @click.prevent="refrescar()">
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-md-offset-5">
                <label for="items">Elementos por Página:</label>
                <v-select :searchable="false" :clearable="false" v-model="pagination.per_page" :options="itemsPerPage" @input="listadoExistencias()"></v-select>
              </div>
            </div>
          </div>
          <div class="box box-default">
            <div class="box-body no-padding table-responsive">
              <table class="table table-hover table-bordered">
                <thead>
                  <th>Insumo</th>
                  <th>Folio de Compra</th>
                  <th>Entrada</th>
                  <th>Caducidad</th>
                  <th>Lote</th>
                  <th>Stock</th>
                  <th>Presentacion</th>
                  <th>Precio Unitario</th>
                </thead>
                <tbody>
                  <tr v-for="(insumo, index) in listaExistencias" :key="index">
                    <td>{{insumo.insumo.producto}}</td>
                    <td>{{insumo.folio_ordencompra}}</td>
                    <td>{{insumo.cantidad_entrada}}</td>
                    <td>{{formatFecha(insumo.fecha_caducidad)}}</td>
                    <td>{{insumo.lote}}</td>
                    <td>{{insumo.cantidad}}</td>
                    <td>{{insumo.presentacion.presentacion}}</td>
                    <td>${{formatPesos(insumo.precio_unitario)}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-12" align="center">
            <nav aria-label="navigation">
              <ul class="pagination">
                <li v-if="pagination.current_page > 1">
                  <a href="#" @click.prevent="changePage(pagination.current_page - 1)">
                    <span>Atras</span>
                  </a>
                </li>
                <li v-for="(page,index) in pagesNumber" :key="index" v-bind:class="[ page == isActived ? 'active' : '']">
                  <a href="#" @click.prevent="changePage(page)">
                    {{ page }}
                  </a>
                </li>

                <li v-if="pagination.current_page < pagination.last_page">
                  <a href="#" @click.prevent="changePage(pagination.current_page + 1)">
                    <span>Siguiente</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import moment from 'moment';
  export default {
    data() {
      return {
       /*  busqueda: '',
        listaExistencias: [],
        itemsPerPage: [10, 25, 50],
        pagination: {
          'total': 0,
          'current_page': 1,
          'per_page': 10,
          'last_page': 0,
          'from': 0,
          'to': 0
        },
        offset: 3, */
        //propiedades de la tabla           
            columns: ['insumo','folio_ordencompra','cantidad_entrada','fecha_caducidad','lote','cantidad',
                    'presentacion','precio_unitario'],
            tableData:[],
            //opciones de la tabla donde se puede modificar las etiquetas de los elementos
            options: {
            headings: {insumo: 'Insumo',folio_ordencompra:'Folio de Compra',cantidad_entrada:'Entrada',fecha_caducidad:'Caducidad',
                      lote:'Lote',presentacion:'Presentacion',precio_unitario:'Precio Unitario'},
            sortable:['insumo','folio_ordencompra','fecha_caducidad'],   
            filterable:['insumo','folio_ordencompra'],
            pagination: {
              dropdown: false,
              chunk: 10,
              edge: false,
              align: 'center',
              nav: 'fixed'
            },            
            perPageValues:[10,25,50,100],            
            texts: {
              count: "Mostrando {from} a {to} de {count} resultados|{count} resultados|Un resultado",
              first: 'First',
              last: 'Last',
              filter: "Buscar: ",
              filterPlaceholder: "Búsqueda",
              limit: "Resultados: ",
              page: "Page:",
              noResults: "No hay resultados",
              filterBy: "Filter by {column}",
              loading: 'Loading...',
              defaultOption: 'Select {column}',
              columns: 'Columns'
                }
            },
      }
    },
    methods: {
      listadoExistencias(){
        var url = '/panaderia/api/insumos';
        block();
        axios.get(url).then(respuesta => {
          console.log(respuesta.data)
          this.tableData = respuesta.data;          
          unblock();
        }).catch(error => {
					console.log('surgio un error ' + error)
					swal({type: 'error',title: 'Ocurrió un error al cargar los datos.', confirmButtonText:'Aceptar'});
          unblock();
        });
      },
      /* listadoExistencias(page) {
        console.log('Obteniendo Insumos...')
        var url = '/panaderia/api/insumos?page=' + page + '&per_page=' + this.pagination.per_page + '&insumo=' + this.busqueda;
        block();
        axios.get(url).then(respuesta => {
          console.log(respuesta.data)
          this.listaExistencias = respuesta.data.data;
          this.pagination.from = respuesta.data.from;
          this.pagination.last_page = respuesta.data.last_page;
          this.pagination.per_page = respuesta.data.per_page;
          this.pagination.to = respuesta.data.to;
          this.pagination.total = respuesta.data.total;
          unblock();
        }).catch(error => {
          console.log('surgio un error ' + error)
          unblock();
        });
      },
      buscarInsumo() {
        console.log('buscando Insumo')
        block()
        var url = '/panaderia/api/insumos?page=' + '1' + '&per_page=' + this.pagination.per_page + '&insumo=' + this.busqueda;
        axios.get(url).then(respuesta => {
          console.log(respuesta.data)
          this.listaExistencias = respuesta.data.data;
          this.pagination.from = respuesta.data.from;
          this.pagination.last_page = respuesta.data.last_page;
          this.pagination.per_page = respuesta.data.per_page;
          this.pagination.to = respuesta.data.to;
          this.pagination.total = respuesta.data.total;
          unblock()
        }).catch(error => {
          unblock()
          console.log('surgio un error ' + error)
        });

      },
      refrescar() {
        this.busqueda = '';
        this.listadoExistencias();
      }, */
      formatPesos(n) {
        return new Intl.NumberFormat("en-ES").format(n);
      },
      formatFecha(date) {
        return moment(date).format('DD/MM/YYYY');
			},
			pdf(){
					var url="/panaderia/reportes/insumos/reportePdf";
					var win = window.open(url, '_blank');
					win.focus();
				},
      /* changePage(page) {
        this.pagination.current_page = page;
        this.listadoExistencias(page);
      }, */
    },
    mounted() {
      axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");
      this.listadoExistencias();
    },
    /* computed: {
      isActived: function () {
        return this.pagination.current_page;
      },
      pagesNumber: function () {
        if (!this.pagination.to) {
          return [];
        }

        var from = this.pagination.current_page - this.offset;
        if (from < 1) {
          from = 1;
        }

        var to = from + (this.offset * 2);
        if (to >= this.pagination.last_page) {
          to = this.pagination.last_page;
        }

        var pagesArray = [];
        while (from <= to) {
          pagesArray.push(from);
          from++;
        }
        return pagesArray;
      }
    }, */
  }
</script>

<style scoped>

</style>