<template>
<div>
  <!--------------------Listado de producciones Pendientes------------------>
  <div v-show="!salida" class="col-md-12">
    <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h3 class="box-title">Salidas Pendientes</h3>
      </div>
      <div class="box-body">
        <v-client-table :data="tableData" :columns="columns" :options="options">
          <div slot="fecha_elaboracion" slot-scope="props">
            {{formatFecha(props.row.fecha_salida)}}
          </div>
          <div slot="salida" slot-scope="props">
            <button title="Generar Salida" class="btn btn-primary btn-xs" @click="getProduccion(props.row)">
              <i class="fa fa-external-link-square" aria-hidden="true"></i>
              Salida</button>
          </div>
        </v-client-table>
      </div>
      <div class="box-footer">
      </div>
    </div>
  </div>
  <!---------------------Listado de las recetas por produccion------------------------>
  <div v-show="salida" class="col-md-12">
    <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h3 class="box-title">Registrar Salidas</h3>
        <button type="button" class="btn btn-danger pull-right" @click="salirProduccion">
                    <i class="fa fa-window-close"></i>
                  </button>
      </div>
      <div class="box-body">
        <div class="box box-widget widget-user">
          <div class="box-header">
            <div class="row">
              <div class="col-sm-4">
                <div class="description-block">
                  <h5 class="description-header"><i class="fa fa-file-text" aria-hidden="true"></i> {{produccion.folio}}</h5>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="description-block">
                  <h5 class="description-header"><i class="fa fa-calendar"></i> {{formatFecha(produccion.fechaElaboracion)}}</h5>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="description-block">
                 <button @click="pdf()" v-show="todoListo" class="btn btn-primary btn-xs"><i class="fa fa-print" aria-hidden="true"></i> Imprimir</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box box-default">
          <div class="box-body no-padding">
            <table class="table table-hover table-bordered">
              <thead>
                <th>Receta</th>
                <th>Producto</th>
                <th>Cantidad a Elaborar</th>
                <th>Despachar Insumos</th>
              </thead>
              <tbody>
                <tr v-for="(item, index) in produccion.listaRecetas" :key="index">
                  <td>{{item.nombre}}</td>
                  <td>{{item.producto}}</td>
                  <td>{{item.cantidadElaborar}}</td>
                  <td>
                    <button title="Despachar Receta" v-show="!item.surtida" class="btn btn-primary btn-xs" @click="surtirReceta(index)">
                      <i class="fa fa-external-link-square" aria-hidden="true"></i>
                      Salida</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label v-if="indiceReceta!=null" for="">Ingredientes para la receta: {{produccion.listaRecetas[indiceReceta].nombre}}</label>
          </div>
        </div>
        <div class="box box-default" v-if="indiceReceta!=null">
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover table-bordered">
              <thead>                
                <th>Ingrediente</th>
                <th>Cantidad requerida</th>
                <th>Medida</th>
                <th>Estatus</th>
                <th>Despachar Insumos</th>
              </thead>
              <tbody>
                <tr v-for="(item, index) in produccion.listaRecetas[indiceReceta].ingredientes" :key="index">
                  <td>{{item.nombre}}</td>
                  <td>{{item.cantidad}}</td>                    
                  <td>{{getPresentacion(item.presentacion)}}</td>                
                  <td>
                    <span v-if="item.surtida" class="badge badge-success">Insumos Elegidos</span>
                    <span v-else class="badge badge-danger">Elegir Insumos</span>
                  </td>
                  <td>
                    <button class="btn btn-warning btn-xs" @click="agregarInsumos(index)">
                      <i class="fa fa-external-link-square" aria-hidden="true"></i>
                      Agregar Insumo</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="box-footer">
            <button class="btn btn-success" @click="generarSalidaReceta">Guardar</button>
            <button class="btn btn-danger" @click="cancelarSalidaReceta">Cancelar</button>
          </div>    
        </div>
      </div>
    </div>
  </div>  
  <!---------------------Modal Agregar Ingredientes-------------------------------------->
  <template v-if="renderModal">
    <form action="" v-on:submit.prevent="agregarIngredientes">
    <div id="modalIngredientes" class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">          
          <button type="submit" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="exampleModalLabel">Agregar Ingredientes:</h4>
        </div>
        <div class="modal-body">
          <div class="box box-primary shadow">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th style="width:30%"><i class="fa fa-id-card margin-r-5"></i>Ingrediente:</th>
                          <td>{{produccion.listaRecetas[indiceReceta].ingredientes[indiceIngrediente].nombre}}</td>
                        </tr>                                                                        
                      </tbody>
                    </table>
                  </div>
                </div>  
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th style="width:50%"><i class="fa fa-calendar margin-r-5"></i>Cantidad Requerida:</th>
                          <td>{{produccion.listaRecetas[indiceReceta].ingredientes[indiceIngrediente].cantidad}}
                              {{getPresentacion(produccion.listaRecetas[indiceReceta].ingredientes[indiceIngrediente].presentacion)}}
                          </td>
                        </tr>                                               
                      </tbody>
                    </table>
                  </div>
                </div>              
              </div>
              <div class="row" style="margin-left: 5px; margin-right: 5px;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
              <table class="table table-hover table-bordered">
                <thead>                
                  <th>Ingrediente</th>                                    
                  <th>Caducidad</th>
                  <th>Lote</th>
                  <!-- <th>Folio</th> -->
                  <th>Stock</th>
                  <th>Presentacion</th> 
                  <th>Precio Unitario</th>                 
                  <th>Salida</th> 
                  <th>Costo</th>
                  <th>Seleccionar</th>               
                </thead>
                <tbody>
                  <tr v-for="(item, index) in produccion.listaRecetas[indiceReceta].ingredientes[indiceIngrediente].salidas" :key="index">
                    <td>{{item.nombre}}</td>
                    <td>{{formatFecha(item.caducidad)}}</td>
                    <td>{{item.lote}}</td>
                    <!-- <td>{{item.folio}}</td> -->
                    <td>{{item.stock}}</td>  
                    <td>{{item.presentacion}}</td>                
                    <td>$ {{formatPesos(item.precio_unitario)}}</td>
                    <td>
                      <input v-if="item.presentacion=='KILOGRAMO'||item.presentacion=='LITRO'" @change="validaSalida(index)" class="form-control" v-model="item.salida" type="number" name="cantidad" id="inputCantidad" min="0" :max="item.stock" step="0.001" style="width: 100px" required>
                      <input v-if="item.presentacion=='PIEZA'||item.presentacion=='PIEZAS'" @change="validaSalida(index)" class="form-control" v-model="item.salida" type="number" name="cantidad" id="inputCantidad" min="0" :max="item.stock" step="1" style="width: 100px" required>
                    </td>
                    <td>
                      {{item.costo_salida}}
                    </td>
                    <td><toggle-button @change="verificarSeleccionados()" v-model="item.seleccionado" :sync="true" :value="item.seleccionado? true : false"/></td>
                  </tr>
                </tbody>
              </table>
            </div>
                </div>
              </div>
            </div>       
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger"><i class="fa fa-ban"></i> Cerrar</button>
        </div>
      </div>
    </div>
  </div>    
  </form>
  </template>  
</div>
</template>

<script>
import moment from 'moment';
export default {
    data() {
        return {            
            busqueda: '',
            salida: false,
            indiceReceta:null,
            indiceIngrediente:null,
            renderModal:false,
            presentaciones:[],
            produccion: {
                id: '',
                folio: '',
                fechaElaboracion: '',
                listaRecetas: []
            },
            //propiedades de la tabla           
            columns: ['id', 'folio', 'fecha_elaboracion', 'salida'],
            tableData: [],
            //opciones de la tabla donde se puede modificar las etiquetas de los elementos
            options: {
                headings: {
                    id: 'ID',
                    folio: 'Folio',
                    fecha_elaboracion: 'Fecha de Elaboración',
                    salida: 'Registrar Salida'
                },
                sortable: ['nombre', 'cantidad'],
                filterable: ['nombre'],
                pagination: {
                    dropdown: false,
                    chunk: 10,
                    edge: false,
                    align: 'center',
                    nav: 'fixed'
                },
                perPageValues: [10, 25, 50, 100],
                texts: {
                    count: "Mostrando {from} a {to} de {count} resultados|{count} resultados|Un resultado",
                    first: 'First',
                    last: 'Last',
                    filter: "Buscar: ",
                    filterPlaceholder: "Búsqueda",
                    limit: "Resultados: ",
                    page: "Page:",
                    noResults: "No hay resultados",
                    filterBy: "Filter by {column}",
                    loading: 'Loading...',
                    defaultOption: 'Select {column}',
                    columns: 'Columns'
                }
            },
        }
    },
    methods: {
        listadoProduccionesPendientes() {
            var url = '/panaderia/producciones/salidasPendientes';
            block();
            axios.get(url).then(respuesta => {
                this.tableData = respuesta.data.producciones;
                this.presentaciones=respuesta.data.presentaciones;
                unblock();
            }).catch(error => {
                console.log('surgio un error en ' + error)
                unblock();								
								swal({type: 'error',title: 'Ocurrió un error al cargar los datos.', confirmButtonText:'Aceptar'});
            });
        },
        listaInsumoPanaderia() {///no se usa por el momento
            var ur = "/panaderia/api/"
        },
        getProduccion(produccion) {//trae los productos productos que se haran con su receta y sus ingredientes
            this.salida = true;
            if(produccion.folio.includes('PAN-PG-')){
              var url = '/panaderia/producciones/productosProduccionProgramada/' + produccion.id;
            block()
            axios.get(url).then(respuesta => {
                this.produccion.id = respuesta.data.id;
                this.produccion.folio = respuesta.data.folio;
                this.produccion.fechaElaboracion = respuesta.data.fecha_elaboracion;
                respuesta.data.normal.programada.programados.forEach(datos => {
                    var listaIngredientes = [];
                    datos.receta.ingredientes.forEach(ingrediente => {
                        const insumo = {
                            id: ingrediente.id,
                            nombre: ingrediente.producto,
                            cantidad: this.calcularInsumo(datos.receta.porciones, ingrediente.pivot.cantidad, datos.pivot.cantidad),
                            presentacion: ingrediente.pivot.presentacion_id,
                            surtida:false,
                            salidas: []
                        }
                        listaIngredientes.push(insumo);
                    });
                    const receta = {
                        id: datos.receta.id,
                        producto_id:datos.id,
                        nombre: datos.receta.nombre,
                        producto: datos.nombre,
                        cantidadElaborar: datos.pivot.cantidad,
                        ingredientes: listaIngredientes,
                        surtida: false
                    };
                    this.produccion.listaRecetas.push(receta);
                });

                unblock()
            }).catch(error => {
                unblock()
                console.log('error en ' + error)								
								swal({type: 'error',title: 'Ocurrió un error al cargar los datos de producción.', confirmButtonText:'Aceptar'});
            });
            }
            if(produccion.folio.includes('PAN-SOL-')){
              var url = '/panaderia/producciones/productosProduccionSolicitud/' + produccion.id;
            block()
            axios.get(url).then(respuesta => {
                this.produccion.id = respuesta.data.id;
                this.produccion.folio = respuesta.data.folio;
                this.produccion.fechaElaboracion = respuesta.data.fecha_elaboracion;
                respuesta.data.solicitud.solicitud.detalles.forEach(datos => {
                    var listaIngredientes = [];
                    datos.receta.ingredientes.forEach(ingrediente => {
                        const insumo = {
                            id: ingrediente.id,
                            nombre: ingrediente.producto,
                            cantidad: this.calcularInsumo(datos.receta.porciones, ingrediente.pivot.cantidad, datos.pivot.cantidad),
                            presentacion: ingrediente.pivot.presentacion_id,
                            surtida:false,
                            salidas: []
                        }
                        listaIngredientes.push(insumo);
                    });
                    const receta = {
                        id: datos.receta.id,
                        producto_id:datos.id,
                        nombre: datos.receta.nombre,
                        producto: datos.nombre,
                        cantidadElaborar: datos.pivot.cantidad,
                        ingredientes: listaIngredientes,
                        surtida: false
                    };
                    this.produccion.listaRecetas.push(receta);
                });

                unblock()
            }).catch(error => {
                unblock()
                console.log('error en ' + error)								
								swal({type: 'error',title: 'Ocurrió un error al cargar los datos de producción.', confirmButtonText:'Aceptar'});
            });
            }
        },
        calcularInsumo(porcion, cantidadDefinida, cantidadSolicitada) {//se calcula la porcion de acuerdo a la cantidad de producto a elaborar y con la porcion de la receta
            var salida=(parseFloat(cantidadDefinida) / parseFloat(porcion)) * parseFloat(cantidadSolicitada);
            return salida.toFixed(2);
        },
        surtirReceta(index) {///se establece el indice de la receta que se va a surtir
          console.log(index)
          this.indiceReceta=index;          
        },
        agregarIngredientes(index){//una vez dado click en agregar el estado del ingrediente solicitado pasa a true          
          $('#modalIngredientes').modal('hide');
        },
        getPresentacion(id){//se busca la presentacion de cada ingrediente
          return this.presentaciones.find(pre => pre.id == id).presentacion;
        },
        agregarInsumos(index){//se buscan los insumos disponibles para el ingrediente solicitado
          var indice=index;
          this.indiceIngrediente=index;
          var id=this.produccion.listaRecetas[this.indiceReceta].ingredientes[indice].id;
          var url='/panaderia/insumos/disponibles/'+id;
          if(!this.produccion.listaRecetas[this.indiceReceta].ingredientes[indice].salidas.length)
          axios.get(url).then(respuesta=>{
            console.log(respuesta)
            respuesta.data.forEach(insu=>{
              const insumo={seleccionado:false,id:insu.id,nombre:insu.insumo.producto,
              caducidad:insu.fecha_caducidad,lote:insu.lote,folio:insu.folio_ordencompra,
              presentacion:insu.presentacion.presentacion,stock:insu.cantidad,salida:0,precio_unitario:insu.precio_unitario,costo_salida:0}
              this.produccion.listaRecetas[this.indiceReceta].ingredientes[indice].salidas.push(insumo);
            })
            this.renderModal=true;
            $('#modalIngredientes').modal('show');
            return
          }).catch(error=>{
            console.log('error en '+error)						
						swal({type: 'error',title: 'Ocurrió un error al buscar los ingredientes.', confirmButtonText:'Aceptar'});
          });
          this.renderModal=true;
            $('#modalIngredientes').modal('show');
        },
        generarSalidaReceta(){            
          Swal.fire({
                      title: 'Una vez generada la salida no podra revertir el proceso?',
                      text: "¿Desea Continuar?",
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Generar Salida!',
                      cancelButtonText: 'Cancelar'
                    }).then((result) => {
                      if (result.value) {
                        block();
                        axios.post('/panaderia/api/salidas/insumo',
                        {
                          produccion_id:this.produccion.id,
                          producto:this.produccion.listaRecetas[this.indiceReceta],
                        }).then(respuesta => {  
                          console.log(respuesta)
                          this.renderModal=false;
                          this.produccion.listaRecetas[this.indiceReceta].surtida=true;   
                          this.indiceReceta=null;                         
                          unblock();													 
													 swal({type: 'success',title: 'Salida generada con éxito.', confirmButtonText:'Aceptar'});                            
                        }).catch(error => {
                            unblock();
                            console.log(error);														
														swal({type: 'error',title: 'Ocurrió un error al generar la salida.', confirmButtonText:'Aceptar'});
                        });                        
                      }
                    }
                  )                
        },
        cancelarSalidaReceta(){
          this.renderModal=false;
          this.produccion.listaRecetas[this.indiceReceta].surtida=false; 
          this.indiceReceta=null;
        },
        validaSalida(index){
          let stock=parseFloat(this.produccion.listaRecetas[this.indiceReceta].ingredientes[this.indiceIngrediente].salidas[index].stock);
          let salida=parseFloat(this.produccion.listaRecetas[this.indiceReceta].ingredientes[this.indiceIngrediente].salidas[index].salida);  
          //calcula el costo de salida
          let precioUnitario=this.produccion.listaRecetas[this.indiceReceta].ingredientes[this.indiceIngrediente].salidas[index].precio_unitario;          
          let costoSalida=precioUnitario*salida;
          this.produccion.listaRecetas[this.indiceReceta].ingredientes[this.indiceIngrediente].salidas[index].costo_salida=(costoSalida.toFixed(2));
          //          
          /* if(salida>0&&salida<=stock)
          return
          if(salida>stock||salida<0){
            this.produccion.listaRecetas[this.indiceReceta].ingredientes[this.indiceIngrediente].salidas[index].salida=0;                                       
            return
          }          
          this.produccion.listaRecetas[this.indiceReceta].ingredientes[this.indiceIngrediente].salidas[index].salida=0; */
        },
        pdf(){
          var url="/panaderia/api/salidas/insumo/"+this.produccion.id;
          var win = window.open(url, '_blank');
          win.focus();
        },
        salirProduccion(){
					Swal.fire({
                      title: 'Desea Salir?',
                      text: "Una vez que haya registrado una salida, no podrá revertir el proceso!",
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Si, Salir!',
                      cancelButtonText: 'Cancelar'
                    }).then((result) => {
                      if (result.value) {
												this.salida=false;
												this.indiceReceta=null;
												this.indiceIngrediente=null;
												this.renderModal=false;          
												this.produccion= {
															id: '',
															folio: '',
															fechaElaboracion: '',
															listaRecetas: []
													};
												this.listadoProduccionesPendientes();
                      }
                    })
        },
        verificarSeleccionados(){
            var seleccionados=this.produccion.listaRecetas[this.indiceReceta].ingredientes[this.indiceIngrediente].salidas.filter(
            ingrediente=>ingrediente.seleccionado===true
          );
          if(seleccionados.length>0)
          this.produccion.listaRecetas[this.indiceReceta].ingredientes[this.indiceIngrediente].surtida=true;
          else
          this.produccion.listaRecetas[this.indiceReceta].ingredientes[this.indiceIngrediente].surtida=false;
        },
      formatPesos(n) {
        return new Intl.NumberFormat("en-ES").format(n);
      },
      formatFecha(date) {
        return moment(date).format('DD/MM/YYYY');
      },
    },
    mounted() {
      axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");
        this.listadoProduccionesPendientes();        
    },
    computed: {
      todoListo(){
        var todo=this.produccion.listaRecetas.filter(receta=>
          receta.surtida==false
        )
        if(todo.length>0)
        return false;
        return true;
      }
    },

}
</script>
<style scoped>
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color:#1B96B8;
  color: #fff;
}
input{
  border-radius: 4px !important;
}
.badge-success {
  background-color: #00a65a;
}

.badge-danger {
  background-color: #D73925;
}
</style>

